// -----  gu-sass ----- //

@import '~stylesheets/gu-sass/gu-sass';


// ----- Shared Components ----- //

@import '~components/ctaLink/ctaLink';
@import '~components/footer/footer';
@import '~components/headers/simpleHeader/simpleHeader';
@import '~components/introduction/introduction';
@import '~components/introduction/circlesIntroduction';
@import '~components/pageSection/pageSection';
@import '~components/questionsContact/questionsContact';


// ----- Page-Specific Styles ----- //

#regular-contributions-existing-page {

  .component-page-section--existing-contribution {
    @include multiline-top-border;

    .component-page-section__header {
      position: relative;
      @include dropline;
    }

    .component-page-section__body {
      padding-top: $gu-v-spacing / 2;
      padding-bottom: $gu-v-spacing * 2;

      @include mq($from: desktop) {
        padding-left: $gu-h-spacing;
      }

      @include mq($from: phablet) {
        width: 500px;
      }
    }
  }

  .existing-contribution-copy {
    padding-top: $gu-v-spacing / 2;
    padding-bottom: $gu-v-spacing * 2;

    @include mq($from: desktop) {
      padding-left: $gu-h-spacing;
    }
  }

  .component-cta-link--manage-contribution {
    margin-bottom: $gu-v-spacing * 3;
    margin-top: $gu-v-spacing * 2;

    @include mq($from: mobileMedium) {
      width: 300px;
    }
  }
}
