#regular-contributions-existing-page {
	.multiline-divider {
		@include multiline(4, gu-colour(garnett-neutral-4));
	}

	a {
		color: gu-colour(neutral-1);
	}

	// ----- Headings

	.existing {
		//background-color: darken(gu-colour(garnett-neutral-3), 5%);
		background-color: gu-colour(garnett-neutral-5);
	}
    //
	.existing__content {
		background-color: gu-colour(garnett-neutral-5);
		padding: $gu-v-spacing $gu-h-spacing;
	}

	.existing__wrapper {

		@include mq($from: desktop) {
			margin-left: 20%;
			margin-right: 20%;
		}
	}

	.component-existing-contribution {
      @include mq($from: desktop) {
        //margin-left: 20%;
        margin-right: 20%;
      }

	}

	.component-existing-contribution__copy {
		padding-top: $gu-v-spacing / 2;
		padding-bottom: $gu-v-spacing * 2;

		@include mq($from: desktop) {
			padding-left: $gu-h-spacing;
		}
	}

	//todo I just copied this from marketingConsent.scss
	.component-cta-link {
		background-color: gu-colour(garnett-neutral-1);
		border: 1px solid gu-colour(garnett-neutral-1);
		color: #fff;
		height: 54px;
		line-height: 54px;
		padding: 0 30px 0 25px;
		transition: background-color .3s;
		margin-bottom: $gu-v-spacing * 3;
		margin-top: $gu-v-spacing * 2;

		@include mq($from: mobileMedium) {
			width: 300px;
		}

		&:hover {
			background-color: darken(gu-colour(garnett-neutral-1), 10%);
		}
	}

	.help-further {
		margin-top: $gu-v-spacing * 4;
	}

}
