.component-flash-sale-featured-digital-pack{
  position: relative;
  background: gu-colour(garnett-neutral-3);

  .component-cta-link {
    background-color: gu-colour(news-garnett-highlight);
    color: gu-colour(garnett-neutral-1);
    width: 120px;
    height: 40px;
    line-height: 40px;
    font-size: 14px;
    padding-left: 18px;
    margin-top: $gu-v-spacing;

    @include mq($from: phablet) {
      margin-top: $gu-v-spacing * 2;
    }

    .svg-arrow-right-straight {
      fill: gu-colour(garnett-neutral-1);
      height: 22px;
      top: 9px;
      left: calc(100% - 32px);
    }

    &:hover {
      background-color: darken(gu-colour(news-garnett-highlight), 5%);
    }
  }

  .component-flash-sale-featured-digital-pack__countdownbox {
    padding: 0 0 80px;

    @include mq($from: tablet) {
      padding-bottom: 20px;
    }
  }

  .component-flash-sale-featured-digital-pack__countdownbox--active {
    border-left: 1px solid gu-colour(garnett-neutral-4);
    padding-left: 5px;
  }

  .component-flash-sale-featured-digital-pack__countdownbox .component-flash-sale-countdown {
    margin: 0 -5px;
    color: #bb3b80;
    width: 600%;
    .component-countdown {
      background: darken(gu-colour(garnett-neutral-3), 5%);
      border-top: 1px solid gu-colour(garnett-neutral-4);
      border-bottom: 1px solid gu-colour(garnett-neutral-4);
    }
    .component-countdown__chip {
      border-color: gu-colour(garnett-neutral-4);
    }
  }
  
  .component-grid-picture__image {
    width: 180px;
    display: block;

    @include mq($from: mobileMedium) {
      width: 220px;
    }

    @include mq($from: phablet) {
      width: 340px;
    }

    @include mq($from: tablet) {
      margin-top: 30px;
      width: 400px;
    }

    @include mq($from: desktop) {
      width: 440px;
    }

    @include mq($from: leftCol) {
      width: 500px;
    }

    @include mq($from: wide) {
      width: 580px;
    }

  }
}

.component-flash-sale-featured-digital-pack__content {
  @extend .gu-content-margin;

  display: flex;

  @include mq($from: tablet) {
    position: relative;
  }

  @include mq($from: desktop) {
    padding-left: 186px;
  }

  @include mq($from: leftCol) {
    padding-left: 218px;
  }

  @include mq($from: wide) {
    padding-left: 250px;
  }
}

.component-flash-sale-featured-digital-pack__description {
  @extend .gu-content-margin;
  position: relative;

  @include mq($from: desktop) {
    flex: 0 460px;
    margin: 10px 0 0;
    padding-right: 0;
    padding-left: 21px;
  }
}

.component-flash-sale-featured-digital-pack__image {
  position: absolute;
  bottom: 0;
  right: 0;
  overflow: hidden;
}

.component-flash-sale-featured-digital-pack__title {
  font-size: 48px;
  line-height: 48px;
  font-family: $gu-headline;
  font-weight: bold;
  @include mq($from: tablet) {
    font-size: 54px;
    line-height: 58px;
  }
}

.component-flash-sale-featured-digital-pack__heading {
  @extend .component-flash-sale-featured-digital-pack__title;
  color: gu-colour(lifestyle-garnett-main-1);
  margin-top: 8px;
  @include mq($from: phablet) {
    max-width: 350px;
  }
}

.component-flash-sale-featured-digital-pack__subheading{
  @extend .component-flash-sale-featured-digital-pack__title;
  margin-bottom: 12px;
  @include mq($from: phablet) {
    max-width: 350px;
  }
}

.component-flash-sale-featured-digital-pack__copy {
  font-size: 14px;
  line-height: 1.41;
  margin-top: $gu-v-spacing / 2;
  z-index: 1;
  position: relative;
  @include mq($from: phablet) {
    max-width: 250px;
  }
}

.component-cta-link--flash-sale {
  z-index: 1;
}
