.component-disclaimer-footer {
  background-color: gu-colour(multimedia-support-4);

  .component-disclaimer-footer__content {
    padding: ($gu-v-spacing / 3) $gu-h-spacing ($gu-v-spacing * 1.5);
  }

  .component-disclaimer-footer__copyright, .component-contrib-legal {
    color: gu-colour(neutral-4);
    font-family: $gu-text-sans-web;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
  }

  .component-contrib-legal {
    margin-top: $gu-v-spacing;
  }
}
