.component-contribution-payment-ctas {

  .component-cta-link {
    background-color: gu-colour(news-garnett-highlight);
    color: gu-colour(garnett-neutral-1);
    height: $cta-height;
    line-height: $cta-height;
    box-sizing: border-box;
    padding: 0 $gu-h-spacing;

    @include mq($from: mobileMedium) {
      width: $cta-width;
    }

    &:hover {
      background-color: darken(gu-colour(news-garnett-highlight), 5%);
    }
  }

  // AB test paymentLogosTest
  .component-cta-link--contribute-one-off--variant {
    background-color: gu-colour(garnett-neutral-5);
    border: solid 1px gu-colour(neutral-1);

    &:hover {
      background-color: darken(gu-colour(garnett-neutral-5), 5%);
    }
  }

  .svg-arrow-right-straight {
    fill: gu-colour(garnett-neutral-1);
    height: 35%;
    top: 15px;
    right: 15px;

    @include mq($from: mobileMedium) {
      left: 268px;
    }
  }

  .component-paypal-contribution-button {
    height: $cta-height;
    width: 100%;

    @include mq($from: mobileMedium) {
      width: $cta-width;
    }

    .svg-arrow-right-straight {
      height: 35%;
      top: 21px;
      right: 7px;
    }
  }

  .component-error-message {
    margin-top: 20px;
    box-sizing: border-box;
    height: $cta-height;
    width: 100%;

    @include mq($from: mobileMedium) {
      width: 501px;
    }
  }

  .component-error-message__message {
    padding-right: $gu-h-spacing;

    @include mq($until: mobileMedium) {
      padding-left: $gu-h-spacing;
    }
  }

  .component-terms-privacy {
    font-family: $gu-text-sans-web;
    margin-top: $gu-v-spacing * 3;
  }

  .component-cta-link {
    @include mq($until: mobileMedium) {
      margin-top: $gu-v-spacing * 2;
    }
  }
}

.component-contribution-payment-ctas--disabled {
  .component-cta-link, .component-paypal-contribution-button {
    opacity: 0.5;
  }
}
