.component-contribution-payment-ctas {

  @include mq($until: desktop) {
    margin-top: 20px;
  }

  .component-cta-link {
    color: gu-colour(garnett-neutral-1);
    height: $cta-height;
    line-height: $cta-height;
    box-sizing: border-box;
    padding: 0 $gu-h-spacing;

    @include mq($from: mobileMedium) {
      width: $cta-width;
    }
  }

  .component-cta-link--contribute-regular {
    margin-top: $gu-v-spacing;
    background-color: gu-colour(news-garnett-highlight);

    &:hover {
      background-color: darken(gu-colour(news-garnett-highlight), 5%);
    }
  }

  .component-cta-link--contribute-one-off {
    background-color: transparent;
    border: 1px solid;

    &:hover {
      background-color: transparent;
    }
  }

  .svg-arrow-right-straight {
    fill: gu-colour(garnett-neutral-1);
    width: 20px;
    top: 50%;
    transform: translateY(-50%);
    right: 15px;

    @include mq($from: mobileMedium) {
      left: 268px;
    }
  }

  .component-paypal-contribution-button {
    height: $cta-height;
    width: 100%;

    @include mq($from: mobileMedium) {
      width: $cta-width;
    }
  }

  .component-error-message {
    margin-top: 20px;
    box-sizing: border-box;
    height: $cta-height;
    width: 100%;

    @include mq($from: mobileMedium) {
      width: 501px;
    }
  }

  .component-error-message__message {
    padding-right: $gu-h-spacing;

    @include mq($until: mobileMedium) {
      padding-left: $gu-h-spacing;
    }
  }

  .component-terms-privacy {
    font-family: $gu-text-sans-web;
    margin-top: $gu-v-spacing * 3;
  }
}

.component-contribution-payment-ctas--disabled {
  .component-cta-link, .component-paypal-contribution-button {
    opacity: 0.5;
  }
}

