// -----  gu-sass ----- //

@import '~stylesheets/gu-sass/gu-sass';


// ----- Shared Components ----- //

@import '~components/countryGroupSwitcher/countryGroupSwitcher';
@import '~components/selectInput/selectInput';
@import '~components/ctaLink/ctaLink';
@import '~components/footer/footer';
@import '~components/headers/header/header';
@import '~components/checkoutHeading/checkoutHeading';
@import '~components/checkoutCopy/checkoutCopy';
@import '~components/customerService/customerService';
@import '~components/subscriptionFaq/subscriptionFaq';
@import '~components/legal/subscriptionTermsPrivacy/subscriptionTermsPrivacy';
@import '~components/headingBlock/headingBlock';
@import '~components/productHero/productHero';
@import '~components/forms/standardFields/input';
@import '~components/forms/standardFields/select';
@import '~components/forms/customFields/radioInput';
@import '~components/forms/formHOCs/withLabel';
@import '~components/forms/formHOCs/withError';
@import '~components/forms/formHOCs/withArrow';
@import '~components/progressMessage/progressMessage';
@import '~components/spinners/animatedDots';
@import '~components/marketingConsentNew/marketingConsent';
@import '~components/generalErrorMessage/generalErrorMessage';
@import '~components/directDebit/directDebitPopUpForm/directDebitPopUpForm';
@import '~components/directDebit/directDebitForm/directDebitForm';


// ----- Page-Specific Styles ----- //

#digital-subscription-checkout-page-int,
#digital-subscription-checkout-page-uk,
#digital-subscription-checkout-page-us,
#digital-subscription-checkout-page-au {

  // ----- Heading

  .component-product-hero {
    @include mq($until: tablet) {
      display: none;
    }
  }

  .component-heading-block {
    // Makes sure the circle SVGs stay behind the heading.
    position: relative;
  }

  // ----- Checkout

  .component-general-error-message {
    margin-top: $gu-v-spacing * 2;
    width: auto;
  }

  // ----- Thank You

  .thank-you-stage {
    .component-checkout-heading {
      position: relative;
      .component-left-margin-section__content {
        box-sizing: border-box;  
      }  
    }
  }

  .thank-you-stage__ctas {
    > .component-button {
      min-width: 100%;
      @include mq($from: desktop) {
        min-width: gu-span(5);
      }
      & + .component-button {
        margin-top: $gu-v-spacing / 2;
      }
    }
  }  

  .component-marketing-consent {
    border-bottom: 0;
    @include mq($from: desktop) {
      position: relative;
      padding-bottom: $gu-v-spacing * 4;  
    }
    .svg-newsletters {
      display: block;
      @include mq($from: desktop) {
        position: absolute;
        bottom: 0;
        width: auto;
        max-height: 95%;
        left: gu-span(7); 
      }
    }
  }
  
}
