// -----  gu-sass ----- //

@import '~stylesheets/gu-sass/gu-sass';


// ----- Shared Components ----- //

@import '~components/countryGroupSwitcher/countryGroupSwitcher';
@import '~components/selectInput/selectInput';
@import '~components/ctaLink/ctaLink';
@import '~components/footer/footer';
@import '~components/headers/simpleHeader/simpleHeader';
@import '~components/leftMarginSection/leftMarginSection';
@import '~components/customerService/customerService';
@import '~components/headingBlock/headingBlock';
@import '~components/returnSection/returnSection';


// ----- Page-Specific Styles ----- //

#digital-subscription-checkout-page-int,
#digital-subscription-checkout-page-uk,
#digital-subscription-checkout-page-us,
#digital-subscription-checkout-page-au {

  // ----- General

  .component-left-margin-section__content {
    overflow-x: hidden;
    @include mq($from: leftCol) {
      overflow-x: visible;
    }
  }

  // ----- Thank You

  .thank-you-content {
    .component-left-margin-section__content {
      padding: 2px ($gu-h-spacing / 2) $gu-v-spacing;
      box-sizing: border-box;

      @include mq($from: tablet) {
        border-left: 1px solid gu-colour(garnett-neutral-4);
      }
    }

    .component-cta-link {
      background-color: transparent;
      border: 1px solid gu-colour(garnett-neutral-4);
      height: $cta-height - 2;
      box-sizing: border-box;
      line-height: $cta-height - 2;
      color: gu-colour(garnett-neutral-1);
      margin-bottom: $gu-v-spacing;

      @include mq($from: mobileLandscape) {
        width: 355px;
      }

      &:hover {
        background-color: gu-colour(garnett-neutral-1);
        border-color: gu-colour(garnett-neutral-1);
        transition: border-color .3s;
        color: #fff;

        .svg-arrow-right-straight {
          fill: #fff;
        }
      }

      .svg-arrow-right-straight {
        fill: gu-colour(garnett-neutral-1);
        height: 40%;
        top: 30%;
      }
    }
  }

  .component-left-margin-section--thank-you-apps, .component-left-margin-section--thank-you-emails {
    .component-left-margin-section__content {
      border-top: 1px solid gu-colour(garnett-neutral-4);
    }
  }

  .thank-you-content__heading {
    font-size: 22px;
    line-height: 1.18;
    font-weight: 300;
    font-family: $gu-headline;

    @include mq($from: tablet) {
      font-size: 28px;
    }

    @include mq($from: desktop) {
      font-size: 36px;
      width: 470px;
    }
  }

  .thank-you-content__subheading {
    font-size: 20px;
    line-height: 1.18;
    font-weight: 300;
    font-family: $gu-headline;
    margin: ($gu-v-spacing * 2) 0 $gu-v-spacing;

    @include mq($from: tablet) {
      font-size: 22px;
    }

    @include mq($from: desktop) {
      font-size: 28px;
    }
  }

  .thank-you-content__copy {
    font-size: 16px;
    line-height: 1.25;
    font-family: $gu-headline;
    color: gu-colour(media-garnett-main-1);
    margin: $gu-v-spacing 0 ($gu-v-spacing * 2);

    @include mq($from: phablet) {
      width: 560px;
    }
  }

  .thank-you-content__copy--free-trial {
    font-style: italic;
    margin: 0;
  }

  .thank-you-content__strong {
    font-weight: bold;
  }

}
