@import '~stylesheets/gu-sass/gu-sass';


.product-option {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  background-color: gu-colour(neutral-100);
  border: 1px solid gu-colour(neutral-86);
  transition: .4s all;
  cursor: pointer;
  border-radius: 3px;
  text-decoration: none;
  color: gu-colour(neutral-7);

  & * {
    box-sizing: border-box;
    z-index: 2;
  }

  &:hover,
  &:focus {
    box-shadow: 0px 2px 10px 0px rgba(153,153,153,0.3);
    border: 1px solid gu-colour(neutral-60);
    .product-option__button {
      .component-button--primary {
        background-color: gu-colour(highlight-dark);
        
        .svg-arrow-right-straight {
          transform: translateX(20%);
        }
      }
    }
  }
}

.product-option__title {
  @include gu-fontset-heading;
  margin-bottom: 24px;
  position: relative;

  @include mq(tablet) {
    font-size: 28px;
  }

  @include mq($from: desktop) {
    font-size: 28px;
  }
}

.product-option__content {
  // padding: 15px 24px;
  padding: 6px 0 15px 0;
  margin-left: 24px;
}

.product-option__price {
  font-family: $gu-headline;
  font-weight: bold;
  font-size: 32px;

  @include mq(tablet) {
    font-size: 40px;
  }

}

.product-option__price-detail {
  padding: 0 0 0 10px;
}

.product-option__copy {
  @include gu-fontset-body-sans;

  &--bold {
    font-weight: 600;
  }
}

.product-option__line {
  display: block;
  width: 0;
  border-top: 1px solid gu-colour(neutral-86);
  margin-top: 20px;
  margin-bottom: 20px;

  &--show {
    width: 100%;
  }
}

.product-option__offer-container {
  border-top: 1px solid gu-colour(neutral-86);
  padding: 4px 24px 0 0;
}

.product-option__offer {
  @include gu-fontset-body-sans;
  padding: 5px 0;
  margin-top: 20px;
  color: gu-colour(neutral-7);
  line-height: 1.4;
  font-weight: bold;
}

.product-option__button {
  border-top: 1px solid gu-colour(neutral-86);
  margin-left: 24px;
  padding: 6px 6px 15px 0;

  .component-button {
    position: static;
    margin-top: 15px;
    width: 100%;
    max-width: 210px;
    
    &:after {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      content: '';
      z-index: 1;
    }
  }

}

.product-option__sales-copy--hidden {
  display: none;

  @include mq($from: tablet) {
    display: block;
    visibility: hidden;
  }
}

.product-option__sales-copy {
  font-family: $gu-text-sans-web;
  font-size: 16px;
  line-height: 1.4rem;

  & span {
    display: block;
    width: 100%;
  }
}

.product-option__price-detail {
  padding: 12px 0 0 0;
}

.product-option__full-screen-break {
  display: none;

  @include mq($from: tablet) {
    display: block;
  }
}

.product-option__sales-copy--break {
  display: none;

  @include mq($from: mobileLandscape) {
    display: block;
  }
}

.product-option__label {
  position: absolute;
  left: 0;
  top: 1px;
  transform: translateY(-100%);
  text-align: center;
  padding: 0 25px;
  background: gu-colour(neutral-7);
  font-family: $gu-headline;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.4;
  color: #fff;
}

