@import '~stylesheets/gu-sass/gu-sass';


.product-option {
  box-sizing: border-box;
  display: block;
  width: 100%;
  background-color: gu-colour(neutral-100);
  border: 1px solid gu-colour(neutral-86);
  transition: .4s all;
  cursor: pointer;
  border-radius: 3px;
  text-decoration: none;
  color: gu-colour(neutral-7);

  &:hover {
    box-shadow: 0px 2px 10px 0px rgba(153,153,153,0.3);
    border: 1px solid gu-colour(neutral-60);
    .product-option__button {
      .component-button--primary {
        background-color: gu-colour(highlight-dark);
      }
    }
  }
}

.product-option__title {
  @include gu-fontset-heading-sans;
  margin-bottom: 10px;
  position: relative;
  transition: .2s background;

  @include mq(tablet) {
    font-size: 20px;
  }

  @include mq($from: desktop) {
    font-size: 26px;
  }
}

.product-option__content {
  padding: 15px 24px;
}

.product-option__price {
  @include gu-fontset-body-sans;
  font-size: 36px;
  font-weight: 600;
}

.product-option__copy {
  @include gu-fontset-body-sans;

  &--bold {
    font-weight: 600;
  }
}

.product-option__line {
  display: block;
  width: 0;
  border-top: 1px solid gu-colour(neutral-86);
  margin-top: 20px;
  margin-bottom: 20px;

  &--show {
    width: 100%;
  }
}

.product-option__offer-container {
  margin-top: 15px;
}

.product-option__offer {
  padding: 5px;
  margin-top: 20px;
  background: gu-colour(highlight-main);
  color: gu-colour(neutral-7);
  line-height: 1.4;
  @include gu-fontset-body-sans;
}

.product-option__button {
  border-top: 1px solid gu-colour(neutral-86);
  margin-left: 24px;
  padding: 15px 24px 15px 0;

  .component-button {
    margin-top: 20px;
    width: 100%;
    max-width: 210px;
  }

}

.product-option__sales-copy--hidden {
  display: none;

  @include mq($from: tablet) {
    display: block;
    visibility: hidden;
  }
}

.product-option__sales-copy {
  font-family: $gu-text-sans-web;
  font-size: 16px;
  line-height: 1.4rem;
}

.product-option__full-screen-break {
  display: none;

  @include mq($from: tablet) {
    display: block;
  }
}

.product-option__sales-copy--break {
  display: none;

  @include mq($from: mobileLandscape) {
    display: block;
  }
}

