@import '~stylesheets/skeleton/html';

.component-footer {
  background-color: gu-colour(brightness-7);
  font-family: $gu-text-sans-web;
  font-size: 12px;
  line-height: 16px;
  padding: $gu-v-spacing 0;

  .component-contrib-legal {
    margin-top: $gu-v-spacing;
    font-weight: 400;
    display: block;
    padding: 3px 0;
    color: gu-colour(brightness-86);
  }
}

.component-footer__content {
  @extend .gu-content-margin;
}

.component-footer__privacy-policy {
  text-decoration: none;
  color: gu-colour(brightness-86);
  padding: 5px 0;

  &:hover {
    text-decoration: underline;
  }
}

.component-footer__privacy-policy-text, .component-footer__copyright {
  font-weight: 400;
  display: block;
  padding: 3px 0;
  color: gu-colour(brightness-86);
}
