.component-footer {
  background-color: gu-colour(garnett-neutral-1);
  font-family: $gu-text-sans-web;
  font-size: 12px;
  line-height: 16px;
  padding: $gu-v-spacing 0;

  .component-footer__privacy-policy {
    text-decoration: none;
    color: gu-colour(neutral-4);
    padding: 5px 0;
  }

  .component-footer__privacy-policy:hover {
    text-decoration: underline;
  }

  .component-footer__copyright, .component-contrib-legal, .component-footer__privacy-policy-text {
    font-weight: 400;
    display: block;
    padding: 3px 0;
    color: gu-colour(neutral-4);
  }

  .component-contrib-legal {
    margin-top: $gu-v-spacing;
  }
}
