.component-direct-debit-pop-up-form {
  z-index: 10000;
  display: block;
  border: 0 none transparent;
  overflow-x: hidden;
  overflow-y: auto;
  visibility: visible;
  margin: 0;
  padding: 0;
  -webkit-tap-highlight-color: transparent;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  text-align: center;
}

.component-direct-debit-pop-up-form__content {
  position: relative;
  display: inline-block;
  top: 50%;
  transform: translateY(-50%);
  background-color: gu-colour(nav-background-colour);
  text-align: left;
  border-radius: 5px;
}

.component-direct-debit-pop-up-form__close-button {
  border-radius: 800px;
  height: 20px;
  margin-left: 480px;
  margin-top: $gu-v-spacing/2;
}

.component-direct-debit-pop-up-form__background {
  z-index: -1;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background:rgba(0,0,0,0.6);
}
