@import '~stylesheets/gu-sass/gu-sass';

.component-product-page-features {
  @include mq($until: leftCol) {
    max-width: gu-span(6);
  }
  @include mq($from: leftCol) {
    display: flex;
  }
}

.component-product-page-features__title {
  @include gu-fontset-body-large;
}

.component-product-page-features__copy {
  @include gu-fontset-body;
  margin-top: $gu-v-spacing / 4;
}

.component-product-page-features__item {
  flex: 0 0 25%;
  box-sizing: border-box;
  padding: ($gu-v-spacing / 6) 0 ($gu-v-spacing * 2) ($gu-h-spacing/2);
  padding-left: $gu-h-spacing / 2;
  border-top: 1px solid gu-colour(garnett-neutral-4);
  @include mq($from: leftCol) {
    padding: 0 ($gu-h-spacing * 2) ($gu-v-spacing*2) ($gu-h-spacing / 2);
    margin: 0 0 0 -1px;
    border-top: 0;
    border-left: 1px solid gu-colour(garnett-neutral-4);
  }
}
