@import '~stylesheets/gu-sass/gu-sass';

.component-submit-button--margin {
    max-width: gu-span(5);
    margin-top: 0; 
    margin-right: $gu-h-spacing / 2; 
    margin-bottom: $gu-v-spacing * 2;
    margin-left: $gu-h-spacing / 2;
}

.show {
    display: block;
}

.hide {
    display: none;
}