// -----  gu-sass ----- //
@import '~stylesheets/skeleton/skeleton';

.component-text__heading {
	margin-top: $gu-v-spacing;
}

.component-text__large {
	margin-top: $gu-v-spacing;
}

.component-text__sans {
	margin-top: $gu-v-spacing;
}

.component-list-ul {
	margin-top: $gu-v-spacing;
}

.component-weekly-terms-copyright-footer {
	margin-top: $gu-v-spacing;
}

.component-button {
	margin-top: $gu-v-spacing * 2;
	margin-bottom: $gu-v-spacing;
}
