// -----  gu-sass ----- //
@import '~stylesheets/gu-sass/gu-sass';

// ----- Shared Components ----- //
@import '~components/footer/footer';

@import '~stylesheets/skeleton/skeleton.scss';

@import '~stylesheets/skeleton/skeleton.scss';

.component-text__heading{
  margin-top: $gu-v-spacing;
}

.component-text__large {
  margin-top: $gu-v-spacing / 2;
}

.component-text__sans {
  margin-top: $gu-v-spacing;
}

.component-list-ul {
  margin-top: $gu-v-spacing / 2;
}
