.component-product-page-content-block .component-left-margin-section__content {
  max-width: 100%;
  @include mq($from: tablet) {
    border-left: 1px solid gu-colour(garnett-neutral-4);
  }
}

.component-product-page-content-block--white + .component-product-page-content-block--white {
  .component-left-margin-section__content {
    border-top: 1px solid gu-colour(garnett-neutral-4);
  }
}

.component-product-page-content-block--grey {
  &, .component-product-page-content-block__bg {
    background-color: gu-colour(garnett-neutral-3);
  }
  .component-left-margin-section__content {
    border-left: 0;
    margin-left: -1px;
  }
}

.component-product-page-content-block--feature {
  color: gu-colour(garnett-neutral-5);
  &, .component-product-page-content-block__bg {
    background-color: gu-colour(header-dark);
  }
  .component-left-margin-section__content {
    border-color: gu-colour(header-border);
  }
  .weekly-feature-list .weekly-feature-list__item {
    border-color: gu-colour(garnett-neutral-5);
  }
}

.component-product-page-content-block--dark {
  color: gu-colour(garnett-neutral-5);
  &, .component-product-page-content-block__bg {
    background-color: gu-colour(garnett-neutral-7);
  }
  .component-left-margin-section__content {
    border-color: gu-colour(garnett-neutral-5);
  }
}

.component-product-page-content-block__content {
  max-width: 1180px;
  padding: ($gu-v-spacing/2) ($gu-h-spacing / 2) 0;
}

.component-product-page-content-block__outset {
  margin-left: ($gu-h-spacing / 2 * -1);
  margin-right: ($gu-h-spacing / 2 * -1);
}

.component-product-page-content-block {
  .component-product-page-text-block {
    margin-bottom: ($gu-v-spacing*2)
  }
}
