.component-stripe-pop-up-button {
  box-sizing: border-box;
  background-color: gu-colour(news-garnett-highlight);
  border: none;
  border-radius: 600px;
  color: gu-colour(garnett-neutral-1);
  cursor: pointer;
  display: block;
  font-family: $gu-sans-web;
  font-size: 14px;
  height: $cta-height;
  margin-top: $gu-v-spacing;
  padding-left: $gu-h-spacing;
  position: relative;
  text-align: left;
  width: 100%;

  svg {
    width: 24px;
    fill: #fff;
    position: absolute;
    right: 15px;
    top: 50%;
    transform: translateY(-50%);
  }
  .svg-credit-card {
    fill: gu-colour(garnett-neutral-1);
  }

  @include mq($from: phablet) {
    width: 304px;
  }

  &:hover {
    background-color: darken(gu-colour(news-garnett-highlight), 5%);
  }
}
