@import '~stylesheets/gu-sass/gu-sass';

[class^='ad-free-section'] {
	box-sizing: border-box;
}

.ad-free-section__content {
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding: 5px 20px 10px 10px;
	border-top: 1px solid gu-colour(neutral-86);
	border-bottom: 1px solid gu-colour(neutral-86);
	width: 100%;

	@include mq($from: phablet) {
		padding: 5px 20px 30px 10px;
		border: 1px solid gu-colour(neutral-86);
	}
}

.ad-free-section__sub-header {
	margin-bottom: 8px;
	@include gu-fontset-heading;
	font-weight: 600;
	font-size: 20px;
	max-width: gu-span(2.25);

	@include mq($from: mobileMedium) {
		max-width: gu-span(3);
		font-size: 22px;
	}

	@include mq($from: mobileLandscape) {
		max-width: gu-span(3.5);
	}

	@include mq($from: phablet) {
		max-width: gu-span(4);
	}

	@include mq($from: tablet) {
		font-size: 26px;
	}

	@include mq($from: desktop) {
		margin-bottom: 15px;
		font-size: 38px !important;
		line-height: 42px;
	}
}
