@import '~stylesheets/gu-sass/gu-sass';

$teal-green: #006d67;

.component-product-page-hero {
	box-sizing: border-box;
	& * {
		box-sizing: border-box;
	}
}

.hope-is-power-hero--wrapper {
	position: relative;
	z-index: 5;
	background: #ededed;

	&:before {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 80px;
		background: #fff;
		border-bottom: 1px solid gu-colour(neutral-86);
		content: '';
	}

	@include mq($from: phablet) {
		&:before {
			height: 75px;
		}
	}

	@include mq($from: desktop) {
		&:before {
			height: 85px;
		}
	}

	@include mq($from: tablet) {
		display: flex;
		flex-direction: column;
		padding-top: 40px;

		@include mq($from: tablet) {
			padding-top: 35px;
		}
	}
}

.hope-is-power--centered {
	background-color: #ffffff;
}

.component-customer-service {
	align-self: flex-start;
	padding-left: 0;
	width: 100%;

	@include mq($from: mobileLandscape) {
		padding-left: 0;
	}

	@include mq($from: phablet) {
		padding-left: 20px;
		align-self: center;
		width: 100%;
	}

	@include mq($from: tablet) {
		padding-left: 20px;
		width: calc(100% - 40px);
	}

	@include mq($from: desktop) {
		padding-left: 50px;
		max-width: calc(100% - 110px);
		max-width: 1100px;
	}

	@include mq($from: leftCol) {
		width: calc(100% - 80px);
		max-width: 80.625rem;
	}
}

.footer-container {
	background-color: gu-colour('brand-main');
	align-self: flex-start;
	width: 100%;
	padding-bottom: 55px;

	.footer-alignment {
		padding-left: 0;
		@include mq($from: mobileLandscape) {
			padding-left: 0;
		}

		@include mq($from: phablet) {
			align-self: center;
			width: 100%;
		}

		@include mq($from: tablet) {
			padding-left: 20px;
			width: calc(100% - 20px);
		}

		@include mq($from: desktop) {
			max-width: calc(100% - 110px);
			max-width: 1100px;
		}

		@include mq($from: leftCol) {
			padding-left: 40px;
			width: calc(100% - 40px);
			max-width: 80.625rem;
		}

		@include mq($from: 1396px) {
			padding-left: 0;
			margin: 0 auto;
		}
	}
}

.component-base-rows.component-base-rows--normal {
	.component-customer-service {
		@include mq($from: phablet) {
			padding-left: 0;
		}
	}
}

.hope-is-power--heavy-text {
	font-weight: 600;
}

.hope-is-power-hero__marketing-message {
	position: relative;
	z-index: 20;
	display: inline-flex;
	flex-direction: column;
	background-color: $teal-green;
	@include gu-fontset-heading;
	color: gu-colour(neutral-97);
	padding: $gu-v-spacing / 3 0 22px;

	h1 {
		font-size: 28px;
		font-weight: 600;
		line-height: 32px;
		max-width: gu-span(3);
		margin: 15px 0 25px 10px !important;
	}

	h2 {
		font-size: 17px;
		font-weight: 400;
		line-height: 21px;
		max-width: gu-span(4);
		margin-left: 10px !important;
	}

	@include mq($from: mobileLandscape) {
		h1 {
			font-size: 28px;
			font-weight: 600;
			line-height: 36px;
			margin-left: 0;
			margin-top: 0 !important;
			max-width: gu-span(5);
		}

		h2 {
			font-weight: 400;
			max-width: gu-span(5);
			margin-left: 0;
		}
	}

	@include mq($from: phablet) {
		width: 100%;

		h1 {
			font-size: 32px;
			font-weight: 600;
			line-height: 36px;
			max-width: gu-span(5);
			margin-top: 10px;
			margin-left: 20px !important;
		}

		h2 {
			max-width: gu-span(6);
			font-size: 20px;
			line-height: 24px;
			margin-left: 20px !important;
		}
	}

	@include mq($from: tablet) {
		width: calc(100% - 40px);
	}

	@include mq($from: desktop) {
		max-width: calc(100% - 110px);
		max-width: 1100px;

		h1 {
			font-size: 42px;
			font-weight: 600;
			line-height: 56px;
			max-width: gu-span(8);
			margin-left: 50px !important;
		}

		h2 {
			font-size: 24px;
			font-weight: 400;
			line-height: 28px;
			max-width: gu-span(8);
			margin-left: 50px !important;
		}
	}

	@include mq($from: leftCol) {
		width: calc(100% - 80px);
		max-width: 80.625rem;

		h2 {
			max-width: gu-span(9);
		}
	}

	@include mq($from: wide) {
		h1 {
			font-size: 50px;
		}
	}

	.hope-is-power__circle {
		position: absolute;
		right: 20px;
		top: 10px;
		text-align: center;
		display: flex;
		flex-direction: column;
		justify-content: center;
		height: 90px;
		width: 90px;
		border-radius: 50%;
		background-color: gu-colour('highlight-main');
		margin-top: 0;
		margin-left: 5px;

		@include mq($from: mobileLandscape) {
			right: 20px;
			top: 30px;
		}

		@include mq($from: phablet) {
			height: 120px;
			width: 120px;
			right: 30px;
			top: 15px;
		}

		@include mq($from: desktop) {
			right: 50px;
			top: 20px;
		}
	}

	.hope-is-power__circle-text {
		font-size: 16px;
		line-height: 22px;
		color: gu-colour(neutral-7);

		@include mq($from: phablet) {
			font-size: 22px;
			line-height: 28px;
		}
	}

	.hope-is-power__circle-text--large {
		font-size: 24px;
		line-height: 32px;

		@include mq($from: phablet) {
			font-size: 34px;
			line-height: 40px;
		}
	}
}

.hope-is-power__products {
	.product-block__container {
		z-index: 2;

		.product-block__item,
		.product-block__dropdown--show,
		button,
		.ad-free-section-c__content {
			display: flex;
			flex-direction: column;
			width: 100%;
		}

		.product-block__item {
			position: relative;
			padding-top: 10px;
			border-top: 1px solid gu-colour(neutral-86);
			border-bottom: 1px solid gu-colour(neutral-86);

			@include mq($from: phablet) {
				border: 1px solid gu-colour(neutral-86);
			}

			.product-block__item__title,
			.product-block__item__subtitle,
			.product-block__item__subtitle--Aus,
			.product-block__item__subtitle--Aus-first {
				margin-left: 10px;
			}

			.product-block__item__title {
				margin-bottom: 8px;
				@include gu-fontset-heading;
				font-weight: 600;
				font-size: 20px;
				line-height: 24px;
				max-width: gu-span(2.25);

				@include mq($from: mobileMedium) {
					max-width: gu-span(3);
					font-size: 22px;
					line-height: 26px;
				}

				@include mq($from: mobileLandscape) {
					max-width: gu-span(3.5);
				}

				@include mq($from: phablet) {
					max-width: gu-span(4);
				}

				@include mq($from: tablet) {
					font-size: 26px;
					line-height: 32px;
				}

				@include mq($from: desktop) {
					margin-bottom: 15px;
					font-size: 36px !important;
					line-height: 40px;
					max-width: gu-span(4.5);
				}

				@include mq($from: leftCol) {
					max-width: gu-span(6);
				}
			}

			.product-block__item__title--desktop {
				display: none;
				@include mq($from: tablet) {
					display: block;
				}
			}

			.product-block__item__title--mobile {
				display: block;
				@include mq($from: tablet) {
					display: none;
				}
			}

			.product-block__item__image,
			.product-block__item__image--second,
			.product-block__item__image--first-row {
				display: flex;
				align-self: flex-end;
				align-items: flex-end;
				margin-right: 0;
				margin-top: -120px;

				img {
					width: 110px;
					display: block;
				}

				@include mq($until: mobileLandscape) {
					img {
						width: 140px;
					}
				}

				@include mq($from: mobileMedium) {
					margin-top: -100px;
				}

				@include mq($from: mobileLandscape) {
					margin-top: -110px;

					img {
						width: 210px;
					}
				}

				@include mq($from: phablet) {
					margin-top: -115px;
					margin-right: 0;
					img {
						width: 250px;
					}
				}

				@include mq($from: tablet) {
					margin-right: 20px;
				}

				@include mq($from: desktop) {
					margin-top: -170px;

					img {
						width: 400px;
					}
				}

				@include mq($from: leftCol) {
					margin-right: 30px;
					img {
						width: 450px;
					}
				}
			}

			.product-block__item__image {
				@include mq($from: mobileLandscape) {
					margin-top: -180px;
				}

				@include mq($from: phablet) {
					margin-top: -140px;
				}

				@include mq($from: desktop) {
					margin-top: -210px;
				}
			}

			.product-block__item__image--first-row {
				@include mq($from: mobileMedium) {
					margin-top: -120px;
				}

				@include mq($from: mobileLandscape) {
					margin-top: -90px;
				}

				@include mq($from: phablet) {
					margin-top: -130px;
				}

				@include mq($from: desktop) {
					margin-top: -180px;
				}

				@include mq($from: leftCol) {
					margin-top: -150px;
				}
			}

			.product-block__item__image--second {
				@include mq($from: leftCol) {
					margin-top: -145px;
				}

				@include mq($until: mobileLandscape) {
					position: absolute;
					bottom: 0;
				}
			}
		}

		.product-block__item__subtitle,
		.product-block__item__subtitle--Aus,
		.product-block__item__subtitle--Aus-first,
		.ad-free-section__copy {
			font-family: $gu-text-egyptian-web;
			font-size: 16px;
			font-weight: 400;
			line-height: 21px;
			max-width: 150px;

			@include mq($until: mobileLandscape) {
				padding-bottom: 20px;
			}

			@include mq($from: mobileMedium) {
				max-width: 200px;
			}

			@include mq($from: mobileLandscape) {
				max-width: gu-span(3.5);
			}

			@include mq($from: phablet) {
				max-width: gu-span(4.5);
			}

			@include mq($from: tablet) {
				font-size: 20px;
			}

			@include mq($from: desktop) {
				font-size: 20px;
				line-height: 24px;
				max-width: gu-span(5);
			}
		}

		.product-block__item__subtitle--Aus-first {
			display: none;
			@include mq($from: mobileLandscape) {
				display: block;
			}

			@include mq($from: tablet) {
				display: none;
			}

			@include mq($from: desktop) {
				display: block;
			}
		}

		.product-block__item__subtitle--desktop {
			display: none;
			@include mq($from: phablet) {
				display: block;
			}
		}

		.product-block__item__subtitle--mobile {
			display: block;
			@include mq($from: phablet) {
				display: none;
			}
		}

		.ad-free-section__copy {
			max-width: gu-span(4);

			@include mq($from: mobileLandscape) {
				max-width: gu-span(6);
			}

			@include mq($from: tablet) {
				max-width: gu-span(7);
			}
			@include mq($from: desktop) {
				max-width: gu-span(8);
			}
		}

		.product-block__dropdown--hide {
			max-height: 0;
			overflow: hidden;
			transition: max-height 400ms;

			& > * {
				opacity: 0;
				transition: opacity 400ms;
			}
		}

		.product-block__dropdown--show {
			background-color: #f6f6f6;
			max-height: 600px;
			overflow: visible;
			transition: max-height 400ms;

			& > * {
				transition: opacity 300ms 200ms;
				opacity: 1;
			}

			@include mq($from: phablet) {
				border-left: 1px solid gu-colour(neutral-86);
				border-right: 1px solid gu-colour(neutral-86);
			}
		}

		.product-block__dropdown__title {
			margin: 8px 0 15px 5px;
			@include gu-fontset-heading;
			font-size: 20px;
			line-height: 30px;

			@include mq($from: tablet) {
				font-size: 28px;
				margin: 8px 0 26px 18px;
			}
		}

		.product-block__ul-handler {
			display: flex;
			flex-direction: column;

			@include mq($from: desktop) {
				display: inline-flex;
				flex-direction: row;
			}
		}

		ul:nth-of-type(2) {
			margin-top: 0;

			@include mq($from: desktop) {
				margin-top: 20px;
				margin-left: 30px;
			}

			@include mq($from: leftCol) {
				margin-left: 50px;
			}

			@include mq($from: wide) {
				margin-left: 100px;
			}
		}
	}

	button {
		@include gu-fontset-body-sans;
		display: inline-block;
		border: 1px solid gu-colour(neutral-86);
		background-color: #ffffff;
		padding: 1rem 0;
		margin: 0;
		text-decoration: none;
		font-size: 14px;
		cursor: pointer;
		outline: none;
		text-align: center !important;
		align-items: center;
		transition: background 250ms ease-in-out, transform 150ms ease;
		-webkit-appearance: none;
		-moz-appearance: none;
		max-height: 60px;

		@include mq($from: mobileLandscape) {
			margin-bottom: 24px;
		}

		@include mq($from: tablet) {
			font-size: 17px;
		}

		.product-block__arrow--up,
		.product-block__arrow--down {
			display: inline-block;
			margin-right: 10px;
		}

		.product-block__arrow--up {
			transform: rotate(180deg);
			transition: transform 400ms 200ms;
		}

		.product-block__arrow--down {
			transform: rotate(0deg);
			transition: transform 400ms 200ms;
		}
	}

	@include mq($from: desktop) {
		button:hover {
			background-color: #f6f6f6;
		}
	}

	.product-block__button--hide {
		border-top: none;
		border-left: none;
		border-right: none;
		background-color: #ffffff;
		&:focus {
			box-shadow: 0 0 0 5px #00b2ff;
		}

		@include mq($from: phablet) {
			border-left: 1px solid gu-colour(neutral-86);
			border-right: 1px solid gu-colour(neutral-86);
		}
	}

	.product-block__button--show {
		background-color: #ffffff;
	}

	.product-block__button__text--bold {
		font-weight: 600;
	}
}

.the-moment-hero__graphic-outer {
	position: relative;
	display: flex;
	flex-grow: 1;
	align-items: center;
	justify-content: center;
	max-width: gu-span(8);

	@include mq($from: mobileMedium) {
		padding-top: $gu-v-spacing * 1;
	}

	@include mq($from: tablet) {
		padding-top: $gu-v-spacing * 2;
		padding-right: $gu-v-spacing * 2;
	}
}

.the-moment-hero__graphic-inner {
	position: relative;
}

.the-moment-hero__graphic {
	position: relative;
	z-index: 1;
	opacity: 0;

	img {
		max-height: 200px;
		max-width: 100%;
		height: auto;
		display: block;
	}

	@include mq($from: mobileMedium) {
		img {
			max-height: 250px;
		}
	}

	@include mq($from: tablet) {
		img {
			max-height: 275px;
		}
	}
	@include mq($from: desktop) {
		img {
			max-height: 300px;
		}
	}
	@include mq($from: leftCol) {
		img {
			max-height: 380px;
		}
	}
}

.the-moment-hero__graphic-slider,
.the-moment-hero__graphic-slider-inner,
.the-moment-hero__graphic-slider-1,
.the-moment-hero__graphic-slider-2,
.the-moment-hero__graphic-slider-3 {
	position: absolute;
	top: 0;
	width: 100%;
	height: 100%;
	z-index: 5;

	img {
		position: absolute;
		width: 100%;
		height: 100%;
	}
}

@keyframes gallery {
	1% {
		display: block;
	}
	100% {
		display: none;
	}
}

.the-moment-hero__badge {
	position: absolute;
	flex-direction: column;
	display: flex;
	align-items: center;
	justify-content: center;
	color: gu-colour(neutral-100);
	text-align: center;
	line-height: 1;
	font-family: $gu-headline;
	font-size: 1rem;
	font-weight: 700;
	z-index: 10;
	width: 100%;
	top: 1.4rem;

	span {
		display: block;
		line-height: 1;
	}

	.the-moment-hero__badge-lgeCopy {
		font-family: $gu-titlepiece;
		position: relative;
		font-size: 1.6rem;
		font-variant-numeric: lining-nums;
		-moz-font-feature-settings: 'lnum';
		-webkit-font-feature-settings: 'lnum';
		font-feature-settings: 'lnum';
	}

	@include mq($from: mobileMedium) {
		top: 1.8rem;
		font-size: 1rem;

		.the-moment-hero__badge-lgeCopy {
			font-size: 2.2rem;
		}
	}

	@include mq($from: tablet) {
		top: 2.2rem;
		font-size: 1.2rem;
	}

	@include mq($from: leftCol) {
		top: 3.25rem;

		.the-moment-hero__badge-lgeCopy {
			font-size: 2.8rem;
		}
	}
}

.payment-selection__title-container {
	text-align: left;
	padding: 0 10px;

	max-width: 38.5rem;
	margin-bottom: 115px;

	@include mq($from: leftCol) {
		padding-left: 0;
	}
}

.payment-selection__title {
	font-family: $gu-headline;
	font-weight: 600;
	font-size: 18px;
	line-height: 1.3;

	@include mq($from: tablet) {
		font-size: 24px;
		line-height: 28px;
	}
}

div.call-to-action__container {
	margin-right: 0;
	display: flex;
	padding: 10px 0 50px 10px;
	background-color: #041f4a;

	@include mq($from: mobileLandscape) {
		padding-left: 0;
	}

	@include mq($from: tablet) {
		padding-top: 70px;
	}

	@include mq($from: wide) {
		justify-content: center;
	}

	.hope-is-power--centered {
		@include mq($from: wide) {
			padding-left: 0;
		}

		h2 {
			margin-bottom: 12px;
			padding-left: 0;
			max-width: gu-span(4);
			@include gu-fontset-heading;
			font-size: 22px;
			line-height: 28px;

			@include mq($from: mobileLandscape) {
				padding-left: 15px;
				max-width: gu-span(5);
			}

			@include mq($from: phablet) {
				padding-left: 5px;
			}

			@include mq($from: tablet) {
				padding-left: 20px;
				font-size: 34px;
				line-height: 38px;
				max-width: gu-span(8);
			}

			@include mq($from: desktop) {
				max-width: gu-span(12);
			}

			@include mq($from: leftCol) {
				padding-left: 40px;
			}

			@include mq($from: wide) {
				padding-left: 50px;
			}
		}

		.call-to-action__subheading {
			margin-bottom: 20px;
			padding-left: 0;
			@include gu-fontset-body-sans;
			font-size: 17px;
			max-width: gu-span(4);

			@include mq($from: mobileLandscape) {
				padding-left: 15px;
				max-width: gu-span(5);
			}

			@include mq($from: phablet) {
				padding-left: 5px;
				max-width: gu-span(7);
			}

			@include mq($from: tablet) {
				padding-left: 20px;
				margin-bottom: 40px;
				font-size: 16px;
			}

			@include mq($from: leftCol) {
				padding-left: 40px;
			}

			@include mq($from: wide) {
				padding-left: 50px;
			}
		}
	}

	div.hope-is-powered--centered {
		.payment-selection__card {
			@include mq($until: desktop) {
				width: 40%;
			}

			@include mq($until: tablet) {
				width: calc(100% - 200px);
			}

			@include mq($until: phablet) {
				margin-left: 20px;
				width: calc(100% - 150px);
			}

			@include mq($until: mobileLandscape) {
				margin-left: 20px;
				width: calc(100% - 50px);
			}

			@include mq($until: mobileMedium) {
				margin-left: 0;
				width: calc(100% - 30px);
			}
		}

		.payment-selection__card:first-of-type {
			margin-left: 0;

			@include mq($from: tablet) {
				margin-left: 50px;
			}

			@include mq($from: wide) {
				margin-left: 30px;
			}

			@include mq($from: 1396px) {
				margin-left: 50px;
			}
		}

		.payment-selection__card:nth-of-type(2) {
			@include mq($until: tablet) {
				margin-top: 40px;
			}

			@include mq($until: phablet) {
				margin-left: 20px;
			}

			@include mq($until: mobileLandscape) {
				margin-left: 0;
			}
		}
	}
}

.hope-is-power__terms,
.hope-is-power__faqs {
	display: flex;
	justify-content: center;
	@include gu-fontset-body-sans;
	font-size: 14px;
	padding: 26px 0 33px 10px;

	@include mq($from: phablet) {
		padding-left: 0;
	}

	h3 {
		font-weight: 600;
	}

	h2,
	h3,
	p,
	.component-subscription-faq__text,
	.component-subscription-terms-privacy__text {
		max-width: calc(100% - 20px);

		@include mq($from: mobileMedium) {
			max-width: gu-span(4);
		}

		@include mq($from: mobileLandscape) {
			max-width: gu-span(5);
		}

		@include mq($from: phablet) {
			max-width: gu-span(7);
			padding-left: 0;
		}

		@include mq($from: tablet) {
			max-width: gu-span(8);
		}

		@include mq($from: desktop) {
			padding-left: 0;
			margin-left: 20px;
		}

		@include mq($from: leftCol) {
			padding-left: 25px;
			margin-left: 0;
		}

		@include mq($from: wide) {
			padding-left: 25px;
		}
	}

	a,
	a:visited {
		color: #121212;
	}
}

.hope-is-power__faqs {
	background-color: gu-colour(brand-main);
	color: gu-colour(neutral-100);

	a,
	a:visited {
		color: gu-colour(neutral-100);
	}

	.component-subscription-faq__text {
		margin-top: 10px;
	}
}

.nobr {
	white-space: nowrap;
}
