@import '~stylesheets/gu-sass/gu-sass';

.component-product-page-hero {
  box-sizing: border-box;
  & * {
    box-sizing: border-box;
  }
}

.hope-is-power-hero--wrapper {
  height: 80px;

  @include mq($from: tablet) {
    display: flex;
    flex-direction: column;
    background: #ffffff;
    height: 80px;
    padding-top: 40px;

    @include mq($from: tablet) {
      padding-top: 35px;
    }
  }

  @include mq($from: tablet) {
    height: 95px;
  }

}

.hope-is-power--centered {
  align-self: flex-start;
  padding-left: 0px;
  width: 100%;
  background-color: #ffffff;


  @include mq($from: mobileLandscape) {
    padding-left: 0px;
  }

  @include mq($from: phablet) {
    padding-left: 20px;
    align-self: center;
    width: 100%;
  }

  @include mq($from: tablet) {
    padding-left: 20px;
    width: calc(100% - 60px);
    max-width: 700px;
  }

  @include mq($from: desktop) {
    padding-left: 40px;
    width: calc(100% - 110px);
    max-width: 1100px;
  }

  @include mq($from: leftCol) {
    width: calc(100% - 80px);
    max-width: 80.625rem;
  }
}

.hope-is-power--heavy-text {
  font-weight: 600;
}

.hope-is-power-hero__marketing-message {
  position: relative;
  z-index: 20;
  display: inline-flex;
  flex-direction: column;
  background-color: #ffe500;
  @include gu-fontset-heading;
  color: gu-colour(neutral-7);
  height: 150px;
  padding: $gu-v-spacing / 3 0 22px;
  

  h1 {
    font-size: 28px;
    font-weight: 600;
    line-height: 32px;
    max-width: gu-span(3);
    margin: 15px 0 25px 10px !important;
  }

  h2 {
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
    max-width: gu-span(4);
    margin-left: 10px !important;
  }

  @include mq($from: mobileLandscape) {
    height: 140px;
    h1 {
      font-size: 28px;
      font-weight: 600;
      line-height: 36px;
      margin-left: 0;
      max-width: gu-span(5);
    }
  
    h2 {
      font-size: 17px;
      font-weight: 400;
      line-height: 21px;
      max-width: gu-span(5);
      margin-left: 0;
    }
  }

  @include mq($from: phablet) {
    height: 140px;
    width: 100%;


    h1 {
      font-size: 32px;
      font-weight: 600;
      line-height: 36px;
      max-width: gu-span(5);
      margin-top: 10px;
      margin-left: 20px !important;
    }

    h2 {
      max-width: gu-span(6);
      margin-left: 20px !important;
    }
  }

  @include mq($from: tablet) {
    width: calc(100% - 60px);
  }

  @include mq($from: desktop) {
    height: 170px;
    max-width: calc(100% - 110px);

    h1 {
      font-size: 42px;
      font-weight: 600;
      line-height: 56px;
      max-width: gu-span(8);
      margin-left: 40px !important;
    }
  
    h2 {
      font-size: 20px;
      font-weight: 400;
      line-height: 26px;
      max-width: gu-span(8);
      margin-left: 40px !important;
    }
  }

  @include mq($from: leftCol) {
    max-width: calc(100% - 80px);

    h2 {
      max-width: gu-span(7.5);
    }
  }

  @include mq($from: wide) {
    width: calc(100% - 80px);;
    max-width: 80.625rem;

    h1 {
      font-size: 50px;
    }

    h2 {
      max-width: gu-span(7.5);
    }
  }

  .hope-is-power__circle {
    position: absolute;
    right: 20px;
    top: 10px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 90px;
    width: 90px;
    border-radius: 50%;
    background-color: #00b2ff;
    margin-top: 0px;
    margin-left: 5px;

    @include mq($from: mobileLandscape) {
      right: 20px;
      top: 30px;
    }

    @include mq($from: phablet) {
      height: 120px;
      width: 120px;
      right: 30px;
      top: 20px;
    }

    @include mq($from: tablet) {
      top: 25px;
    }

    @include mq($from: desktop) {
      right: 40px;
      top: 28px;
    }

    @include mq($from: leftCol) {
      right: 80px;
    }
  }

  .hope-is-power__circle-text {
      font-size: 16px;
      line-height: 22px;
    @include mq($from: phablet) {
      font-size: 22px;
      line-height: 28px;
    }
  }

  .hope-is-power__circle-text--large {
    font-size: 24px;
    line-height: 32px;
    @include mq($from: phablet) {
      font-size: 34px;
      line-height: 40px;
    }
  }
}

.hope-is-power__products {  
  display: flex;
  flex-direction: column;
  background-color: #ededed;

  @include mq($from: tablet) {
    margin-bottom: -40px;
  }

  .product-block__container {
    padding-top: 30px;
    padding-bottom: 30px;
    
    @include mq($from: tablet) {
      border: 1px solid gu-colour(neutral-86);
    }

    .product-block__container__label--top, .product-block__plus {
      @include gu-fontset-heading;
      font-size: 17px;
      color: #ffffff;
      background-color: #121212;
      padding: 0 3px 0 10px;
      
      @include mq($from: tablet) {
        font-size: 20px;
        margin-top: 35px;
      }

      @include mq($from: desktop) {
        font-size: 26px;
        padding: 2px 3px 2px 10px;
      }
    }

    div.product-block__plus {
      margin-bottom: 16px;
      margin-top: 10px;
      width: 70px;

      @include mq($from: phablet) {
        margin-top: 14px;
        margin-bottom: 24px;
      }

      @include mq($from: tablet) {
        width: 80px;
        margin-bottom: 0;
      }

      @include mq($from: desktop) {
        width: 95px;
      }
    }

    div.product-block__container__label--top {
      width: 160px;
      margin: 15px 0;

      @include mq($from: mobileLandscape) {
        margin: 25px 0 15px;
      }

      @include mq($from: phablet) {
        margin: 0 0 20px;
      }

      @include mq($from: tablet) {
        position: relative;
        top: -58px;
        left: -19px;
        margin: 0;
        width: 180px;
      }

      @include mq($from: desktop) {
        top: -62px;
        left: -40px;
        width: 230px;
      }
    }

    .product-block__item, .product-block__dropdown--show, button, .ad-free-section-c__content {
      display: flex;
      flex-direction: column;
      width: 100%;

      @include mq($from: phablet) {
        width: calc(100% - 20px);
      }

      @include mq($from: desktop) {
        width: calc(100% - 50px);
      }
    }

    .product-block__item {
      padding-top: 10px;
      border-top: 1px solid gu-colour(neutral-86);
      border-bottom: 1px solid gu-colour(neutral-86);

      @include mq($from: phablet) {
        border: 1px solid gu-colour(neutral-86);
      }

      .product-block__item__title, .product-block__item__subtitle {
        margin-left: 10px;
      }

      .product-block__item__title {
        margin-bottom: 8px;
        @include gu-fontset-heading;
        font-weight: 600;
        font-size: 20px;
        max-width: gu-span(2.25);

        @include mq($from: mobileMedium) {
          max-width: gu-span(3);
          font-size: 22px;
        }

        @include mq($from: mobileLandscape) {
          max-width: gu-span(3.5);
        }

        @include mq($from: phablet) {
          max-width: gu-span(4);
        }

        @include mq($from: tablet) {
          font-size: 26px;
        }

        @include mq($from: desktop) {
          margin-bottom: 15px;
          font-size: 36px !important;
          line-height: 38px;
          max-width: gu-span(4);
        }

        @include mq($from: leftCol) {
          max-width: gu-span(6);
        }
      }

      .product-block__item__image {
        display: flex;
        align-self: flex-end;
        align-items: flex-end;
        margin-right: 0px;
        margin-top: -120px;

        img {
          width: 130px;
        }

        @include mq($from: mobileMedium) {
          margin-top: -100px;
        }

        @include mq($from: mobileLandscape) {
          margin-top: -110px;

          img {
            width: 210px;
          }
        }

        @include mq($from: phablet) {
          margin-top: -125px;
          margin-right: 0px;
          img {
            width: 250px;
          }
        }

        @include mq($from: tablet) {
          margin-right: 20px;
          margin-top: -115px;

          img {
            width: 250px;
          }
        }

        @include mq($from: desktop) {
          margin-top: -170px;

          img {
            width: 400px;
          }
        }

        @include mq($from: leftCol) {
          margin-top: -150px;
        }
      }

    }

    .product-block__item__subtitle, .ad-free-section__copy {
      @include gu-fontset-heading;
      font-size: 12px;
      font-weight: 400;
      line-height: 18px;
      max-width: gu-span(2);

      @include mq($from: mobileMedium) {
        font-size: 14px;
        max-width: gu-span(2.5);
      }

      @include mq($from: mobileLandscape) {
        font-size: 17px;
        line-height: 21px;
        max-width: gu-span(4);
      }

      @include mq($from: phablet) {
        max-width: gu-span(4.5);
      }

      @include mq($from: tablet) {
        font-size: 20px;
      }

      @include mq($from: desktop) {
        font-size: 20px;
        line-height: 26px;
        max-width: gu-span(7);
      }

      .product-block__item__subtitle--short-first {
        @include mq($from: desktop) {
          display: block;
          max-width: gu-span(3);
        }

        @include mq($from: leftCol) {
          max-width: gu-span(4);
        }
      }

      .product-block__item__subtitle--short-second {
        display: block;
        max-width: gu-span(2);

        @include mq($from: mobileMedium) {
          display: inline;
        }
      }
    }

    .ad-free-section__copy {
      max-width: gu-span(4);

      @include mq($from: mobileLandscape) {
        max-width: gu-span(6);
      }

      @include mq($from: tablet) {
        max-width: gu-span(7);
      }
      @include mq($from: desktop) {
        max-width: gu-span(8);
      }
    }

    .product-block__dropdown--hide {
      max-height: 0;
      overflow: hidden;
      transition: max-height 400ms;
      
      & > * {
        opacity: 0;
        transition: opacity 400ms;
      }
    }

    .product-block__dropdown--show {
      background-color: #f6f6f6;
      border-left: 1px solid gu-colour(neutral-86);
      border-right: 1px solid gu-colour(neutral-86);
      max-height: 600px;
      overflow: visible;
      transition: max-height 400ms;
      
      & > * {
        transition: opacity 300ms 200ms;
        opacity: 1;
      }
    }

    .product-block__dropdown__title {
      margin: 8px 0 15px 5px;
      @include gu-fontset-heading;
      font-size: 20px;
      line-height: 30px;

      @include mq($from: tablet) {
        font-size: 28px;
        margin: 8px 0 26px 18px;
      }
    }

    .product-block__ul-handler {
      display: flex;
      flex-direction: column;

      @include mq($from: desktop) {
        display: inline-flex;
        flex-direction: row;
      }
    }

    ul:nth-of-type(2) {
      @include mq($from: desktop) {
        margin-left: 30px;
      }

      @include mq($from: leftCol) {
        margin-left: 50px;
      }

      @include mq($from: wide) {
        margin-left: 100px;
      }
    }

    li {
      margin: 0 10px 15px 5px;
      font-size: 15px;
      line-height: 20px;

      @include mq($from: tablet) {
        margin-left: 18px;
        font-size: 17px;
      }

      .product-block__list-item--bold {
        font-weight: 600;
        margin-left: 8px;
      }
  
      .product-block__list-item__explainer {
        margin-left: 23px;
        font-size: 14px;

        @include mq($from: tablet) {
          font-size: 16px;
        }
      }
  
      .product-block__list-item__bullet {
        width: 13px;
        height: 13px;
        border-radius: 50%;
        background-color: #ffe500;
        display: inline-block;

        @include mq($from: tablet) {
          width: 15px;
        height: 15px;
        }
      }
    }
  }

  .product-block__container:first-of-type {
    margin-top: 65px;

    @include mq($from: mobileLandscape) {
      margin-top: 60px;
    }

    @include mq($from: phablet) {
      margin-top: 85px;
    }

    @include mq($from: tablet) {
      margin-top: 120px;
    }

    @include mq($from: desktop) {
      margin-top: 140px;
    }
  }

  button {
    @include gu-fontset-body-sans;
    display: inline-block;
    border-top: 1px solid gu-colour(neutral-86);
    border-bottom: 1px solid gu-colour(neutral-86);
    background-color: #ffffff;
    padding: 1rem 0;
    margin: 0;
    text-decoration: none;
    font-size: 14px;
    cursor: pointer;
    outline: none;
    text-align: center !important;
    align-items: center;
    transition: background 250ms ease-in-out, 
    transform 150ms ease;
    -webkit-appearance: none;
    -moz-appearance: none;
    max-height: 60px;

    @include mq($from: mobileLandscape) {
      margin-bottom: 24px;
    }

    @include mq($from: tablet) {
      font-size: 17px;
    }

    .product-block__arrow--up, .product-block__arrow--down {
      display: inline-block;
      margin-right: 10px;
    }

    .product-block__arrow--up {
      transform: rotate(180deg);
      transition: transform 400ms 200ms;
    }

    .product-block__arrow--down {
      transform: rotate(0deg);
      transition: transform 400ms 200ms;
    }
  }

  @include mq($from: desktop) {
    button:hover {
      background-color: #f6f6f6;
    }
  }

  .product-block__button--hide {
    border-top: none;
    border-left: none;
    border-right: none;
    background-color: #ffffff;

    @include mq($from: phablet) {
      border-left: 1px solid gu-colour(neutral-86);
      border-right: 1px solid gu-colour(neutral-86);
    }
  }

  .product-block__button--show {
    background-color: #ffffff;
  }

  .product-block__button__text--bold {
    font-weight: 600;
  }

}

.the-moment-hero__graphic-outer {
  position: relative;
  display: flex;
  flex-grow: 1;
  align-items: center;
  justify-content: center;
  max-width: gu-span(8);
  
  @include mq($from: mobileMedium) {
    padding-top: $gu-v-spacing*1;
  }
  
  @include mq($from: tablet) {
    padding-top: $gu-v-spacing*2;
    padding-right: $gu-v-spacing*2;
  }

}

.the-moment-hero__graphic-inner {
  position: relative;
}

.the-moment-hero__graphic {
  position: relative;
  z-index: 1;
  opacity: 0;

  img {
    max-height: 200px;
    max-width: 100%;
    height: auto;
    display: block;
  }

  @include mq($from: mobileMedium) {
    img {
      max-height: 250px;
    }
  }

  @include mq($from: tablet) {
    img {
      max-height: 275px;
    }
  }
  @include mq($from: desktop) {
    img {
      max-height: 300px;
    }
  }
  @include mq($from: leftCol) {
    img {
      max-height: 380px;
    }
  }
}

.the-moment-hero__graphic-slider,
.the-moment-hero__graphic-slider-inner,
.the-moment-hero__graphic-slider-1,
.the-moment-hero__graphic-slider-2,
.the-moment-hero__graphic-slider-3 {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 5;
  
  img {
    position: absolute;
    width: 100%;
    height: 100%;
  }
}

@keyframes gallery {
  1% {
    display: block;
  }
  100% {
    display: none;
  }
}

.the-moment-hero__graphic-slider-1,
.the-moment-hero__graphic-slider-2,
.the-moment-hero__graphic-slider-3 {
  animation: fling-minislide 6s infinite;
  opacity: 0; 
} 

@keyframes fling-minislide {
  0% {opacity:1;}
  33.33% {opacity:1;} 
  33.34% {opacity:0;} 
  50% {opacity:0;}
  100% {opacity:0;}
} 

.the-moment-hero__graphic-slider-1 {
  animation-delay: 0s;
}

.the-moment-hero__graphic-slider-2 {
  animation-delay: 2s;
}

.the-moment-hero__graphic-slider-3 {
  animation-delay: 4s;
}

@media (prefers-reduced-motion) {
  .the-moment-hero__graphic {
    opacity: 1;
  }
  .the-moment-hero__graphic-slider {
    display: none;
  }
}

.the-moment-hero__badge {
  position: absolute;
  flex-direction: column;
  display: flex;
  align-items: center;
  justify-content: center;
  color: gu-colour(neutral-100);
  text-align: center;
  line-height: 1;
  font-family: $gu-headline;
  font-size: 1rem;
  font-weight: 700;
  z-index: 10;
  width: 100%;
  top: 1.4rem;
  
  span {
    display: block;
    line-height: 1; 
  }
  
  .the-moment-hero__badge-lgeCopy {
    font-family: $gu-titlepiece;
    position: relative;
    font-size: 1.6rem;
    font-variant-numeric: lining-nums;
    -moz-font-feature-settings: "lnum";
    -webkit-font-feature-settings: "lnum";
    font-feature-settings: "lnum";
  }
  
  @include mq($from: mobileMedium) {
    top: 1.8rem;
    font-size: 1rem;

    .the-moment-hero__badge-lgeCopy {
      font-size: 2.2rem;
    }
  }
  
  @include mq($from: tablet) {
    top: 2.2rem;
    font-size: 1.2rem;
  }
  
  @include mq($from: leftCol) {
    top: 3.25rem;

    .the-moment-hero__badge-lgeCopy {
      font-size: 2.8rem;
    }
  }
}

.payment-selection__title-container {
  text-align: left;
  padding: 0 10px;

  max-width: 38.5rem;
  margin-bottom: 115px;

  @include mq($from: leftCol) {
    padding-left: 0;
  }
}

.payment-selection__title {
  font-family: $gu-headline;
  font-weight: 600;
  font-size: 18px;
  line-height: 1.3;

  @include mq($from: tablet) {
    font-size: 24px;
    line-height: 28px;
  }
}

div.call-to-action__container {
  margin-right: 0;
  display: flex;
  padding: 10px 0 50px 10px;
  background-color: #041f4a;
  max-width: calc(100%-10px);
  width: calc(100%-10px);

  @include mq($from: mobileLandscape) {
    padding-left: 0px;
  }

  @include mq($from: tablet) {
    padding-top: 70px;
  }

  @include mq($from: wide) {
    justify-content: center;
  }
  
  .hope-is-power--centered {
    background-color: #041f4a;
    color: #ffffff;

    @include mq($from: wide) {
      padding-left: 0;
    }

    h2 {
      margin-bottom: 12px;
      padding-left: 0;
      max-width: gu-span(4);
      @include gu-fontset-heading;
      font-size: 22px;
      line-height: 30px;

      @include mq($from: mobileLandscape) {
        padding-left: 15px;
        max-width: gu-span(5);
      }

      @include mq($from: phablet) {
        padding-left: 5px;
      }

      @include mq($from: tablet) {
        padding-left: 25px;
        font-size: 34px;
        line-height: 34px;
        max-width: gu-span(8);
      }

      @include mq($from: desktop) {
        font-size: 34px;
        line-height: 38px;
        max-width: gu-span(12);
      }
    }

    h3 {
      margin-bottom: 20px;
      padding-left: 0;

      @include mq($from: mobileLandscape) {
        padding-left: 15px;
      }

      @include mq($from: phablet) {
        padding-left: 5px;
        max-width: gu-span(7);
      }

      @include mq($from: tablet) {
        padding-left: 25px;
        margin-bottom: 40px;
      }

      @include gu-fontset-body-sans;
      font-size: 15px;
    }
  }

  .payment-selection__card {
    @include mq($until: desktop) {
      width: 40%;
    }

    @include mq($until: tablet) {
      width: calc(100% - 200px);
    }

    @include mq($until: phablet) {
      margin-left: 20px;
      width: calc(100% - 150px);
    }

    @include mq($until: mobileLandscape) {
      margin-left: 0;
      width: calc(100% - 50px);
    }

    @include mq($until: mobileMedium) {
      margin-left: 10px;
      width: calc(100% - 30px);
    }
  }

  .payment-selection__card:first-of-type {
    margin-left: 0;
    
    @include mq($from: tablet) {
      margin-left: 50px;
    }

    @include mq($from: wide) {
      margin-left: 30px;
    }

    @include mq($from: 1396px) {
      margin-left: 50px;
    }
  }

  .payment-selection__card:nth-of-type(2) {
    @include mq($until: tablet) {
      margin-top: 40px;
    }

    @include mq($until: phablet) {
      margin-left: 20px;
    }

    @include mq($until: mobileLandscape) {
      margin-left: 0px;
    }
  }
}

.hope-is-power__terms {
  display: flex;
  justify-content: center;
  @include gu-fontset-body-sans;
  font-size: 14px;
  padding: 26px 0 33px 10px;

  @include mq($from: phablet) {
    padding-left: 0px;
  }

  h3 {
    font-weight: 600;
  }

  h3, p {
    max-width: calc(100% - 20px);

    @include mq($from: mobileMedium) {
      max-width: gu-span(4);
    }

    @include mq($from: mobileLandscape) {
      max-width: gu-span(5);
    }

    @include mq($from: phablet) {
      max-width: gu-span(7);
      padding-left: 0px;
    }

    @include mq($from: tablet) {
      max-width: gu-span(8);
    }

    @include mq($from: desktop) {
      padding-left: 0px;
      margin-left: -5px;
    }

    @include mq($from: leftCol) {
      padding-left: 10px;
      margin-left: 0;
    }

    @include mq($from: wide) {
      padding-left: 0px;
    }
  }

  a, a:visited {
    color: #121212;
  }
}


//styles below are to override the page A merketing message
.component-product-page-hero.component-product-page-hero--digital-campaign {
	position: relative;
	background: #EDEDED !important;
	
	&:before {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100px;
		background: #fff;
		border-bottom: 1px solid gu-colour(neutral-86);
		content: '';
	}

	@include mq($from: phablet, $until: desktop) {
		&:before {
			height: 80px;
		}
	}
}

.the-moment-hero {
	padding-top: 0 !important;
	padding-bottom: 1.5rem !important;
	
	@include mq($from: tablet) {
		padding: 1.5rem 0 !important;
		margin-top: 20px;
	}

}

.the-moment-hero .hope-is-power-hero--wrapper {
	display: block;
	width: 100%;
	height: inherit !important;
	padding-top: 0 !important;
	background: #ffe500;
}

.the-moment-hero .hope-is-power-hero__marketing-message {
	width: 100% !important;
	height: auto !important;
	
	h1, h2 {
		margin-left: 0.625rem !important;
	}
	
	@include mq($from: leftCol) {
		max-width: gu-span(12);

		h2 {
			padding-right: 20px;
		}
	}

	@include mq($from:tablet, $until: leftCol) {
		h2 {
			max-width: 28.75rem;
		}
	}
}
