.component-independent-journalism {
	@include gu-fontset-heading;
	color: #121212;
	@include mq($from: desktop) {
		border-left: 1px solid gu-colour(neutral-86);
	}
}

.component-independent-journalism__content {
	box-sizing: border-box;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 10px;
	width: 100%;
}

.component-independent-journalism__header {
	width: 100%;
	font-weight: bold;

	@include mq($from: leftCol) {
		width: gu-span(6);
	}
}

.component-independent-journalism__copy {
	width: 100%;
	font-weight: 300;
	padding-right: 18px;
	@include mq($from: leftCol) {
		width: gu-span(6);
		margin-right: gu-span(2);
	}
}

.component-independent-journalism__wrapper {
	display: flex;
	position: relative;
	@include mq($until: leftCol) {
		padding-bottom: 220px;
	}
}

.component-independent-journalism__footer {
	position: relative;
}

.svg-windrush {
	position: relative;
	top: -51px;
	margin-bottom: -143px;
	z-index: 1;
	@include mq($until: leftCol) {
		display: none;
	}
}

.svg-zuck {
	position: absolute;
	left: -281px;
	top: -55px;
	@include mq($until: leftCol) {
		display: none;
	}
}

.svg-windrush-zuck {
	left: -112px;
	position: absolute;
	top: -221px;

	@include mq($from: mobileMedium) {
		left: -76px;
	}

	@include mq($from: mobileLandscape) {
		left: 24px;
	}

	@include mq($from: tablet) {
		left: 162px;
	}

	@include mq($from: desktop) {
		left: 182px;
	}

	@include mq($from: leftCol) {
		display: none;
	}
}
