@import '~stylesheets/gu-sass/gu-sass';


.component-product-page-hero.component-product-page-hero--digital-campaign {
  background: #FCF8F2;
  box-sizing: border-box;
  height: auto;
  min-height: 200px;

  & * {
    box-sizing: border-box;
  }
}

.the-moment-hero {
  display: flex;
  align-items: center;
  padding: $gu-v-spacing*2 0 $gu-v-spacing*3;
  
  @include mq($from: tablet) {
    padding: $gu-v-spacing*2 0 $gu-v-spacing*4;
  }

}

.the-moment-hero__copy {
    line-height: 1;
    display: block;
    max-width: gu-span(6);
    padding-left: $gu-v-spacing;
    
    h2 {
      font-family: $gu-titlepiece;
      max-width: gu-span(6);
      color: #EF7D21;
      font-size: 28px;
      span {
        color: #0084C6
      }
    }

    @include mq($from: mobile) {
      max-width: 60%;
    }
    
    @include mq($from: mobileMedium) {
      max-width: 50%;
    }

    @include mq($from: mobileLandscape) {
      max-width: 50%;
      h2 {
        font-size: 38px;
      }
    }
    
    @include mq($from: phablet) {
      max-width: 50%;
      h2 {
        font-size: 38px;
      }
    }
    
    @include mq($from: tablet) {      
      h2 {
        font-size: 44px;
      }
    }

    @include mq($from: desktop) {
      h2 {
        font-size: 50px;
        max-width: gu-span(6);
      }
    }
    
    @include mq($from: leftCol) {
      h2 {
        font-size: 56px;
      }
    }
}

.the-moment-hero__graphic-outer {
  position: relative;
  display: flex;
  flex-grow: 1;
  align-items: center;
  justify-content: center;
  max-width: gu-span(8);
  // display: none; //TODO: fix image
  
  @include mq($from: mobileMedium) {
    padding-top: $gu-v-spacing*1;
  }
  
  @include mq($from: tablet) {
    padding-top: $gu-v-spacing*2;
    padding-right: $gu-v-spacing*2;
  }

}

.the-moment-hero__graphic-inner {
  position: relative;
}

.the-moment-hero__graphic {
  position: relative;
  z-index: 1;
  opacity: 0;

  img {
    max-height: 200px;
    max-width: 100%;
    height: auto;
    display: block;
  }

  @include mq($from: mobileMedium) {
    img {
      max-height: 250px;
    }
  }

  @include mq($from: tablet) {
    img {
      max-height: 275px;
    }
  }
  @include mq($from: desktop) {
    img {
      max-height: 300px;
    }
  }
  @include mq($from: leftCol) {
    img {
      max-height: 380px;
    }
  }
}

.the-moment-hero__graphic-slider,
.the-moment-hero__graphic-slider-inner,
.the-moment-hero__graphic-slider-1,
.the-moment-hero__graphic-slider-2,
.the-moment-hero__graphic-slider-3 {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 5;
  
  img {
    position: absolute;
    width: 100%;
    height: 100%;
  }
}

@keyframes gallery {
  1% {
    display: block;
  }
  100% {
    display: none;
  }
}

.the-moment-hero__graphic-slider-1,
.the-moment-hero__graphic-slider-2,
.the-moment-hero__graphic-slider-3 {
  animation: fling-minislide 6s infinite;
  opacity: 0; 
} 

@keyframes fling-minislide {
  0% {opacity:1;}
  33.33% {opacity:1;} 
  33.34% {opacity:0;} 
  50% {opacity:0;}
  100% {opacity:0;}
} 

.the-moment-hero__graphic-slider-1 {
  animation-delay: 0s;
}

.the-moment-hero__graphic-slider-2 {
  animation-delay: 2s;
}

.the-moment-hero__graphic-slider-3 {
  animation-delay: 4s;
}

@media (prefers-reduced-motion) {
  .the-moment-hero__graphic {
    opacity: 1;
  }
  .the-moment-hero__graphic-slider {
    display: none;
  }
}
