@import '~stylesheets/gu-sass/gu-sass';
/* DayPicker styles */

.DayPicker {
	display: inline-block;
	font-size: 1rem;
	border: gu-colour(neutral-60) 2px solid;
	margin-top: 20px;
}

.DayPicker-wrapper {
	position: relative;

	flex-direction: row;
	padding-bottom: 0;

	user-select: none;
}

.DayPicker-Months {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.DayPicker-Month {
	display: table;
	margin: 0;
	margin-top: 1em;
	border-spacing: 0;
	border-collapse: collapse;

	user-select: none;
}

.DayPicker-NavButton {
	position: absolute;
	top: 1em;
	right: 1.5em;
	left: auto;

	display: inline-block;
	margin-top: 2px;
	width: 1.25em;
	height: 1.25em;
	background-position: center;
	background-size: 50%;
	background-repeat: no-repeat;
	color: #8b9898;
	cursor: pointer;
}

.DayPicker-NavBar {
	align-self: flex-end;
}

.DayPicker-NavButton:hover {
	opacity: 0.8;
}

.DayPicker-NavButton--prev {
	width: 2.5em;
	margin-right: 2.5em;
	background-image: url('./arrowLeft.png');
}

.DayPicker-NavButton--next {
	width: 2.5em;
	background-image: url('./arrowRight.png');
}

.DayPicker-NavButton--interactionDisabled {
	display: none;
}

.DayPicker-Caption {
	font-family: $gu-text-egyptian-web;
	display: table-caption;
	margin-bottom: 0.5em;
	padding: 0 0 0 1em;
}

.DayPicker-Caption > div {
	font-weight: 600;
	font-size: 1.3em;
}

.DayPicker-Weekdays {
	display: table-header-group;
	margin-top: 1em;
}

.DayPicker-WeekdaysRow {
	display: table-row;
}

.DayPicker-Weekday {
	font-family: $gu-text-sans-web;
	display: table-cell;
	padding: 0.8em 0.99em 0.1em;
	color: gu-colour(neutral-46);
	text-align: center;
	font-size: 1.1em;
}

.DayPicker-Weekday abbr[title] {
	border-bottom: none;
	text-decoration: none;
}

.DayPicker-Body {
	display: table-row-group;
}

.DayPicker-Week {
	display: table-row;
}

.DayPicker-Day {
	font-family: $gu-text-sans-web;
	display: table-cell;
	padding: 0.5em;
	border-radius: 0;
	vertical-align: middle;
	text-align: center;
	cursor: pointer;
	border-top: gu-colour(neutral-60) 2px solid;
	border-left: gu-colour(neutral-60) 2px solid;
}

.DayPicker-Day:first-of-type {
	border-left: none;
}

.DayPicker-WeekNumber {
	display: table-cell;
	padding: 0.5em;
	min-width: 1em;
	border-right: 1px solid #eaecec;
	color: #8b9898;
	vertical-align: middle;
	text-align: right;
	font-size: 0.75em;
	cursor: pointer;
}

.DayPicker--interactionDisabled .DayPicker-Day {
	cursor: default;
}

.DayPicker-Footer {
	padding-top: 0.5em;
}

.DayPicker-TodayButton {
	border: none;
	background-color: transparent;
	background-image: none;
	box-shadow: none;
	color: #4a90e2;
	font-size: 0.875em;
	cursor: pointer;
}

/* Default modifiers */

.DayPicker-Day--today {
	font-weight: 700;
	background-color: #e4f2fb;
	color: gu-colour(neutral-7);
}

.DayPicker-Day--outside {
	color: #8b9898;
	cursor: default;
}

.DayPicker-Day--disabled {
	color: #dce0e0;
	cursor: default;
	/* background-color: #eff1f1; */
}

/* Example modifiers */

.DayPicker-Day--sunday {
	background-color: #f7f8f8;
}

.DayPicker-Day--sunday:not(.DayPicker-Day--today) {
	color: #dce0e0;
}

.DayPicker-Day--selected:not(.DayPicker-Day--disabled):not(.DayPicker-Day--outside) {
	position: relative;

	background-color: #4a90e2;
	color: #f0f8ff;
}

.DayPicker-Day--selected:not(.DayPicker-Day--disabled):not(.DayPicker-Day--outside):hover {
	background-color: #51a0fa;
}

.DayPicker:not(.DayPicker--interactionDisabled)
	.DayPicker-Day:not(.DayPicker-Day--disabled):not(.DayPicker-Day--selected):not(.DayPicker-Day--outside):hover {
	background-color: #f0f8ff;
}

/* DayPickerInput */

.DayPickerInput {
	display: inline-block;
}

.DayPickerInput-OverlayWrapper {
	position: relative;
}

.DayPickerInput-Overlay {
	position: absolute;
	left: 0;
	z-index: 1;

	background: white;
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);
}
