@import '~stylesheets/gu-sass/gu-sass';

.component-veggie-burger-button {
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	height: $gu-cta-height;
	width: $gu-cta-height;
	margin: 0;
	padding: 0;
	background: gu-colour(highlight-main);
	border-radius: 100%;
	border: 0;
	cursor: pointer;
	position: relative;
	> svg {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		margin: auto;
	}
}
