@import '~stylesheets/gu-sass/gu-sass';

.yellow-heading {
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  border-right: .15em solid orange; /* The typwriter cursor */
  white-space: nowrap; /* Keeps the content on a single line */
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  letter-spacing: .15em; /* Adjust as needed */
  animation:
    typing 6s steps(4, end),
    blink-caret 1s step-end infinite;

  color: gu-colour(highlight-main);
  font-family: $gu-headline;
  font-size: 42px;
  font-weight: bold;

  @include mq($from:desktop) {
    margin-left: 8px;
  }
}

/* The typing effect */
@keyframes typing {
  from { width: 0 }
  to { width: 50% }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: orange; }
}
