.component-direct-debit-form {
  clear: left;
  margin-top: 80px;
  margin-left: 0;

  @include mq($from: mobileLandscape) {
    margin-left: 20px;
  }

  .component-error-message {
    background-color: transparent;
    color: gu-colour(error);
    padding: 0;
    height: 0;

    .svg-exclamation-alternate {
      float: left;
      margin-right: 8px;
    }

    .component-error-message__message {
      position: relative;
      left: 1px;
      top: 3px;
    }
  }
}

.component-direct-debit-form__field-label {
  display: block;
  font-family: $gu-egyptian-web;
  font-weight: 600;
  font-size: 14px;
  margin-top: 8px;
  margin-bottom: 6px;
}

.component-direct-debit-form__sort-code-field {
  font-family: $gu-sans-web;
  font-size: 14px;
  background-color: gu-colour(garnett-neutral-3);
  color: gu-colour(garnett-neutral-1);
  border: 1px solid gu-colour(garnett-neutral-1);
  border-radius: 25px;
  height: 41px;
  width: 57px;
  padding: 0 15px;
  margin-bottom: 25px;
}

.component-direct-debit-form_sort-code-separator {
  margin: 0 10px;
  font-size: 18px;
}

.component-direct-debit-form__text-field {
  font-family: $gu-sans-web;
  font-size: 14px;
  font-weight: bold;
  background-color: gu-colour(garnett-neutral-3);
  color: black;
  border: 1px solid gu-colour(garnett-neutral-1);
  border-radius: 25px;
  height: 40px;
  width: 313px;
  @include mq($from: mobileLandscape) {
    width: 405px;
  }
  padding: 0 15px;
}

.component-direct-debit-form__account-holder-confirmation__text {
  font-family: $gu-sans-web;
  font-size: 14px;
  color: gu-colour(neutral-1);
  padding-left: 15px;
  display: block;
  overflow: hidden;
}

.component-direct-debit-form__account-holder-confirmation__checkbox {
  width: 25px;
  position: relative;
  margin-right: 10px;

  input[type=checkbox]{
    float: left;
    padding: 10px;
  }

  label {
    cursor: pointer;
    position: absolute;
    width: 20px;
    height: 20px;
    top: 0;
    left: 0;
    background: #fff;
    border: solid 1px #121212;
    border-radius: 2px;
  }

  /**
   * Display the tick inside the checkbox
   */
  label:after {
    opacity: 0;
    content: '';
    position: absolute;
    width: 9px;
    height: 5px;
    background: transparent;
    top: 4px;
    left: 4px;
    border: 3px solid #333;
    border-top: none;
    border-right: none;
    transform: rotate(-45deg);
  }

  /**
   * Create the hover event of the tick
   */
  label:hover::after {
    opacity: 0.5;
  }

  /**
   * Create the checkbox state for the tick
   */
  input[type=checkbox]:checked + label:after {
    opacity: 1;
  }
}


.component-direct-debit-form__pay-button {
  background-color: gu-colour(news-garnett-highlight);
  border: solid 1px gu-colour(news-garnett-highlight-hover);
  border-radius: 100px;
  color: gu-colour(neutral-1);
  cursor: pointer;
  display: block;
  font-family: $gu-text-sans-web;
  font-size: 14px;
  font-weight: bold;
  line-height: 3;
  position: relative;
  text-align: left;
  height: 54px;
  width: 343px;
  @include mq($from: mobileLandscape) {
    width: 435px;
  }
  margin-top: 35px;
  margin-bottom: 10px;

  .svg-direct-debit-symbol {
    margin: 8px 8px 0 8px;
    float: left;
  }

  .svg-arrow-right-straight {
    width: 24px;
    fill: gu-colour(neutral-1);
    position: absolute;
    right: 15px;
    top: 50%;
    transform: translateY(-50%);
  }

  &:hover {
    background-color: gu-colour(news-garnett-highlight-hover);
  }
}

.component-direct-debit-form__legal__content {
  font-family: $gu-text-sans-web;
  font-size: 12px;
  color: gu-colour(garnett-neutral-2);
  padding-top: $gu-v-spacing;
  margin-top: 30px;
  margin-bottom: 20px;
  a {
    color: gu-colour(garnett-neutral-2);
  }
}