.component-direct-debit-form {
  clear: left;
  margin-top: 80px;
  margin-left: 0;

  @include mq($from: mobileLandscape) {
    margin-left: $gu-h-spacing;
  }

  .component-error-message {
    background-color: transparent;
    color: gu-colour(error);
    padding: 0;
    height: 0;
  }

  .svg-exclamation-alternate {
    float: left;
    margin-right: 8px;
  }

  .component-error-message__message {
    position: relative;
    left: 1px;
    top: 3px;
  }
}

.component-direct-debit-form__field-label {
  display: block;
  font-family: $gu-egyptian-web;
  font-weight: 600;
  font-size: 14px;
  margin-top: 8px;
  margin-bottom: 6px;
}

.component-direct-debit-form__sort-code-field {
  font-family: $gu-sans-web;
  font-size: 14px;
  background-color: gu-colour(garnett-neutral-3);
  color: gu-colour(garnett-neutral-1);
  border: 1px solid gu-colour(garnett-neutral-1);
  border-radius: 25px;
  height: 41px;
  width: 57px;
  padding: 0 15px;
  margin-bottom: 25px;
}

.component-direct-debit-form__sort-code-separator {
  margin: 0 10px;
  font-size: 18px;
}

.component-direct-debit-form__text-field {
  font-family: $gu-sans-web;
  font-size: 14px;
  font-weight: bold;
  background-color: gu-colour(garnett-neutral-3);
  color: black;
  border: 1px solid gu-colour(garnett-neutral-1);
  border-radius: 25px;
  height: 40px;
  width: 313px;
  @include mq($from: mobileLandscape) {
    width: 405px;
  }
  padding: 0 15px;
}

.component-direct-debit-form__confirmation-text {
  font-family: $gu-sans-web;
  font-size: 14px;
  color: gu-colour(neutral-1);
  padding-left: 33px;
  display: block;
  overflow: hidden;
}

.component-direct-debit-form__confirmation-css-checkbox {
  width: 25px;
  position: relative;
  margin-right: 10px;
}

.component-direct-debit-form__confirmation-label {
  cursor: pointer;
  position: absolute;
  width: 20px;
  height: 20px;
  top: 2px;
  left: 0;
  background: #fff;
  border: solid 1px #121212;
  border-radius: 2px;
  &:after {
    opacity: 0;
    content: '';
    position: absolute;
    width: 9px;
    height: 5px;
    background: transparent;
    top: 4px;
    left: 4px;
    border: 3px solid #333;
    border-top: none;
    border-right: none;
    transform: rotate(-45deg);
  }
  &:hover::after {
    opacity: 0.5;
  }
}

.component-direct-debit-form__confirmation-input {
  display: none;
  &:checked + label:after {
    opacity: 1;
  }
}

.component-direct-debit-form__cta-text {
  color: gu-colour(neutral-1);
  font-family: $gu-text-sans-web;
  font-size: 14px;
  font-weight: bold;
  line-height: 3;
  text-align: left;
}

.component-direct-debit-form__cta-text.inverse {
  color: white;
}

.component-direct-debit-form__cta {
  background-color: gu-colour(news-garnett-highlight);
  border: solid 1px lighten(gu-colour(news-garnett-highlight), 15%);
  border-radius: 100px;
  cursor: pointer;
  position: relative;
  height: 54px;
  margin-top: 35px;
  margin-bottom: 10px;

  .svg-arrow-right-straight {
    width: 24px;
    fill: gu-colour(neutral-1);
    position: absolute;
    right: 15px;
    top: 50%;
    transform: translateY(-50%);
  }

  &:hover {
    background-color: lighten(gu-colour(news-garnett-highlight), 15%);
  }
}

.component-direct-debit-form__pay-button {
  .svg-direct-debit-symbol {
    margin: 8px 8px 0 8px;
    float: left;
  }
  width: 343px;
  @include mq($from: mobileLandscape) {
    width: 435px;
  }
}

.component-direct-debit-form__edit-button {
  background-color: gu-colour(garnett-neutral-1);
  border: solid 1px gu-colour(garnett-neutral-1);
  color: white;
  width: 160px;

  .svg-arrow-left-straight {
    width: 24px;
    fill: white;
    position: absolute;
    left: 15px;
    top: 1rem;
  }

  &:hover {
    background-color: #000;
  }
}

.component-direct-debit-form__confirm-button {
  margin-right: 20px;
  float: right;
  width: 160px;
}

.component-direct-debit-form__legal-notice {
  font-family: $gu-text-sans-web;
  font-size: 12px;
  color: gu-colour(garnett-neutral-2);
  padding-top: $gu-v-spacing;
  margin-top: 30px;
  margin-bottom: 20px;
  a {
    color: gu-colour(garnett-neutral-2);
  }
}

.component-direct-debit-form__open-link {
  background:none;
  outline: none;
  color:inherit;
  border:none;
  padding:0;
  font: inherit;
  text-decoration:underline;
  cursor: pointer;
}

.svg-direct-debit-symbol-and-text {
  margin-top: $gu-v-spacing;
  fill: gu-colour(garnett-neutral-2);
}

.component-direct-debit-form__guarantee-list {
  list-style-type: disc;
  margin-left: $gu-h-spacing;
}

.component-direct-debit-form__guarantee-list--closed {
  display: none;
}
