@import '~stylesheets/gu-sass/gu-sass';

.payment-selection {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  // padding-left: 10px;

  @include mq($from: phablet) {
    justify-content: left;
  }

  @include mq($from: leftCol) {
    padding-left: 0;
  }
}

.payment-selection__card {
  width: 100%;

  margin: 0 20px 20px 10px;
  display: flex;
  @include mq($from: tablet) {
    margin-left: 0;
    max-width: 30rem;
  }

  @include mq($from: tablet) {
    width: 240px;
  }
}

.payment-selection__card--variantB-width {
  width: 320px;
}

.payment-selection_cancel-text {
  width: 100%;
  @include gu-fontset-body-sans;
  font-style: italic;
  margin: 0 10px;

  @include mq($from: tablet) {
    margin: 0;
  }
}