@import '~stylesheets/gu-sass/gu-sass';

.component-product-page-plan-form__items {
  margin: 0 $gu-h-spacing/-2 $gu-v-spacing * 2;
  @include mq($until: leftCol) {
    max-width: gu-span(6);
  }
  @include mq($from: leftCol) {
    display: flex;
    align-items: stretch;
  }
}

.component-product-page-plan-form__items > .component-product-page-plan-form__item {
  flex: 0 0 25%;
  padding: 0 $gu-h-spacing/2;
  box-sizing: border-box;
  margin-bottom: $gu-v-spacing;
  @include mq($from: leftCol) {
    margin-bottom: 0;
  }
}
