// -----  gu-sass ----- //

@import '~stylesheets/gu-sass/gu-sass';


// ----- Shared Components ----- //

@import '~components/ctaLink/ctaLink';
@import '~components/doubleHeading/doubleHeading';
@import '~components/featuredDigitalPack/flashSaleDigitalPack';
@import '~components/featureList/featureList';
@import '~components/footer/footer';
@import '~components/headers/simpleHeader/simpleHeader';
@import '~components/highlights/highlights';
@import '~components/introduction/introduction';
@import '~components/legal/contribLegal/contribLegal';
@import '~components/pageSection/pageSection';
@import '~components/patronsEvents/patronsEvents';
@import '~components/readyToSupport/readyToSupport';
@import '~components/svgs/svg';
@import '~components/threeSubscriptions/threeSubscriptions';
@import '~components/subscriptionsByCountryGroup/subscriptionsByCountryGroup';
@import '~components/whySupport/whySupport';
@import '~components/whySupportVideo/whySupportVideo';
@import '~components/flashSaleCountdown/flashSaleCountdown';


// ----- Page-Specific Styles ----- //

#subscriptions-landing-page {

  .component-cta-link--android {
    margin-top: $gu-v-spacing;
  }

  .component-subscriptions-by-country-group--us .component-double-heading__subheading {
    font-size: 24px;
  }

  strong {
    font-weight: bold;
  }

}
