// -----  gu-sass ----- //

@import '~stylesheets/gu-sass/gu-sass';


// ----- Shared Components ----- //

@import '~components/ctaLink/ctaLink';
@import '~components/doubleHeading/doubleHeading';
@import '~components/featureList/featureList';
@import '~components/footer/footer';
@import '~components/headers/simpleHeader/simpleHeader';
@import '~components/highlights/highlights';
@import '~components/introduction/introduction';
@import '~components/introduction/circlesIntroduction';
@import '~components/legal/contribLegal/contribLegal';
@import '~components/pageSection/pageSection';
@import '~components/patronsEvents/patronsEvents';
@import '~components/readyToSupport/readyToSupport';
@import '~components/svgs/svg';
@import '~components/threeSubscriptions/threeSubscriptions';
@import '~components/digitalSubscriptions/digitalSubscriptions';
@import '~components/paperSubscriptions/paperSubscriptions';
@import '~components/internationalSubscriptions/internationalSubscriptions';
@import '~components/whySupport/whySupport';


// ----- Page-Specific Styles ----- //

#subscriptions-landing-page {

  .component-digital-subscriptions, .component-three-subscriptions {
    @include multiline-top-border;

    border-top: none;
  }

  .component-cta-link--android {
    margin-top: $gu-v-spacing;
  }

}
