#monthly-contributions-thankyou-page, #oneoff-contributions-thankyou-page, #monthly-contributions-pending-page {

	a {
		color: gu-colour(neutral-1);
	}

	// ----- Headings

	.thankyou {
		background-color: darken(gu-colour(multimedia-main-2), 5%);
	}

	.thankyou__content {
		background-color: gu-colour(multimedia-main-2);
		padding: $gu-v-spacing $gu-h-spacing;
	}

	.thankyou__wrapper {

		@include mq($from: desktop) {
			margin-left: 20%;
			margin-right: 20%;
		}
	}

	.thankyou__heading {
		font-family: $gu-egyptian-web;
		color: gu-colour(neutral-1);
		font-size: 28px;
		line-height: 32px;
		font-weight: bold;

		@include mq($from: desktop) {
			font-size: 36px;
			line-height: 40px;
		}
	}

	.thankyou__subheading {
		font-family: $gu-egyptian-web;
		font-size: 28px;
		line-height: 32px;
		font-weight: lighter;
		color: gu-colour(neutral-1);

		@include mq($from: desktop) {
			font-size: 36px;
			line-height: 40px;
		}
	}

	// ----- Main Content

	.component-cta-link {
		color: gu-colour(neutral-1);
		background: transparent;
		display: inline-block;
		width: 180px;
		border: 1px solid gu-colour(neutral-1);
		font-weight: normal;
		margin-bottom: $gu-v-spacing * 4;

		svg {
			fill: gu-colour(neutral-1);
			// Fix for IE10.
			left: 190px;
		}

		&:hover {
			border-color: #000;
			color: #000;

			svg {
				fill: #000;
			}
		}
	}

	.component-social-share {
		margin-right: $gu-h-spacing / 2;

		svg {
			margin-top: $gu-v-spacing;
		}
	}

}
