.component-contributions-survey {
  .component-cta-link {
    margin-bottom: $gu-v-spacing * 3;
    margin-top: $gu-v-spacing * 2;

    @include mq($from: mobileMedium) {
      width: 300px;
    }
  }

  .component-cta-link--survey {
    background-color: gu-colour(highlight-main);
    color: gu-colour(brightness-7);

    &:hover {
      background-color: darken(gu-colour(highlight-main), 5%);
    }

    .svg-arrow-right-straight { fill: gu-colour(brightness-7) }

  }

  @include mq($from: desktop) {
    padding-left: $gu-h-spacing;
  }
}

.component-contributions-survey-section {
  border-bottom: 1px solid gu-colour(brightness-86);

  .component-contributions-survey {
    padding-top: $gu-v-spacing / 2;
  }

}