/*
Type defaults
*/
html,
dialog {
	font-family: 'GuardianTextEgyptian', Georgia, serif;
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
}

body {
	line-height: 1.5;
}

strong {
	font-weight: bolder;
}

/*
Assistive technologies guidance (non-visible)
*/
.visually-hidden {
	@include visually-hidden;
}

/*
Disable forms pre hydration
*/
[data-not-hydrated] {
	input,
	button {
		pointer-events: none;
	}
}
