@import '~stylesheets/gu-sass/gu-sass';

.component-checkout__form {
  @include mq($from:tablet) {
    max-width: gu-span(5);  
  }
  @include mq($from:desktop) {
    border-right: 1px solid gu-colour(garnett-neutral-4);
  }
}
