body {
  background: white;
  margin: 0;
  min-height: 100vh;
  padding: 0;
}

/*= HEADER */

header[role="banner"] {
  background-color: #e9eff1;
  border-bottom: 1px solid #dcdcdc;
}

.glogo {
  width: 69px;
  height: 69px;
}

/*= FOOTER */

footer[role="contentinfo"] {
  background: #333;
  color: #999;
  padding-bottom: 24px;
}

/* Support navigation */
.support__menu {
  list-style: none;
  margin: 0;
  padding: 0;
}

.support__item {
  padding-top: 4px;
}

.support__link {
  color: white;
  text-decoration: none;
}

/*= CONTENT */
.content {
  background: white;
  padding: 0 10px;
}

.form--contribution {
  display: flex;
  flex-direction: column;
}

.form__field {
  align-items: stretch;
  display: flex;
  flex-direction: column;
}

/*= BREAKPOINTS */

header[role="banner"] {
  height: 75px;
}

@media (min-width: 740px) {
  header[role="banner"],
  footer[role="contentinfo"] {
    padding: 0 calc(50% - 350px) 24px;
    width: 700px;
  }
  
  .content {
    border-color: #dcdcdc;
    border-style: none solid;
    border-width: 0 1px;
    width: 340px;
    margin-left: calc(50% - 361px); /* account for the 11px of negative margin */
  }

  header[role="banner"],
  footer[role="contentinfo"] {
    display: flex;
  }

  header[role="banner"] {
    align-items: flex-start;
    flex-direction: row-reverse;
    justify-content: space-between;
  }
  
  .license,
  .support {
    width: 340px;
  }

  .support {
    margin-left: 20px;
  }

  .support__menu {
    column-width: 160px;
    column-gap: 20px;
  }

  .support__item {
    margin-left: -10px;
    padding-left: 10px;
    border-left: 1px solid #999;
  }

}

@media (min-width: 1140px) {
  header[role="banner"],
  footer[role="contentinfo"] {
    padding: 0 calc(50% - 550px) 24px calc(50% - 390px);
    width: 940px;
  }

  .content {
    width: 300px;
    margin-left: calc(50% - 401px); /* account for the 11px of negative margin */
  }

  .license,
  .support {
    width: 460px;
  }
  
  .support__menu {
    column-width: 140px;
  }
}

@media (min-width: 1300px) {
  header[role="banner"],
  footer[role="contentinfo"] {
    padding: 0 calc(50% - 620px) 24px;
    width: 1240px;
  }
  
  .content {
    width: 300px;
    margin-left: calc(50% - 400px); /* account for the 11px of negative margin */
  }
  
  .license {
    width: 700px;
  }

  .support {
    width: 460px;
  }
}

/* @supports(display: grid) {
  body {
    display: grid;
    grid-template-rows: [header-t] 75px [header-b] 1fr [footer-t] auto [footer-b];
  }
  
  header[role="banner"] {
    height: auto;
    grid-row: header-t / header-b;
  }
  
  footer[role="contentinfo"] {
    grid-row: footer-t / footer-b;
  }
  
  .content {
    grid-row: header-b / footer-t;  
  }
    
  @media (min-width: 740px) {
    body,
    header[role="banner"],
    footer[role="contentinfo"] {
      padding: 0 0 24px;
      width: auto;

      grid-column-gap: 20px;
      grid-template-columns: 1fr repeat(8, 70px) 1fr;  
    }
    
    header[role="banner"],
    footer[role="contentinfo"] {
      display: grid;
      grid-column: span 10;
    }

    .glogo {
      grid-column: 9;
    }

    .countries {
      grid-column: 2 / 3;
      grid-row: 1;
    }
    
    .content {
      margin: 0 -11px;
        
      grid-column: 2 / 6;
    }

    .license {
      grid-column: 2 / 6;
      width: auto;
    }

    .support {
      grid-column: 6 / 10;
      margin-left: 0;
      width: auto;
    }
  }

  @media (min-width: 1140px) {
    body,
    header[role="banner"],
    footer[role="contentinfo"] {
      grid-column-gap: 20px;
      grid-template-columns: 1fr repeat(14, 60px) 1fr;  
      width: auto;
    }
    
    header[role="banner"],
    footer[role="contentinfo"] {
      grid-column: span 16;
    }

    .glogo {
      grid-column: 14;
      justify-self: flex-end;
    }

    .license {
      grid-column: 4 / 10;
    }
    
    .support {
      grid-column: 10 / 16;
    }

    .content {
      width: auto;
      grid-column: 4 / 8;
    }
  }  

  @media (min-width: 1300px) {
    body,
    header[role="banner"],
    footer[role="contentinfo"] {
      grid-column-gap: 20px;
      grid-template-columns: 1fr repeat(16, 60px) 1fr;  
    }  

    .glogo {
      grid-column: 16;
    }

    header[role="banner"],
    footer[role="contentinfo"] {
        grid-column: span 18;
    }

    .license {
      grid-column: 2 / 11;
    }

    .support {
      grid-column: 11 / 17;
    }

    .content {
      grid-column: 5 / 9;
    }
  }
} */

/*= TYPOGRAPHY */
body {
  color: #333;
  font: normal 16px/1.5  'Guardian Text Egyptian Web', Georgia, serif;
}

h1 {
  border-bottom: 1px solid #dcdcdc;
  color: #121212;
  font: bold 24px/1.25 'Guardian Egyptian Web', Georgia, serif;
  margin: 0 -10px;
  padding: 0 10px 12px;
}
 
input,
select,
textarea,
button {
  font: inherit;
}
  
.blurb {
  font-size: 14px;
  line-height: 1.4;
  margin: 3px 0 9px;
}

footer[role="contentinfo"] {
  font-family: 'Guardian Text Sans Web', 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif;
}

.license__txt {
  font-size: inherit;
}

.support {
  font-size: 14px;
}

form {
  font-family: 'Guardian Text Sans Web', 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif;
}

.form__radio-group--tabs {
  font-family: 'Guardian Egyptian Web', Georgia, serif;
  font-weight: bold;
}

/*= CONTRIBUTION FORM */
.form__radio-group {
  border: 0;
  margin: 0;
  padding: 0;
}

.form__legend--radio-group {
  display: none;
}

.form__radio-group__list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.form__radio-group__input {
  display: none;
}

.form__radio-group__label {
  cursor: pointer;
}

.form__radio-group--tabs .form__radio-group__list {
  display: flex;
}
    
.form__radio-group--tabs .form__radio-group__item {
  border-top: 1px solid #dcdcdc;
  flex: 1;
  margin: 0 -10px;
}

.form__radio-group--tabs .form__radio-group__item + .form__radio-group__item {
  border-left: 1px solid #dcdcdc;
}

.form__radio-group--tabs .form__radio-group__input + .form__radio-group__label {
  display: block;
  padding: 4px 10px 4px;
}

.form__radio-group--tabs .form__radio-group__input:checked + .form__radio-group__label {
  background: white;
  color: #00b2ff;
}
        
.form__radio-group--tabs .form__radio-group__input:not(:checked) + .form__radio-group__label {
  background: #f6f6f6;
  color: #999;
}

.form__radio-group--pills .form__radio-group__list {
  display: flex;
  justify-content: space-between;
}

.form__radio-group--pills .form__radio-group__item {
  width: 50px;
  height: 50px;
}

.form__radio-group--pills .form__radio-group__input + .form__radio-group__label {
  border: solid 1px #00b2ff;
  border-radius: 25px;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
}
  
.form__radio-group--pills .form__radio-group__input:checked + .form__radio-group__label {
  background: #00b2ff;
  color: #fff;
}

.form__radio-group--buttons .form__radio-group__item + .form__radio-group__item {
  margin-top: 6px;
}

.form__radio-group--buttons .form__radio-group__label {
  border: 1px solid #dcdcdc;
  border-radius: 20px;
  display: block;
  margin-bottom: 8px;
  padding: 9px 10px 9px 38px;
}

.form__radio-group--buttons .form__radio-group__input:checked + .form__radio-group__label {
  border-color: #00b2ff;
  font-weight: bold;
}
        
.form__label {
  font-weight: bold;
  line-height: 1;
  margin-bottom: 4px;
}

.form__input {
  appearance: none;
  background: white;
  border: 1px solid #dcdcdc;
  border-radius: 0;
  padding: 9px 10px 9px 38px;
  transition: all .2s ease-in-out;
}

.form__input:hover {
  box-shadow: 0 0 0 3px #ededed;
}

.form__input:focus {
  box-shadow: 0 0 0 3px #ffe500;
  outline: none;
}

.form__input--primed:invalid {
  border-color: #3db540;
}

.form__input::placeholder,
.form__placeholder {
  color: #999;
}

.form__error {
  background-color: rgba(61,181,64,.1);
  color: #236925;
  font-size: 14px;
  line-height: 16px;
  padding: 6px 10px;
}

.form__submit {
  display: flex;
  justify-content: flex-end;
  margin-top: 24px;
  padding-bottom: 30px;
}

.form__submit__button {
  background: #ffe500;
  border: none;
  border-radius: 20px;
  padding: 9px 20px;
}

.form__submit__button:hover,
.form__submit__button:focus {
  background: #e5ce00;
}

.form__radio-group--contribution-amount,
.form__field--contribution-other-amount,
.form__field--contribution-fname, 
.form__field--contribution-lname {
  margin-top: 12px;
}

.form__field--contribution-email, 
.form__field--contribution-state {
  margin-top: 24px;
}

.form__radio-group--contribution-pay {
  margin-top: 20px;
}
