{
  "presets": ["react", ["env", {"modules": false}]],
  "plugins": ["babel-plugin-transform-exponentiation-operator", "transform-class-properties"],
  "env": {
    "test": {
      "presets": ["es2015"]
    }
  }
}
