{
  "presets": [
    "react",
    [ "env", {
      "modules": false,
      "targets": {
        "browsers": [
          "Chrome >= 38",
          "ChromeAndroid >= 44",
          "Safari >= 8",
          "ios_saf >= 8",
          "IE >= 11",
          "Edge >= 12",
          "Firefox >= 44",
          "FirefoxAndroid > 44",
          "Samsung >= 4",
          "Opera >= 25",
          "OperaMini all"
        ]
      }
    }]
  ],
  "plugins": [
    "babel-plugin-transform-exponentiation-operator",
    "transform-class-properties",
    ["transform-object-rest-spread", { "useBuiltIns": true }],
  ],
  "env": {
    "test": {
      "presets": ["env"]
    }
  }
}
