{
  "parser": "babel-eslint",
  "extends": [
    "eslint:recommended",
    "airbnb",
    "plugin:flowtype/recommended",
  ],
  "env": {
    "amd": true,
    "browser": true,
    "node": true,
    "jest": true,
  },
  "parserOptions": {
    "ecmaVersion": 6,
  },
  "plugins": [
    "react",
    "flowtype"
  ],
  "globals": {
    "guardian": true,
    "React": true,
    "ga": true,
    "Raven": true,
  },
  "rules": {
    "curly": [2, "all"],
    "no-trailing-spaces": 2,
    "quotes": [2, "single"],
    "wrap-iife": 2,
    "no-console": 0,
    // For preact-compat, delete if switching to React.
    "import/no-duplicates": "off",
    "import/no-extraneous-dependencies": "off",
    "padded-blocks": "off",
    "import/prefer-default-export": "off",
    "jsx-a11y/label-has-for": [ 2, {
      "components": [ "Label" ],
      "required": {
        "some": [ "nesting", "id" ]
      },
      "allowChildren": false
    }]
  },
  "settings": {
    "import/resolver": "webpack",
    "flowtype": {
        "onlyFilesWithFlowAnnotation": true,
    },
  },
}
