.DS_Store
.bundle
.idea
.idea_modules
*.sublime-project
*.sublime-workspace

node_modules
npm-debug.log
app/npm-debug.log
coverage/

dev
logs
target
project/project

bower_components
public/stylesheets
assets/javascripts/lib/bower-components/

conf/keys.conf
conf/assets.map

assets/images/inline-svgs/*.svg
/assets/images/svg-sprite.svg
/public/compiled-assets/
/public/dist/
/public/webpack/
/public/images/
/public/**/*.js
/public/**/*.js.map
/assets/javascripts/lib/bower-components/
.yarnclean
