.DS_Store
.bundle
.idea
.idea_modules
*.iml
*.sublime-project
*.sublime-workspace
.vscode
.metals
metals.sbt
.bloop

node_modules
npm-debug.log
yarn-error.log
app/npm-debug.log
coverage/
package-lock.json

dev
logs
target
project/project
storybook-static
paparazzi

bower_components
public/stylesheets
assets/javascripts/lib/bower-components/

support-frontend/conf/keys.conf
support-frontend/conf/assets.map
support-frontend/conf/ssr-cache/
!support-frontend/conf/ssr-cache/.gitexists
support-frontend/public/compiled-assets/
support-frontend/tools/
support-frontend/Brewfile.lock.json
support-frontend/project
tools/

conf/assets.map
assets/images/inline-svgs/*.svg
/assets/images/svg-sprite.svg
/public/compiled-assets/
/public/dist/
/public/webpack/
/public/images/
/public/**/*.js
!/public/assets-new-ui/scripts.js
/public/**/*.js.map
/assets/javascripts/lib/bower-components/
.yarnclean
/.bsp/
supporter-product-data/data-extracts/*.csv
