.weekly-form {
  margin-bottom: $gu-v-spacing * 2;
  @include mq($from: tablet) {
    display: flex;
    align-items: stretch;
  }
}

.weekly-form > .weekly-form__item {
  flex: 0 0 25%;
  padding: 0 $gu-h-spacing/2;
  box-sizing: border-box;
  margin-bottom: $gu-v-spacing;
  @include mq($from: tablet) {
    margin-bottom: 0;
  }
}

.weekly-form__info {
  padding-top: $gu-v-spacing * 2;
  padding-bottom: $gu-v-spacing * 2.5;
  color: gu-colour(garnett-neutral-5);
  font-family: $gu-text-sans-web;
  font-size: 16px;
  svg {
    display: inline-block;
    vertical-align: text-bottom;
    margin-right: $gu-h-spacing / 4;
    circle {
      fill: gu-colour(header-border);
    }
  }
}

.weekly-form__cta {
  @include mq($until: tablet) {
    position: sticky;
    bottom: 0;
    background: rgba(0,0,0,.75);
    margin: $gu-v-spacing * -1 $gu-h-spacing * -.5;
    padding: $gu-v-spacing $gu-h-spacing * .5;
  }
}
