.weekly-cta {
  font-size: 16px;
  line-height: 1.2;
  display: inline-flex;
  align-items: center;
  text-decoration: none;
  font-family: $gu-text-sans-web;
  font-weight: bold;
  padding: ($gu-v-spacing) $gu-h-spacing;
  background-color: gu-colour(news-garnett-highlight);
  color: gu-colour(garnett-neutral-1);
  border: none;
  border-radius: 600px;
  cursor: pointer;
  transition: background-color .2s;
  will-change: background-color;

  &:hover, &:focus {
    background-color: gu-colour(highlight-dark);
    outline: 0;
  }

  &[disabled], &[data-disabled] {
    opacity: .5;
    pointer-events: none;
  }
}

.weekly-cta__content,
.weekly-cta svg {
  flex: 0 0 auto;
  display: block;
}

.weekly-cta svg {
  width: $gu-h-spacing * 1.5;
  margin: $gu-v-spacing * -1 $gu-h-spacing * -.5 $gu-v-spacing * -1 $gu-h-spacing * .5;
}
