.weekly-content-block .component-left-margin-section__content {
  @include mq($from: tablet) {
    border-left: 1px solid gu-colour(garnett-neutral-4);
  }
}

.weekly-content-block--grey {
  background-color: gu-colour(garnett-neutral-3);
  .component-left-margin-section__content {
    border-left: 0;
    margin-left: -1px;
  }
}

.weekly-content-block--feature {
  background-color: gu-colour(header-dark);
  color: gu-colour(garnett-neutral-5);
  .component-left-margin-section__content {
    border-color: gu-colour(header-border);
  }
  .weekly-feature-list .weekly-feature-list__item {
    border-color: gu-colour(garnett-neutral-5);
  }
}

.weekly-content-block--dark {
  background-color: gu-colour(garnett-neutral-7);
  color: gu-colour(garnett-neutral-5);
  .component-left-margin-section__content {
    border-color: gu-colour(garnett-neutral-5);
  }
}

.weekly-content-block__content {
  max-width: 1180px;
  padding: ($gu-v-spacing/2) ($gu-h-spacing / 2) 0;
}

.weekly-content-block {
  .weekly-feature-list,
  .weekly-form {
    margin-left: ($gu-h-spacing / 2 * -1);
    margin-right: ($gu-h-spacing / 2 * -1);
  }
  .weekly-text-block {
    margin-bottom: ($gu-v-spacing*2)
  }
}
