.weekly-feature-list {
  display: flex;
}

.weekly-feature-list__title {
  font-size: 24px;
  font-weight: 200;
  line-height: 1.16;
  font-family: $gu-headline;
}

.weekly-feature-list__item {
  flex: 0 0 25%;
  box-sizing: border-box;
  padding: 0 ($gu-h-spacing / 2) ($gu-v-spacing*2);
  &:not(:last-child) {
    border-right: 1px solid gu-colour(garnett-neutral-4);
  }
}
