.weekly-hero {
  background: gu-colour(header-dark);
  overflow: hidden;
  .component-left-margin-section__content {
    @include mq($from: tablet) {
      border-left: 1px solid gu-colour(header-border);
      .component-heading-block {
        margin-left: -1px;
      }    
    }
  }
}

.weekly-hero-hanger {
  background: gu-colour(garnett-neutral-5);
  .component-left-margin-section__content {
    @include mq($from: tablet) {
      border-left: 1px solid gu-colour(garnett-neutral-4);
      .weekly-hero-hanger__content {
        margin-left: -1px;
      }
    }
    @include multiline-bottom-border;
  }
}

.weekly-hero-hanger__content {
  border-top: 1px solid #ffffff;
  padding: $gu-v-spacing  ($gu-h-spacing / 2);
  background: gu-colour(garnett-neutral-1);
  color: #ffffff;
}

.weekly-hero__headline {
  color: gu-colour(garnett-neutral-5);
  font-family: $gu-headline;
  font-size: 48px;
  font-weight: bold;
  line-height: 1;
  display: block;
  max-width: 430px;
  margin-bottom: 240px;
  padding: $gu-v-spacing/2  $gu-h-spacing/2;
}
