.weekly-form-label-wrap {
  position: relative;
  height: 100%;
}

.weekly-form-label-wrap__input {
  position: absolute;
  opacity: 0;
}

.weekly-form-label {
  font-family: $gu-text-sans-web;
  background: gu-colour(sport-garnett-feature);
  border: 1px solid gu-colour(sport-garnett-main-1);
  display: block;
  height: 100%;
  cursor: pointer;
  transition: .2s;
  will-change: background-color box-shadow;
}

.weekly-form-label__title,
.weekly-form-label__copy {
  padding: $gu-v-spacing/2 $gu-h-spacing/2;
  display: block;
}

.weekly-form-label__title {
  font-weight: 600;
  font-size: 20px;
  position: relative;
  border-bottom: 1px solid gu-colour(sport-garnett-main-1);
}

.weekly-form-label__offer {
  color: gu-colour(news-garnett-highlight);
  font-weight: 600;
  display: block;
}

.weekly-form-label__copy {
  padding-bottom: $gu-v-spacing;
}

.weekly-form-label__check {
  display: flex;
  align-items: center;
  justify-content: center;
  width: $gu-v-spacing * 2.3;
  height: $gu-v-spacing * 2.3;
  border-radius: 100%;
  background: gu-colour(garnett-neutral-1);
  position: absolute;
  top: 0;
  bottom: 0;
  right: 3px;
  margin: auto;
  transform: translateY(5px);
  opacity: 0;
  transition: .2s;
  svg {
    width: 75%;
    fill: gu-colour(news-garnett-highlight);
  }
}
.weekly-form-label-wrap__input:hover + .weekly-form-label,
.weekly-form-label-wrap__input:focus + .weekly-form-label {
  box-shadow: 0 0 0 2px rgba(gu-colour(garnett-neutral-5),.25);
}

.weekly-form-label-wrap__input:checked + .weekly-form-label {
  background: gu-colour(news-garnett-highlight);
  border-color: rgba(0,0,0,.3);
  color: gu-colour(garnett-neutral-1);
  .weekly-form-label__check {
    transform: translateY(0);
    opacity: 1;
  }
  .weekly-form-label__offer {
    color: inherit;
  }
  &, .weekly-form-label__title {
    border-color: rgba(0,0,0,.3)
  }
}
