.svg-guardian-titlepiece {
	.guardian-titlepiece-0 {
		fill: #fff;
	}

	.guardian-titlepiece-1 {
		fill: #aadce6;
	}
}

.svg-paypal-logo {
	.paypal-logo-1 {
		fill-opacity: 0;
	}

	.paypal-logo-2 {
		fill: #273982;
	}

	.paypal-logo-3 {
		fill: #2299d6;
	}

	.paypal-logo-4 {
		fill: #273881;
	}

	.paypal-logo-5 {
		fill: #232c65;
	}
}

.svg-amex-logo {
	.amex-logo-1 {
		fill: #246faa;
	}
	.amex-logo-2 {
		fill: #fff;
		fill-rule: evenodd;
	}
}

.svg-visa-logo {
	.visa-logo-0 {
		fill: #faa336;
	}

	.visa-logo-1 {
		fill: #213265;
	}

	.visa-logo-2 {
		fill: #213265;
	}
}

.svg-mastercard-logo {
	.mastercard-logo-0 {
		fill: #f69e1e;
	}

	.mastercard-logo-1 {
		fill: #ea1d25;
	}

	.mastercard-logo-2 {
		fill: #f26122;
	}

	.mastercard-logo-3 {
		fill: #333;
	}
}

.svg-scribble,
.svg-advertising-graph-mobile,
.svg-advertising-graph-desktop,
.svg-paywall-mobile,
.svg-paywall-desktop,
.svg-paywall-wide,
.svg-breaking-the-headlines,
.svg-no-one,
.svg-with-support {
	font-family: $gu-headline;
}
