// -----  gu-sass ----- //
@import '~stylesheets/skeleton/skeleton';

// ----- Shared Components ----- //
@import '~components/pageSection/pageSection';
@import '~components/leftMarginSection/leftMarginSection';
@import '~components/content/content';


// ----- Page ----- //
#error-404-page,
#error-500-page,
#down-for-maintenance-page {
	.component-page-section--ctas {
		@include multiline-top-border;

		.component-page-section__header {
			@include dropline;
		}

		.component-page-section__body {
			padding-top: $gu-v-spacing * 0.5;
			padding-bottom: $gu-v-spacing * 2;

			@include mq($from: desktop) {
				padding-left: $gu-h-spacing;
			}
		}

		.svg-arrow-right-straight {
			fill: gu-colour(neutral-7);
		}
	}

	.error-copy {
		margin-bottom: $gu-v-spacing * 2;

		@include mq($from: phablet) {
			width: 500px;
		}
	}

	.error-copy__link {
		color: inherit;
	}
}
