// -----  gu-sass ----- //

@import '~stylesheets/gu-sass/gu-sass';


// ----- Page-Specific Styles ----- //

.unsupported-browser__header {
  background-color: gu-colour(nav-background-colour);

  .svg-guardian-logo {
    height: 100%;
  }

  border-bottom: 1px solid gu-colour(nav-rule);
}

.unsupported-browser__header-link {
  float: right;
  height: 100%;
}

.unsupported-browser__header-content {
  padding: ($gu-v-spacing / 2) 0 $gu-v-spacing;
  height: 68px;

  @include mq($from: mobileMedium) {
    height: 78px;
  }

  @include mq($from: mobileLandscape) {
    height: 85px;
    padding-left: $gu-h-spacing;
    padding-right: $gu-h-spacing;
  }

  @include mq($from: phablet) {
    padding-left: 0;
    padding-right: 0;
  }

  @include mq($from: tablet) {
    height: 104px;
  }
}

.unsupported-browser__introduction-text {
  background-color: #e9e939;
  padding-top: 5px;
  padding-bottom: 5px;
  margin-top: 5px;
  margin-bottom: 5px;
}

.unsupported-browser__why-support {
  @include gu-content-filler;
  padding-bottom: $gu-v-spacing * 2;
}

.unsupported-browser__why-support-heading {
  font-weight: 700;
  font-family: $gu-egyptian-web;
  font-size: 24px;
  padding: $gu-v-spacing 0 0;
}

.unsupported-browser__why-support-subheading {
  font-weight: 700;
  font-family: $gu-egyptian-web;
  font-size: 20px;
  padding: $gu-v-spacing 0;
}

.unsupported-browser__why-support-copy {
  @include mq($from: desktop) {
    width: 60%;
  }
}

.unsupported-browser__footer {
  background-color: gu-colour(garnett-neutral-1);
  font-family: $gu-text-sans-web;
  font-size: 12px;
  line-height: 16px;
  padding: $gu-v-spacing 0;
}

.unsupported-browser__footer-privacy-policy {
  text-decoration: none;
  color: gu-colour(neutral-4);
  padding: 5px 0;
}

.unsupported-browser__footer-privacy-policy:hover {
  text-decoration: underline;
}

.unsupported-browser__footer-copyright, .unsupported-browser__footer-legal {
  font-weight: 400;
  display: block;
  padding: 3px 0;
  color: gu-colour(neutral-4);
}

.unsupported-browser__footer-legal {
  margin-top: $gu-v-spacing;
  font-family: $gu-text-sans-web;
  font-size: 12px;
}

.unsupported-browser__footer-legal-link {
  color: inherit;
}
