.component-page-section__header {
  @include mq($from: desktop) {
    display: inline-block;
    vertical-align: top;
    width: 20%;
  }
}

.component-page-section__body {
  @include mq($from: desktop) {
    display: inline-block;
    width: 80%;
  }
}
