.component-page-section__header {
  @include mq($from: desktop) {
    display: inline-block;
    vertical-align: top;
    width: 220px;
  }
}

.component-page-section__body {
  @include mq($from: desktop) {
    display: inline-block;
  }
}
