// -----  gu-sass ----- //
@import '~stylesheets/skeleton/skeleton';
@import '~stylesheets/gu-sass/gu-sass';

// ----- Shared Components ----- //

@import '~components/ctaLink/ctaLink';
@import '~components/footer/footer';
@import '~components/headers/header/header';
@import '~components/highlights/highlights';
@import '~components/introduction/introduction';
@import '~components/pageSection/pageSection';
@import '~components/svgs/svg';

/****************** Copy ********************/
.subscriptions__product--feature .subscriptions__copy-wrapper {
	top: 0;
	transform: none;
}

.subscriptions__product-title {
	font-size: 34px;
	line-height: 30px;
	font-weight: bold;
	font-family: $gu-headline;
	margin: 0;
	line-height: 1.2;

	@include mq($until: desktop) {
		font-size: 32px;
	}

	@include mq($until: tablet) {
		font-size: 34px;
		line-height: 34px;
	}

	@include mq($until: mobileLandscape) {
		font-size: 24px;
		line-height: 28px;
	}

	@include mq($until: mobileMedium) {
		font-size: 22px;
		line-height: 22px;
	}
}

.subscriptions__sales {
	font-size: 28px;
	line-height: 30px;
	font-weight: 300;
	display: inline-block;
	color: gu-colour(neutral-7);
	background-color: gu-colour('highlight-main');
	vertical-align: middle;
	padding: 0px 7px 3px;
	margin: 6px 0px;

	@include mq($until: desktop) {
		font-size: 24px;
	}

	@include mq($until: tablet) {
		font-size: 24px;
		line-height: 30px;
	}

	@include mq($until: mobileLandscape) {
		font-size: 20px;
		line-height: 24px;
	}
}

.subscriptions__product-subtitle--large {
	font-size: 28px;
	line-height: 30px;
	font-weight: 300;
	font-family: $gu-headline;

	@include mq($until: desktop) {
		font-size: 24px;
	}

	@include mq($until: tablet) {
		font-size: 24px;
		line-height: 30px;
	}

	@include mq($until: mobileLandscape) {
		font-size: 20px;
		line-height: 24px;
	}
}

.subscriptions__product-subtitle--small {
	font-size: 24px;
	line-height: 27px;
	font-weight: 300;
	font-family: $gu-headline;

	@include mq($until: desktop) {
		font-size: 20px;
	}

	@include mq($until: mobileLandscape) {
		font-size: 18px;
		line-height: 24px;
	}

	@include mq($until: mobileMedium) {
		font-size: 16px;
		line-height: 20px;
	}
}

.subscriptions__product--feature .subscriptions__sales {
	color: gu-colour(neutral-7);
}

/****************** subscriptions__product-button ********************/

.subscriptions__button-container,
.subscriptions__button-container--feature,
.subscriptions__button-container--feature--benefits {
	display: block;

	@include mq($from: phablet) {
		width: 80%;
		padding-bottom: 20px;
	}

	@include mq($from: tablet) {
		display: inline-block;
		padding-bottom: 0;
	}

	@include mq($from: desktop) {
		width: 100%;
		padding-bottom: 20px;
	}

	.component-button:nth-of-type(2) {
		margin-top: 10px;

		@include mq($from: desktop) {
			margin-top: 0;
			margin-left: 5px;
		}
	}
}

.subscriptions__button-container--feature,
.subscriptions__button-container--feature--benefits {
	.component-button:nth-of-type(2) {
		@include mq($from: mobileLandscape) {
			margin-left: 10px;
			margin-top: 0;
		}

		@include mq($from: tablet) {
			margin-left: 0;
			margin-top: 10px;
		}

		@include mq($from: desktop) {
			margin: 0 0 0 10px;
		}
	}
}

/****************** digital ********************/

.subscriptions__digital.subscriptions__product {
	color: gu-colour(neutral-100);
	background-color: #052962;

	.subscriptions__digital-feature-packshot {
		width: 100%;

		@include mq($from: tablet) {
			position: absolute;
			bottom: 0;
		}

		img {
			width: 100%;
			vertical-align: bottom;
		}
	}
}

/****************** guardian weekly ********************/

.subscriptions__guardian-weekly.subscriptions__product--feature {
	color: #000;
	background-color: #cadbe8;

	.subscriptions__image-container {
		right: 0;
		margin-bottom: 0;
		position: relative;
	}

	.subscriptions__copy-container {
		background-color: #cadbe8;
	}

	.subscriptions-feature-packshot {
		width: 100%;

		@include mq($from: tablet) {
			position: absolute;
			bottom: 0;
		}

		img {
			width: 100%;
			vertical-align: bottom;
		}
	}

	.component-button--primary.component-button--guardian-weekly {
		color: #ffffff;
		background-color: #333333;
	}

	.component-button--tertiaryFeature.component-button--guardian-weekly,
	.component-button--tertiaryFeature.component-button--guardian-weekly:hover,
	.component-button--tertiaryFeature.component-button--guardian-weekly:focus {
		color: #333333;
		border: solid 1px #333333;
		background-color: transparent;
	}
}

.subscriptions__digital.subscriptions__product--feature {
	.component-button--primary.component-button--digital {
		color: gu-colour(neutral-7);
		background-color: #ffe500;
	}

	.component-button--primary.component-button--digital:hover,
	.component-button--primary.component-button--digital:focus {
		background-color: gu-colour(highlight-dark);
	}

	.component-button--tertiaryFeature.component-button--digital,
	.component-button--tertiaryFeature.component-button--digital:hover,
	.component-button--tertiaryFeature.component-button--digital:focus {
		color: #ffe500;
		border: solid 1px #ffe500;
		background-color: transparent;
	}
}

/****************** packshots ********************/

.subscriptions__paper-packshot {
	width: 382px;

	@include mq($until: tablet) {
		//position: static;
		width: 100%;
	}

	img:nth-child(1) {
		z-index: 2;
		left: 80px;
		position: absolute;
		bottom: 0;

		@include mq($until: leftCol) {
			left: 50px;
			width: 90%;
		}

		@include mq($until: desktop) {
			left: 20px;
		}

		@include mq($until: tablet) {
			width: 100%;
			position: inherit;
		}
	}
}

/**** FOOTER HACK ****/
#subscriptions-landing-page {
	.component-left-margin-section:before {
		content: none;
	}

	.component-content.component-content--feature,
	.component-left-margin-section__content {
		margin: 0 auto;
		max-width: 1290px;
	}
}
