// -----  gu-sass ----- //
@import '~stylesheets/skeleton/skeleton';
@import '~stylesheets/gu-sass/gu-sass';

// ----- Shared Components ----- //

@import '~components/ctaLink/ctaLink';
@import '~components/footer/footer';
@import '~components/headers/header/header';
@import '~components/highlights/highlights';
@import '~components/introduction/introduction';
@import '~components/pageSection/pageSection';
@import '~components/svgs/svg';

// ----- Page-Specific Styles ----- //

#subscriptions-landing-page {
	.component-cta-link--android {
		margin-top: $gu-v-spacing;
	}

	.component-subscriptions-by-country-group--us
		.component-double-heading__subheading {
		font-size: 24px;
	}

	strong {
		font-weight: bold;
	}
}

[class^='subscriptions'] {
	box-sizing: border-box;
}

.subscriptions-landing-page {
	width: 100%;
}

.subscriptions__feature {
	padding: 50px 0 55px;
	width: 100%;
	background-color: gu-colour('highlight-main');

	@include mq($until: tablet) {
		padding: 30px 0 30px 20px;
	}

	@include mq($until: mobileLandscape) {
		padding: 30px 0 30px 10px;
	}
}

.subscriptions__feature-container {
	max-width: 1290px;
	margin: 0 auto;
	width: 100%;
}

.subscriptions__feature-text {
	max-width: 400px;
	font-size: 28px;
	line-height: 30px;
	padding-left: 10px;
	font-family: $gu-titlepiece;
	font-weight: bold;
	padding-right: 10px;
	color: gu-colour(neutral-7);

	@include mq($from: mobileLandscape) {
		max-width: 500px;
		font-size: 40px;
		line-height: 42px;
		padding-right: 20px;
	}

	@include mq($from: tablet) {
		max-width: 700px;
		line-height: 45px;
	}

	@include mq($from: desktop) {
		max-width: 800px;
		padding-left: 70px;
		font-size: 50px;
		line-height: 55px;
	}

	@media (min-width: 1299px) {
		padding-left: 50px;
	}
}

/****************** subscriptions product-container ********************/

.subscriptions__product-container {
	position: relative;
	padding: 0 0 40px;
	background-color: gu-colour(neutral-93);

	@include mq($from: desktop) {
		padding: 0 20px 40px;
	}
}

.subscriptions__product-container::after {
	content: ' ';
	position: absolute;
	width: 100%;
	height: 100px;
	border-bottom: 1px solid gu-colour(neutral-86);
	background-color: gu-colour('highlight-main');
	display: block;
	top: 0;
	left: 0;
}

/****************** subscriptions product ********************/
.subscriptions__product {
	position: relative;
	display: flex;
	align-items: stretch;
	width: 100%;
	margin: 0 auto;
	flex-wrap: wrap;
	max-width: 1290px;
	border: 1px solid gu-colour(neutral-86);
	min-height: 320px;
	background-color: gu-colour(neutral-97);
	margin-top: 40px;
	z-index: 1;

	@include mq($until: desktop) {
		min-height: 250px;
	}

	@include mq($until: desktop) {
		margin: 20px auto;
		width: calc(100% - 40px);
		min-height: 0;
	}

	@include mq($until: mobileLandscape) {
		width: calc(100% - 20px);
	}
}
.subscriptions__product:first-child {
	margin-top: 0;
}

.subscriptions__product:nth-child(odd) {
	@include mq($from: tablet) {
		flex-direction: row-reverse;
	}

	.subscriptions__description {
		position: relative;
	}

	.subscriptions__description::before {
		width: 200%;
		right: 0;
	}
}

.subscriptions__product--reverse {
	@include mq($until: tablet) {
		padding-bottom: 30px;
	}
}
/****************** subscriptions product--feature ********************/

.subscriptions__product.subscriptions__product--feature {
	color: gu-colour('neutral-100');
	border: none;
	padding-top: 10px;
	background-color: gu-colour('brand-main');
	overflow: hidden;

	@include mq($until: tablet) {
		padding-top: 0;
	}
}

.subscriptions__product.subscriptions__product--feature::before {
	content: none;
}

.subscriptions__feature-image-wrapper {
	overflow: hidden;
	display: initial;
}

/****************** subscriptions copy-container / image-container ********************/

.subscriptions__copy-container {
	position: relative;
	width: 70%;

	@include mq($until: tablet) {
		z-index: 1;
	}

	@include mq($until: mobileMedium) {
		width: 65%;
	}

	overflow: hidden;
}

.subscriptions__image-container {
	position: relative;
	overflow: hidden;
	width: 30%;

	@include mq($until: mobileMedium) {
		width: 35%;
	}
}

.subscriptions__copy-container,
.subscriptions__image-container {
	@include mq($from: tablet) {
		width: 50%;
	}
}

.subscriptions__image-container.subscriptions__product--feature {
	padding: 10px 10px 0 10px;
	width: 100%;
	margin-bottom: -40px;

	@include mq($from: tablet) {
		position: relative;
		right: -15px;
		width: 50%;
		padding: 0;
	}

	@media (min-width: 881px) {
		bottom: 0;
	}

  // WHY DO WE DO THIS?
	@include mq($from: desktop) {
		right: -50px;
	}

  // WHY DO WE DO THIS?
	@include mq($from: leftCol) {
		right: -80px;
	}
}

.subscriptions__copy-container.subscriptions__product--feature {
	position: relative;
	width: 100%;

	@include mq($from: tablet) {
		width: 50%;
	}

	.subscriptions__copy-wrapper {
		padding: 0 10px 10px;
		@include mq($from: tablet) {
			padding: 0 20px 20px 20px;
		}

		@include mq($from: desktop) {
			padding-left: 50px;
		}
	}

	@include mq($until: tablet) {
		position: relative;
		width: 100%;
	}
}

/****************** Copy ********************/
.subscriptions__product--feature .subscriptions__copy-wrapper {
	top: 0;
	transform: none;
}

.subscriptions__copy-wrapper {
	position: relative;
	padding: 0 80px;

	@include mq($until: leftCol) {
		padding: 0 50px;
	}

	@include mq($until: desktop) {
		padding: 6px 20px 20px;
		top: 0;
		transform: translateY(0);
	}

	@include mq($until: phablet) {
		padding: 6px 0 30px 10px;
		position: static;
		transform: none;
	}
}

.subscriptions__copy-container.subscriptions__product--feature
	.subscriptions__product-title {
	font-size: 42px;

	@include mq($until: tablet) {
		font-size: 34px;
		line-height: 34px;
		padding-top: 15px;
	}

	@include mq($until: mobileLandscape) {
		font-size: 24px;
		line-height: 28px;
	}

	@include mq($until: mobileMedium) {
		font-size: 22px;
		line-height: 22px;
	}
}

.subscriptions__product-title {
	font-size: 34px;
	line-height: 30px;
	font-weight: bold;
	font-family: $gu-headline;
	margin: 0;
	line-height: 1.2;
	vertical-align: middle;

	@include mq($until: desktop) {
		font-size: 32px;
	}

	@include mq($until: tablet) {
		font-size: 34px;
		line-height: 34px;
	}

	@include mq($until: mobileLandscape) {
		font-size: 24px;
		line-height: 28px;
	}

	@include mq($until: mobileMedium) {
		font-size: 22px;
		line-height: 22px;
	}
}

.subscriptions__sales {
	font-size: 28px;
	line-height: 30px;
	font-weight: 300;
	display: inline-block;
	background-color: gu-colour('highlight-main');
	vertical-align: middle;
	padding: 0px 7px 3px;
	margin: 6px 0px;

	@include mq($until: desktop) {
		font-size: 24px;
	}

	@include mq($until: tablet) {
		font-size: 24px;
		line-height: 30px;
	}

	@include mq($until: mobileLandscape) {
		font-size: 20px;
		line-height: 24px;
	}
}

.subscriptions__product-subtitle--large {
	font-size: 28px;
	line-height: 30px;
	font-weight: 300;
	font-family: $gu-headline;

	@include mq($until: desktop) {
		font-size: 24px;
	}

	@include mq($until: tablet) {
		font-size: 24px;
		line-height: 30px;
	}

	@include mq($until: mobileLandscape) {
		font-size: 20px;
		line-height: 24px;
	}
}

.subscriptions__product-subtitle--small {
	font-size: 24px;
	line-height: 27px;
	font-weight: 300;
	font-family: $gu-headline;

	@include mq($until: desktop) {
		font-size: 20px;
	}

	@include mq($until: mobileLandscape) {
		font-size: 18px;
		line-height: 24px;
	}

	@include mq($until: mobileMedium) {
		font-size: 16px;
		line-height: 20px;
	}
}

.subscriptions__description {
	font-weight: 400;
	margin: 45px 20px 25px 0;
	font-size: 20px;
	line-height: 28px;

	@include mq($until: desktop) {
		margin: 27px 20px 25px 0;
		font-size: 16px;
		line-height: 18px;
	}

	@include mq($until: tablet) {
		max-width: 100%;
	}

	@include mq($until: mobileLandscape) {
		font-size: 14px;
		line-height: 16px;
		margin: 16px 20px 18px 0;
	}

	@include mq($until: mobileMedium) {
		margin: 16px 10px 18px 0;
	}
}

.subscriptions__description::before {
	content: '';
	position: absolute;
	border-top: 1px solid gu-colour(neutral-86);
	width: 100%;
	margin-top: -6px;
}
.subscriptions__product--feature .subscriptions__description::before {
	border-top: solid #9AA4AD 1px;

	@include mq($until: tablet) {
		border-top: none;
	}
}

.subscriptions__product--feature .subscriptions__sales {
	color: gu-colour(neutral-7);
}
/****************** product-image ********************/

.subscriptions-packshot {
	width: 100%;
	padding: 6px;
	.subscriptions-int-daily-packshot {
		width: 100%;

		@include mq($from: tablet) {
			width: 90%;
		}

		@include mq($from: leftCol) {
			width: 85%;
		}
	}
}

/****************** subscriptions__product-button ********************/

.subscriptions__button-container,
.subscriptions__button-container--feature {
	display: block;

	@include mq($from: phablet) {
		width: 80%;
		padding-bottom: 20px;
	}

	@include mq($from: tablet) {
		display: inline-block;
		padding-bottom: 0;
	}

	@include mq($from: desktop) {
		width: 100%;
		padding-bottom: 20px;
	}

	.component-button:nth-of-type(2) {
		margin-top: 10px;

		@include mq($from: desktop) {
			margin-top: 0;
			margin-left: 5px;
		}

		@include mq($from: leftCol) {
			margin-left: 10px;
		}
	}
}

.subscriptions__button-container--feature {
	@include mq($until: phablet) {
		padding-bottom: 10px;
	}

	.component-button:nth-of-type(2) {
		@include mq($from: mobileLandscape) {
			margin-left: 10px;
			margin-top: 0;
		}

		@include mq($from: tablet) {
			margin-left: 0;
			margin-top: 10px;
		}

		@include mq($from: desktop) {
			margin: 0 0 0 10px;
		}
	}
}

.component-button--subscriptions__product-button {
	@include mq($until: mobileMedium) {
		font-size: 12px;
	}
}

/****************** guardian weekly ********************/

.subscriptions__guardian-weekly.subscriptions__product--feature
{
  color: #000;
	background-color: #cadbe8;

  .subscriptions__image-container {
    right: 0;
    margin-bottom: 0;
    position: relative;
  }

  .subscriptions-feature-packshot {
    width: 100%;


    @include mq($from: tablet) {
      position: absolute;
      bottom: 0;
    }

    img {
      width: 100%;
      vertical-align: bottom;
    }
  }

  .component-button--primary.component-button--guardian-weekly {
    color: #ffffff;
    background-color: #333333;
  }

  .component-button--primary.component-button--guardian-weekly:hover,
  .component-button--primary.component-button--guardian-weekly:focus {
    background-color: #121212;
  }

  .component-button--tertiaryFeature.component-button--guardian-weekly,
  .component-button--tertiaryFeature.component-button--guardian-weekly:hover,
  .component-button--tertiaryFeature.component-button--guardian-weekly:focus {
    color: #333333;
    border: solid 1px #333333;
    background-color: transparent;
  }
}

/****************** premium app ********************/

.subscriptions__premuim-app {
	display: none;

	@include mq($until: tablet) {
		display: flex;
	}
}

.component-grid-image--subscriptions-premium-image {
	position: relative;
	width: 100%;
	max-width: 130px;
	top: 0;
	left: 50%;
	transform: translate(-50%);
}

.subscriptions-print-feature--packshot {
	@include mq($from: tablet) {
		margin-top: 45px;
	}

	@include mq($from: leftCol) {
		margin-top: 20px;
	}
}

.component-grid-image--subscriptions-print-feature-image {
	width: 100%;

	@include mq($from: tablet) {
		width: 566px;
	}
}
/****************** packshots ********************/
.subscriptions-feature-packshot {
	width: 140%;

	@include mq($from: tablet) {
		width: 600px;
		margin-top: 45px;
	}

	@include mq($from: leftCol) {
		margin-top: 20px;
	}

	img {
		width: 100%;

		@include mq($from: desktop) {
			width: 700px;
			right: -50px;
		}

		@include mq($from: leftCol) {
			right: -80px;
		}

		@include mq($from: wide) {
			width: 800px;
		}
	}
}

.subscriptions__guardian-weekly-packshot {
	position: relative;
	width: 100%;

  @include mq($from: tablet) {
    position: absolute;
    bottom: 0;
	}

	img {
		width: 100%;
    vertical-align: bottom;
	}
}

.subscriptions__paper-packshot {
	width: 382px;

	@include mq($until: desktop) {
		width: 357px;
	}

	@include mq($until: tablet) {
		position: static;
		width: 100%;
	}

	img:nth-child(1) {
		z-index: 2;
		left: 80px;
		position: absolute;
		bottom: 0;

		@include mq($until: leftCol) {
			left: 50px;
			width: 90%;
		}

		@include mq($until: desktop) {
			left: 20px;
		}

		@include mq($until: tablet) {
			width: 100%;
			position: inherit;
		}
	}

	img:nth-child(2) {
		z-index: 1;
		left: 50%;
		transform: translateX(-50%);
		bottom: -150px;

		@include mq($until: leftCol) {
			bottom: -120px;
		}

		@include mq($until: desktop) {
			bottom: -80px;
		}

		@include mq($until: tablet) {
			position: static;
			width: 100%;
			left: 0;
			transform: none;
		}
	}

	img:nth-child(3) {
		right: 80px;

		@include mq($until: leftCol) {
			right: 50px;
		}

		@include mq($until: desktop) {
			right: 20px;
		}

		@include mq($until: tablet) {
			display: none;
		}
	}
}

.paper-and-digital-packshot {
	width: 370px;

	@include mq($until: desktop) {
		width: 357px;
	}

	@include mq($until: tablet) {
		position: static;
		width: 100%;
	}

	img {
		position: absolute;
		bottom: 0;
	}

	img:nth-child(1) {
		bottom: -37px;
		left: 80px;

		@include mq($until: leftCol) {
			left: 50px;
		}

		@include mq($until: desktop) {
			left: 20px;
		}

		@include mq($until: tablet) {
			display: none;
		}
	}

	img:nth-child(2) {
		bottom: -120px;
		left: 50%;
		transform: translateX(-50%);

		@include mq($until: tablet) {
			position: static;
			width: 100%;
			display: none;
		}
	}

	img:nth-child(3) {
		bottom: -72px;
		right: 80px;

		@include mq($until: leftCol) {
			bottom: -86px;
			right: 50px;
		}

		@include mq($until: desktop) {
			right: 20px;
			bottom: -56px;
		}

		@include mq($until: tablet) {
			display: none;
		}
	}

	img:nth-child(4) {
		position: relative;
		width: 100%;

		@include mq($from: tablet) {
			display: none;
		}
	}
}

.subscriptions-int-feature-packshot {
	position: absolute;
	bottom: -30px;
	left: 50%;
	transform: translateX(-50%);
	width: 450px;

	@include mq($until: desktop) {
		width: 377px;
		left: 45%;
		transform: translateX(-45%);
	}

	@include mq($until: tablet) {
		position: static;
		bottom: 0;
		width: 100%;
		left: 0;
		transform: translateX(0);
	}

	img {
		width: 450px;

		@include mq($until: desktop) {
			width: 90%;
		}

		@include mq($until: tablet) {
			width: 100%;
		}
	}
}

.subscriptions-int-daily-packshot {
	position: relative;
	width: 100%;

	img {
		position: absolute;
		width: 100%;
	}

	@include mq($from: tablet) {
		position: absolute;
		padding: 0px;

		img {
			width: 110%;
		}
	}

	@include mq($from: leftCol) {
		left: 50px;
		img {
			width: 100%;
		}
	}

	@include mq($from: wide) {
		left: 80px;
		img {
			width: 85%;
		}
	}
}

/**** FOOTER HACK ****/
#subscriptions-landing-page {
	.component-left-margin-section:before {
		content: none;
	}

	.component-content.component-content--feature,
	.component-left-margin-section__content {
		margin: 0 auto;
		max-width: 1290px;
	}

	.component-footer {
		background-color: gu-colour('brand-main');
	}
}
