// -----  gu-sass ----- //
@import '~stylesheets/skeleton/skeleton';

/**** FOOTER HACK ****/
	.component-content.component-content--feature,
	.component-left-margin-section__content {
		margin: 0 auto;
		max-width: 1290px;
	}

