#bundles-landing-page {

  // ----- Introduction

  .introduction-text {

    background-color: darken(gu-colour(guardian-brand-dark), 5%);

    .introduction-text__content {
      padding-top: $gu-v-spacing;
      padding-bottom: $gu-v-spacing * 3;
      background-color: gu-colour(guardian-brand-dark);

      @include mq($from: leftCol) {
        padding-left: 100px;
      }

      @include mq($from: wide) {
        padding-left: 180px;
      }
    }

    h1 {
      color: gu-colour(news-support-1);
      font-family: $gu-egyptian-web;
      font-weight: bold;
      font-size: 22px;
      line-height: 26px;
      margin-top: $gu-v-spacing;

      @include mq($from: phablet) {
        margin-top: $gu-v-spacing * 2;
      }

      @include mq($from: mobileMedium) {
        font-size: 24px;
        line-height: 28px;
      }

      @include mq($from: phablet) {
        font-size: 36px;
        line-height: 40px;
      }

      @include mq($from: desktop) {
        font-size: 44px;
        line-height: 48px;
      }
    }

    p {
      font-family: $gu-egyptian-web;
      font-weight: bold;
      font-size: 22px;
      line-height: 26px;
      color: #ffffff;
      margin-left: 40px;

      &:nth-of-type(2) {
        margin-bottom: $gu-v-spacing * 2;
      }

      @include mq($from: mobileMedium) {
        font-size: 24px;
        line-height: 28px;
        margin-left: 88px;
      }

      @include mq($from: phablet) {
        font-size: 36px;
        line-height: 40px;
        margin-left: 128px;
      }


      @include mq($from: desktop) {
        font-size: 44px;
        line-height: 48px;
        margin-left: 160px;
      }
    }
  }


  // ----- Bundles

  .bundles {

    background-color: darken(gu-colour(guardian-brand-dark), 5%);

    .bundles__content {
      background-color: gu-colour(guardian-brand-dark);
      position: relative;
      padding-bottom: ($gu-v-spacing * 6);

      @include mq($from: desktop) {
        padding: 0 0 ($gu-v-spacing * 6);
      }
    }

    .bundles__wrapper {
      position: relative;

      @include mq($from: phablet, $until: desktop) {
        width: 100%;
      }

      @include mq($from: desktop) {
        width: 960px;
        margin: 0 auto;
      }
    }

    .bundles__divider {
      height: $gu-v-spacing;
      width: 100%;

      @include mq($from: desktop) {
        display: none;
      }
    }

    .component-bundle {
      padding: ($gu-v-spacing / 2) ($gu-h-spacing / 2) $gu-v-spacing;

      @include mq($from: desktop) {
        margin: 0 ($gu-h-spacing / 2);
        width: 280px;
        height: 410px;
        display: inline-block;
        vertical-align: top;
        position: relative;
      }
    }

    .component-cta-link {
      padding-top: $gu-v-spacing;
      padding-bottom: $gu-v-spacing;
      margin-top: $gu-v-spacing * 4;

      @include mq($from: desktop) {
        position: absolute;
        bottom: $gu-v-spacing;
        right: $gu-h-spacing / 2;
        left: $gu-h-spacing / 2;

        // Fix for IE.
        svg {
          left: 250px;
        }
      }

      svg {
        height: 35%;
        top: 15px;
        right: 12px;
      }
    }

    @include mq($from: phablet, $until: desktop) {
      .component-double-heading {
        width: 50%;
        display: inline-block;
        vertical-align: top;
      }

      .component-bundle__content {
        width: 50%;
        display: inline-block;
        vertical-align: top;
      }
    }

    .component-bundle--contributions {
      background-color: gu-colour(multimedia-main-2);
      font-size: 14px;
      font-family: $gu-text-sans-web;
      color: gu-colour(neutral-1);

      .component-double-heading__heading {
        color: gu-colour(neutral-1);
      }

      .component-double-heading__subheading {
        height: 24px;

        @include mq($from: phablet) {
          height: 32px;
        }
      }

      p {
        &:first-child {
          font-size: 16px;
          line-height: 20px;
          margin-bottom: $gu-v-spacing;
          font-family: $gu-text-egyptian-web;
        }
      }

      .component-radio-toggle input:not(:checked)+.component-radio-toggle__label, .component-number-input {
        background-color: gu-colour(multimedia-main-2);
      }

      .component-number-input--selected {
        background-color: gu-colour(neutral-1);
        color: #fff;
        font-weight: bold;

        &::placeholder {
          font-weight: normal;
          color: #fff;
          opacity: 0.4;
        }
      }
    }

    .component-bundle--digital, .component-bundle--paper {
        background-color: #fff;

        @include mq($until: desktop) {
          border-top: 1px solid gu-colour(news-support-1);
        }

        .component-double-heading__heading {
          color: gu-colour(guardian-brand);
        }

        .component-cta-link {
          background-color: #fff;
          color: gu-colour(guardian-brand);
          border: 1px solid gu-colour(guardian-brand);

          &:hover {
            background-color: gu-colour(guardian-brand);
            color: #fff;

            svg {
              fill: #fff;
            }
          }

          svg {
            fill: gu-colour(guardian-brand);
          }
        }
    }

    .component-bundle--paper {
      .component-cta-link.paper-sub {
        @include mq($from: desktop) {
          bottom: $gu-v-spacing * 6;
        }
      }

      .component-cta-link.paper-digital-sub {
        margin-top: $gu-v-spacing;
        background-color: gu-colour(guardian-brand);
        color: #fff;

        &:hover {
          background-color: darken(gu-colour(guardian-brand), 10%);
        }

        svg {
          fill: #fff;
        }
      }
    }

    .component-feature-list {
      padding-left: 0;
      list-style-image: svg-url('<svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" viewBox="0 0 28 28"><style>.st0{fill:#005689;}</style><path class="st0" d="M7.885 25.74L0 14.82l3.22-3.217L8.3 16.74 24.695 2.26 28 5.565"/></svg>');
      color: gu-colour(neutral-1);

      h3 {
        color: gu-colour(guardian-brand);
      }

      li {
        margin-left: 24px;
      }

      li > * {
        display: inline-block;
        vertical-align: top;
      }
    }

    .contrib-explainer {
      margin-bottom: 2 * $gu-v-spacing;
    }

  }

  .bundles__cross-product {
    border-top: 1px solid gu-colour(news-support-1);
    margin: 0 auto;
    margin-top: $gu-v-spacing * 2;

    @include mq($from: desktop) {
      width: 940px;
    }
  }

  .bundles__cross-product-header {
    font-size: 28px;
    line-height: 32px;
    font-weight: 900;
    font-family: $gu-egyptian-web;
    color: #fff;
    display: inline-block;
    vertical-align: top;
    margin-right: $gu-h-spacing / 2;

    @include mq($from: tablet) {
      width: 220px;
      margin-right: $gu-h-spacing;
    }

    @include mq($from: desktop) {
      width: 300px;
      margin-right: $gu-h-spacing;
    }
  }

  .bundles__cross-product-heading {
    display: block;

    &:nth-of-type(2) {
      margin-left: $gu-h-spacing * 2;

      @include mq($from: tablet) {
        margin-left: 0;
      }

      @include mq($from: desktop) {
        margin-left: $gu-h-spacing * 2;
      }
    }
  }

  .bundles__cross-product-copy {
    display: inline-block;
    vertical-align: top;
    font-size: 16px;
    line-height: 20px;
    padding-top: $gu-v-spacing / 2;
    color: #fff;

    @include mq($until: tablet) {
      padding-top: $gu-v-spacing;
    }

    @include mq($from: tablet) {
      width: 450px;
      font-size: 18px;
      line-height: 22px;
    }

    @include mq($from: desktop) {
      width: 620px;
    }
  }


  // ----- Why Support

  .why-support {

    background-color: darken(#fff, 5%);
    color: gu-colour(neutral-1);

    .why-support__content {
      flex-direction: row;
      background-color: #fff;
      padding-bottom: 8px;

      p {
        font-family: $gu-egyptian-web;
      }

      @include mq($from: desktop) {
        display: flex;
      }

      @include mq($from: mobileLandscape) {
        padding-left: $gu-h-spacing;
        padding-right: $gu-h-spacing;
      }

      @include mq($from: tablet) {
        padding-top: ($gu-v-spacing / 2);
      }

      @include mq($from: desktop) {
        display: flex;
        padding: ($gu-v-spacing / 2) 0 $gu-v-spacing * 2;
      }
    }

    .why-support__heading {
      font-family: 'Guardian Titlepiece Web', sans-serif;
      color: gu-colour(comment-main-1);
      font-weight: 400;
      padding-top: $gu-v-spacing / 2;
      font-size: 28px;
      line-height: 28px;
      width: 240px;
      margin: 0 ($gu-h-spacing / 2) ($gu-v-spacing * 2) 0;

      @include mq($from: tablet) {
        width: 220px;
        margin: 0;
        font-size: 40px;
        line-height: 37px;
        text-align: center;
        flex-basis: 220px;
        padding-top: 0;
      }

      @include mq($from: desktop) {
        font-size: 48px;
        line-height: 44px;
        flex-basis: 300px;
      }
    }

    .component-body-copy {
      @include mq($from: tablet) {
        font-size: 18px;
        line-height: 22px;
      }
    }

    .why-support__top-content, .why-support__bottom-content {
      flex-basis: 300px;
      flex-grow: 1;
    }

    .why-support__top-content {
      position: relative;

      @include mq($from: desktop) {
        max-width: 620px;
        margin-left: 20px;
      }

      @include mq($from: leftCol) {
        margin-left: 100px;
      }

      @include mq($from: wide) {
        margin-left: 180px;
      }
    }

    .why-support__bottom-content {

      @include mq($from: tablet) {
        display: flex;
      }

      @include mq($from: tablet, $until: desktop) {
        padding-top: $gu-v-spacing;
      }

      @include mq($from: desktop) {
        max-width: 300px;
        justify-content: space-between;
        flex-direction: column;
        margin-left: $gu-h-spacing;
        margin-right: 20px;
      }

      @include mq($from: leftCol) {
        margin-right: 100px;
      }

      @include mq($from: wide) {
        margin-right: 180px;
      }

      .component-body-copy {
        @include mq($from: tablet, $until: desktop) {
          flex-basis: 380px;
          // Fix for Safari 8.
          max-width: 380px;
          margin-left: $gu-h-spacing;
        }
      }
    }

    // Breaks the video out of 'gu-content-margin' to make it full width.
    .component-video {
      @include mq($until: mobileLandscape) {
        width: 100vw;
        margin-left: - $gu-h-spacing / 2;
      }
    }

    p.why-support__video-caption {
      font-family: $gu-text-sans-web;
    }

    .why-support__video-caption {
      font-size: small;
      margin-top: $gu-v-spacing / 2;
      font-size: 12px;
      line-height: 15px;

      @include mq($until: tablet) {
        margin-bottom: 16px;
      }

      @include mq($from: tablet, $until: desktop) {
        max-width: 220px;
        margin-top: 0;
      }

      @include mq($from: desktop) {
        order: 1;
        margin-bottom: 0;
      }

      .svg-video {
        height: 8px;
        fill: gu-colour(comment-main-1);
        margin-right: 6px;
      }
    }

    .why-support__top-copy {
      @include mq($from: tablet) {
        display: flex;
      }

      @include mq($from: desktop) {
        justify-content: center;
      }

      .component-body-copy {
        @include mq($from: tablet) {
          flex-basis: 380px;
          margin-left: $gu-h-spacing;
        }

        // Fix for Safari 8.
        @include mq($from: tablet, $until: desktop) {
          max-width: 380px;
        }

        @include mq($from: desktop) {
          margin-bottom: $gu-v-spacing * 3;
        }
      }

      & > * {
        @include mq($from: desktop) {
          max-width: 300px;
        }
      }
    }

  }


  // ----- Ways Of Support

  .ways-of-support {

    @include mq($from: mobileLandscape) {
      background-color: darken(gu-colour(comment-support-2), 5%);
    }

    .ways-of-support__content {
      flex-direction: row;
      justify-content: center;
      flex-wrap: wrap;

      @include mq($from: mobileLandscape) {
        display: flex;
        background-color: gu-colour(comment-support-2);
        padding: 0 ($gu-h-spacing / 2) ($gu-v-spacing * 2);
      }

      @include mq($from: tablet) {
        padding-top: 8px;
      }

      @include mq($from: desktop) {
        padding-top: $gu-v-spacing;
      }
    }

    .ways-of-support__heading {
      flex-basis: 100%;
      color: gu-colour(guardian-brand-dark);
      font-family: 'Guardian Titlepiece Web', sans-serif;
      font-weight: 400;
      padding-top: 2px;
      font-size: 28px;
      line-height: 28px;
      padding-top: $gu-v-spacing / 2;
      margin-bottom: $gu-v-spacing * 2;

      @include mq($until: tablet) {
        h1 {
          width: 240px;
        }
      }

      @include mq($until: mobileLandscape) {
        border-top: 1px solid gu-colour(news-support-1);
      }

      @include mq($from: mobileLandscape) {
        margin-left: $gu-h-spacing / 2;
        margin-right: $gu-h-spacing / 2;
      }

      @include mq($from: tablet) {
        margin: 0;
        font-size: 40px;
        line-height: 37px;
        text-align: center;
        margin-left: $gu-h-spacing / 2;
        margin-right: $gu-h-spacing / 2;
        flex-basis: 220px;
        // Fix for Safari 8.
        max-width: 220px;
        order: 1;
        padding-top: 0;
      }

      @include mq($from: desktop) {
        font-size: 48px;
        line-height: 44px;
        flex-basis: 300px;
        // Fix for Safari 8.
        max-width: 300px;
        text-align: center;
        border: none;
        order: 1;
      }
    }

    .way-of-support {
      margin: 0 0 ($gu-v-spacing / 2);
      background-color: gu-colour(comment-support-2);
      color: gu-colour(neutral-1);
      padding-bottom: $gu-v-spacing;

      @include mq($from: mobileLandscape) {
        background-color: #fff;
        padding-bottom: 0;
        flex-basis: 210px;
        // Fix for Safari 8.
        max-width: 210px;
        position: relative;
        margin-left: $gu-h-spacing / 2;
        margin-right: $gu-h-spacing / 2;
      }

      @include mq($from: tablet) {
        flex-basis: 220px;
        // Fix for Safari 8.
        max-width: 220px;
        margin-top: $gu-v-spacing;
      }

      @include mq($from: desktop) {
        flex-basis: 300px;
        // Fix for Safari 8.
        max-width: 300px;
        height: 340px;
        margin-bottom: 0;
      }

      img {
        width: 100%;
        display: block;
      }
    }

    .way-of-support--gu-events {
      background: gu-colour(comment-main-2);
    }

    .way-of-support__heading {
      margin: ($gu-v-spacing / 3) ($gu-h-spacing / 2) $gu-v-spacing;
      font-family: $gu-egyptian-web;
      font-weight: 900;
      font-size: 23px;
      line-height: 26px;
    }

    .way-of-support__info-text {
      color: gu-colour(neutral-1);
      font-family: $gu-egyptian-web;
      font-size: 16px;
      margin: 0 ($gu-h-spacing / 2);
      line-height: 20px;
    }

    .component-cta-circle {
      @include mq($from: desktop) {
        position: absolute;
        bottom: 0;
      }
    }

    .component-cta-circle--patron {
      @include mq($from: mobileLandscape) {
        position: absolute;
        bottom: 0;
      }
    }
  }

  // ----- Shared Components ----- //

  .component-double-heading {
      margin-bottom: (2 * $gu-v-spacing);
  }

  .component-double-heading--variant-a {
    margin-bottom: 0;
  }

}
