#bundles-landing-page {

  .support-landing {

    // ----- General

    .component-info-section {
      border-top: 2px solid gu-colour(light-blue);
    }

    .component-info-section__heading {
      font-family: $gu-egyptian-web;
      font-weight: 100;
      font-size: 48px;
      line-height: 48px;
      color: gu-colour(neutral-1);

      @include mq($from: tablet) {
        font-size: 36px;
        line-height: 40px;
      }
    }

    .floating-circle {
      border-radius: 600px;
      background-color: gu-colour(multimedia-main-2);
      width: 50px;
      height: 50px;

      @include mq($from: tablet) {
        width: 60px;
        height: 60px;
      }
    }

    .floating-semicircle {
      @extend .floating-circle;
      border-radius: unset;
      border-top-left-radius: 600px;
      border-top-right-radius: 600px;
      height: 25px;

      @include mq($from: tablet) {
        height: 30px;
      }
    }

    // ----- Contribute

    .contribute-new-design {
      background-color: darken(gu-colour(multimedia-main-2), 5%);
    }

    .contribute-new-design__content {
      background-color: gu-colour(multimedia-main-2);
    }

    // ----- Subscribe

    .subscribe-new-design {
      background-color: darken(#fff, 5%);
    }

    .subscribe-new-design__content {
      background-color: #fff;
      border-color: gu-colour(light-yellow);
    }

    .subscribe-new-design__bundles-wrapper {
      display: flex;
      flex-wrap: wrap;
    }

    .subscription-bundle {
      display: flex;
      flex-direction: column;
      padding: 0 ($gu-h-spacing / 2);
      box-sizing: border-box;

      @include mq($from: tablet) {
        flex-basis: 33.3%;
      }

      .component-cta-circle {
        margin: 0;
        padding-top: $gu-v-spacing * 2;

        span {
          font-size: 18px;
          line-height: 24px;
          font-weight: bold;
          vertical-align: middle;
          color: gu-colour(neutral-1);
        }

        button {
          background-color: gu-colour(neutral-6);
          vertical-align: middle;

          svg {
            fill: gu-colour(neutral-1);
            height: 100%;
            width: 100%;
          }
        }

        &:hover {
          cursor: pointer;
          text-decoration: none;

          button {
            background-color: gu-colour(multimedia-main-2);
          }
        }
      }
    }

    .subscription-bundle__heading {
      font-family: $gu-egyptian-web;
      font-weight: 100;
      font-size: 36px;
      line-height: 28px;
      color: gu-colour(neutral-1);
      border-top: 2px solid gu-colour(light-yellow);

      @include mq($from: tablet) {
        font-size: 36px;
        line-height: 40px;
      }
    }

    .subscription-bundle__price {
      font-family: $gu-text-sans-web;
      font-size: 24px;
      line-height: 28px;
      padding: $gu-v-spacing 0;
      flex-grow: 1;
      color: gu-colour(neutral-1);
    }

    .subscription-bundle__price-amount {
      font-size: 36px;
      line-height: 28px;
      font-weight: bold;
    }

    .subscription-bundle__copy {
      font-family: $gu-text-egyptian-web;
      font-size: 18px;
      line-height: 24px;
      color: gu-colour(neutral-2);
      flex-grow: 1;
    }

    // ----- Why Support

    .why-support-new-design {
      background-color: darken(#fff, 5%);

      .component-cta-circle {
        margin-left: 0;

        button {
          vertical-align: middle;
          background-color: #fff;
          border: 1px solid gu-colour(neutral-1);
          width: 30px;
          height: 30px;
          margin-right: 10px;

          svg {
            fill: gu-colour(neutral-1);
          }
        }

        span {
          vertical-align: middle;
          font-weight: normal;
        }

        &:hover {
          cursor: pointer;
          text-decoration: none;

          button {
            background-color: gu-colour(guardian-brand-dark);
            border-color: gu-colour(guardian-brand-dark);

            svg {
              fill: #fff;
            }
          }
        }

        &::before {
          content: " ";
          border-top: 1px solid gu-colour(multimedia-main-2);
          width: 65px;
          display: block;
          padding-bottom: $gu-v-spacing;
        }
      }
    }

    .why-support-new-design__content {
      background-color: #fff;
    }

    .why-support-new-design__wrapper {
      @include mq($from: desktop) {
        width: 700px;
      }
    }

    .why-support-new-design__heading {
      font-family: $gu-egyptian-web;
      font-weight: bold;
      font-size: 30px;
      line-height: 34px;
      color: gu-colour(neutral-1);

      @include mq($from: mobileMedium) {
        font-size: 36px;
        line-height: 36px;
      }

      @include mq($from: tablet) {
        font-size: 60px;
        line-height: 60px;
      }

      span {
        display: block;
      }
    }

    .why-support-new-design__heading--edits {
      position: relative;
      height: 180px;

      @include mq($from: mobileLandscape) {
        height: 200px;
      }

      @include mq($from: phablet) {
        height: 300px;
      }

      .why-support-new-design__heading-text-wrapper {
        position: absolute;
        top: 26px;
        left: 48px;

        @include mq($from: mobileMedium) {
          top: 32px;
          left: 60px;
        }

        @include mq($from: mobileLandscape) {
          top: 50px;
          left: 100px;
        }

        @include mq($from: phablet) {
          top: 80px;
          left: unset;
        }
      }

      span:nth-of-type(2) {
        margin-left: 50px;
      }

      @include mq($from: phablet) {
        padding-left: 180px;
      }

      @include mq($from: tablet) {
        padding-left: 140px;

        span:nth-of-type(2) {
          margin-left: 95px;
        }
      }

      .svg-scribble {
        position: absolute;
        top: 0;
        left: 0;
        width: 305px;

        @include mq($from: mobileMedium) {
          width: 355px;
        }

        @include mq($from: mobileLandscape) {
          width: unset;
        }

        .scribble-0, .scribble-1 {
          fill: none;
          stroke: gu-colour(neutral-1);
          stroke-linecap: round;
          stroke-linejoin: round;
          stroke-width: 8px;
        }

        .scribble-2 {
          fill:#fff;
        }
      }

      &::after {
        @extend .floating-circle;
        content: " ";
        position: absolute;
        left: 230px;
        bottom: $gu-v-spacing;

        @include mq($from: phablet) {
          left: 170px;
          bottom: $gu-v-spacing * 3;
        }
      }
    }

    .why-support-new-design__heading--advertising {
      padding: $gu-v-spacing 0 150px;
      position: relative;

      span:nth-of-type(2) {
        margin-left: 140px;
      }

      @include mq($from: phablet) {
        padding: $gu-v-spacing 0 152px 80px;
      }

      @include mq($from: tablet) {
        padding-bottom: 132px;

        span:nth-of-type(2) {
          margin-left: 235px;
        }
      }

      .svg-graph-line {
        stroke: gu-colour(neutral-1);
        fill: none;
        stroke-width: 8;
        stroke-linecap: round;
        position: absolute;
        top: 18px;
        left: 20px;

        @include mq($until: phablet) {
          display: none;
        }
      }

      .svg-graph-line-mobile {
        stroke: gu-colour(neutral-1);
        fill: none;
        stroke-width: 6;
        stroke-linecap: round;
        position: absolute;
        top: $gu-v-spacing;
        left: -20px;
        width: 290px;

        @include mq($from: phablet) {
          display: none;
        }
      }

      &::after {
        @extend .floating-circle;
        content: " ";
        position: absolute;
        bottom: $gu-v-spacing;
        left: 250px;

        @include mq($from: phablet) {
          right: 0;
          left: unset;
        }
      }
    }

    .why-support-new-design__heading--paywall {
      padding: 80px 0;
      width: 300px;
      margin: 0 auto;

      span:nth-of-type(2) {
        margin-left: 60px;
      }

      @include mq($from: phablet) {
        padding-left: 140px;
        width: auto;
        margin: 0;
      }
    }

    .why-support-new-design__heading--perspective {
      padding: ($gu-v-spacing * 2) 0;
      position: relative;

      @include mq($from: tablet) {
        padding: 70px 0;
      }

      &::before {
        @extend .floating-circle;
        content: " ";
        position: absolute;
        right: 0;
        top: 0;

        @include mq($from: tablet) {
          top: 70px;
        }

        @include mq($from: desktop) {
          left: -80px;
        }
      }
    }

    .why-support-new-design__copy {
      font-family: $gu-text-egyptian-web;
      font-size: 18px;
      line-height: 24px;
      color: gu-colour(neutral-1);
      border-top: 1px dotted gu-colour(multimedia-main-2);
    }

    .why-support-new-design__copy--no-border {
      border: none;
      padding-top: $gu-v-spacing;
    }

    // ----- Ready?

    .ready-new-design {
      background-color: darken(#fff, 5%);

      .component-cta-link {
        background-color: gu-colour(guardian-brand-dark);
        width: 250px;
        padding: 18px 24px;
        padding-top: 18px;
        padding-bottom: 18px;

        svg {
          right: 12px;
          top: 12px;
          height: 60%;
        }

        &:hover {
          background-color: darken(gu-colour(guardian-brand-dark), 10%);
        }
      }

      .component-info-section__header {
        position: relative;

        &::before {
          @extend .floating-semicircle;
          content: " ";
          position: absolute;
          top: -27px;
          right: 0;

          @include mq($from: tablet) {
            top: -32px;
          }

          @include mq($from: desktop) {
            right: $gu-h-spacing;
          }
        }

        &::after {
          @extend .floating-semicircle;
          background-color: gu-colour(guardian-brand-dark);
          content: " ";
          position: absolute;
          transform: rotateZ(180deg);
          top: 0;
          right: 0;

          @include mq($from: desktop) {
            right: $gu-h-spacing;
          }
        }
      }
    }

    .ready-new-design__content {
      background-color: #fff;
      padding-bottom: $gu-v-spacing * 3;
    }

    .ready-new-design__heading {
      font-family: $gu-egyptian-web;
      color: gu-colour(guardian-brand);
      font-size: 48px;
      line-height: 48px;
      font-weight: 100;

      @include mq($until: tablet) {
        width: 80%;
      }

      @include mq($from: tablet) {
        font-size: 36px;
        line-height: 40px;
      }
    }

  }

}
