#bundles-landing-page {

  .support-landing {

    // ----- General

    .component-info-section {
      border-top: 2px solid gu-colour(light-blue);
    }

    .component-info-section__heading {
      font-family: $gu-egyptian-web;
      font-weight: 100;
      font-size: 36px;
      line-height: 40px;
      color: gu-colour(neutral-1);
    }

    // ----- Contribute

    .contribute-new-design {
      background-color: darken(gu-colour(multimedia-main-2), 5%);
    }

    .contribute-new-design__content {
      background-color: gu-colour(multimedia-main-2);
    }

    // ----- Subscribe

    .subscribe-new-design {
      background-color: darken(#fff, 5%);
    }

    .subscribe-new-design__content {
      background-color: #fff;
    }

    // ----- Why Support

    .why-support-new-design {
      background-color: darken(#fff, 5%);

      .component-cta-circle {
        margin-left: 0;

        button {
          vertical-align: middle;
          background-color: #fff;
          border: 1px solid gu-colour(neutral-1);
          width: 30px;
          height: 30px;
          margin-right: 10px;

          svg {
            fill: gu-colour(neutral-1);
          }
        }

        span {
          vertical-align: middle;
          font-weight: normal;
        }

        &:hover {
          cursor: pointer;
          text-decoration: none;

          button {
            background-color: gu-colour(guardian-brand-dark);
            border-color: gu-colour(guardian-brand-dark);

            svg {
              fill: #fff;
            }
          }
        }

        &::before {
          content: " ";
          border-top: 1px solid gu-colour(multimedia-main-2);
          width: 65px;
          display: block;
          padding-bottom: $gu-v-spacing;
        }
      }
    }

    .why-support-new-design__content {
      background-color: #fff;
    }

    .why-support-new-design__wrapper {
      @include mq($from: desktop) {
        width: 700px;
      }
    }

    .why-support-new-design__heading {
      font-family: $gu-egyptian-web;
      font-weight: bold;
      font-size: 36px;
      line-height: 36px;
      color: gu-colour(neutral-1);

      @include mq($from: tablet) {
        font-size: 60px;
        line-height: 60px;
      }

      span {
        display: block;
      }
    }

    .why-support-new-design__heading--edits {
      padding: 60px 0 60px 50px;

      span:nth-of-type(2) {
        margin-left: 50px;
      }

      @include mq($from: phablet) {
        padding-left: 180px;
      }

      @include mq($from: tablet) {
        padding-left: 160px;

        span:nth-of-type(2) {
          margin-left: 95px;
        }
      }
    }

    .why-support-new-design__heading--advertising {
      padding: $gu-v-spacing 0 160px;

      span:nth-of-type(2) {
        margin-left: 140px;
      }

      @include mq($from: phablet) {
        padding: $gu-v-spacing 0 160px 80px;
      }

      @include mq($from: tablet) {
        span:nth-of-type(2) {
          margin-left: 235px;
        }
      }
    }

    .why-support-new-design__heading--paywall {
      padding: 80px 0;
      width: 300px;
      margin: 0 auto;

      span:nth-of-type(2) {
        margin-left: 60px;
      }

      @include mq($from: phablet) {
        padding-left: 140px;
        margin: 0;
      }
    }

    .why-support-new-design__heading--perspective {
      padding: ($gu-v-spacing * 2) 0;

      @include mq($from: tablet) {
        padding: 70px 0;
      }
    }

    .why-support-new-design__copy {
      font-family: $gu-text-egyptian-web;
      font-size: 18px;
      line-height: 24px;
      color: gu-colour(neutral-1);
      border-top: 1px dotted gu-colour(multimedia-main-2);
    }

    .why-support-new-design__copy--no-border {
      border: none;
      padding-top: $gu-v-spacing;
    }

  }

  // ----- Ready?

  .ready-new-design {
    background-color: darken(#fff, 5%);

    .component-cta-link {
      background-color: gu-colour(guardian-brand-dark);
      width: 250px;
      padding: 18px 24px;
      padding-top: 18px;
      padding-bottom: 18px;

      svg {
        right: 12px;
        top: 12px;
        height: 60%;
      }

      &:hover {
        background-color: darken(gu-colour(guardian-brand-dark), 10%);
      }
    }
  }

  .ready-new-design__content {
    background-color: #fff;
    padding-bottom: $gu-v-spacing * 3;
  }

  .ready-new-design__heading {
    font-family: $gu-egyptian-web;
    color: gu-colour(guardian-brand);
    font-size: 36px;
    line-height: 40px;
    font-weight: 100;
  }

}
