.component-subscription-faq__text {
  color: gu-colour(garnett-neutral-4);
  display: block;
}

.component-subscription-faq__href {
  color: inherit;
  text-decoration: none;
}

.component-subscription-faq__href:hover {
  text-decoration: underline;
}