.component-contributions-checkout {
  .component-your-contribution {
    border-top: none;

    @include multiline-top-border;
  }

  .component-your-details {
    margin-top: $gu-v-spacing * 3;
  }

  .component-your-details__text {
    font-size: 14px;
    font-family: $gu-text-sans-web;
    font-weight: 300;
    margin-bottom: $gu-v-spacing;
  }

  .component-page-section--payment-methods {
    border-top: 1px solid gu-colour(garnett-neutral-4);
    margin-top: $gu-v-spacing * 3;

    .component-page-section__body {
      padding-top: $gu-v-spacing;

      @include mq($from: desktop) {
        padding-left: $gu-h-spacing;
      }
    }

    .component-page-section__header {
      font-family: $gu-egyptian-web;
      font-weight: bold;
      font-size: 24px;
      line-height: 1.17;
      padding-top: $gu-v-spacing / 2;

      @include dropline;
    }
  }

  .component-legal-section {
    margin-top: $gu-v-spacing * 3;
    margin-bottom: $gu-v-spacing * 2;
  }
}
