@use "sass:math";

@import '~stylesheets/gu-sass/gu-sass';

.component-text {
	@include gu-fontset-body;
	overflow-wrap: break-word;
	> *:not(:first-child) {
		margin-top: $gu-v-spacing;
	}
	> .component-text__heading + p {
		margin-top: math.div($gu-v-spacing, -2);
	}
}

.component-text + .component-text {
	margin-top: math.div($gu-v-spacing, -1);
}

.component-text code {
	font-family: monospace;
	background: gu-colour(neutral-93);
	color: gu-colour(neutral-7);
	padding: ($gu-v-spacing * 0.25) ($gu-h-spacing * 0.25);
}

.component-text a {
	color: inherit;
}

.component-text__heading {
	@include gu-fontset-heading;
	margin-bottom: $gu-v-spacing;
}

.component-text__callout {
	@include gu-fontset-heading;
	& > strong {
		padding: 0 ($gu-h-spacing * 0.25);
		background-color: gu-colour(highlight-main);
		color: gu-colour(neutral-7);
	}
}

.component-text__large {
	@include gu-fontset-heading;
	font-size: 18px;
	font-weight: 300;
	line-height: 24px;

	@include mq($from: tablet) {
		@include gu-fontset-body-large;
	}
}

.component-text__sans {
	@include gu-fontset-body-sans;
}

.component-text__paddingTop {
	padding-top: ($gu-v-spacing);
}
