@import '~stylesheets/gu-sass/gu-sass';

// "Joy of Print Sale" specific styles below!

.component-product-page-hero--campaign.component-product-page-hero--paper-sale {
  background: #f29ca9;
  height: auto;
  min-height: auto;
}

.sale-joy-of-print {
  display: flex;
  align-items: center;
}

.sale-joy-of-print-copy {
  display: none;
  position: relative;
  z-index: 10;
  margin-top: $gu-v-spacing * 2;

  @include mq($from: leftCol) {
    margin-top: $gu-v-spacing * 6;
  }

  @include mq($from: phablet) {
    font-size: 35px;
    line-height: 1;
    display: block;
    padding-left: $gu-v-spacing;

    h2 {
      font-family: $gu-titlepiece;
      margin: $gu-v-spacing * 2 0;
      span {
        padding: 0 $gu-h-spacing / 2;
      }
      span:first-of-type {
        position: relative;
        z-index: 5;
      }
    }
    p {
      @include gu-fontset-heading;
      padding-left: $gu-h-spacing / 3;
    }
  }

  @include mq($from: desktop) {
    font-size: 45px;
  }
}

.sale-joy-of-print-graphic-outer {
  display: flex;
  justify-content: center;
  margin-top: 2rem;

  @include mq($from: phablet) {
    justify-content: flex-end;
    margin-top: -10rem;
  }

  @include mq($from: desktop) {
    margin-top: -12rem;
  }

  @include mq($from: leftCol) {
    margin-top: -15rem;
  }
}

.sale-joy-of-print-graphic-inner {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sale-joy-of-print-graphic {
  line-height: 0 !important;

  img {
    max-height: 200px;

    @include mq($from: tablet) {
      max-height: 240px;
    }

    @include mq($from: desktop) {
      max-height: 280px;
    }
  }
}

.sale-joy-of-print-badge {
  position: relative;
  margin-bottom: -5rem;
  margin-left: -4rem;
  z-index: 1;
  flex-direction: column;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #0074a6;
  color: #ffffff;
  text-align: center;
  border-radius: 50%;
  line-height: 1;
  font-family: $gu-headline;
  font-size: 0.813rem;
  font-weight: 700;
  width: 6rem;
  height: 6rem;

  span {
    display: block;
    line-height: 1;
  }

  span:nth-child(2) {
    font-family: $gu-titlepiece;
    position: relative;
    top: -0.1rem;
    font-size: 2rem;
    font-variant-numeric: lining-nums;
    -moz-font-feature-settings: "lnum";
    -webkit-font-feature-settings: "lnum";
    font-feature-settings: "lnum";
  }

  @include mq($from: tablet) {
    margin-bottom: -7rem;
  }

  @include mq($from: desktop) {
    width: 8.6rem;
    height: 8.6rem;
    span:nth-child(2) {
      font-size: 3.3rem;
      top: -0.3rem;
    }
  }

}
