.component-introduction-text {

  background-color: darken(gu-colour(guardian-brand-dark), 5%);

  .component-introduction-text__content {
    padding-top: $gu-v-spacing;
    padding-bottom: $gu-v-spacing * 3;
    background-color: gu-colour(guardian-brand-dark);

    @include mq($from: leftCol) {
      padding-left: 100px;
    }

    @include mq($from: wide) {
      padding-left: 180px;
    }
  }

  .component-introduction-text__heading {
    color: gu-colour(news-support-1);
    font-family: $gu-egyptian-web;
    font-weight: bold;
    font-size: 22px;
    line-height: 26px;
    word-spacing: -0.08em;

    @include mq($from: mobileMedium) {
      font-size: 24px;
      line-height: 28px;
    }

    @include mq($from: phablet) {
      font-size: 36px;
      line-height: 40px;
    }

    @include mq($from: desktop) {
      font-size: 44px;
      line-height: 48px;
    }
  }

  .component-introduction-text__sub-heading {
    font-family: $gu-egyptian-web;
    font-weight: bold;
    font-size: 22px;
    line-height: 26px;
    color: #ffffff;
    margin-left: 40px;

    &:nth-of-type(3) {
      margin-bottom: $gu-v-spacing * 2;
    }

    @include mq($from: mobileMedium) {
      font-size: 24px;
      line-height: 28px;
      margin-left: 88px;
    }

    @include mq($from: phablet) {
      font-size: 36px;
      line-height: 40px;
      margin-left: 128px;
    }


    @include mq($from: desktop) {
      font-size: 44px;
      line-height: 48px;
      margin-left: 160px;
    }
  }
}
