.component-feature-list {
	margin: 0;
	padding: 0;
	padding-left: 10px;
  list-style-image: svg-url('<svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" viewBox="0 0 28 28"><path class="st0" d="M7.885 25.74L0 14.82l3.22-3.217L8.3 16.74 24.695 2.26 28 5.565"/></svg>');

	h3, p {
		margin: 0;
	}

	h3 {
		font-family: $gu-text-sans-web;
		font-weight: 900;
		font-size: 16px;
		line-height: 20px;
	}

	p {
		font-family: $gu-text-sans-web;
		font-weight: 300;
		font-size: 14px;
		line-height: 18px;
	}

	li {
		margin-bottom: $gu-v-spacing;
		margin-left: $gu-h-spacing;
	}
}
