.component-feature-list {
	margin: 0;
	padding: 0;
	padding-left: 10px;
	

	h3, p {
		margin: 0;
	}

	h3 {
		font-family: $gu-text-sans-web;
		font-weight: 900;
		font-size: 18px;
		line-height: 22px;
	}

	p {
		font-family: $gu-text-sans-web;
		font-weight: 300;
		font-size: 14px;
		line-height: 18px;
	}

	li {
		margin-bottom: $gu-v-spacing;
		margin-left: $gu-h-spacing;
	}
}
