.component-feature-list {
	margin: 0;
	padding: 0;
	padding-left: 10px;
}

.component-feature-list__heading {
	font-weight: 900;
	margin: 0;
}

.component-feature-list__text {
	font-weight: 300;
	margin: 0;
}

.component-feature-list__item {
	margin-bottom: $gu-v-spacing;
	margin-left: $gu-h-spacing;

	//list-style-image: svg-url('<svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 10 10"><circle cx="5" cy="5" r="5" fill="#ff4e36"/></svg>');
}
