.component-contrib-amounts {

    font-size: 14px;

    .component-radio-toggle {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        flex-basis: 100%;
        flex-grow: 1;
        justify-content: space-between;
    }

    .component-radio-toggle__button--with-annual {
        flex-basis: calc(33.3% - 2.5px);
        // Fix for IE10 and possibly Safari 8.
        display: block;
        min-width: 32%;
    }

    .component-radio-toggle__button--without-annual {
      flex-basis: calc(50% - 2.5px);
      // Fix for IE10 and possibly Safari 8.
      display: block;
      min-width: 49%;
    }

    .component-radio-toggle__label {
        display: block;
        height: $gu-v-spacing * 2;
        text-align: center;
        border: 1px solid gu-colour(neutral-1);
    }

    input:checked+label {
        background-color: gu-colour(neutral-1);
        color: #fff;
        position: relative;
        font-weight: bold;
    }

    .contrib-type {
      margin-bottom: 10px;

      input:checked+label:before {
        content: '';
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 10px 10px 0;
        position: absolute;
        bottom: -10px;
        left: calc(50% - 10px);
        border-color: gu-colour(neutral-1) transparent;
      }
    }

    .component-contrib-amounts__amounts {
      .component-radio-toggle__input {
        display: none;
      }

    }

    .component-contrib-amounts__other-amount {
      display: flex;

      .component-number-input {
        flex-basis: 100%;
        flex-grow: 1;
        border: 1px solid gu-colour(neutral-1);
      }
    }

    .component-contrib-amounts__amounts--recurring {
      .component-radio-toggle__button {
        flex-basis: calc(33.3% - 3.3px);
        // Fix for IE10 and possibly Safari 8.
        min-width: 32%;
      }
    }

    .component-contrib-amounts__amounts--one-off {
      .component-radio-toggle__button {
        flex-basis: calc(25% - 4px);
        // Fix for IE10 and possibly Safari 8.
        min-width: 23%;
      }
    }

    .component-contrib-amounts__error-message {
      font-family: $gu-text-sans-web;
      font-size: 14px;
      font-weight: bold;
      line-height: 16px;
      color: gu-colour(neutral-1);
    }

}
