.component-subscription-terms-privacy__text {
  color: gu-colour(brightness-86);
  display: block;
}

.component-subscription-terms-privacy__href {
  color: inherit;
  text-decoration: none;
}

.component-subscription-terms-privacy__href:hover {
  text-decoration: underline;
}