.component-subscription-terms-privacy__text {
  color: gu-colour(neutral-4);
  font-weight: 400;
  display: block;
  padding: 3px 0;
}

.component-subscription-terms-privacy__href {
  color: gu-colour(neutral-4);
  text-decoration: none;
}

.component-subscription-terms-privacy__href:hover {
  text-decoration: underline;
}