<configuration>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <filter class="ch.qos.logback.core.filter.EvaluatorFilter">
            <evaluator class="ch.qos.logback.classic.boolex.OnMarkerEvaluator">
                <marker>SENTRY</marker>
            </evaluator>
            <onMatch>DENY</onMatch>
        </filter>

        <encoder>
            <pattern>[%d{yyyy-MM-dd HH:mm:ss.SSS}] %.-6level %logger{5} - %msg%n</pattern>
        </encoder>
    </appender>

    <root level="info">
        <appender-ref ref="STDOUT" />
    </root>

</configuration>
