.svg-guardian-titlepiece {

  .guardian-titlepiece-0 {
      fill: #fff;
  }

  .guardian-titlepiece-1 {
      fill: #aadce6;
  }

}

.svg-paypal-p-logo {

  .paypal-p-logo-0 {
    fill: #252525;
  }

  .paypal-p-logo-1 {
    fill: #7C7C7C;
  }

  .paypal-p-logo-2 {
    fill: #1A1A1A;
  }

}


