.contribution-aware-payment-logos {
  position: absolute;

  left: -197px;
  top: 86%;


  height: 20px;
  svg {
    height: 27px;
    width: 42px;
    margin-left: 4px;
  }
}

.contribution-aware-payment-logos--one-off {
  top: 70%;
  left: -150px;

  .svg-paypal-logo {
    position: relative;
    top: -56px;
    left: -46px;
  }
}