.component-display-name {
	margin-bottom: $gu-v-spacing;

	.component-display-name__name {
		font-family: $gu-sans-web;
		display: inline-block;
		vertical-align: middle;
		margin-left: $gu-h-spacing / 2;
		// Stops long names from wrapping on narrow breakpoints.
		@include mq($until: desktop) {
			max-width: 80%;
		}
	}

	svg {
		height: 20px;
		// Fix for IE.
		width: 20px;
		fill: gu-colour(neutral-1);
		border: 1px solid gu-colour(neutral-1);
		border-radius: 1000px;
		padding: 9px;
		display: inline-block;
		vertical-align: middle;
	}

}
