.component-links-footer {
  background-color: gu-colour(multimedia-support-4);

  .component-links-footer__link {
    color: gu-colour(neutral-4);
    text-decoration: none;
  }

  .component-links-footer__link:hover {
    text-decoration: underline;
  }

  .component-links-footer__privacy,
  .component-links-footer__copyright {
    color: gu-colour(neutral-4);
    font-family: $gu-text-sans-web;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    border-bottom: 1px gu-colour(neutral-4);
  }
}
