// -----  gu-sass ----- //

@import '~stylesheets/gu-sass/gu-sass';


// ----- Shared Components ----- //

@import '~components/countryGroupSwitcher/countryGroupSwitcher';
@import '~components/ctaLink/ctaLink';
@import '~components/footer/footer';
@import '~components/headers/countrySwitcherHeader/countrySwitcherHeader';
@import '~components/leftMarginSection/leftMarginSection';
@import '~components/priceCta/priceCta';


// ----- Page-Specific Styles ----- //

#digital-subscription-landing-page-int,
#digital-subscription-landing-page-uk,
#digital-subscription-landing-page-us,
#digital-subscription-landing-page-au {
  .component-left-margin-section__content {
    overflow-x: hidden;
  }

  .component-grid-picture__image {
    display: block;
  }

  .headerTitle {
    width: 100%;
    height: 92px;
    background-color: #000000;
  }

  .headerTitleCopy {
    color: #ffffff;
    font-family: $gu-egyptian-web;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    letter-spacing: normal;
    margin-left: 10px;
    padding-top: 2px;

    font-size: 26px;
    line-height: 29px;

    @include mq($until: mobileMedium) {
      width: 320px;
    }

    @include mq($from: mobileMedium, $until: tablet) {
      width: 330px;
    }

    @include mq($from: tablet, $until: leftCol) {
      width: 500px;
      font-size: 32px;
      line-height: 36px;
    }

    @include mq($from: leftCol) {
      width: 490px;
      margin-left: 12px;
      font-size: 36px;
      line-height: 42px;
    }
  }

  .component-left-margin-section--headerBlock {
    .component-price-cta__cancel {
      background-color: #fff000;
    }

    .svg-title-circles-left {
      position: absolute;
      top: 295px;
      width: 121px;
      z-index: -1;
    }

    .svg-title-circles-right {
      position: absolute;
      top: 335px;
      width: 80px;
      left: 300px;
      z-index: -1;
    }

    .component-grid-picture__image {
      margin-left: auto;
      margin-right: auto;
      @include mq($until: tablet) {
        margin-top: 16px;
      }
      @include mq($from: tablet, $until: leftCol) {
        margin-top: 35px;
      }
      @include mq($from: leftCol) {
        margin-top: 37px;
        margin-left: 12px;
      }
    }
  }
}
