{
  "presets": [
    "@babel/preset-react",
    "@babel/preset-flow",
    [
      "@babel/preset-env",
      {
        "modules": false,
      }
    ],
  ],
  "overrides": [
    {
      "test": ["**/*.ts", "**/*.tsx"],
      "presets": [
        "@babel/preset-typescript",
        [
          "@babel/preset-env",
          {
            "targets": {
              "node": "current"
            }
          }
        ],
        "@babel/preset-react"
      ]
    }
  ],
  "plugins": [
    "@babel/plugin-transform-exponentiation-operator",
    "@babel/plugin-proposal-class-properties",
    "@babel/plugin-syntax-dynamic-import",
    [
      "@babel/plugin-proposal-object-rest-spread",
      {
        "useBuiltIns": true
      }
    ],
    "babel-plugin-add-react-displayname"
  ],
  "sourceType": "unambiguous",
  "env": {
    "test": {
      "presets": [
        "@babel/preset-env"
      ],
      "plugins": [
        "dynamic-import-node"
      ]
    }
  }
}
