.set-password__message {
  font-family: $gu-text-egyptian-web;
  letter-spacing: -0.5px;
  margin-bottom: 24px;
  line-height: 20px;
}

.set-password__message {
  margin-bottom: 0;
}

.set-password__form {
  padding-bottom: 30px;
}

.form__submit.form__submit--create-account {
  padding-bottom: $gu-v-spacing;
}

.confirmation {
  border-bottom: 1px solid gu-colour(neutral-86);
  font-weight: 300;
  margin: 0 -10px;
  padding: 0 10px;
}

.confirmation__title {
  font-weight: 900;
  font-size: 1;
  margin: ($gu-v-spacing / 3) 0;
}

.confirmation__message {
  font: 300 22px/1.2 $gu-headline;
  margin: ($gu-v-spacing / 4) 0 $gu-v-spacing * 2;
}

.confirmation__message--direct-debit {
  margin-left: -10px;
  margin-right: -10px;
  padding: 0 10px $gu-v-spacing;
  border-bottom: 1px solid gu-colour(neutral-86);
}

.set-password__title {
  font-family: $gu-text-egyptian-web;
  letter-spacing: -0.5px;
  font-weight: 900;
  font-size: 17px;
  margin: ($gu-v-spacing / 3) 0;
}
