@import './ContributionThankYouSetPassword';

.thank-you__container {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
  margin: auto;
  max-width: 1015px;

  @include mq($from: leftCol) {
    justify-content: center;
  }

  .gu-content__blurb--thank-you {
    border-top: 10px solid gu-colour(neutral-7);
  }

  .gu-content__blurb-blurb {
    border-bottom: 1px solid gu-colour(neutral-7);
  }

  .gu-content__return-link {
    padding: 20px 10px;
    margin: 0 -10px;
  }

  .component-marketing-consent.component-marketing-consent--newsletter {
    border-bottom: 1px solid gu-colour(neutral-86);
  }

  .component-marketing-consent__message {
    font-family: $gu-text-egyptian-web;
    letter-spacing: -0.5px;
    margin-bottom: $gu-v-spacing;
    line-height: 20px;
  }

  .component-marketing-consent__title {
    font-family: $gu-text-egyptian-web;
    letter-spacing: -0.5px;
    font-weight: 900;
    font-size: 17px;
    margin: ($gu-v-spacing / 3) 0;
  }

  .confirmation {
    border-bottom: 1px solid gu-colour(neutral-86);
    font-weight: 300;
    margin: 0 -10px;
    padding: 0 10px ($gu-v-spacing * 2);
  }

  .confirmation__title {
    font-family: $gu-text-egyptian-web;
    letter-spacing: -0.5px;
    font-weight: 900;
    font-size: 17px;
    line-height: 22px;
    margin: ($gu-v-spacing / 3) 0;
  }

  .confirmation__message {
    font-family: $gu-text-egyptian-web;
    letter-spacing: -0.5px;
    line-height: 20px;
  }

  .confirmation__message--direct-debit {
    margin-left: -10px;
    margin-right: -10px;
    padding: 0 10px $gu-v-spacing;
    border-bottom: 1px solid gu-colour(neutral-86);
  }
}
