.component-independent-journalism__header {
  width: 620px;
  height: 124px;
  font-family: GHGuardianHeadline;
  font-size: 36px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.17;
  letter-spacing: normal;
  color: #121212;
}

.component-independent-journalism__copy {
  width: 620px;
  height: 280px;
  font-family: GHGuardianHeadline;
  font-size: 36px;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.11;
  letter-spacing: normal;
  color: #121212;
}
