.component-promotion-popup {
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.6);
}

//----------------Form------------------//
.component-promotion-popup__form {
  background-color: gu-colour(garnett-neutral-3);
  width: 100%;
  @include mq($from: phablet) {
    margin: 15% 0;
  }
  @include mq($from: tablet) {
    margin: 15% auto;
    width: 70%;
    max-width: 640px;
  }
}

//----------------Header------------------//
.component-promotion-popup__header {
  position: relative;
}

.component-promotion-popup__close {
  float: right;
  font-size: 28px;
  font-weight: bold;
  border: solid 1px gu-colour(garnett-neutral-3);
  border-radius: 800px;
  background-color: #fff;
  height: 40px;
  width: 40px;
  margin-right: 10px;
  margin-top: 10px;
  .svg-cross {
    padding-left: 1px;
    padding-top: 3px;
    height: 19px;
  }
}

.component-promotion-popup__close:hover,
.component-promotion-popup__close:focus {
  color: gu-colour(garnett-neutral-1);
  text-decoration: none;
  cursor: pointer;
}

.component-promotion-popup__roundel {
  background: gu-colour(news-garnett-media-main-1);
  border-radius: 50%;
  display: table-cell;
  width: 128px;
  height: 128px;
  font-family: $gu-headline;
  line-height: 1.04;
  font-size: 22px;
  font-weight: bold;
  text-align: center;
  vertical-align: middle;
  position: absolute;
  left: 10%;
  top: 10px;
  color:white;
  h1 {
    margin-top: 22px;
    margin-left: 2px;
  }
  @include mq($from: tablet) {
    left: 130px;
  }
}

.component-grid-image--pop-up-image {
  padding: 20px 20px 0px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

//-----------------Body------------------//
.component-promotion-popup__body {
  background: white;
  @include mq($from: tablet) {
    display: flex;
  }
}

.component-promotion-popup__title {
  order: 1;
  font-family: $gu-headline;
  line-height: 42px;
  font-size: 32px;
  padding: 10px 10px;

  @include mq($until: tablet) {
    border-bottom: solid gu-colour(garnett-neutral-4) 1px;
  }
  @include mq($from: tablet) {
    border-right: solid gu-colour(garnett-neutral-4) 1px;
    font-size: 32px;
  }
  @include mq($from: desktop) {
    padding: 10px 20px;
    font-size: 38px;
    font-weight: bold;
    max-width: 280px;
  }
}
.component-promotion-popup__options {
  order: 2;
  padding: 5px 20px 25px;
}

.component-promotion-options__button {
  color: #aaa;
  border: solid 1px gu-colour(garnett-neutral-6);
  border-radius: 800px;
  outline: none;
  background-color: #fff;
  height: 35px;
  width: 35px;
  margin-right: 10px;
  margin-top: 10px;
  .svg-chevron {
    margin-top: 2px;
    height: 10px;
  }
}

.component-promotion-options__item--closed {
  .component-promotion-options__description {
    display: none;
  }
  .component-promotion-options__button {
    border: solid 1px gu-colour(garnett-neutral-4);
    .svg-chevron {
      transform: rotate(270deg);
    }
  }
}

.component-promotion-options__title {
  display: inline;
  font-weight: bold;
}

.component-promotion-options__description {
  display: block;
  margin-left: 44px;
  strong {
    font-weight: bold;
  }
}

.component-promotion-options__description-p1 {
  margin-bottom: 8px;
}

.component-promotion-options__phone-link {
  color: initial;
  text-decoration: none;
}

