#monthly-contributions-page {

	// ----- General ----- //

	background-color: darken(gu-colour(multimedia-main-2), 5%);

	.monthly-contrib {
		background-color: gu-colour(multimedia-main-2);
	}

	a {
		color: gu-colour(neutral-1);
	}


	// ----- Sections ----- //

	h2 {
		margin-top: -2px;
	}

	// ----- Header

	.monthly-contrib__header {
		border-top: none;

		.monthly-contrib__heading {
			margin-top: -15px; /* custom size for header at mobile because of padding */
			font-size: 24px;
			line-height: 28px;
			font-weight: bold;
			font-family: $gu-egyptian-web;

			@include mq($from: desktop) {
				margin-top: $gu-v-spacing;
				font-size: 44px;
				line-height: 44px;
			}
		}

		.component-secure {
			&__text {
				margin-top: $gu-v-spacing / 2;
			}
		}

	}

	// ----- Your contrib

	.monthly-contrib__amount {
		border-radius: 1000px;
		font-size: 24px;
		color: #fff;
		width: 60px;
		height: 60px;
		text-align: center;
		background-color: gu-colour(neutral-1);
		line-height: 60px;
	}

	.monthly-contrib__amount--wide-value {
		padding-left: 1em;
		padding-right: 1em;
		width: unset;
	}

	// ----- Your details

	.monthly-contrib__your-details {

		#last-name {
			margin-bottom: 0px;
		}

		input {
			width: 100%;
			box-sizing: border-box;

			@include mq($from: desktop) {
				width: 304px;
			}
		}
	}

	// ----- Payment methods

	.monthly-contrib__payment-methods {
		.component-stripe-pop-up-button {
			box-sizing: border-box;

			@include mq($from: desktop) {
				width: 304px;
			}

		}
	}

}
