#monthly-contributions-page {

	// ----- General ----- //

	background-color: darken(gu-colour(multimedia-main-2), 5%);

	.monthly-contrib {
		background-color: gu-colour(multimedia-main-2);
	}

	a {
		color: gu-colour(neutral-1);
	}


	// ----- Sections ----- //

	// ----- Header

	.monthly-contrib__header {

		.monthly-contrib__heading {
			font-size: 30px;
			line-height: 34px;
			font-weight: bold;
			font-family: $gu-egyptian-web;
		}

	}

	// ----- Your contrib

	.monthly-contrib__amount {
		border-radius: 1000px;
		font-size: 20px;
		color: #fff;
		width: 40px;
		height: 40px;
		text-align: center;
		background-color: gu-colour(neutral-1);
		line-height: 40px;
	}

	// ----- Your details

	.monthly-contrib__your-details {
		input {
			width: 300px;
			box-sizing: border-box;
		}
	}

	// ----- Payment methods

	.monthly-contrib__payment-methods {
		.component-stripe-pop-up-button {
			width: 300px;
			box-sizing: border-box;
		}
	}

}
