// This module uses the sass-mq library (https://github.com/sass-mq/sass-mq).
// The breakpoints specified here are picked up when it is imported at the end
// of this file.
//
// It exposes an 'mq' mixin, which is used as follows:
//
// - Make the text black from the tablet until the desktop breakpoints.
// @include mq($from: tablet, until: desktop) {
//     color: #000;
// }

// - The following is equivalent to the previous example.
// @include mq(tablet, desktop) {
//     color: #000;
// }
//
// More information is available on the library Github page.

// A map of the breakpoint for the mq mixin.
$mq-breakpoints: (
	mobile: 320px,
	mobileMedium: 375px,
	mobileLandscape: 480px,
	phablet: 660px,
	tablet: 740px,
	desktop: 980px,
	leftCol: 1140px,
	wide: 1300px,
);

// The mq mixin.
@import 'node_modules/sass-mq/_mq';

// Given a breakpoint name, retrieves the width in pixels.
@function gu-breakpoint($name) {
	@return map-get($mq-breakpoints, $name);
}
