/*
This imports the Guardian colour pallette from pasteup as a sass map.
 You can see the palette at support-ui.gutools.co.uk
*/

@import './palette.pasteupimport';

// Given the name of the colour this returns the hex value.
// It is essentially just a wrapper around map-get.
@function gu-colour($name) {
	@return map-get($palette, $name);
}
