// This file contains variable and classes definition related to the layout of
// the project.

// Spacing variables
// h stands for horizontal
// v stands for vertical
// =============================================================================
$gu-h-spacing: 20px;
$gu-v-spacing: 12px;

// Shared Layout metrics
// =============================================================================
$gu-col-width: 60px;
$gu-animation-speed-fast: 0.1s;
$gu-animation-speed: 0.2s;
$gu-animation-speed-med: 0.4s;

// CTA button height
// =============================================================================
$gu-cta-height: 42px;

// Transition for interactive elements
// =============================================================================
$gu-transition: 0.3s ease-in-out;

// Columns
// =============================================================================
@function gu-span($n-columns) {
	@return $n-columns * $gu-col-width + $gu-h-spacing * ($n-columns - 1);
}
