.component-paypal-contribution-button {
  background-color: gu-colour(news-garnett-highlight);
  border-radius: 600px;
  border: none;
  color: gu-colour(garnett-neutral-1);
  cursor: pointer;
  display: block;
  font-family: $gu-text-sans-web;
  font-size: 14px;
  height: $cta-height;
  line-height: $cta-height;
  padding: 0 $gu-h-spacing;
  position: relative;
  text-align: left;
  width: 100%;

  .svg-arrow-right-straight {
    fill: gu-colour(garnett-neutral-1);
    height: 16px;
    position: absolute;
    left: calc(100% - 34px);
    top: 14px;
  }

  &:hover {
    background-color: darken(gu-colour(news-garnett-highlight), 5%);
  }
}
