@import '~stylesheets/gu-sass/gu-sass';

[class^="ad-free-section"] {
  box-sizing: border-box;
}

.ad-free-section {
  flex-wrap: wrap;
  width: 100%;
  border-top: 1px solid gu-colour(neutral-86);
  border-left: 1px solid gu-colour(neutral-86);

  @include mq($from: tablet) {
    display: flex;
  }
}

.ad-free-section__content {
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  padding: 10px 10px 0 10px;
  max-width: 32.5rem;
  
  @include mq($from: tablet) {
    max-width: 24rem;
    margin: 0 60px 40px 0;
  }

  @include mq($from: desktop) {
    margin: 0 130px 40px 0;
  }

}

.ad-free-section__content:nth-child(3) {
  border-top: 1px solid gu-colour(neutral-86);
  @include mq($from: leftCol) {
    border-top: none;
    border-left: 1px solid gu-colour(neutral-86);
  }
}

.ad-free-section-b__header {
  display: block;
  width: 100%;
  padding: 10px;
  line-height: 40px;
  @include gu-fontset-heading-large-alt;
}

.ad-free-section-b__sub-header {
    display: block;
    width: 100%;
    margin-bottom: 8px;
    font-size: 24px;
    @include gu-fontset-heading;
    
    @include mq($from: leftCol) {
        width: 620px;
        line-height: 1.17;
    }
}

.ad-free-section__copy {
    @include gu-fontset-body;
    width: 100%;
    display: block;
}

.ad-free-section__image-container {
  display: flex;
  flex-direction: column-reverse;
  width: 100%;
  margin-top: 20px;
  max-width: 32.5rem;
  padding: 0 10px;

  @include mq($from: mobileLandscape) {
    width: 25%;
  }
}

.ad-free-section__image-container img {
  width: 100%;
  vertical-align: bottom;
}

.ad-free-section__icon {
  display: inline-block;
  margin: 0 auto;
}

.ad-free-section__icon:nth-of-type(2) {
  margin-left: 20px;

  @include mq($from: tablet) {
    margin-left: 0px;
  }
}