// -----  gu-sass ----- //

@import '~stylesheets/gu-sass/gu-sass';
@import '~components/progressMessage/progressMessage';
@import '~components/spinners/animatedDots';
@import '~components/directDebit/directDebitPopUpForm/directDebitPopUpForm';
@import '~components/directDebit/directDebitForm/directDebitForm';
@import '~components/errorMessage/errorMessage';

body {
  min-height: 100vh;
}

.gu-content {
  position: relative;
  z-index: 0;
  overflow: hidden;
}

.gu-content--contribution-form {
  background: #f1f8fc;
}

.gu-content--contribution-thankyou {
  background: gu-colour(news-garnett-highlight);
}

.gu-content__main {
  position: relative;
}

.gu-content__bg svg {
  display: block;
}

/*= HEADER */

header[role="banner"] {
  background-color: gu-colour(nav-faded);
  border-bottom: 1px solid gu-colour(garnett-neutral-4);
  position: relative;
  z-index: 1;
}

.glogo {
  width: 69px;
  height: 69px;
  position: relative;
}

.glogo .svg-roundel {
  width: 100%;
  height: 100%;
}

.countryGroups {
  background: gu-colour(garnett-neutral-5);
  border: 1px solid gu-colour(garnett-neutral-4);
  font-family: $gu-text-sans-web;
  margin-top: $gu-v-spacing;
  max-width: 355px;
  padding: 0;
  width: 100%;
}

// Safari doesn't respect styles applied to <summary> so we need this wrapper div
.countryGroups__summary-wrapper {
  align-items: center;
  color: gu-colour(garnett-neutral-2);
  display: flex;
  fill: currentColor;
  height: 40px;
  outline: none;
  transition: box-shadow .2s ease-in-out, color .2s ease-in-out;
}

.countryGroups:not([open]) > :not(summary) {
  display: none;
}

.countryGroups__label {
  flex: 1;
}

.countryGroups .icon {
  text-align: center;
  width: 40px;
}

.countryGroups .svg-chevron {
  width: 19px;
  height: 10px;
}

.countryGroups[open] .svg-chevron {
  transform: rotate(180deg);
}

.countryGroups .svg-checkmark {
  width: 18px;
  height: 14px;
}

.countryGroups .svg-globe {
  padding: 0 $gu-v-spacing;
  width: 14px;
  height: 14px;
}

.countryGroups summary:hover,
.countryGroups summary:focus {
  box-shadow: 0 0 0 3px gu-colour(news-garnett-highlight);
  color: inherit;
}

.countryGroups summary::-webkit-details-marker {
  display: none;
}

.countryGroups__list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.countryGroups__item > a {
  color: inherit;
  display: flex;
  padding: 0 40px;
  line-height: 40px;
  text-decoration: none;
}

.countryGroups__item > a:hover,
.countryGroups__item > a:focus {
  background: gu-colour(news-garnett-highlight);
  font-weight: bold;
}

/*= FOOTER */

footer[role="contentinfo"] {
  background: gu-colour(media-garnett-main-1);
  color: gu-colour(garnett-neutral-2);
  padding-bottom: $gu-v-spacing * 2;
  font-size: 12px;
}

footer[role="contentinfo"] a {
  color: gu-colour(garnett-neutral-5);
}

.component-footer__content {
  padding-top: $gu-v-spacing;
}

/*= CONTENT */
.gu-content__content {
  background: gu-colour(garnett-neutral-5);
  padding: 0 10px;
  overflow: hidden;
}

/*= TYPOGRAPHY */
body {
  color: gu-colour(media-garnett-main-1);
  font: normal 16px/1.5 $gu-text-egyptian-web;
}

.header {
  border-bottom: 1px solid gu-colour(garnett-neutral-4);
  color: gu-colour(garnett-neutral-1);
  font: bold 32px/1.15 $gu-headline;
  margin: 0 -10px;
  padding: 0 10px $gu-v-spacing;
}

input,
select,
textarea,
button {
  font: inherit;
}

.blurb {
  font: 100 16px/1.25 $gu-headline;
  margin: ($gu-v-spacing / 4) 0 ($gu-v-spacing / 4 * 3);
}

footer[role="contentinfo"] {
  font-family: $gu-text-sans-web;
}

/*= BREAKPOINTS */

header[role="banner"] {
  height: 75px;
}

header[role="banner"],
footer[role="contentinfo"] {
  display: flex;
}

header[role="banner"] {
  align-items: flex-start;
  flex-direction: row-reverse;
  justify-content: space-between;
}

@include mq($from: mobile, $until: tablet) {
  .header {
    border: 0;
    position: absolute;
    top: 0;
    left: 10px;
    width: 290px;
  }

  .glogo {
    top: 10px;
    right: 10px;
  }

  .gu-content__main {
    display: flex;
    flex-direction: column-reverse;
  }

  .gu-content__bg {
    height: 280px;
    position: relative;
  }

  .gu-content__bg .svg-contributions-bg-desktop {
    display: none;
  }

  .gu-content__bg .svg-contributions-bg-mobile {
    bottom: 0;
    height: 223px;
    left: 50%;
    position: absolute;
    transform: translate(-50%,0);
    width: 375px;
  }

  .countryGroups {
    margin-left: 10px;
    text-overflow: ellipsis;
    width: 185px;
    white-space: nowrap;
  }

  .countryGroups summary {
    padding-left: 10px;
  }

  .countryGroups .svg-globe {
    display: none;
  }

  .countryGroups__item > a {
    padding-left: 10px;
  }
}

@include mq($from: tablet) {
  header[role="banner"] {
    padding: 0 calc(50% - 350px);
    width: 700px;
  }

  footer[role="contentinfo"] {
    padding: 0 calc(50% - 350px) ($gu-v-spacing * 2);
    width: 700px;
  }

  .glogo {
    top: $gu-v-spacing * 2;
  }

  .countryGroups__item .icon {
    margin-left: -40px;
  }

  .gu-content__content {
    border-color: gu-colour(garnett-neutral-4);
    border-style: none solid;
    border-width: 0 1px;
    width: 380px;
    margin-left: calc(50% - 361px); /* account for the 11px of negative margin */
  }

  .gu-content__bg {
    height: 580px;
    left: 0;
    position: absolute;
    top: 245px;
    width: 100%;
    z-index: -1;
  }

  .gu-content__bg svg {
    bottom: 0;
    height: 580px;
    left: 50%;
    position: absolute;
    transform: translate(-50%,0);
    width: 1400px;
  }

  .gu-content__main .svg-contributions-bg-mobile {
    display: none;
  }
}

@include mq($from: leftCol) {
  header[role="banner"] {
    padding: 0 calc(50% - 550px) 0 calc(50% - 390px);
    width: 940px;
  }

  footer[role="contentinfo"] {
    padding: 0 calc(50% - 550px) ($gu-v-spacing * 2) calc(50% - 390px);
    width: 940px;
  }

  .gu-content__content {
    width: 380px;
    margin-left: calc(50% - 401px); /* account for the 11px of negative margin */
  }
}

@include mq($from: wide) {
  header[role="banner"] {
    padding: 0 calc(50% - 620px);
    width: 1240px;
  }

  footer[role="contentinfo"] {
    padding: 0 calc(50% - 620px) ($gu-v-spacing * 2);
    width: 1240px;
  }
}

@supports(display: grid) {
  .gu-content {
    display: grid;
    grid-template-rows: [header-t] 75px [header-b] 1fr [footer-t] auto [footer-b];
    grid-template-columns: 1fr;
  }

  header[role="banner"] {
    height: auto;
    grid-row: header-t / header-b;
  }

  footer[role="contentinfo"] {
    grid-row: footer-t / footer-b;
  }

  .gu-content__main {
    grid-row: header-b / footer-t;
  }

  header[role="banner"],
  footer[role="contentinfo"],
  .gu-content__main {
    display: grid;
  }

  @include mq($from: mobile, $until: tablet) {
    .gu-content__bg {
      grid-row: 1;
    }

    .gu-content__content {
      grid-row: 2;
    }

    .gu-content__header {
      justify-content: none;
    }

    footer[role="contentinfo"] {
      padding: 0 ($gu-h-spacing / 2);
    }

    .countryGroups {
      grid-area: 1 / 1;
    }

    .glogo {
      grid-area: 1 / 2;
    }
  }

  @include mq($from: tablet) {
    .gu-content,
    header[role="banner"] {
      padding: 0;
      width: auto;
    }

    footer[role="contentinfo"] {
      padding: 0 0 ($gu-v-spacing * 2);
      width: auto;
    }

    .gu-content__main,
    footer[role="contentinfo"] {
      grid-column-gap: $gu-h-spacing;
      grid-template-columns: 1fr repeat(8, 70px) 1fr;
    }

    header[role="banner"],
    footer[role="contentinfo"] {
      display: grid;
      grid-column: span 10;
    }

    .glogo {
      grid-column: 9;
    }

    .countryGroups {
      grid-column: 2 / 8;
      grid-row: 1;
    }

    .gu-content__content {
      margin: 0;
      grid-row: 1;
      grid-column: 2 / 7;
    }

    .component-footer__content {
      grid-column: 2 / 9;
    }

    .gu-content__bg {
      align-items: flex-end;
      display: flex;
      grid-column: 1 / 11;
      grid-row: 1;
      justify-content: center;
    }
  }

  @include mq($from: leftCol) {
    .gu-content__main,
    header[role="banner"],
    footer[role="contentinfo"] {
      grid-column-gap: $gu-h-spacing;
      grid-template-columns: 1fr repeat(14, 60px) 1fr;
      width: auto;
    }

    header[role="banner"],
    footer[role="contentinfo"] {
      grid-column: span 16;
    }

    .glogo {
      grid-column: 14;
      justify-self: flex-end;
    }

    .gu-content__content {
      width: auto;
      grid-column: 4 / 9;
    }

    .component-footer__content {
      grid-column: 2 / 11;
    }

    .gu-content__bg {
      grid-column: 1 / 17;
    }
  }

  @include mq($from: wide) {
    .gu-content__main,
    header[role="banner"],
    footer[role="contentinfo"] {
      grid-column-gap: $gu-h-spacing;
      grid-template-columns: 1fr repeat(16, 60px) 1fr;
    }

    .glogo {
      grid-column: 16;
    }

    header[role="banner"],
    footer[role="contentinfo"] {
        grid-column: span 18;
    }

    .gu-content__content {
      grid-column: 5 / 10;
    }

    .component-footer__content {
      grid-column: 2 / 12;
    }

    .gu-content__bg {
      grid-column: 1 / 19;
    }
  }
}

/*= CONTENT */
.content {
  background: gu-colour(garnett-neutral-5);
  padding: 0 10px;
}

.form--contribution {
  display: flex;
  flex-direction: column;
}

.form__field {
  align-items: stretch;
  display: flex;
  flex-direction: column;
}

/*= TYPOGRAPHY */

form {
  font-family: $gu-text-sans-web;
}

.form__radio-group--tabs {
  font-family: $gu-headline;
  font-weight: bold;
}

/*= CONTRIBUTION FORM */
.form__radio-group {
  border: 0;
  margin: 0;
  padding: 0;
}

.form__legend--radio-group {
  display: none;
}

.form__radio-group-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.form__radio-group-input {
  display: none;
}

.form__radio-group-label {
  cursor: pointer;
}

.form__radio-group--tabs .form__radio-group-list {
  display: flex;
}

.form__radio-group--tabs .form__radio-group-item {
  border-top: 1px solid gu-colour(neutral-4);
  flex: 1;
  margin: 0 -10px;
}

.form__radio-group--tabs .form__radio-group-item + .form__radio-group-item {
  border-left: 1px solid gu-colour(neutral-4);
}

.form__radio-group--tabs .form__radio-group-input + .form__radio-group-label {
  display: block;
  padding: 4px 10px 4px;
}

.form__radio-group--tabs .form__radio-group-input:checked + .form__radio-group-label {
  background: gu-colour(garnett-neutral-5);
  color: gu-colour(sport-garnett-media-main-1);
}

.form__radio-group--tabs .form__radio-group-input:not(:checked) + .form__radio-group-label {
  background: gu-colour(garnett-neutral-3);
  color: gu-colour(garnett-neutral-2);
}

.form__radio-group--pills .form__radio-group-list {
  display: flex;
}

.form__radio-group--pills .form__radio-group-item {
  width: 50px;
  height: 50px;
}

.form__radio-group--pills .form__radio-group-item + .form__radio-group-item {
  margin-left: 10px;
}

.form__radio-group--pills .form__radio-group-input + .form__radio-group-label {
  border: solid 1px gu-colour(sport-garnett-media-main-1);
  border-radius: 25px;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
}

.form__radio-group--pills .form__radio-group-input:checked + .form__radio-group-label {
  background: gu-colour(sport-garnett-media-main-1);
  color: gu-colour(garnett-neutral-5);
}

.form__radio-group--buttons .form__radio-group-item + .form__radio-group-item {
  margin-top: 6px;
}

.form__radio-group--buttons .form__radio-group-label {
  align-items: center;
  border: 1px solid gu-colour(neutral-4);
  border-radius: 20px;
  display: flex;
  margin-bottom: 8px;
  padding: 9px 0;
}

.form__radio-group--buttons .form__radio-group-input:checked + .form__radio-group-label {
  border-color: gu-colour(sport-garnett-media-main-1);
  font-weight: bold;
}

.form__radio-group--buttons .form__radio-group-input + .form__radio-group-label .radio-ui {
  width: 8px;
  height: 8px;
  border-radius: 100%;
  border-color: gu-colour(garnett-neutral-2);
  display: inline-block;
  border-style: solid;
  border-width: 1px;
  margin-left: 15px;
  margin-right: 15px;
}

.form__radio-group--buttons .form__radio-group-input:not(:checked) + .form__radio-group-label:hover .radio-ui {
  border-color: gu-colour(sport-garnett-media-main-1);
  box-shadow: 0 0 0 2px gu-colour(live-garnett-sport2);
}

.form__radio-group--buttons .form__radio-group-input:not(:checked) + .form__radio-group-label svg {
  filter: grayscale(100%);
}

.form__radio-group--buttons .form__radio-group-input:checked + .form__radio-group-label .radio-ui {
  border-color: gu-colour(sport-garnett-media-main-1);
  box-shadow: inset 0 0 0 1px gu-colour(garnett-neutral-5);
  background: gu-colour(sport-garnett-media-main-1);
}

.form__radio-group--buttons .form__radio-group-input + .form__radio-group-label .radio-ui__label {
  flex: 1;
}

.form__radio-group--buttons .form__radio-group-input + .form__radio-group-label .svg-paypal {
  height: 18px;
  width: 15px;
  margin-right: 16px;
  margin-left: 5px;
}

.form__radio-group--buttons .form__radio-group-input + .form__radio-group-label .svg-new-credit-card {
  height: 14px;
  width: 22px;
  margin-right: 10px;
  margin-left: 5px;
}

.form__radio-group--contribution-pay .form__legend {
  font-weight: bold;
}

.form__label {
  font-weight: bold;
  line-height: 1;
  margin-bottom: 4px;
}

.form__input {
  appearance: none;
  background: gu-colour(garnett-neutral-5);
  border: 1px solid gu-colour(neutral-4);
  border-radius: 0;
  padding: 9px 10px 9px 38px;
  transition: box-shadow .2s ease-in-out;
}

.form__input:hover {
  box-shadow: 0 0 0 3px #ededed;
}

.form__input:focus {
  box-shadow: 0 0 0 3px gu-colour(sport-garnett-media-main-1);
  outline: none;
}

.form__input--primed:invalid,
.form__input--invalid {
  border-color: #3db540;
}

.form__input::placeholder,
.form__input--placeholder {
  color: gu-colour(garnett-neutral-2);
}

.form__error {
  background-color: rgba(61,181,64,.1);
  color: #236925;
  font-size: 14px;
  line-height: 16px;
  padding: 6px 10px;
}

.form__submit {
  display: flex;
  justify-content: flex-end;
  margin-top: 24px;
  padding-bottom: 30px;
}

.form__submit-button {
  align-items: center;
  background: gu-colour(news-garnett-highlight);
  border: none;
  border-radius: 20px;
  display: inline-flex;
  padding: 9px 20px;

  &:enabled {
    cursor: pointer;

    &:hover,
    &:focus {
      background: #e5ce00;
    }
  }
}

.form__radio-group--contribution-amount,
.form__field--contribution-other-amount,
.form__field--contribution-fname,
.form__field--contribution-lname {
  margin-top: 12px;
}

.form__field--contribution-email,
.form__field--contribution-state {
  margin-top: 24px;
}

.form__radio-group--contribution-pay {
  margin-top: 20px;
}

.form__input-with-icon {
  position: relative;
}

.form__input-with-icon .form__icon {
  align-items: center;
  display: flex;
  fill: gu-colour(garnett-neutral-2);
  height: 40px;
  justify-content: center;
  left: 1px;
  position: absolute;
  top: 1px;
  width: 38px;
}

.form__input-with-icon .form__input {
  box-sizing: border-box;
  width: 100%;
}

.form__input-with-icon .form__input:focus ~ .form__icon {
  fill: gu-colour(sport-garnett-media-main-1);
}

.form__field .svg-user {
  width: 18px;
  height: 18px;
}

.form__field .svg-envelope {
  width: 16px;
  height: 10px;
}

.form__field .svg-pound,
.form__field .svg-dollar {
  width: 24px;
  height: 26px;
}

.form__field .svg-euro {
  width: 30px;
  height: 40px;
}

.form__field .svg-globe {
  width: 14px;
  height: 14px;
}

.form__submit .svg-arrow-right-straight {
  width: 20px;
  height: 18px;
  vertical-align: middle;
}

.icon {
  fill: inherit;
}


/*= THANK YOU PAGE */

.hidden {
  display: none;
}

.confirmation {
  border-bottom: 1px solid gu-colour(garnett-neutral-4);
  font-weight: 300;
  margin: 0 -10px;
  padding: 0 10px;
}

.confirmation__title {
  font-weight: 900;
  font-size: 1;
  margin: ($gu-v-spacing / 3) 0;
}

.confirmation__message {
  font: 300 22px/1.2 $gu-headline;
  margin: ($gu-v-spacing / 2) 0 $gu-v-spacing;
}

.confirmation p {
  margin: $gu-v-spacing 0 ($gu-v-spacing * 2);
}

.confirmation--backtothegu {
  margin-bottom: $gu-v-spacing + 20px;
  padding-bottom: $gu-v-spacing;
  padding-top: $gu-v-spacing;
}

.confirmation__meta {
  font-family: $gu-text-sans-web;
  font-size: 12px;
}

.button {
  align-items: center;
  border: 1px solid currentColor;
  border-radius: $gu-v-spacing * 2;
  display: inline-flex;
  font-family: $gu-text-sans-web;
  height: $gu-v-spacing * 3.5;
  line-height: 1;
  padding: 0 $gu-h-spacing;
  text-decoration: none;
}

.button--newsletter {
  color: #29a05f;
}

.button--newsletter .svg-subscribe {
  margin-right: 10px;
}

.button--wob {
  background: gu-colour(garnett-neutral-1);
  color: gu-colour(garnett-neutral-5);
}

.button .svg-arrow-right-straight {
  width: 20px;
  height: 18px;
  fill: gu-colour(garnett-neutral-5);
}

.svg-subscribe {
  width: 23px;
  height: 20px;
  fill: currentColor;
}

.svg-newsletters {
  display: block;
  margin: ($gu-v-spacing * 2) -10px 0;
}

