// -----  gu-sass ----- //

@import '~stylesheets/gu-sass/gu-sass';
@import '~components/progressMessage/progressMessage';
@import '~components/spinners/animatedDots';
@import '~components/directDebit/directDebitPopUpForm/directDebitPopUpForm';
@import '~components/directDebit/directDebitForm/directDebitForm';
@import '~components/errorMessage/errorMessage';
@import '~components/ctaLink/ctaLink';
@import '~components/generalErrorMessage/generalErrorMessage';
@import '~components/button/button';
@import '~components/marketingConsentNew/marketingConsent';
@import '~pages/new-contributions-landing/components/ContributionThankYou/ContributionThankYou';
@import '~pages/new-contributions-landing/components/ContributionTicker/ContributionTicker';
@import '~pages/new-contributions-landing/components/ButtonWithRightArrow/ButtonWithRightArrow';
@import '~pages/new-contributions-landing/components/StripePaymentRequestButton/StripePaymentRequestButton';
@import '~pages/new-contributions-landing/components/ContributionSurvey/ContributionSurvey';


body {
  min-height: 100vh;
}

.gu-content {
  position: relative;
  z-index: 0;
  overflow: hidden;
}

.gu-content--contribution-thankyou {
  background: gu-colour(news-garnett-highlight);
}

.gu-content__main {
  position: relative;
  display: flex;
  flex-direction: column-reverse;
}

.gu-content__bg {

  display: flex;
  height: 580px;
  left: 0;
  position: absolute;
  top: 245px;
  width: 100%;
  z-index: -1;

  .svg-contributions-bg-desktop {
    display: block;
    bottom: 0;
    height: 580px;
    left: 50%;
    position: fixed;
    transform: translate(-50%,0);
    width: 1400px;
  }

  @include mq($from: mobile, $until: tablet) {
    display: none;
  }

}

/*= HEADER */

.contribution-form.header {
  display: none;
  @include mq($from: tablet) {
    display: block;
  }
}

.header {
  border: 0;
  left: 10px;
  padding: $gu-v-spacing/2 $gu-h-spacing/2 $gu-v-spacing $gu-h-spacing/2;
  width: 100%;
  margin: 0 -10px;
  font: bold 22px/1.15 $gu-headline;
  color: gu-colour(garnett-neutral-1);

  @include mq($from: tablet) {
    border-bottom: 1px solid gu-colour(garnett-neutral-4);
    font-size: 36px;
    padding: 0 $gu-h-spacing/2 $gu-v-spacing*1.5 $gu-h-spacing/2;
  }
}

.header__us-campaign {
  font-size: 27px;
  border-bottom: none;
}

header[role="banner"] {

  background-color: gu-colour(header-dark);
  border-bottom: 1px solid gu-colour(garnett-neutral-4);
  position: relative;
  height: 44px;
  display: flex;
  align-items: flex-start;
  flex-direction: row-reverse;
  justify-content: space-between;
  z-index: 1;
  padding: 0 10px;


  @include mq($from: tablet) {
    height: 75px;
    padding: 0;
    width: auto;
  }

  @include mq($from: leftCol) {
    padding: 0 calc(50% - 550px) 0 calc(50% - 390px);
    width: 940px;
  }

  @include mq($from: wide) {
    padding: 0 calc(50% - 620px);
    width: 1240px;
  }

}

.glogo {
  width: 30px;
  height: 30px;
  right: 0;
  position: relative;
  top: 7px;

  .svg-roundel {
    width: 100%;
    height: 100%;
  }

  .svg-roundel__g {
    fill: gu-colour(header-dark);
  }

  @include mq($from: tablet) {
    width: 60px;
    height: 60px;
    top: 7px;
    right: 10px;
  }
}

.countryGroups {
  font-family: $gu-text-sans-web;
  max-width: 355px;
  text-overflow: ellipsis;
  width: 185px;
  white-space: nowrap;
  margin-left: 0;
  // TODO: this is basically just vertical centering. use flex-box!
  margin-top: 4px;

  summary {
    padding-left: 0;
  }

  .svg-globe {
    display: none;
  }

  @include mq($from: tablet) {
    padding: 0;
    width: 100%;
    margin-top: $gu-v-spacing * 2.5;
    margin-left: 10px;
    cursor: pointer;

    summary {
      padding-left: 10px;
    }
  }
}

.countryGroups__label {
  color: #fff;
}

// Safari doesn't respect styles applied to <summary> so we need this wrapper div
.countryGroups__summary-wrapper {
  align-items: center;
  display: flex;
  height: 40px;
  outline: none;
  transition: box-shadow .2s ease-in-out, color .2s ease-in-out;

  // this is to fix IE bug where events on svgs don't bubble up
  & svg {
    pointer-events: none;
  }
}

.countryGroups:not([open]) > :not(summary) {
  display: none;
}

.countryGroups .icon {
  text-align: center;
  width: 40px;
}

.countryGroups .svg-chevron {
  width: 19px;
  height: 10px;
  fill: #fff;
}

.countryGroups[open] .svg-chevron {
  transform: rotate(180deg);
}

.countryGroups .svg-checkmark {
  width: 18px;
  height: 14px;
  fill: gu-colour(news-garnett-main-1);
}

.countryGroups .svg-globe {
  padding: 0 $gu-v-spacing;
  width: 14px;
  height: 14px;
  fill: gu-colour(garnett-neutral-1);
  fill: #fff;
}

.countryGroups summary {
  list-style: none;
  outline: none;
}

.countryGroups summary:hover,
.countryGroups summary:focus {
  box-shadow: none;
  color: inherit;
}

.countryGroups summary::-webkit-details-marker {
  display: none;
}

.countryGroups__list {
  list-style: none;
  margin: 0;
  padding: 0;
  background: gu-colour(garnett-neutral-5);
  border: 1px solid gu-colour(garnett-neutral-4);
}

.countryGroups__item:first-child > a {
  &:before {
    content: none;
  }
}

.countryGroups__item > a {
  color: inherit;
  display: flex;
  padding: 0 15px;
  line-height: 40px;
  text-decoration: none;
  justify-content: space-between;
  position: relative;


  &:before {
    content: '';
    border-top: 1px solid gu-colour(garnett-neutral-4);
    display: block;
    position: absolute;
    top: 0;
    left: 15px;
    right: 0;
  }
}

.countryGroups__item > a:hover,
.countryGroups__item > a:focus {
  background: gu-colour(garnett-neutral-3);
  font-weight: bold;
}


/*= FOOTER */

footer[role="contentinfo"] {
  padding: 0 ($gu-h-spacing / 2);
  background: gu-colour(media-garnett-main-1);
  color: gu-colour(garnett-neutral-2);
  font-size: 12px;
  display: flex;

  @include mq($from: tablet) {
    padding: 0 0 ($gu-v-spacing * 2);
    width: auto;
  }

  @include mq($from: leftCol) {
    padding: 0 calc(50% - 550px) ($gu-v-spacing * 2) calc(50% - 390px);
    width: 940px;
  }
}

footer[role="contentinfo"] a {
  color: gu-colour(garnett-neutral-5);
}

.component-footer__content {
  padding-top: $gu-v-spacing;
}


/*= CONTENT */
.gu-content__content {
  background: gu-colour(garnett-neutral-5);
  padding: 0 10px;
  overflow: hidden;
  flex-grow: 1;

  @include mq($from: tablet) {
    border-color: gu-colour(garnett-neutral-4);
    border-style: none solid;
    border-width: 0 1px;
    width: 380px;
    margin-left: calc(50% - 361px); /* account for the 11px of negative margin */
  }

  @include mq($from: leftCol) {
    width: 380px;
    margin-left: calc(50% - 401px); /* account for the 11px of negative margin */
  }

}

/*= TYPOGRAPHY */
body {
  color: gu-colour(garnett-neutral-1);
  font: normal 16px/1.5 $gu-text-egyptian-web;
}

input,
select,
textarea,
button {
  font: inherit;
}

.blurb {
  display: none;
  
  @include mq($from: tablet) {
    display: block;
    font: 100 17px/1.25 $gu-text-egyptian-web;
    margin: ($gu-v-spacing / 4) 0 ($gu-v-spacing / 4 * 3);
  }
}

footer[role="contentinfo"] {
  font-family: $gu-text-sans-web;

  @include mq($from: tablet) {
    padding: 0 calc(50% - 350px) ($gu-v-spacing * 2);
    width: 700px;
  }

  @include mq($from: wide) {
    padding: 0 calc(50% - 620px) ($gu-v-spacing * 2);
    width: 1240px;
  }

}


/*= CONTENT */
.content {
  background: gu-colour(garnett-neutral-5);
  padding: 0 10px;
}

.form--contribution {
  display: flex;
  flex-direction: column;
}

.form__field {
  align-items: stretch;
  display: flex;
  flex-direction: column;
}

.form--contribution .component-terms-privacy {
  margin-bottom: 30px;
  font-size: 12px;
  line-height: 16px;
  color: gu-colour(garnett-neutral-2);

  a {
    color: gu-colour(neutral-2);
  }

  .component-terms-privacy__change {
    padding-bottom: 4px;
  }

}

/*= TYPOGRAPHY */

form {
  font-family: $gu-text-sans-web;
}

.form__radio-group--tabs {
  font-family: $gu-headline;
  font-weight: bold;
}

/*= CONTRIBUTION FORM */
.form__radio-group {
  border: 0;
  margin: 0;
  padding: 0;
}

.form__radio-group--contribution-type {
  @include multiline-bottom-border;
}

.form__radio-group--contribution-type:after {
  margin: 0 -10px;
}

.form__legend--radio-group {
  display: none;
}

.form__radio-group-list {
  list-style: none;
  padding: 0;

  @include mq($from: tablet) {
    padding: $gu-v-spacing 0 0 0;
  }
}

.form__radio-group-input {
  display: none;
}

.form__radio-group-label {
  cursor: pointer;
}

.form__radio-group--tabs .form__radio-group-list {
  display: flex;
  margin: 0 -10px;
}

.form__radio-group--tabs .form__radio-group-item {
  border-top: 1px solid gu-colour(neutral-4);
  flex: 1;
}

.form__radio-group--tabs .form__radio-group-item + .form__radio-group-item {
  border-left: 1px solid gu-colour(neutral-4);
}

.form__radio-group--tabs .form__radio-group-input + .form__radio-group-label {
  display: block;
  padding: 4px 10px 10px;
}

.form__radio-group--tabs .form__radio-group-input:checked + .form__radio-group-label {
  background: gu-colour(news-garnett-highlight);
}

.form__radio-group--pills .form__radio-group-list {
  display: flex;
}

.form__radio-group--pills .form__radio-group-item {
  width: 50px;
  height: 50px;
}

.form__radio-group--pills .form__radio-group-item + .form__radio-group-item {
  margin-left: 10px;
}

.form__radio-group--pills .form__radio-group-input + .form__radio-group-label {
  border: solid 1px gu-colour(news-garnett-highlight);
  border-radius: 25px;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
}

.form__radio-group--pills .form__radio-group-input:checked + .form__radio-group-label {
  background: gu-colour(news-garnett-highlight);
}

.form__radio-group--buttons .form__radio-group-item + .form__radio-group-item {
  margin-top: 6px;
}

.form__radio-group--buttons .form__radio-group-label {
  align-items: center;
  display: flex;
  padding: $gu-v-spacing/2 0;
}

.form__radio-group--buttons .form__radio-group-input:checked + .form__radio-group-label {
  font-weight: bold;
}

.form__radio-group--buttons .form__radio-group-input + .form__radio-group-label .radio-ui {
  width: 8px;
  height: 8px;
  border-radius: 100%;
  border-color: gu-colour(garnett-neutral-2);
  display: inline-block;
  border-style: solid;
  border-width: 1px;
  margin-left: 15px;
  margin-right: 15px;
}

.form__radio-group--buttons .form__radio-group-input:not(:checked) + .form__radio-group-label:hover .radio-ui {
  border-color: gu-colour(sport-garnett-media-main-1);
  box-shadow: 0 0 0 2px gu-colour(live-garnett-sport2);
}

.form__radio-group--buttons .form__radio-group-input:not(:checked) + .form__radio-group-label svg {
  filter: grayscale(100%);
}

.form__radio-group--buttons .form__radio-group-input:checked + .form__radio-group-label .radio-ui {
  border-color: gu-colour(sport-garnett-media-main-1);
  box-shadow: inset 0 0 0 1px gu-colour(garnett-neutral-5);
  background: gu-colour(sport-garnett-media-main-1);
}

.form__radio-group--buttons .form__radio-group-input + .form__radio-group-label .radio-ui__label {
  flex: 1;
}

.form__radio-group--buttons .form__radio-group-input + .form__radio-group-label .svg-paypal {
  height: 18px;
  width: 15px;
  margin-right: 16px;
  margin-left: 5px;
}

.form__radio-group--buttons .form__radio-group-input + .form__radio-group-label .svg-new-credit-card {
  height: 14px;
  width: 22px;
  margin-right: 10px;
  margin-left: 5px;
}

.form__radio-group--contribution-pay .form__legend {
  font-weight: bold;
}

.form__label {
  font-weight: bold;
  line-height: 1;
  margin-bottom: 4px;
}

.form__input {
  appearance: none;
  background: gu-colour(garnett-neutral-5);
  border: 1px solid gu-colour(neutral-4);
  border-radius: 0;
  padding: 9px 10px 9px 38px;
  transition: box-shadow .2s ease-in-out;
}

.form__input:enabled:hover {
  box-shadow: 0 0 0 3px #ededed;
}

.form__input:disabled {
  background: gu-colour(garnett-neutral-4);
  color: gu-colour(media-garnett-main-1);
}

.form__input:enabled:focus {
  box-shadow: 0 0 0 3px gu-colour(sport-garnett-media-main-1);
  outline: none;
}

.form__input--primed:invalid,
.form__input--invalid {
  border-color: gu-colour(news-garnett-main-1);
}

.form__input::placeholder,
.form__input--placeholder {
  color: gu-colour(garnett-neutral-2);
}

.form__error {
  background-color: gu-colour(news-faded);
  color: gu-colour(news-garnett-main-1);
  font-size: 14px;
  line-height: 16px;
  padding: 6px 10px;
  a, a:visited {
    color: gu-colour(news-garnett-main-1);
  }
}

.form__error--sign-in {
  display: block;
  text-decoration: none;
}

.form__error--existing-contributor {
  margin-top: $gu-v-spacing;
  display: block;
  text-decoration: none;
}

.underline {
  text-decoration: underline;
}

.form__submit {
  margin-top: 24px;
  padding-bottom: 20px;
}

.form__submit-button.button {
  background: gu-colour(news-garnett-highlight);
  border: 1px solid gu-colour(news-garnett-highlight);
}

.form__submit-button--hidden {
  display: none;
}

.form__radio-group--contribution-amount {
  margin: 12px 0;
}

.form__field {
  margin-top: 12px;
}

.form__radio-group--contribution-pay {
  margin-top: 20px;
}

.form__input-with-icon {
  position: relative;
}

.form__input-with-icon .form__icon {
  align-items: center;
  display: flex;
  fill: gu-colour(garnett-neutral-2);
  height: 40px;
  justify-content: center;
  left: 1px;
  position: absolute;
  top: 1px;
  width: 38px;
}

.form__input-with-icon .form__input {
  box-sizing: border-box;
  width: 100%;
}

.form__input-with-icon .form__input:focus ~ .form__icon {
  fill: gu-colour(sport-garnett-media-main-1);
}

.form__field .svg-user {
  width: 18px;
  height: 18px;
}

.form__field .svg-envelope {
  width: 16px;
  height: 10px;
}

.form__field .svg-pound,
.form__field .svg-dollar {
  width: 24px;
  height: 26px;
}

.form__field .svg-euro {
  width: 30px;
  height: 40px;
}

.form__field .svg-globe {
  width: 14px;
  height: 14px;
}

.icon {
  fill: inherit;
}

.hidden {
  display: none;
}


/* = SIGN OUT link */

.component-signout {
  color: inherit;
  display: block;
  text-align: right;
}


/* PayPal Express Button */

.component-paypal-button-checkout {
  width: 100%;
}

.component-paypal-button-checkout--hidden {
  display: none;
}

.component-password-failure-message {
  padding: 0 $gu-h-spacing $gu-v-spacing;
  margin-top: $gu-v-spacing;
}
