.component-error-message {
	position: relative;
	border: none;
	border-radius: 600px;
	height: 60px;
	padding: 0 $gu-h-spacing;
	color: #fff;
	background-color: gu-colour(state-error);
	font-family: $gu-text-sans-web;
	font-size: 14px;
	font-weight: 400;
	text-align: left;
	margin-bottom: 20px;

	@include mq($from: mobileLandscape) {
		height: 32px;
	}

	@include mq($from: tablet) {
		width: 260px;
	}

	.svg-exclamation {
		position: absolute;
		height: 16px;
		fill: #fff;
		top: 50%;
		transform: translateY(-50%);
	}
}

.component-error-message__message {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	left: 10%;
}

.component-error-message--sign-in {
	display: flex;
	justify-content: center;
	justify-items: center;
	align-content: center;
	align-items: center;
	height: auto;
	padding: $gu-v-spacing*0.5 $gu-h-spacing;

	@include mq($from: mobileLandscape) {
		height: auto;
	}

	@include mq($from: tablet) {
		height: auto;
	}
}
