@mixin form-field {
  @include gu-fontset-body-sans;
  border: 1px solid gu-colour(garnett-neutral-4);
  transition: box-shadow .2s;
  background-color: gu-colour(garnett-neutral-5);
  border-radius: 0;
  width: 100%;
  box-sizing: border-box;

  &:hover {
    box-shadow: 0 0 0 2px lighten(gu-colour(garnett-neutral-4), 6%);
  }

  &:focus, &:active {
    outline-color: rgba(255,255,255,0);
    box-shadow: 0 0 0 2px lighten(gu-colour(news-garnett-highlight), 6%);
  }

  &[disabled] {
    pointer-events: none;
    background-color: gu-colour(garnett-neutral-3);
  }
}

@mixin label {
  @include gu-fontset-body-sans;
  font-weight: bold;
  margin-bottom: $gu-v-spacing / 2;
  margin-top: $gu-v-spacing * 2;
}
