@import './formFields';

.component-form-label__label {
  @include label;
  margin-bottom: $gu-v-spacing / 2;
  display: block;
}

.component-form-label__footer {
  @include gu-fontset-body-sans;
  margin-top: $gu-v-spacing / 2;
}
