// -----  gu-sass ----- //
@import '~stylesheets/gu-sass/gu-sass';

.component-terms-privacy {
	font-size: 14px;

	a {
		color: inherit;
	}
}

.patrons,
.philanthropic-ask {
	margin-top: $gu-v-spacing * 0.5;

	h4 {
		font-family: $gu-headline;
		font-size: 16px;
		font-weight: bold;
		line-height: 20px;
	}

	p {
		margin-top: $gu-v-spacing * 1;
		font-family: $gu-text-sans-web;
		font-size: 14px;
		line-height: 17px;
	}

	a {
		color: inherit;
	}
}

.horizontalRule {
	height: 0;
	border-top: 1px solid #dcdcdc;
	margin-top: $gu-v-spacing * 1.25;
	margin-bottom: $gu-v-spacing * 1.25;

	// Negative margin CSS hack to force element width to overrule parent padding
	@include mq($from: tablet) {
		margin-left: -($gu-h-spacing * 1.25);
		margin-right: -($gu-h-spacing * 1.25);
	}

	@include mq($from: mobile) {
		margin-left: -($gu-h-spacing * 1.25);
		margin-right: -($gu-h-spacing * 1.25);
	}

	@include mq($from: leftCol) {
		margin-left: -($gu-h-spacing * 4.25);
		margin-right: -($gu-h-spacing * 4.25);
	}
}

.customer-support-contact {
	margin-top: $gu-v-spacing * 1;
	margin-bottom: $gu-v-spacing * 2;
	font-family: $gu-text-sans-web;
	font-size: 14px;
	line-height: 17px;
}

.other-support-container {
	padding-bottom: $gu-v-spacing * 2;
}
