@import '~stylesheets/gu-sass/gu-sass';

.component-flash-sale-countdown {
  font-size: 19px;
  line-height: 17px;
  font-family: $gu-headline;
  overflow: hidden;
  font-variant-numeric: lining-nums;
  -webkit-font-feature-settings: "lnum";
  font-feature-settings: "lnum";
}

.component-flash-sale-countdown .component-countdown__chip {
  display: inline-block;
  padding: $gu-v-spacing / 2 $gu-h-spacing / 2;
  @include mq($from: mobileLandscape) {
    padding: $gu-v-spacing / 2 $gu-h-spacing $gu-v-spacing / 2 $gu-h-spacing / 2;
  }
  border-right: 1px solid currentColor;
  &:last-child {
    border: none;
  }
}

.component-flash-sale-countdown .component-countdown__chip--legend {
  font-style: italic;
  padding-top: $gu-v-spacing / 2 + 19px;
}

.component-flash-sale-countdown .component-countdown__description,
.component-flash-sale-countdown .component-countdown__chip--legend {
  font-family: $gu-text-sans-web;
  font-size: 14px;
}

.component-flash-sale-countdown .component-countdown__time {
  font-weight: 800;
  display: block;
}

.component-flash-sale-countdown .component-countdown {
  display: flex;
  justify-content: flex-start;
}

.component-flash-sale-countdown-hero {
  border-top: 1px solid #ffffff;
  padding: $gu-v-spacing  ($gu-h-spacing / 2);
  background: gu-colour(brightness-7);
  color: #ffffff;
  .component-flash-sale-countdown {
    margin: $gu-v-spacing/-1  ($gu-h-spacing / -2);
    .component-countdown__chip {
      border-color: rgba(255,255,255,.22);
    }  
  }
}
