.component-flash-sale-countdown {
  font-size: 16px;
  background: gu-colour(garnett-neutral-1);
  color: #fff;
  line-height: 20px;
  font-family: $gu-text-egyptian-web;
  overflow: hidden;
}

.component-flash-sale-countdown__chip {
  display: block;
  float: left;
}

.component-flash-sale-countdown .component-countdown__chip {
  display: inline-block;
  border-right: 1px solid #fff;
  padding: $gu-v-spacing / 4 $gu-h-spacing / 4 $gu-v-spacing / 2;
}

.component-flash-sale-countdown .component-countdown__time {
  font-weight: 800;
  display: block;
}

.component-flash-sale-countdown__chip--help {
  font-style: italic;
  padding-top: $gu-v-spacing / 4 + 20;
  padding-left: $gu-h-spacing / 4;
}
