.component-contribution-selection {
  display: block;

  .component-radio-toggle__label {
    font-family: $gu-text-sans-web;
    font-weight: bold;
    color: rgba(gu-colour(garnett-neutral-1), 0.5);
  }

  .component-radio-toggle__label--checked {
    background-color: gu-colour(news-garnett-highlight);
    color: gu-colour(garnett-neutral-1);
  }

  .component-error-message {
    background-color: transparent;
    box-sizing: border-box;
    color: gu-colour(news-garnett-main-1);
    border: none;
    height: 40px;
    padding-left: 23px;

    .svg-exclamation {
      display: none;
    }
  }

  .component-error-message__message {
    position: static;
  }
}

.component-contribution-selection--monthly {
  .component-number-input {
    width: 100%;

    @include mq($from: mobileMedium) {
      width: 317px;
    }
  }
}

.component-contribution-selection--one-off {
  .component-number-input {
    width: 261px;
  }
}

.component-contribution-selection__type {
  font-size: 14px;
  line-height: 14px;
  margin: ($gu-v-spacing * 3) 0 ($gu-v-spacing * 2);

  .component-radio-toggle {
    display: inline-block;
    border: 2px solid gu-colour(news-garnett-highlight);
    border-radius: 600px;
  }

  .component-radio-toggle__label {
    padding: 13px $gu-h-spacing;
    display: inline-block;
    width: 60px;
    text-align: center;
  }
}

.component-contribution-selection__amount {
  display: inline-block;
  vertical-align: top;
  font-size: 14px;
  line-height: 40px;
  margin-top: $gu-v-spacing;

  .component-radio-toggle__label {
    border: 2px solid gu-colour(news-garnett-highlight);
    display: inline-block;
    text-align: center;
    width: 40px;
    height: 40px;
    margin-right: 12px;
  }
}

.component-contribution-selection__custom-amount {
  margin-top: $gu-v-spacing * 2;
  margin-bottom: $gu-v-spacing * 3;

  @include mq($from: phablet) {
    display: inline-block;
    vertical-align: top;
    margin-left: $gu-v-spacing;
    margin-top: $gu-v-spacing;
    margin-bottom: $gu-v-spacing * 2;
  }

  .component-number-input {
    border: 2px solid gu-colour(news-garnett-highlight);
    padding: 8px 0;
    margin-top: 0;
  }

  .component-number-input__label {
    top: 10px;
    color: rgba(gu-colour(garnett-neutral-1), 0.5);
    font-weight: bold;
  }

  .component-number-input__input {
    font-size: 14px;
    font-weight: bold;
    color: rgba(gu-colour(garnett-neutral-1), 0.5);

    &::-moz-placeholder {
      opacity: 1;
    }
  }

  .component-number-input--selected {
    .component-number-input__label {
      color: gu-colour(garnett-neutral-1);
    }

    .component-number-input__input {
      color: gu-colour(garnett-neutral-1);

      &::placeholder {
        color: transparent;
      }
    }
  }
}
