@import '~stylesheets/gu-sass/colours';
@import '~stylesheets/gu-sass/typography';

.component-contribute-cta {
  padding: 10px;
  margin-top: 10px;
  background-color: gu-colour(comment-support-3);

  &__heading {
    font-family: $gu-headline;
    font-size: 20px;
    line-height: 1.17;
    font-weight: bold;
  }

  .component-cta-link {
    margin: 10px;

    &__text {
      color: gu-colour(neutral-6);
    }
  }
}
