// -----  gu-sass ----- //

.component-contributions-survey {
  border-bottom: 1px solid gu-colour(neutral-86);
  margin: 0 -10px;
  padding: 0 10px;

  .component-button {
    margin-top: $gu-v-spacing;
    margin-bottom: $gu-v-spacing * 2;
  }
}
