@import '~stylesheets/skeleton/skeleton';
///////////////////
// Amazon Pay    //
///////////////////

.walletWidgetDiv {
	margin: 0 auto 20px;
	width: 100%;
	height: 228px;
}

.consentWidgetDiv {
	margin: 0 auto 20px;
	width: 100%;
	height: 120px;
}
