.component-cta-link {
  background-color: gu-colour(neutral-1);
  border: none;
  border-radius: 600px;
  color: #fff;
  cursor: pointer;
  display: block;
  font-family: $gu-text-sans-web;
  font-size: 14px;
  font-weight: bold;
  height: $gu-v-spacing * 2;
  line-height: 180%;
  margin-top: 12px;
  padding: 6px 20px;
  position: relative;
  text-align: left;
  text-decoration: none;
  vertical-align: bottom;

  &:hover {
    background-color: #000;
  }

  svg {
    height: 50%;
    position: absolute;
    right: 8px;
    top: 9px;
    fill: #fff;
  }
}
