.component-cta-link {
	border-radius: 600px;
	border: none;
	background-color: gu-colour(neutral-1);
	color: #fff;
	padding: 6px 20px;
	margin-top: 12px;
	text-align: left;
	height: $gu-v-spacing * 2;
	vertical-align: bottom;
	display: block;
	line-height: 180%;
	text-decoration: none;
	font-size: 14px;
	font-weight: bold;
	font-family: $gu-text-sans-web;
	position: relative;

	&:hover {
		background-color: #000;
	}

	svg {
		height: 50%;
		position: absolute;
		right: 8px;
		top: 9px;
		fill: #fff;
	}
}
