@import '~stylesheets/gu-sass/gu-sass';

.component-product-page-tabs {
  margin-left: -1px;
  margin-bottom: -1px;
  overflow: visible;
}

.component-product-page-tabs__ul {
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
}

.component-product-page-tabs__li {
  @include mq($until:phablet) {
    flex: 1 1 0;
  }
}

.component-product-page-tabs__tab {
  @include gu-fontset-heading-sans;
  text-decoration: none;
  padding: ($gu-v-spacing)/1.5 $gu-h-spacing/2;
  display: block;
  width: 100%;
  border: 0;
  margin-right: -1px;
  box-shadow: inset 0 0 0 1px gu-colour(garnett-neutral-4); 
  color: gu-colour(garnett-neutral-1);
  text-align: left;
  appearance: none;
  min-width: gu-span(3) + $gu-h-spacing/2;
  box-sizing: border-box;
  cursor: pointer;
  position: relative;
  z-index: 99999;;
}

.component-product-page-tabs__tab:focus {
  outline: none;
}

.component-product-page-tabs__tab:focus,
.component-product-page-tabs__tab:hover {
  text-decoration: underline;
}

.component-product-page-tabs__tab--active {
  box-shadow: inset 0 2px 0 0 gu-colour(news-garnett-highlight), inset 1px 0 0 0 gu-colour(garnett-neutral-4), inset -1px 0 0 0 gu-colour(garnett-neutral-4), inset 0 -1px 0 0 gu-colour(garnett-neutral-5) ;
  text-decoration: none;
  cursor: default;
}
