@import '~stylesheets/gu-sass/gu-sass';

.component-product-page-tabs {
  margin-left: -1px;
  margin-bottom: -1px;
  overflow: visible;
}

.component-product-page-tabs__ul {
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
}

.component-product-page-tabs__li {
  overflow: hidden;
  @include mq($until:phablet) {
    flex: 1 1 0;
  }
}

.component-product-page-tabs__li + .component-product-page-tabs__li .component-product-page-tabs__tab {
  &:before {
    position: absolute;
    bottom: $gu-h-spacing*0.8;
    left: 0;
    width: 1px;
    height: 100%;
    background: gu-colour(garnett-neutral-4);
    content: '';
  }
}

.component-product-page-tabs__tab {
  @include gu-fontset-tabs;
  position: relative;
  text-decoration: none;
  padding: ($gu-v-spacing)*1.3 $gu-h-spacing/2;
  margin: 0 -1px 0 0;
  display: block;
  width: 100%;
  border: 0;
  margin-right: -1px;
  box-shadow: inset 0 1px 0 0 gu-colour(garnett-neutral-4);
  color: gu-colour(garnett-neutral-1);
  text-align: left;
  appearance: none;
  box-sizing: border-box;
  transition: box-shadow 0.2s;
  line-height: 1;

  cursor: pointer;
  @include mq($from:phablet) {
    min-width: gu-span(3) + $gu-h-spacing/2;
  }
}

.component-product-page-tabs__tab:focus {
  outline: none;
}

.component-product-page-tabs__tab:focus,
.component-product-page-tabs__tab:hover {
  box-shadow: inset 0 4px 0 0 gu-colour(garnett-neutral-4);
}

.component-product-page-tabs__tab--active {
  box-shadow: inset 0 4px 0 0 gu-colour(news-garnett-highlight);
  text-decoration: none;
  pointer-events: none;
  cursor: default;
  &:focus {
    box-shadow: inset 0 4px 0 0 gu-colour(highlight-dark);
  }
}

