#contributions-landing-page-uk,
#contributions-landing-page-us {

	// ----- General ----- //

	background-color: darken(#fff, 5%);


	// ----- Introduction ----- //

	.contributions-introduction {
		display: inline-block;
		vertical-align: top;
		margin-bottom: $gu-v-spacing * 1.5;

		@include mq($from: phablet, $until: desktop) {
			width: 320px;
		}
	}

	.contributions-introduction__primary, .contributions-introduction__secondary {
		font-size: 32px;
		line-height: 36px;
		color: #fff;
		font-family: $gu-egyptian-web;
		font-weight: 600;
		padding-left: $gu-h-spacing / 2;
		padding-right: $gu-h-spacing / 2;

		@include mq($from: mobileMedium) {
			font-size: 36px;
			line-height: 40px;
		}

		@include mq($from: desktop) {
			padding: 0;
			font-size: 44px;
			line-height: 46px;
		}
	}

	.contributions-introduction__primary {
		margin-bottom: 36px;
		margin-top: $gu-v-spacing/2;

		@include mq($from: phablet) {
			margin-bottom: $gu-v-spacing;
			margin-top: 34px;
		}

		@include mq($from: desktop) {
			margin-bottom: 45px;
			margin-top: 64px;

			h1:nth-child(1) {
				margin-left: $gu-h-spacing;
			}

			h1:nth-child(2) {
				margin-left: 160px;
			}

			h1:nth-child(3) {
				margin-left: 60px;
			}
		}

		@include mq($from: leftCol) {
			h1:nth-child(2) {
				margin-left: 267px;
			}

			h1:nth-child(3) {
				margin-left: 116px;
			}
		}
	}

	.contributions-introduction__secondary {
		color: gu-colour(neutral-1);

		@include mq($from: phablet) {
			h1:nth-child(2) {
				margin-left: 55px;
			}
		}

		@include mq($from: desktop) {
			h1:nth-child(1) {
				margin-left: 147px;
				display: inline;
			}

			h1:nth-child(2) {
				margin-left: 0;
				display: inline;
			}
		}

		@include mq($from: leftCol) {
			h1:nth-child(1) {
				margin-left: 254px;
			}

			h1:nth-child(2) {
				margin-left: 0;
			}
		}
	}

	.contributions-introduction__indent {
		@include mq($from: phablet, $until: desktop) {
			margin-left: 85px;
		}

		@include mq($from: desktop) {
			display: block;
			margin-left: 420px;
		}

		@include mq($from: leftCol) {
			margin-left: 525px;
		}
	}

	// ----- Context ----- //

	.contributions-context {
		display: inline-block;
		vertical-align: top;
		color: gu-colour(neutral-1);
		padding-left: $gu-h-spacing / 2;
		padding-right: $gu-h-spacing / 2;

		@include mq($from: desktop) {
			width: 540px;
		}

		@include mq($from: leftCol) {
			width: 660px;
		}
	}

	.contributions-context-intro {
		display: inline-block;
		vertical-align: top;
		padding-left: $gu-h-spacing / 2;
		padding-right: $gu-h-spacing / 2;

		@include mq($from: phablet) {
			width: 300px;
			margin-top: 49px;
		}

		@include mq($from: desktop) {
			width: 540px;
			margin-top: 20px;
		}

		@include mq($from: leftCol) {
			width: 660px;
		}
	}

	.contributions-context__heading {
		font-weight: bold;
		margin-top: 49px;
		margin-bottom: 20px;
		font-size: 24px;
		line-height: 30px;
		font-family: $gu-egyptian-web;

		@include mq($from: desktop) {
			margin-top: 80px;
		}

		&::before {
			content: " ";
			border: 1px solid gu-colour(neutral-1);
			width: 44px;
		    display: block;
		}
	}

	.contributions-context__copy {
		font-size: 16px;
		line-height: 24px;
		font-family: $gu-text-egyptian-web;
		margin-bottom: $gu-v-spacing;

		@include mq($from: phablet) {
			width: 620px;
		}
	}

	.contributions-context__subheading {
		font-weight: bold;
		font-size: 32px;
		line-height: 36px;
		color: #fff;
		font-family: $gu-egyptian-web;

		@include mq($from: phablet) {
			font-size: 36px;
			line-height: 40px;
		}

		@include mq($from: desktop) {
			font-size: 24px;
			line-height: 28px;
		}

		&:nth-of-type(2) {
			@include mq($from: desktop) {
				margin-left: 255px;
			}

			@include mq($from: leftCol) {
				margin-left: 330px;
			}
		}

		&:last-of-type {
			margin-bottom: 40px;
			color: gu-colour(neutral-1);

			@include mq($from: desktop) {
				margin-left: 170px;
			}

			@include mq($from: leftCol) {
				margin-left: 255px;
			}
		}
	}

	// ----- Bundle ----- //

	.contributions-bundle {
		background-color: darken(gu-colour(multimedia-main-2), 5%);

		@include mq($from: desktop) {
			height: 450px;
			position: relative;
		}
	}

	.contributions-bundle__content {
		background-color: gu-colour(multimedia-main-2);
		padding: 0;

		@include mq($from: mobileLandscape) {
			padding-left: 10px;
			padding-right: 10px;
			padding-bottom: $gu-v-spacing;
		}

		@include mq($from: desktop) {
			height: 450px;
		}
	}

	.component-bundle {
		display: inline-block;
		vertical-align: top;
		padding: ($gu-v-spacing / 2) ($gu-h-spacing / 2) $gu-v-spacing;
		border-top: 2px solid gu-colour(neutral-1);
		background-color: gu-colour(comment-support-3);
		font-family: $gu-text-sans-web;

		@include mq($from: phablet) {
			width: 280px;
			margin-top: 49px;
			margin-left: 10px;
		}

		@include mq($from: tablet, $until: desktop) {
			width: 360px;
		}

		@include mq($from: desktop) {
			margin-top: 0px;
			margin-left: 85px;
			position: absolute;
			top: 80px;
		}

		@include mq($from: wide) {
			width: 360px;
			margin-left: 120px;
		}

		label, .component-number-input {
			margin-top: 5px;
			margin-bottom: 5px;
			padding-top: 10px;
			padding-bottom: 10px;
		}

		.component-cta-link {
			padding-top: 17px;
			padding-bottom: 17px;

			svg {
				top: 18px;
			}
		}
	}

	.component-double-heading {
    	margin-bottom: (2 * $gu-v-spacing);
	}

	.component-double-heading__heading {
		font-size: 24px;
		line-height: 24px;
	}

	.component-double-heading__subheading {
		margin-top: $gu-v-spacing;
		font-size: 16px;
		line-height: 20px;
		font-family: $gu-text-egyptian-web;
	}

	.component-radio-toggle input:not(:checked)+label, .component-number-input {
        background-color: gu-colour(comment-support-3);
	}

	.component-number-input--selected {
		background-color: gu-colour(neutral-1);
		color: #fff;
	}

	.component-cta-link {
		padding-top: $gu-v-spacing;
		padding-bottom: $gu-v-spacing;
		margin-top: $gu-v-spacing * 4;

		@include mq($from: desktop) {
			// Fix for IE.
	        svg {
	          left: 245px;
	        }
		}

		@include mq($from: wide) {
			// Fix for IE.
	        svg {
	          left: 325px;
	        }
		}

		svg {
	        height: 35%;
	        top: 15px;
	        right: 12px;
	    }
	}

	// ----- PayPal button & error message ----- //

	.component-paypal-contribution-button {
		padding-top: 17px;
		padding-bottom: 17px;
		cursor: pointer;
		display: block;
		font-family: $gu-text-sans-web;
		font-size: 14px;
		font-weight: bold;
		height: auto;
		width: 100%;
		line-height: 180%;
		margin-top: $gu-v-spacing;
		position: relative;
		text-align: left;
		text-decoration: none;
		vertical-align: bottom;
		margin-bottom: $gu-v-spacing;
	}

	.component-error-message {
		height: auto;
		width: auto;
		background-color: gu-colour(error);
		padding-top: $gu-v-spacing * 2.5;
		padding-bottom: $gu-v-spacing * 2.5;

		span {
			margin-right: $gu-h-spacing;
		}
	}

	// ----- Legal Copy ----- //

	.contributions-legal {
		background-color: darken(#fff, 5%);
	}

	.contributions-legal__content {
		background-color: #fff;
		padding-top: $gu-v-spacing * 3;
		padding-bottom: $gu-v-spacing;

		@include mq($from: desktop) {
			padding-top: $gu-v-spacing * 2;
		}

		@include mq($from: desktop, $until: leftCol) {
			padding-bottom: $gu-v-spacing * 9;
		}

		@include mq($from: leftCol) {
			padding-bottom: $gu-v-spacing * 12;
		}

	}

	.component-contrib-legal {
		@include mq($from: tablet) {
			width: 620px;
		}

		@include mq($from: desktop) {
			width: 540px;
		}

		@include mq($from: leftCol) {
			width: 670px;
		}

		@include mq($from: wide) {
			width: 700px;
		}
	}

}
