// -----  gu-sass ----- //

@import '../../stylesheets/gu-sass/gu-sass';

// ----- Shared Components ----- //

@import '../../components/headers/countrySwitcherHeader/countrySwitcherHeader';
@import '../../components/countryGroupSwitcher/countryGroupSwitcher';
@import '../../components/selectInput/selectInput';
@import '../../components/introduction/introduction';
@import '../../components/introduction/circlesIntroduction';
@import '../../components/highlights/highlights';
@import '../../components/contribute/contribute';
@import '../../components/pageSection/pageSection';
@import '../../components/secure/secure';
@import '../../containerisableComponents/contributionAwarePaymentLogos/contributionAwarePaymentLogos';
@import '../../containerisableComponents/contributionSelection/contributionSelection';
@import '../../components/radioToggle/radioToggle';
@import '../../components/numberInput/numberInput';
@import '../../components/errorMessage/errorMessage';
@import '../../components/contributionPaymentCtas/contributionPaymentCtas';
@import '../../components/legal/termsPrivacy/termsPrivacy';
@import '../../components/footer/footer';
@import '../../components/svgs/svg';
@import '../../components/ctaLink/ctaLink';
@import '../../components/legal/contribLegal/contribLegal';
@import '../../containerisableComponents/payPalContributionButton/payPalContributionButton';
@import '../../components/switchable/errorComponents/paymentError';
@import './desktopAboveTheFold';

// ----- Page Specific Styles ----- //


#contributions-landing-page-ca,
#contributions-landing-page-eu,
#contributions-landing-page-int,
#contributions-landing-page-nz,
#contributions-landing-page-uk,
#contributions-landing-page-us,
#contributions-landing-page-au {

  .component-contribute {
    @include gu-content-filler;
  }

}

#contributions-landing-page-us {
  .component-contribution-aware-payment-logos--one-off {
    @include mq($from: desktop) {
      top: 72.5%;
    }
    @include mq($from: wide) {
      top: 76%;
    }
  }
}