@import '~stylesheets/skeleton/skeleton';
@import '~stylesheets/gu-sass/gu-sass';

.slim-roundel-header[role="banner"] {
  height: $gu-h-spacing * 2.5;
  border: 0;
  padding: 0 $gu-v-spacing;

  @include mq($from: desktop) {
    padding: 0 $gu-v-spacing * 2;
  }

  @include mq($from: wide){
    padding: 0 $gu-v-spacing * 7.5;
   }
}

svg {
  margin-top: 3px;
}
