@import '~stylesheets/gu-sass/gu-sass';

@mixin form-field {
	@include gu-fontset-body-sans;
	border: 1px solid gu-colour(neutral-86);
	transition: box-shadow 0.2s;
	background-color: gu-colour(neutral-100);
	border-radius: 0;
	width: 100%;
	box-sizing: border-box;

	&:hover {
		box-shadow: 0 0 0 2px lighten(gu-colour(neutral-86), 6%);
	}

	&:focus,
	&:active {
		outline-color: rgba(255, 255, 255, 0);
		box-shadow: 0 0 0 2px lighten(gu-colour(highlight-main), 6%);
	}

	&[disabled] {
		pointer-events: none;
		background-color: gu-colour(neutral-97);
	}
}

@mixin label {
	@include gu-fontset-body-sans;
	font-weight: bold;
}
