.component-radio-toggle {

	input[type="radio"] {
		display: none;
	}

	label {
		background-color: #fff;
		border-radius: 600px;
		border: none;
		padding: 6px 10px;
		margin: 3px 0;
		height: 36px;
		cursor: pointer;
	}

}
