.component-your-contribution {
  .component-page-section__header {
    font-family: $gu-egyptian-web;
    font-weight: bold;
    font-size: 24px;
    line-height: 1.17;
    padding-top: $gu-v-spacing / 2;

    @include dropline;
  }

  .component-page-section__body {
    position: relative;
    padding-top: $gu-v-spacing;

    @include mq($from: desktop) {
      padding-left: $gu-h-spacing;
    }
  }

  .component-payment-amount {
    font-family: $gu-sans-web;
  }

  .component-secure {
    position: absolute;
    right: 0;
    top: $gu-v-spacing;
    color: gu-colour(garnett-neutral-2);

    // Fix for IE.
    svg {
      width: 13px;
      fill: gu-colour(garnett-neutral-2);
    }
  }

  .component-secure__text {
    margin-top: 2px;
    font-family: $gu-text-sans-web;
  }
}
