@import '~stylesheets/gu-sass/gu-sass';

.component-simple-header {
  background-color: gu-colour(header-dark);

  .svg-guardian-logo {
    height: 100%;
  }
}

.component-simple-header__utility {
  float: left;
  height: 100%;
}

.component-simple-header__link {
  float: right;
  height: 100%;
}

.component-simple-header__content {
  max-width: gu-span(12);
  padding: ($gu-v-spacing/2) ($gu-h-spacing / 2) $gu-v-spacing;
  height: 68px;

  @include mq($from: leftCol) {
    max-width: gu-span(13);
  }

  @include mq($from: wide) {
    max-width: gu-span(14);
  }

  @include mq($from: tablet) {
    height: 86px;
  }
}
