.component-checkbox__checkbox {
  padding-top: 3px;
  float: left;
}

.component-checkbox__title {
  font-size: 18px;
  line-height: 20px;
  font-weight: 500;
  margin-bottom: 4px;
  cursor: pointer;
  display: block;
  font-family: $gu-egyptian-web

}

.component-checkbox__copy {
  overflow: hidden;
  padding-left: 8px;
  font-size: 14px;
  line-height: 16px;
  cursor: pointer;
}
