.component-checkbox {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  position: relative;
}

.component-checkbox__checkbox {
  position: absolute;
  padding-top: 3px;
  top: 0;
  left: 0;
}

.component-checkbox__title {
  font-size: 18px;
  line-height: 20px;
  padding-left: 24px;
  font-weight: 500;
  margin-bottom: 4px;
  cursor: pointer;
  display: block;
  font-family: $gu-egyptian-web

}

.component-checkbox__copy {
  padding-left: 24px;
  font-size: 14px;
  line-height: 16px;
  cursor: pointer;

}
