@import admin.settings.AllSettings
@import admin.ServersideAbTest.{Participation, Variant}
@import assets.{AssetsResolver, RefPath, StyleContent}
@import com.gu.i18n.Country
@import com.gu.identity.model.{User => IdUser}
@import com.gu.support.config.{PayPalConfig, StripeConfig}
@import helper.CSRF
@import views.{Preload, SSRContent, ReactDiv}
@import models.GeoData
@import controllers.ContributionsPaymentMethodConfigs

@(
  title: String,
  id: String,
  mainElement: ReactDiv,
  js: Either[RefPath, StyleContent],
  css: Either[RefPath, StyleContent],
  description: Option[String],
  paymentMethodConfigs: ContributionsPaymentMethodConfigs,
  paymentApiUrl: String,
  paymentApiPayPalEndpoint: String,
  membersDataApiUrl: String,
  idUser: Option[IdUser],
  guestAccountCreationToken: Option[String],
  geoData: GeoData,
  shareImageUrl: String,
  shareUrl: String,
  v2recaptchaConfigPublicKey: String,
  serversideTests: Map[String, Participation] = Map()
)(implicit assets: AssetsResolver, request: RequestHeader, settings: AllSettings)

@main(title = title, mainJsBundle = js, description = description, mainElement = mainElement, mainStyleBundle = css, shareImageUrl = Some(shareImageUrl), shareUrl = Some(shareUrl), serversideTests = serversideTests) {
  <script type="text/javascript">
  window.guardian = window.guardian || {};
  @idUser.map { user =>
    window.guardian.user = {
      id: "@user.id",
      email: "@user.primaryEmailAddress",
      @user.publicFields.displayName.map { displayName =>
        displayName: "@displayName",
      }
      @for(firstName <- user.privateFields.firstName; lastName <- user.privateFields.secondName) {
        firstName: "@firstName",
        lastName: "@lastName",
      }
      @for(address4 <- user.privateFields.address4) {
        address4: "@address4",
      }
      @for(country <- user.privateFields.country) {
        country: "@country",
      }
    };
  }

  window.guardian.geoip = {
    countryGroup: "@geoData.countryGroup.map(_.id).mkString",
    countryCode: "@geoData.country.map(_.alpha2).mkString",
    stateCode: "@geoData.validatedStateCodeForCountry.mkString"
  };

  window.guardian.stripeKeyDefaultCurrencies = {
    ONE_OFF: {
      default: "@paymentMethodConfigs.oneOffDefaultStripeConfig.defaultAccount.publicKey",
      test: "@paymentMethodConfigs.oneOffTestStripeConfig.defaultAccount.publicKey"
    },
    REGULAR: {
      default: "@paymentMethodConfigs.regularDefaultStripeConfig.defaultAccount.publicKey",
      test: "@paymentMethodConfigs.regularTestStripeConfig.defaultAccount.publicKey"
    }
  };
  window.guardian.stripeKeyAustralia = {
    ONE_OFF: {
      default: "@paymentMethodConfigs.oneOffDefaultStripeConfig.forCountry(Some(Country.Australia)).publicKey",
      test: "@paymentMethodConfigs.oneOffTestStripeConfig.forCountry(Some(Country.Australia)).publicKey"
    },
    REGULAR: {
      default: "@paymentMethodConfigs.regularDefaultStripeConfig.forCountry(Some(Country.Australia)).publicKey",
      test: "@paymentMethodConfigs.regularTestStripeConfig.forCountry(Some(Country.Australia)).publicKey"
    }
  };
  window.guardian.stripeKeyUnitedStates = {
    @if(settings.switches.featureSwitches.usStripeAccountForSingle.isOn) {
        ONE_OFF: {
            default: "@paymentMethodConfigs.oneOffDefaultStripeConfig.forCountry(Some(Country.US)).publicKey",
            test: "@paymentMethodConfigs.oneOffTestStripeConfig.forCountry(Some(Country.US)).publicKey"
        },
    } else {
      ONE_OFF: window.guardian.stripeKeyDefaultCurrencies.ONE_OFF,
    }
    REGULAR: window.guardian.stripeKeyDefaultCurrencies.REGULAR
  };
  window.guardian.payPalEnvironment = {
    default: "@paymentMethodConfigs.regularDefaultPayPalConfig.payPalEnvironment",
    test: "@paymentMethodConfigs.regularTestPayPalConfig.payPalEnvironment"
  };
  window.guardian.amazonPaySellerId = {
    default: "@paymentMethodConfigs.defaultAmazonPayConfig.sellerId",
    test: "@paymentMethodConfigs.testAmazonPayConfig.sellerId"
  };
  window.guardian.amazonPayClientId = {
    default: "@paymentMethodConfigs.defaultAmazonPayConfig.clientId",
    test: "@paymentMethodConfigs.testAmazonPayConfig.clientId",
  };
  window.guardian.paymentApiUrl = "@paymentApiUrl";
  window.guardian.paymentApiPayPalEndpoint = "@paymentApiPayPalEndpoint";
  window.guardian.mdapiUrl = "@membersDataApiUrl";
  window.guardian.csrf = { token: "@CSRF.getToken.value" };

  @guestAccountCreationToken.map { guestAccountCreationToken =>
    window.guardian.guestAccountCreationToken = "@guestAccountCreationToken";
  }

  window.guardian.forceContributionsCampaign = @settings.switches.campaignSwitches.forceContributionsCampaign.isOn
  window.guardian.enableContributionsCampaign = @settings.switches.campaignSwitches.enableContributionsCampaign.isOn

  window.guardian.recaptchaEnabled = @settings.switches.recaptchaSwitches.enableRecaptchaFrontend.isOn
  window.guardian.v2recaptchaPublicKey = "@v2recaptchaConfigPublicKey"
  </script>
}
