@import admin.settings.AllSettings
@import assets.{AssetsResolver, RefPath, StyleContent}
@import com.gu.i18n.Country
@import com.gu.identity.model.{User => IdUser}
@import com.gu.support.config.{PayPalConfig, StripeConfig}
@import helper.CSRF
@import views.{Preload, SSRContent, ReactDiv}
@import models.GeoData
@import controllers.ContributionsPaymentMethodConfigs

@(
  title: String,
  id: String,
  mainElement: ReactDiv,
  js: Either[RefPath, StyleContent],
  css: Either[RefPath, StyleContent],
  description: Option[String],
  paymentMethodConfigs: ContributionsPaymentMethodConfigs,
  paymentApiStripeUrl: String,
  paymentApiPayPalEndpoint: String,
  existingPaymentOptionsEndpoint: String,
  idUser: Option[IdUser],
  guestAccountCreationToken: Option[String],
  fontLoaderBundle: Either[RefPath, StyleContent],
  geoData: GeoData,
  shareImageUrl: String,
  shareUrl: String,

)(implicit assets: AssetsResolver, request: RequestHeader, settings: AllSettings)

@main(title = title, mainJsBundle = js, fontLoaderBundle = fontLoaderBundle, description = description, mainElement = mainElement, mainStyleBundle = css, shareImageUrl = Some(shareImageUrl), shareUrl = Some(shareUrl)) {
  <script type="text/javascript">
  window.guardian = window.guardian || {};
  @idUser.map { user =>
    window.guardian.user = {
      id: "@user.id",
      email: "@user.primaryEmailAddress",
      @user.publicFields.displayName.map { displayName =>
        displayName: "@displayName",
      }
      @for(firstName <- user.privateFields.firstName; lastName <- user.privateFields.secondName) {
        firstName: "@firstName",
        lastName: "@lastName",
      }
      @for(address4 <- user.privateFields.billingAddress4 orElse user.privateFields.address4) {
        address4: "@address4",
      }
      @for(country <- user.privateFields.billingCountry orElse user.privateFields.country) {
        country: "@country",
      }
    };
  }

  window.guardian.geoip = {
    countryGroup: "@geoData.countryGroup.map(_.id).mkString",
    countryCode: "@geoData.country.map(_.alpha2).mkString",
    stateCode: "@geoData.validatedStateCodeForCountry.mkString"
  };

  window.guardian.stripeKeyDefaultCurrencies = {
    ONE_OFF: {
      default: "@paymentMethodConfigs.oneOffDefaultStripeConfig.defaultAccount.publicKey",
      uat: "@paymentMethodConfigs.oneOffUatStripeConfig.defaultAccount.publicKey"
    },
    REGULAR: {
      default: "@paymentMethodConfigs.regularDefaultStripeConfig.defaultAccount.publicKey",
      uat: "@paymentMethodConfigs.regularUatStripeConfig.defaultAccount.publicKey"
    }
  };
  window.guardian.stripeKeyAustralia = {
    ONE_OFF: {
      default: "@paymentMethodConfigs.oneOffDefaultStripeConfig.forCountry(Some(Country.Australia)).publicKey",
      uat: "@paymentMethodConfigs.oneOffUatStripeConfig.forCountry(Some(Country.Australia)).publicKey"
    },
    REGULAR: {
      default: "@paymentMethodConfigs.regularDefaultStripeConfig.forCountry(Some(Country.Australia)).publicKey",
      uat: "@paymentMethodConfigs.regularUatStripeConfig.forCountry(Some(Country.Australia)).publicKey"
    }
  };
  window.guardian.stripeKeyUnitedStates = {
    @if(settings.switches.experiments.get("usStripeAccountForSingle").exists(_.isOn)) {
        ONE_OFF: {
            default: "@paymentMethodConfigs.oneOffDefaultStripeConfig.forCountry(Some(Country.US)).publicKey",
            uat: "@paymentMethodConfigs.oneOffUatStripeConfig.forCountry(Some(Country.US)).publicKey"
        },
    } else {
      ONE_OFF: window.guardian.stripeKeyDefaultCurrencies.ONE_OFF,
    }
    REGULAR: window.guardian.stripeKeyDefaultCurrencies.REGULAR
  };
  window.guardian.payPalEnvironment = {
    default: "@paymentMethodConfigs.regularDefaultPayPalConfig.payPalEnvironment",
    uat: "@paymentMethodConfigs.regularUatPayPalConfig.payPalEnvironment"
  };
  window.guardian.paymentApiStripeUrl = "@paymentApiStripeUrl";
window.guardian.paymentApiPayPalEndpoint = "@paymentApiPayPalEndpoint";
  window.guardian.existingPaymentOptionsEndpoint = "@existingPaymentOptionsEndpoint";
  window.guardian.csrf = { token: "@CSRF.getToken.value" };

  @guestAccountCreationToken.map { guestAccountCreationToken =>
    window.guardian.guestAccountCreationToken = "@guestAccountCreationToken";
  }

  window.guardian.stripeElements = @settings.switches.experiments.get("stripeElements").exists(_.isOn)
  window.guardian.forceCampaign = @settings.switches.experiments.get("forceCampaign").exists(_.isOn)
  </script>
}
