@import admin.settings.AllSettings
@import admin.ServersideAbTest.Participation
@import assets.{AssetsResolver, RefPath, StyleContent}
@import com.gu.identity.model.{User => IdUser}
@import views.ReactDiv
@import models.GeoData
@import controllers.PaymentMethodConfigs
@import com.gu.support.encoding.CustomCodecs._
@import services.pricing.ProductPrices
@import views.ViewHelpers.outputJson
@import io.circe.JsonObject

@(
  title: String,
  id: String,
  mainElement: ReactDiv,
  js: RefPath,
  css: RefPath,
  description: Option[String],
  paymentMethodConfigs: PaymentMethodConfigs,
  paymentApiUrl: String,
  paymentApiPayPalEndpoint: String,
  membersDataApiUrl: String,
  idUser: Option[IdUser],
  guestAccountCreationToken: Option[String],
  geoData: GeoData,
  shareImageUrl: String,
  shareUrl: String,
  v2recaptchaConfigPublicKey: String,
  serversideTests: Map[String, Participation] = Map(),
  productPrices: ProductPrices,
  productCatalog: JsonObject,
)(implicit assets: AssetsResolver, request: RequestHeader, settings: AllSettings)

@main(title = title, mainJsBundle = js, description = description, mainElement = mainElement, mainStyleBundle = css, shareImageUrl = Some(shareImageUrl), shareUrl = Some(shareUrl), serversideTests = serversideTests) {
  <script type="text/javascript">
    window.guardian = window.guardian || {};
    @idUser.map { user =>
      window.guardian.user = {
        id: "@user.id",
        email: "@user.primaryEmailAddress",
        @user.publicFields.displayName.map { displayName =>
          displayName: "@displayName",
        }
        @for(firstName <- user.privateFields.firstName; lastName <- user.privateFields.secondName) {
          firstName: "@firstName",
          lastName: "@lastName",
        }
        @for(address4 <- user.privateFields.address4) {
          address4: "@address4",
        }
        @for(country <- user.privateFields.country) {
          country: "@country",
        }
      };
    }

    window.guardian.productPrices = @Html(outputJson(productPrices))
  </script>

  @windowGuardianPaymentConfig(
    geoData = geoData,
    paymentMethodConfigs = paymentMethodConfigs,
    v2recaptchaConfigPublicKey = v2recaptchaConfigPublicKey,
    settings = settings,
    paymentApiUrl = paymentApiUrl,
    paymentApiPayPalEndpoint = paymentApiPayPalEndpoint,
    membersDataApiUrl = membersDataApiUrl,
    guestAccountCreationToken = guestAccountCreationToken,
    productCatalog = productCatalog,
    // We explicitly set None as we have this set above
    user = None
  )
}
