@import views.{EmptyDiv, ReactDiv, SSRContent}

@(
  title: String,
  mainElement: ReactDiv,
)()

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <meta name="robots" content="noindex">

    <title>@title</title>

  </head>
  <body class="header-tweaks">
    @emptyDiv(id: EmptyDiv) = {
      <div class="gu-render-to" data-not-hydrated="true" id="@id.value"></div>
    }

    @withContent(ssrContent: SSRContent) = {
      <div
      class="gu-render-to"
      data-not-hydrated="true"
      id="@ssrContent.value"
      >
      @ssrContent.content
      </div>
    }
    @mainElement.fold(emptyDiv, withContent)
    <!-- build-commit-id: @app.BuildInfo.gitCommitId -->
  </body>
</html>
