@import admin.ServersideAbTest.{Participation, Variant}
@import assets.RefPath
@import assets.AssetsResolver
@import admin.settings.AllSettings
@import io.circe.JsonObject

@import com.gu.identity.model.User
@import views.ViewHelpers.outputJson
@(
  geoData: GeoData,
  serversideTests: Map[String,Participation],
  paymentMethodConfigs: PaymentMethodConfigs,
  paymentApiUrl: String,
  paymentApiPayPalEndpoint: String,
  membersDataApiUrl: String,
  guestAccountCreationToken: Option[String],
  v2recaptchaConfigPublicKey: String,
  allProductPrices: AllProductPrices,
  productCatalog: JsonObject,
  user: Option[User],
  isObserverSubdomain: Boolean,
  homeDeliveryPostcodes: Option[List[String]] = None,
)(implicit assets: AssetsResolver, request: RequestHeader, settings: AllSettings)

@main(
  title = "Support the Guardian | Checkout",
  mainElement = assets.getSsrCacheContentsAsHtml(divId = "router", file = "ssr-holding-content.html"),
  mainJsBundle = RefPath("[countryGroupId]/router.js"),
  mainStyleBundle = None,
  description = Some("Help us deliver the independent journalism the world needs. Support the Guardian by making a contribution."),
  canonicalLink = Some("https://support.theguardian.com/checkout"),
  serversideTests = serversideTests,
  hrefLangLinks = Map(),
  csrf = None,
  shareImageUrl = None,
  shareUrl = None,
  noindex = true,
){
  <script type="text/javascript">
    window.guardian = window.guardian || {};
    window.guardian.allProductPrices = @Html(outputJson(allProductPrices))
    window.guardian.isObserverSubdomain = @Html(outputJson(isObserverSubdomain))
  </script>

  @homeDeliveryPostcodes.map { postcodes =>
    <script type="text/javascript">
      window.guardian.homeDeliveryPostcodes = @Html(outputJson(postcodes))
    </script>
  }

  @windowGuardianPaymentConfig(
    geoData = geoData,
    paymentMethodConfigs = paymentMethodConfigs,
    v2recaptchaConfigPublicKey = v2recaptchaConfigPublicKey,
    settings = settings,
    paymentApiUrl = paymentApiUrl,
    paymentApiPayPalEndpoint = paymentApiPayPalEndpoint,
    membersDataApiUrl = membersDataApiUrl,
    guestAccountCreationToken = guestAccountCreationToken,
    productCatalog = productCatalog,
    user = user
  )
}
