@import admin.settings.AllSettings
@import assets.{AssetsResolver, RefPath, StyleContent}
@import com.gu.identity.model.{User => IdUser}
@import com.gu.support.encoding.CustomCodecs._
@import com.gu.support.redemptions.redemptions.RawRedemptionCode
@import helper.CSRF
@import views.ReactDiv
@import io.circe.syntax._

@import io.circe.Json
@import views.JsStringLiteral
@import com.gu.support.zuora.api.ReaderType
@import com.gu.support.redemptions.RedemptionCode
@(
  title: String,
  mainElement: ReactDiv,
  js: String,
  css: String,
  csrf: Option[String],
  isTestUser: Boolean,
  stage: String,
  redemptionCode: RawRedemptionCode,
  maybeReaderType: Option[ReaderType],
  maybeRedemptionError: Option[String],
  user: Option[IdUser],
  submitted: Boolean
)(implicit assets: AssetsResolver, requestHeader: RequestHeader, settings: AllSettings)

  @main(title = title, mainJsBundle = RefPath(js), mainElement = mainElement, mainStyleBundle = RefPath(css), csrf = csrf) {
    <script type="text/javascript">
      window.guardian = window.guardian || {};
      window.guardian.stage = @JsStringLiteral(stage);
      window.guardian.userCode = @JsStringLiteral(redemptionCode);
      window.guardian.readerType = @JsStringLiteral.fromOption(maybeReaderType.map(_.value));
      window.guardian.error = @JsStringLiteral.fromOption(maybeRedemptionError);
      window.guardian.submitted = @submitted;
      window.guardian.user = {
        firstName: @JsStringLiteral.fromOption(user.flatMap(_.privateFields.firstName)),
        lastName: @JsStringLiteral.fromOption(user.flatMap(_.privateFields.secondName)),
        email: @JsStringLiteral.fromOption(user.map(_.primaryEmailAddress)),
      };
      window.guardian.isTestUser = @isTestUser;
      window.guardian.codeLength = @{RedemptionCode.length};
  </script>

  }

