@(
    key: String,
    email: String
)

<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Test Users</title>
    </head>
    <body>
        <h1>Test User generator.</h1>
        <p>This is for testing without using real payment details</p>
        <p>@key</p>
        <p><a href="https://github.com/guardian/support-frontend/wiki/Test-users">Read this to learn about test users</a></p>
        <div>When registering please populate the following fields with your new test user key.<br/>
            All other fields can be populated as you wish.
            <h2>All recurring product purchases</h2>
            <ul>
                <li><strong>First Name:</strong> @key</li>
                <br><strong>(Optional) Recommended Email (if you do not want to receive emails):</strong> @{key}@@gu.com<br>
                <li>If you DO want to receive emails: @{email}</li>
            </ul>
            <h2>Single contributions</h2>
            <ul>
                <li><strong>Email (if you do not want to receive emails):</strong> @{key}@@gu.com</li>
                <li>If you DO want to receive emails: @{email}</li>
            </ul>
            <h2>Redemption of corporate or gift subscriptions</h2>
            <p>You do not have to use any details, just make sure you are logged out, have visited this page before hand and the red flash is visible.</p>
            <p>Alternatively, register an identity account as per a recurring product purchase, and make sure you are logged in.</p>
        </div>
        <!-- build-commit-id: @app.BuildInfo.gitCommitId -->
    </body>
</html>
