@import admin.settings.{AllSettings, On}
@import views.html.helper.CSRF

@import views.ViewHelpers.outputJson
@import io.circe.JsonObject
@import com.gu.identity.model.User
@(
  geoData: GeoData,
  paymentMethodConfigs: PaymentMethodConfigs,
  paymentApiUrl: String,
  paymentApiPayPalEndpoint: String,
  membersDataApiUrl: String,
  v2recaptchaConfigPublicKey: String,
  guestAccountCreationToken: Option[String],
  productCatalog: JsonObject,
  user: Option[User],
  settings: AllSettings
)(implicit request: RequestHeader)

<script type="text/javascript">
  window.guardian.geoip = {
    countryGroup: "@geoData.countryGroup.map(_.id).mkString",
    countryCode: "@geoData.country.map(_.alpha2).mkString",
    stateCode: "@geoData.validatedStateCodeForCountry.mkString"
  };

  window.guardian.stripeKeyDefaultCurrencies = {
    ONE_OFF: {
      default: "@paymentMethodConfigs.oneOffDefaultStripeConfig.defaultAccount.rawPublicKey",
      test: "@paymentMethodConfigs.oneOffTestStripeConfig.defaultAccount.rawPublicKey"
    },
    REGULAR: {
      default: "@paymentMethodConfigs.regularDefaultStripeConfig.defaultAccount.rawPublicKey",
      test: "@paymentMethodConfigs.regularTestStripeConfig.defaultAccount.rawPublicKey"
    }
  };

  window.guardian.stripeKeyAustralia = {
    ONE_OFF: {
      default: "@paymentMethodConfigs.oneOffDefaultStripeConfig.australiaAccount.rawPublicKey",
      test: "@paymentMethodConfigs.oneOffTestStripeConfig.australiaAccount.rawPublicKey"
    },
    REGULAR: {
      default: "@paymentMethodConfigs.regularDefaultStripeConfig.australiaAccount.rawPublicKey",
      test: "@paymentMethodConfigs.regularTestStripeConfig.australiaAccount.rawPublicKey"
    }
  };

  window.guardian.stripeKeyUnitedStates = {
    @if(settings.switches.featureSwitches.usStripeAccountForSingle.contains(On)) {
    ONE_OFF: {
      default: "@paymentMethodConfigs.oneOffDefaultStripeConfig.unitedStatesAccount.rawPublicKey",
      test: "@paymentMethodConfigs.oneOffTestStripeConfig.unitedStatesAccount.rawPublicKey"
    },
    } else {
    ONE_OFF: window.guardian.stripeKeyDefaultCurrencies.ONE_OFF,
    }
    REGULAR: window.guardian.stripeKeyDefaultCurrencies.REGULAR
  };

  window.guardian.stripeKeyTortoiseMedia = {
    ONE_OFF: {
      default: "unused", // We will never need one-off payments for Tortoise Media
      test: "unused"
    },
    REGULAR: {
      default: "@paymentMethodConfigs.regularDefaultStripeConfig.tortoiseMediaAccount.rawPublicKey",
      test: "@paymentMethodConfigs.regularTestStripeConfig.tortoiseMediaAccount.rawPublicKey"
    }
  }

  window.guardian.payPalEnvironment = {
    default: "@paymentMethodConfigs.regularDefaultPayPalConfig.payPalEnvironment",
    test: "@paymentMethodConfigs.regularTestPayPalConfig.payPalEnvironment"
  };

  window.guardian.payPalClientId = {
    default: "@paymentMethodConfigs.regularDefaultPayPalCompletePaymentsConfig.clientId",
    test: "@paymentMethodConfigs.regularTestPayPalCompletePaymentsConfig.clientId"
  }

  window.guardian.paymentApiUrl = "@paymentApiUrl";
  window.guardian.paymentApiPayPalEndpoint = "@paymentApiPayPalEndpoint";
  window.guardian.mdapiUrl = "@membersDataApiUrl";
  window.guardian.csrf = { token: "@CSRF.getToken.value" };

  @guestAccountCreationToken.map { guestAccountCreationToken =>
    window.guardian.guestAccountCreationToken = "@guestAccountCreationToken";
  }

  window.guardian.recaptchaEnabled = @settings.switches.recaptchaSwitches.enableRecaptchaFrontend.contains(On)
  window.guardian.v2recaptchaPublicKey = "@v2recaptchaConfigPublicKey";

  window.guardian.checkoutPostcodeLookup = @settings.switches.subscriptionsSwitches.checkoutPostcodeLookup.contains(On)

  window.guardian.productCatalog = @Html(outputJson(productCatalog))
</script>
@windowGuardianUser(user)
