.component-checkout-heading {
  color: #fff;

  .component-left-margin-section__content {
    background-color: gu-colour(garnett-neutral-1);
    padding: 0 0 4px ($gu-h-spacing / 2);
  }

}

.component-checkout-heading__heading {
  @include gu-fontset-heading-large;
  margin-bottom: $gu-v-spacing * 3;

  @include mq($from: tablet) {
    width: 580px;
  }
}

.component-checkout-heading__copy {
  @include gu-fontset-body-sans;

  color: gu-colour(news-garnett-highlight);
}
