.component-invest-introduction {
  background: gu-colour(live-garnett-sport2);
  overflow-y: hidden;

  .component-grid-picture {
    margin: 0 auto;
    position: relative;
    top: -193px;
    @include mq($from: mobileLandscape) {
      top: -154px;
      left: 18px;
    }
    @include mq($from: phablet) {
      top: -66px;
      left: -64px;
    }
    @include mq($from: tablet) {
      top: -140px;
      left: -82px;
    }
    @include mq($from: desktop) {
      top: -129px;
      left: -102px;
    }
    @include mq($from: leftCol) {
      left: -130px;
    }
  }

  .component-highlights {
    font-family: $gu-headline;
    font-weight: bold;
    z-index: 2;
    display: block;

    @include mq($from: mobileLandscape) {
      margin-left: 18px;
    }
  }

  .component-highlights__highlight {
    padding: 6px 8px;
  }
}

.component-highlights--invest-heading{
  font-size: 34px;
  line-height: 36px;
  position: relative;

  .component-highlights__highlight {
    padding: 0 8px 4px;
  }

  @include mq($from: tablet) {
    font-size: 50px;
    line-height: 58px;
  }
}

.component-highlights--invest-sub-heading{
  font-size: 24px;
  line-height: 26px;
  position: absolute;
  bottom: 0;
  margin-top: -139px;
  @include mq($from: tablet) {
    font-size: 28px;
    line-height: 32px;
  }
}


.component-invest-introduction__content {
  width: 100%;
  position: relative;
  height: 300px;
  margin: 0 auto;
  overflow: hidden;
  @include mq($from: mobileLandscape) {
    height: 340px;
    width: gu-breakpoint(mobileLandscape);
  }
  @include mq($from: phablet) {
    height: 340px;
    width: gu-breakpoint(phablet);
  }
  @include mq($from: tablet) {
    height: 368px;
    width: gu-breakpoint(tablet);
  }

  @include mq($from: desktop) {
    height: 448px;
    width: gu-breakpoint(desktop);
  }

  @include mq($from: leftCol) {
    height: 550px;
    width: gu-breakpoint(leftCol);
  }

  @include mq($from: wide) {
    width: gu-breakpoint(wide);
  }
}
