.component-plain-introduction {
  @include introduction;

  &__content {
    @extend .gu-content-margin;

    padding-bottom: 100px;

    @include mq($from: mobileMedium) {
      padding-bottom: 50px;
    }

    @include mq($from: mobileLandscape) {
      padding-bottom: $gu-v-spacing * 2.5;
    }

    @include mq($from: phablet) {
      padding-bottom: $gu-v-spacing * 3.5;
    }
  }

  &__heading {
    padding-bottom: $gu-v-spacing;

    @include mq($from: mobileLandscape) {
      padding-bottom: $gu-v-spacing * 2;
    }

    @include introduction-left-spacing;

    @include mq($from: leftCol) {
      padding-bottom: $gu-v-spacing * 3;
    }
  }

  &__heading-line {
    display: block;
  }
}
