.component-squares-introduction {
  @include introduction;

  .svg-squares-hero-desktop {
    @include introduction-svg("desktop");
  }

  .svg-squares-hero-tablet {
    @include introduction-svg("tablet");
  }

  .svg-squares-hero-mobile {
    @include introduction-svg;
  }

  .component-highlights {
    @include introduction-left-spacing;
  }
}

.component-squares-introduction__content {
  padding-top: $gu-v-spacing;
  padding-bottom: 220px;

  @include mq($from: mobileLandscape) {
    padding-bottom: 170px;
  }

  @include mq($from: desktop) {
    padding-bottom: 180px;
  }
}

.component-squares-introduction__heading {
  @include introduction-left-spacing;
}

.component-squares-introduction__heading-line {
  display: block;
}
