@import '~stylesheets/gu-sass/gu-sass';

.component-product-page-info-chip {
  @include gu-fontset-body-sans;
  font-style: italic;
  .svg-information {
    display: inline-block;
    vertical-align: text-bottom;
    margin-right: $gu-h-spacing / 4;
    circle {
      fill: gu-colour(header-border);
    }
  }
}
