.component-product-page-info-chip {
  font-family: $gu-text-sans-web;
  font-size: 16px;
  svg {
    display: inline-block;
    vertical-align: text-bottom;
    margin-right: $gu-h-spacing / 4;
    circle {
      fill: gu-colour(header-border);
    }
  }
}
