.component-text-input {
	font-family: $gu-text-sans-web;
	color: gu-colour(neutral-1);
}

.component-text-input__input {
	display: block;
	border: none;
	font-size: 14px;
	border-radius: 600px;
	height: $gu-v-spacing * 4;
	padding: 0 $gu-h-spacing;
}

.component-text-input__label {
	font-size: 14px;
  color: gu-colour(garnett-neutral-1);
}
