#contributions-thank-you-page {
  .multiline-divider {
    @include multiline(4, gu-colour(garnett-neutral-4));
  }

  .component-page-section__header {
    @include mq($from: desktop) {
      @include dropline;
    }
  }

  .component-email-confirmation {
    border-bottom: 1px solid gu-colour(garnett-neutral-4);
  }

  .component-email-confirmation__copy {
    padding-top: $gu-v-spacing / 2;
    padding-bottom: $gu-v-spacing * 2;

    @include mq($from: desktop) {
      padding-left: $gu-h-spacing;
    }
  }

  .component-email-confirmation__copy--with-dd {
    padding-bottom: 0;
  }

  .component-page-section__heading {
    font-family: $gu-egyptian-web;
    font-size: 24px;
    line-height: 1.17;
    font-weight: bold;
    padding-top: 4px;
  }

  .component-direct-debit-confirmation__item-name {
    @include mq($from: desktop) {
      padding-left: $gu-h-spacing;
    }
    margin-top: $gu-v-spacing;
    display: inline-block;
    width: 170px;
    font-weight: bold;
  }

  .component-direct-debit-confirmation__item-value {
    display: inline;
  }

  .component-page-section--direct-debit-guarantee {
    background: gu-colour(garnett-neutral-3);
    margin-top: $gu-v-spacing * 2;
    padding-top: $gu-v-spacing / 2;
    padding-bottom: $gu-v-spacing;
    width: 100%;
    border-bottom: 1px solid gu-colour(garnett-neutral-4);

    .component-page-section__header {
      &:after {
        border-right: none; // Clear the dropline
      }
    }
    .component-page-section__body {
      @include mq($from: desktop) {
        padding-left: $gu-h-spacing;
      }
    }
  }

  .component-direct-debit-guarantee {
    color: gu-colour(garnett-neutral-6);
    font-size: 11pt;
    box-sizing: border-box;

    @include mq($from: desktop) {
      display: inline-block;
      width: 80%;
    }
  }

  .component-direct-debit-guarantee__intro--open {
    color: gu-colour(garnett-neutral-1);
  }

  .component-direct-debit-guarantee__list {
    list-style: none;
    margin: $gu-v-spacing 0;
    li {
      margin-bottom: $gu-v-spacing;
    }
  }

  .svg-direct-debit-symbol-and-text {
    float: right;
    margin-top: $gu-v-spacing;
    fill: gu-colour(garnett-neutral-1);
    @include mq($from: desktop) {
      transform: scale(1.2);
    }
  }

  .component-page-section--marketing-consent {
    padding-top: 1px;
  }

}

