.component-page-section__heading {
  font-family: $gu-headline;
  font-size: 24px;
  line-height: 1.17;
  font-weight: bold;
}

.component-page-section__header {
  position: relative;
  @include dropline;
}

.component-page-section__body {
  position: relative;
  @include mq($from: desktop) {
    padding-left: $gu-h-spacing;
  }
}

strong {
  font-weight: bolder;
}
