.component-three-subscriptions {
  border-top: 1px solid gu-colour(garnett-neutral-4);
  padding-bottom: $gu-v-spacing * 3;

  .component-page-section__header {
    @include dropline;
  }

  .component-page-section__heading {
    font-family: $gu-headline;
    font-size: 24px;
    line-height: 1.17;
    font-weight: bold;
  }

  .component-page-section__body {
    @include mq($from: desktop) {
      padding-left: $gu-h-spacing;
    }

    @include mq($from: leftCol) {
      padding-left: $gu-h-spacing / 2;
      display: inline-flex;
    }
  }

  .component-subscription-bundle {
    padding: $gu-v-spacing 0;

    @include mq($from: leftCol) {
      flex: 1 33%;
      padding: ($gu-v-spacing * 2) ($gu-h-spacing / 2) 0;
      display: flex;
      flex-direction: column;
    }
  }

  .component-subscription-bundle__content {
    @include mq($from: phablet, $until: leftCol) {
      display: inline-block;
      width: 70%;
      vertical-align: top;
    }

    @include mq($from: leftCol) {
      flex: 1 0 auto;
      display: flex;
      flex-direction: column;
    }
  }

  .component-subscription-bundle__description {
    line-height: 20px;
    margin-bottom: $gu-v-spacing;
  }

  .component-grid-image {
    width: 165px;
    height: 165px;
    margin: $gu-v-spacing auto;
    display: block;

    @include mq($from: phablet, $until: leftCol) {
      width: 28%;
      height: 28%;
      padding-right: 2%;
      margin: 0;
      display: inline-block;
      vertical-align: top;
    }
  }

  .component-subscription-bundle:nth-child(1), .component-subscription-bundle:nth-child(2) {
    @include mq($from: leftCol) {
      @include dropline;
    }
  }

  .component-feature-list {
    @include mq($from: leftCol) {
      flex: 1 0 auto;
    }
  }

  .component-double-heading {
    margin-bottom: $gu-v-spacing * 2;

    @include mq($from: phablet, $until: leftCol) {
      padding-left: 30px;
    }
  }

  .component-double-heading__heading {
    font-size: 36px;
    line-height: 1.1;

    @include mq($from: phablet, $until: leftCol) {
      font-size: 30px;
    }
  }

  .component-double-heading__subheading {
    font-size: 30px;
    line-height: 1;
    font-weight: 400;
    font-family: $gu-headline;

    @include mq($from: phablet, $until: leftCol) {
      font-size: 24px;
      line-height: 1.17;
    }
  }

  .component-feature-list {
    font-size: 16px;
    line-height: 1.25;
  }

  .component-cta-link {
    padding-left: 28px;
    background-color: transparent;
  }
}

@mixin colour-bundle($colour) {
  .component-feature-list {
    list-style-image: svg-url('<svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" viewBox="0 0 28 28"><path fill="#{gu-colour($colour)}" d="M7.885 25.74L0 14.82l3.22-3.217L8.3 16.74 24.695 2.26 28 5.565"/></svg>');
  }

  .component-cta-link {
    color: gu-colour($colour);
    border-color: gu-colour($colour);

    .svg-arrow-right-straight {
      fill: gu-colour($colour);
    }

    &:hover {
      color: #fff;
      background-color: gu-colour($colour);

      .svg-arrow-right-straight {
        fill: #fff;
      }
    }
  }
}
