.component-legal-section {
  .component-page-section__header {
    @include dropline;
  }

  .component-page-section__body {
    padding-top: $gu-v-spacing;

    @include mq($from: desktop) {
      padding-left: $gu-h-spacing;
    }
  }

  .component-terms-privacy {
    font-family: $gu-text-sans-web;
    font-size: 14px;
    line-height: 18px;
    color: gu-colour(media-garnett-main-1);

    @include mq($from: desktop) {
      width: 550px;
    }
  }

  .component-contrib-legal {
    margin-top: $gu-v-spacing;
    font-size: 14px;
    line-height: 18px;

    @include mq($from: desktop) {
      width: 550px;
    }
  }
}
