@import '~stylesheets/gu-sass/gu-sass';

.component-checkout-form-section__wrap {
    max-width: gu-span(5)
}

.component-checkout-form-section {
  padding: $gu-v-spacing/2 $gu-h-spacing/2 $gu-v-spacing * 2;

  &:first-child {
    padding-top: $gu-v-spacing;
  }

  .component-form-label {
    margin-top: $gu-v-spacing * 2;
  }

  fieldset {
    .component-radio-input + .component-radio-input {
      margin-top: $gu-v-spacing;
    }
    .component-radio-input--group + .component-radio-input--group {
      margin-top: $gu-v-spacing / 2;
    }
  }
}

.component-checkout-form-section ~ .component-checkout-form-section {
  border-top: 1px solid gu-colour(neutral-86);
}

div .component-checkout-form-section.component-checkout-form-section--no-border {
  border-top: none;
}

div .component-checkout-form-section.component-checkout-form-section--hidden {
  display: none;
}

.component-checkout-form-section__heading {
  @include gu-fontset-heading;
  margin-bottom: ($gu-v-spacing * 2);
}

