@import '~stylesheets/gu-sass/gu-sass';

.component-product-page-button {
  @include gu-fontset-body-sans;
  display: inline-flex;
  align-items: center;
  text-decoration: none;
  font-weight: bold;
  height: $gu-v-spacing*3.5;
  padding: ($gu-v-spacing/2) $gu-h-spacing;
  background-color: gu-colour(news-garnett-highlight);
  color: gu-colour(garnett-neutral-1);
  border: none;
  border-radius: 600px;
  box-sizing: border-box;
  cursor: pointer;

  &:hover, &:focus {
    background-color: gu-colour(highlight-dark);
    outline: 0;
  }

  &[disabled], &[data-disabled] {
    background-color: gu-colour(garnett-neutral-5);
    opacity: .5;
    pointer-events: none;
  }
}

.component-product-page-button__content,
.component-product-page-button svg {
  flex: 0 0 auto;
  display: block;
}

.component-product-page-button svg {
  width: $gu-h-spacing * 1.075;
  margin: $gu-v-spacing * -1 $gu-h-spacing * -.5 $gu-v-spacing * -1 $gu-h-spacing * .5;
}
