.component-product-page-button {
  @include gu-font-sans-responsive;
  display: inline-flex;
  align-items: center;
  text-decoration: none;
  font-weight: bold;
  padding: ($gu-v-spacing) $gu-h-spacing;
  background-color: gu-colour(news-garnett-highlight);
  color: gu-colour(garnett-neutral-1);
  border: none;
  border-radius: 600px;
  cursor: pointer;
  transition: background-color .2s;
  will-change: background-color;

  &:hover, &:focus {
    background-color: gu-colour(highlight-dark);
    outline: 0;
  }

  &[disabled], &[data-disabled] {
    opacity: .5;
    pointer-events: none;
  }
}

.component-product-page-button__content,
.component-product-page-button svg {
  flex: 0 0 auto;
  display: block;
}

.component-product-page-button svg {
  width: $gu-h-spacing * 1.5;
  margin: $gu-v-spacing * -1 $gu-h-spacing * -.5 $gu-v-spacing * -1 $gu-h-spacing * .5;
}
