@import '~stylesheets/gu-sass/gu-sass';

.component-product-page-hero-heading {
  position: relative;
  
  .component-left-margin-section__content {
    position: relative;
    @include mq($from: tablet) {
      border-left: 1px solid;
      margin-left: -1px;
    }
  }

  &:not(.component-product-page-hero-heading--campaign) {
    margin-top: -6rem;
    @include mq($from: leftCol) {
      margin-top: -7.5rem;
    }
  }
}

.component-heading-block__overheading {
  @include gu-typeface(headline, 16);
  display: inline-block;
  line-height: 1;
  font-weight: bold;
  background-color: gu-colour(highlight-main);
  color: gu-colour(neutral-7);
  padding: ($gu-v-spacing/2) ($gu-h-spacing / 2);

 .component-product-page-hero-heading--campaign & {
    @supports(transform:translateY(-100%)) {
      transform: translateY(-100%);
      position: absolute;
    }
  }

  @include mq($from: desktop) {
    @include gu-typeface(headline, 22, $size-only: true);
    line-height: 1;
  }
}

.component-heading-block__maxwidth {
  max-width: gu-span(8);
}

%component-heading-block__card {
  background-color: gu-colour(neutral-7);
  color: gu-colour(neutral-100);
  font-family: $gu-headline;
}

.component-heading-block__heading {
  @extend %component-heading-block__card;
  @include gu-fontset-heading-large-alt;
  padding: ($gu-v-spacing /4) ($gu-h-spacing / 2) ($gu-v-spacing * 3);
}

.component-heading-block__banner {
  @include gu-fontset-body;
  border-top: 1px solid gu-colour(neutral-100);
  padding: ($gu-v-spacing / 1.5) ($gu-h-spacing / 2) $gu-v-spacing;
}
