.component-error-message {
  position: relative;
  border: none;
  border-radius: 600px;
  height: $gu-v-spacing * 5;
  padding: 0 $gu-h-spacing;
  color: #fff;
  background-color: gu-colour(error);
  font-family: $gu-sans-web;
  font-size: 14px;
  font-weight: bold;
  text-align: left;
  margin-bottom: 20px;

  @include mq($from: mobileLandscape) {
    height: $gu-v-spacing * 4;
  }

  @include mq($from: desktop) {
    width: 404px;
  }

  svg {
    position: absolute;
    height: 18px;
    fill: #fff;
    top: 50%;
    transform: translateY(-50%);


  }

  span {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 10%;
  }
}