@use 'sass:math';

@import '~stylesheets/gu-sass/gu-sass';
@import '~components/headers/veggieBurgerButton/veggieBurgerButton.scss';
@import '~components/headers/mobileMenu/mobileMenu.scss';

$header-links-min-width: gu-span(12);

// Retain the original box-sizing value for the header
// to preserve logo positioning logic across the CSS and JS
.component-header,
.component-header * {
	box-sizing: content-box;
}

.component-header {
	background-color: gu-colour(brand-main);
	display: flex;
	align-items: center;
	justify-content: stretch;
	overflow: hidden;

	.svg-guardian-logo {
		display: block;
		float: right;
		margin-top: math.div($gu-v-spacing, 2.4);
		margin-bottom: $gu-v-spacing * 1.5;
		height: 48px;
		width: auto;
		@include mq($from: mobileLandscape) {
			height: 56px;
		}
		@include mq($from: tablet) {
			height: 72px;
		}
		@include mq($from: desktop) {
			height: 95px;
		}
	}
}

.component-header-mobile-menu-toggler {
	@include mq($until: tablet) {
		display: block;
	}
	display: none;
	[data-not-hydrated] & {
		display: none;
	}
	& > .component-veggie-burger-button {
		margin-left: $gu-h-spacing * 0.25;
		/*aligned with the logo*/
		margin-top: 22px;
		@include mq($from: mobileLandscape) {
			margin-top: 28px;
		}
		@include mq($from: tablet) {
			margin-top: 40px;
		}
	}
}

.component-header__wrapper {
	width: 100%;
	margin: auto;
	padding: 0 ($gu-h-spacing * 0.5);
	position: relative;
	flex: 1 1 auto;

	@include mq($from: tablet) {
		max-width: $header-links-min-width;
	}

	@include mq($from: leftCol) {
		max-width: gu-span(14);
	}

	@include mq($from: wide) {
		max-width: gu-span(16);
	}
}

.component-header__row {
	display: flex;
	width: 100%;
	& > .component-header-topnav {
		flex: 1 1 auto;
	}
}

.component-header-topnav {
	display: flex;
	justify-content: space-between;
}

.component-header-topnav__utility {
	padding-top: $gu-v-spacing * 0.5;

	.component-country-group-switcher {
		@include mq($until: tablet) {
			display: none;
		}
	}
}

.component-header-topnav-logo {
	@include mq($from: tablet) {
		width: gu-span(5);
		background-color: gu-colour(brand-main);
		float: right;
		.component-header--one-row-from-tablet & {
			border-left: 1px solid gu-colour(brand-pastel);
			z-index: 10;
			position: relative;
		}
	}

	@include mq($from: leftCol) {
		.component-header--one-row-from-leftCol & {
			border-left: 1px solid gu-colour(brand-pastel);
			z-index: 10;
			position: relative;
		}
	}

	@include mq($from: wide) {
		padding-right: gu-span(1) + $gu-h-spacing;
	}
}

.component-header-topnav-logo__graun {
	float: right;
	height: 100%;
	flex: 0 1 auto;
}

.test-user-banner {
	background-color: red;
	width: 100%;
}
