@use 'sass:math';

@import '~stylesheets/gu-sass/gu-sass';
@import '~components/headers/veggieBurgerButton/veggieBurgerButton.scss';
@import '~components/headers/mobileMenu/mobileMenu.scss';

$header-links-min-width: gu-span(12);

@keyframes open-menu {
	from {
		transform: translateX(-100%);
	}
	to {
		transform: translateX(0);
	}
}

.component-header-links--desktop {
	@include mq($until: tablet) {
		display: none;
	}

	display: flex;
	justify-content: flex-start;
	background-color: gu-colour(brand-main);
	border-top: 1px solid gu-colour(brand-pastel);
	z-index: 9;
	white-space: nowrap;
	margin: 0 ($gu-h-spacing * -2) 0 0;
	box-sizing: border-box;

	@media (min-width: #{$header-links-min-width + 40}) {
		margin: 0 ($gu-h-spacing * -1);
		border-left: 1px solid gu-colour(brand-pastel);
		border-right: 1px solid gu-colour(brand-pastel);
	}

	.component-header-links__ul {
		list-style: none;
		display: inline-flex;
		width: auto;
		> * {
			flex: 0 0 auto;
			display: block;
		}
	}

	.component-header-links__link {
		@include gu-fontset-nav-desktop;
		color: gu-colour(neutral-100);
		text-decoration: none;
		display: block;
		height: $gu-v-spacing * 3.5;
		padding: math.div($gu-v-spacing, 1.75) ($gu-h-spacing * 1.5)
			math.div($gu-v-spacing, 1.5) math.div($gu-h-spacing, 3);
		overflow: hidden;
		position: relative;
		box-shadow: inset 0 0 0 gu-colour(highlight-main);
		transition: $gu-transition;
		box-sizing: border-box;

		&:hover {
			box-shadow: inset 0 4px 0 gu-colour(highlight-main);
		}

		&:after {
			content: '';
			position: absolute;
			right: 0;
			bottom: 14px;
			top: 0;
			width: 1px;
			background-color: gu-colour(brand-pastel);
		}
	}

	.component-header-links__li--active {
		.component-header-links__link {
			box-shadow: inset 0 4px 0 gu-colour(highlight-main);
		}
	}

	.component-header-links__li:first-child > .component-header-links__link {
		padding-left: $gu-h-spacing;
	}

	.component-header-links__li:last-child > .component-header-links__link {
		&:after {
			display: none;
		}
	}
}

.component-header--display-checkout {
	.component-header__wrapper {
		max-width: 50rem;

		@include mq($from: tablet, $until: desktop) {
			max-width: 100%;
			padding: 0;
			margin: 0;
		}

		@include mq($from: leftCol) {
			max-width: 60rem;
		}

		.component-header-topnav {
			@include mq($until: tablet) {
				justify-content: space-between;
			}

			@include mq($from: tablet, $until: desktop) {
				justify-content: flex-end;
			}

			.component-header-topnav__utility {
				display: none;
			}
		}

		.component-header-topnav-logo {
			flex: 0 1 auto;

			@include mq($from: desktop) {
				margin-right: -30px;
			}
		}
	}

	.component-header-topnav-logo {
		@include mq($from: desktop) {
			border-left: 1px solid gu-colour(brand-pastel);
		}
		padding-right: $gu-h-spacing * 0.5;
		padding-top: $gu-v-spacing * 0.5;
	}
}

.component-header-links__li.component-header-links__li--show-on-tablet {
	display: block;

	// custom breakpoint - we are using a 'custom breakpoint' because this is linked to the menu toggle which has a custom break point applied in js
	@media (min-width: 884px) {
		display: none;
	}
}
