@use 'sass:math';

@import '~stylesheets/gu-sass/gu-sass';

$header-links-min-width: gu-span(12);

// Retain the original box-sizing value for the header
// to preserve logo positioning logic across the CSS and JS
.component-header,
.component-header * {
	box-sizing: content-box;
}

.component-header {
	background-color: gu-colour(brand-main);
	display: flex;
	align-items: center;
	justify-content: stretch;
	overflow: hidden;

	.svg-guardian-logo {
		display: block;
		float: right;
		margin-top: math.div($gu-v-spacing, 2.4);
		margin-bottom: $gu-v-spacing * 1.5;
		height: 48px;
		width: auto;
		@include mq($from: mobileLandscape) {
			height: 56px;
		}
		@include mq($from: tablet) {
			height: 72px;
		}
		@include mq($from: desktop) {
			height: 95px;
		}
	}
}

.component-header__wrapper {
	width: 100%;
	margin: auto;
	padding: 0 ($gu-h-spacing * 0.5);
	position: relative;
	flex: 1 1 auto;

	@include mq($from: tablet) {
		max-width: $header-links-min-width;
	}

	@include mq($from: leftCol) {
		max-width: gu-span(14);
	}

	@include mq($from: wide) {
		max-width: gu-span(16);
	}
}

.component-header__row {
	display: flex;
	width: 100%;
}
