.component-stripe-pop-up-button {
  background-color: gu-colour(neutral-1);
  border: none;
  border-radius: 600px;
  color: #fff;
  cursor: pointer;
  display: block;
  font-family: $gu-sans-web;
  font-size: 14px;
  font-weight: bold;
  height: $gu-v-spacing * 4;
  padding-left: $gu-h-spacing;
  position: relative;
  text-align: left;
  width: 100%;

  @include mq($from: mobileMedium) {
    width: 304px;
  }

  svg {
    width: 24px;
    fill: #fff;
    position: absolute;
    right: 15px;
    top: 50%;
    transform: translateY(-50%);
  }

  &:hover {
    background-color: #000;
  }
}
