@import '~stylesheets/gu-sass/gu-sass';

.showcase-hero {
  background: gu-colour(highlight-main);
  color: gu-colour(neutral-7);
  
  .component-left-margin-section__content {
    padding-top: $gu-v-spacing;
    padding-bottom: $gu-v-spacing;
    display: flex;
    flex-direction: column-reverse;
    background: repeating-linear-gradient(
      to right,
      rgba(0, 0, 0, .1) 0,
      rgba(0, 0, 0, .1) 1px,
      rgba(0, 0, 0, 0) 1px,
      rgba(0, 0, 0, 0) 25%
    );
    @include mq($from: tablet) {
      background: repeating-linear-gradient(
        to right,
        rgba(0, 0, 0, .1) 0,
        rgba(0, 0, 0, .1) 1px,
        rgba(0, 0, 0, 0) 1px,
        rgba(0, 0, 0, 0) 80px
      );
    }
  }
}

.showcase-hero__caption {
  @include gu-fontset-explainer;
  > strong {
    font-weight: 600;
  }
  > p {
    margin: 0;
    font-weight: 400;
  }
}

.showcase-hero__image {
  filter: grayscale(1) contrast(120%);
  overflow: hidden;
  will-change: transform;
  opacity: 0;

  &:nth-of-type(1)  {
    animation: animateInLeft 0.8s 1s ease-out forwards 1;
  }
  &:nth-of-type(2)  {
    animation: animateInLeft 0.8s 1.30s ease-out forwards 1;
  }
  &:nth-of-type(3)  {
    animation: animateInRight 0.8s 1.15s ease-out forwards 1;
  }
  &:nth-of-type(4)  {
    animation: animateInRight 0.8s 1.45s ease-out forwards 1;
  }

  @keyframes animateInLeft {
    0% {
      transform: translateX(-20px);
      opacity: 0;
    }
    100% {
      transform: translateX(0);
      opacity: 1;
    }
  }

  @keyframes animateInRight {
    0% {
      transform: translateX(20px);
      opacity: 0;
    }
    100% {
      transform: translateX(0);
      opacity: 1;
    }
  }
    
  &:nth-of-type(1) img,
  &:nth-of-type(4) img {
    height: 100%;
    width: auto;
  }
  &:nth-of-type(2) img,
  &:nth-of-type(3) img {
    height: auto;
    width: 100%;
  }
  
  img {
    position: absolute;
    display: block;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    @supports (object-fit: cover) {
      position: relative !important;
      object-fit: cover !important;
      height: 100% !important;
      width: 100% !important;
      transform: none;
      top: auto;
      left: auto;
    }
  }
  @media (prefers-reduced-motion) {
    &:nth-of-type(1),
    &:nth-of-type(2),
    &:nth-of-type(3),
    &:nth-of-type(4) {
      opacity: 1 !important;
      transform: translateX(0) !important;
    }
  }
}

.showcase-hero-heading svg {
  width: 100%;
  margin-top: $gu-h-spacing;
  height: auto;
}

@include mq($from: tablet) {
  .showcase-hero-heading {
    padding-left: $gu-h-spacing / 2;
    
  }
}

@include mq($until: desktop) {

  .showcase-hero-heading {
    padding-right: $gu-h-spacing * 1;
    svg {
      max-width: gu-span(6);
    }
  }
  .showcase-hero__figure {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: stretch;
  }

  .showcase-hero .component-left-margin-section__content {
    margin: 0 $gu-h-spacing/2;
    border-right: 1px solid rgba(0, 0, 0, .1);
  }

  .showcase-hero__caption {
    display: none;
  }

  .showcase-hero__image {
    height: 100px;
    box-sizing: content-box;
    margin-bottom: $gu-v-spacing;
    @include mq($from: tablet) {
      height: 150px;
    }
    &:nth-child(1) {
      margin-left: -($gu-h-spacing/2);
      margin-right: 25%;
      animation: animateInLeft 0.8s 1s ease-out forwards 1;
    }
    &:nth-child(2) {
      margin-left: 25%;
      animation: animateInRight 0.8s 1.15s ease-out forwards 1;
    }
    &:nth-child(3) {
      margin-right: 25%;
      animation: animateInLeft 0.8s 1.30s ease-out forwards 1;
    }
    &:nth-child(4) {
      margin-right: -($gu-h-spacing/2);
      margin-left: 25%;
      animation: animateInRight 0.8s 1.45s ease-out forwards 1;
    }
  }
}

@include mq($from: desktop) {
  $photo-1-height: 280px;
  $photo-2-height: 120px;
  $photo-3-height: 120px;
  $photo-4-height: 440px;

  .showcase-hero .component-left-margin-section__content {
    min-height: $photo-3-height + $photo-4-height + $gu-v-spacing;
    .showcase-hero-heading {
      flex: 1 1 auto;
    }
  }

  .showcase-hero-heading {
    display: flex;
    align-items: flex-end;
    justify-content: stretch;
    margin: 0 $gu-h-spacing/2;
    width: gu-span(6.5);
  }

  .showcase-hero__figure {
    position: relative;
    margin: 0 $gu-h-spacing/2;
    height: $photo-1-height + $photo-2-height + $gu-v-spacing;
  }

  .showcase-hero__caption {
    position: absolute;
    left: 0;
    top: 0;
    width: gu-span(3);
  }

  .showcase-hero__image {
    position: absolute;
    top: 0;
    left: 0;
    
    &:nth-child(1) {
      height: $photo-1-height;
      width: gu-span(4);
      left: gu-span(3) + $gu-h-spacing;
      animation: animateInLeft 0.8s 1s ease-out forwards 1;
    }
    &:nth-child(2) {
      top: $photo-1-height + $gu-v-spacing;
      height: $photo-2-height;
      width: gu-span(7);
      left: 0;
      animation: animateInLeft 0.8s 1.30s ease-out forwards 1;
    }
    &:nth-child(3) {
      top: 0;
      height: $photo-3-height;
      width: gu-span(4);
      left: gu-span(7) + $gu-h-spacing + 1;
      animation: animateInRight 0.8s 1.15s ease-out forwards 1;
    }
    &:nth-child(4) {
      top: $photo-3-height + $gu-v-spacing;
      height: $photo-4-height;
      width: gu-span(4);
      left: gu-span(7) + $gu-h-spacing + 1;
      animation: animateInRight 0.8s 1.45s ease-out forwards 1;
    }
    @include mq($from: leftCol) {
      &:nth-child(3) {
        width: gu-span(6);
      }
      &:nth-child(4) {
        width: gu-span(5);
      }
    }
    
  }
}
