// -----  gu-sass ----- //

@import '~stylesheets/gu-sass/gu-sass';


// ----- Shared Components ----- //

@import '~components/footer/footer';
@import '~components/headers/simpleHeader/simpleHeader';
@import '~components/countryGroupSwitcher/countryGroupSwitcher';
@import '~components/selectInput/selectInput';
@import '~components/headingBlock/headingBlock';
@import '~components/leftMarginSection/leftMarginSection';

:root {
  scroll-behavior: smooth;
}

.component-product-page-hero--weekly {
  .component-grid-image {
    display: block;
    width: 90%;
    max-width: 500px;
    margin: ($gu-v-spacing * 3) auto -25%;
    z-index: 9;
    @include mq($from: tablet) {
      width: auto;
      max-width: 100%;
      height: 100%;
      position: absolute;
      top: 5%;
      right: -20%;
      margin: 0;
    }
    @include mq($from: desktop) {
      left: 450px;
      right: auto;
    }
  }
}
