.component-social-share {
  border: 1px solid gu-colour(neutral-86);
  border-radius: 600px;
  height: 42px;
  width: 42px;
  margin-right: 12px;
  cursor: pointer;

	svg {
		height: 25px;
    line-height: 42px;
    vertical-align: middle;
	}
}
