.component-double-heading {
	line-height: 27px;
	font-size: 28px;

	.component-double-heading__heading {
		font-weight: 900;
		font-family: $gu-egyptian-web;
		color: #fff;
		margin: 0;
	}

	.component-double-heading__subheading {
		font-weight: 300;
		color: #333;
		margin: 0;
		font-family: $gu-text-sans-web;

	}
}
