.component-product-page-features {
  @include mq($from: tablet) {
    display: flex;
  }
}

.component-product-page-features__title {
  @include gu-font-standfirst-responsive;
  font-weight: 200;
}

.component-product-page-features__copy {
  @include gu-font-body-responsive;
}

.component-product-page-features__item {
  flex: 0 0 25%;
  box-sizing: border-box;
  padding: ($gu-v-spacing / 6) ($gu-h-spacing/2) ($gu-v-spacing * 2) 0;
  margin-left: $gu-h-spacing / 2;
  border-top: 1px solid gu-colour(garnett-neutral-4);
  @include mq($from: tablet) {
    padding: 0 ($gu-h-spacing * 2) ($gu-v-spacing*2) ($gu-h-spacing / 2);
    margin: 0 0 0 -1px;
    border-top: 0;
    border-left: 1px solid gu-colour(garnett-neutral-4);
  }
}
