@import '~stylesheets/gu-sass/gu-sass';

.component-button {
	@include gu-fontset-body-sans;
	display: inline-flex;
	align-items: center;
	text-decoration: none;
	font-weight: bold;
	height: $gu-cta-height;
	min-height: $gu-cta-height;
	padding: 0 ($gu-cta-height * 0.5);
	border: none;
	border-radius: $gu-cta-height * 0.5;
	box-sizing: border-box;
	background: transparent;
	cursor: pointer;
	transition: $gu-transition;
	justify-content: space-between;
	position: relative;

	&:hover,
	&:focus {
		outline: 0;
	}

	&[data-disabled] {
		pointer-events: none;
	}
}

.component-button--non-interactive {
	pointer-events: none;
}

.component-button--primary {
	background-color: gu-colour(highlight-main);
	color: gu-colour(neutral-7);
	&:hover,
	&:focus {
		background-color: gu-colour(highlight-dark);
	}
}

.component-button--secondary {
	color: gu-colour(neutral-100);
	background-color: gu-colour(neutral-20);

	&:hover,
	&:focus {
		background-color: gu-colour(neutral-7);
	}
}

.component-button--tertiary {
	color: gu-colour(neutral-20);
	background-color: transparent;
	border: solid 1px gu-colour(neutral-20);

	&:hover,
	&:focus {
		background-color: gu-colour(neutral-97);
	}
}

.component-button--tertiaryFeature {
	color: gu-colour(highlight-main);
	background-color: transparent;
	border: solid 1.5px gu-colour(highlight-main);
}

.component-button--green {
	color: gu-colour(neutral-100);
	background-color: gu-colour(green-main);

	&:hover,
	&:focus {
		background-color: gu-colour(green-dark);
	}
}

.component-button--blue {
	color: #052962;
	background-color: #c1d8fc;

	&:hover,
	&:focus {
		color: #fff;
		background-color: #4e77bd;
	}
}

.component-button--greenHollow {
	color: gu-colour(green-main);
	border: 1px solid gu-colour(neutral-86);
	&:hover,
	&:focus {
		background: gu-colour(neutral-97);
	}
}

.component-button--greyHollow {
	color: gu-colour(neutral-7);
	border: 1px solid gu-colour(neutral-86);
	&:hover,
	&:focus {
		background: gu-colour(neutral-97);
	}
}

.component-button--disabled,
.component-button[disabled],
.component-button[data-disabled] {
	color: gu-colour(neutral-60);
	background-color: gu-colour(neutral-93);
	border: 1px solid gu-colour(neutral-86);
	cursor: not-allowed;
}

.component-button__content,
.component-button svg {
	flex: 0 0 auto;
	display: block;
}

.component-button svg {
	fill: currentColor;
	position: relative;
	width: $gu-cta-height * 0.5;
	height: auto;
}

.component-button--hasicon-left {
	flex-direction: row-reverse;

	svg {
		margin: 0 ($gu-cta-height * 0.25) 0 (-$gu-cta-height * 0.125);
	}
}

.component-button--hasicon-right {
	svg {
		margin: 0 (-$gu-cta-height * 0.125) 0 ($gu-cta-height * 0.25);
	}
}

/* icon-specific animations & transitions */
.component-button {
	.svg-arrow-right-straight {
		transition: $gu-transition transform;
		will-change: transform;
	}
	&:hover .svg-arrow-right-straight,
	&:focus .svg-arrow-right-straight {
		transform: translateX(20%);
	}
}
