@import '~stylesheets/gu-sass/gu-sass';

.component-checkout-form-section {
  padding: $gu-v-spacing/2 $gu-h-spacing/2 $gu-v-spacing*2;
}

.component-checkout-form-section + .component-checkout-form-section {
  border-top: 1px solid gu-colour(neutral-4);
}

.component-checkout-form-section__heading {
  @include gu-fontset-heading;
  margin-bottom: ($gu-v-spacing/2);
}
