@import '~stylesheets/gu-sass/gu-sass';

.component-button {
  @include gu-fontset-body-sans;
  display: inline-flex;
  align-items: center;
  text-decoration: none;
  font-weight: bold;
  height: $gu-v-spacing*3.5;
  padding: ($gu-v-spacing/2) $gu-h-spacing;
  border: none;
  border-radius: 600px;
  box-sizing: border-box;
  cursor: pointer;
  transition: .2s;
  justify-content: space-between;
  &:hover, &:focus {
    outline: 0;
  }

  &[disabled], &[data-disabled] {
    background-color: gu-colour(garnett-neutral-5);
    opacity: .5;
    pointer-events: none;
  }
}

.component-button--non-interactive {
  pointer-events: none;
}

.component-button--primary {
  background-color: gu-colour(news-garnett-highlight);
  color: gu-colour(garnett-neutral-1);
  &:hover, &:focus {
    background-color: gu-colour(highlight-dark);
  }
}

.component-button--secondary {
  color: gu-colour(garnett-neutral-5);
  background-color: gu-colour(garnett-neutral-1);
  svg {
    fill: gu-colour(garnett-neutral-5);
  }
  &:hover, &:focus {
    background-color: darken(gu-colour(garnett-neutral-1), 100%);
  }
}

.component-button--green {
  color: gu-colour(garnett-neutral-5);
  background-color: gu-colour(green-dark);
  svg {
    fill: gu-colour(garnett-neutral-5);
  }
  &:hover, &:focus {
    background-color: darken(gu-colour(green-dark), 10%);
  }
}

.component-button--greenHollow {
  color: gu-colour(green-dark);
  border: 1px solid gu-colour(green-dark);
  &:hover, &:focus {
    background: gu-colour(garnett-neutral-3);
  }
}

.component-button--greyHollow {
  color: gu-colour(garnett-neutral-1);
  border: 1px solid gu-colour(garnett-neutral-4);
  &:hover, &:focus {
    background: gu-colour(garnett-neutral-3);
  }
}

.component-button__content,
.component-button svg {
  flex: 0 0 auto;
  display: block;
}

.component-button svg {
  width: $gu-h-spacing * 1.075;
  margin: $gu-v-spacing * -1 $gu-h-spacing * -.5 $gu-v-spacing * -1 $gu-h-spacing * .5;
}

.component-button--hasicon-left {
  flex-direction: row-reverse;
}

.component-button--hasicon-left svg {
  margin: $gu-v-spacing * -1 $gu-h-spacing * .5 $gu-v-spacing * -1 $gu-h-spacing * -.5;
}


/* icon-specific animations & transitions */
.component-button {
  .svg-arrow-right-straight {
    transition: .2s transform;
    will-change: transform;
  }
  &:hover .svg-arrow-right-straight, &:focus .svg-arrow-right-straight {
    transform: translateX(5%);
  }
}
