$mq-breakpoints: (
	mobile: 320px,
	mobileMedium: 375px,
	mobileLandscape: 480px,
	phablet: 660px,
	tablet: 740px,
	desktop: 980px,
	leftCol: 1140px,
	wide: 1300px
);

@import 'node_modules/sass-mq/_mq';
