// gu-sass Library, you can import specific elements of gu-sass or import this file
// which import all the modules of gu-sass.

@import './reset-src';
@import './breakpoints';
@import './colours';
@import './layout';
@import './webfonts';
@import './typography';
@import './helpers';
@import './accessibility';

.header-tweaks {
  // countryGroupSwitcher.scss
  .component-country-group-switcher {
    .svg-globe {
      border: #fff solid 1px;
      fill: #fff;
    }

    .component-select-input__select {
      color: #fff;
    }
  }

  // countrySwitcherHeader.scss
  .component-country-switcher-header {
    background-color: gu-colour(header-dark);
    border-bottom: none;
  }

  // simpleHeader.scss
  .component-simple-header {
    background-color: gu-colour(header-dark);

    border-bottom: none;
  }

  // guardianLogo.jsx
  .svg-guardian-logo {
    path {
      fill: #fff;
    }
  }

  // new-contributions-landing/contributionsLanding.scss
  #new-contributions-landing-page-uk,
  #new-contributions-landing-page-eu,
  #new-contributions-landing-page-us,
  #new-contributions-landing-page-au,
  #new-contributions-landing-page-int,
  #new-contributions-landing-page-nz,
  #new-contributions-landing-page-ca {
    header[role="banner"] {
      background-color: gu-colour(header-dark);
    }

    .glogo {
      .svg-roundel__bg {
        fill: #fff;
      }

      .svg-roundel__g {
        fill: gu-colour(garnett-neutral-1);
      }
    }

    .countryGroups__label {
      color: #fff;
    }

    .countryGroups .svg-chevron {
      fill: #fff;
    }

    .countryGroups .svg-globe {
      fill: #fff;
    }

    @include mq($from: mobile, $until: tablet) {
      .glogo {
        top: 7px;
      }
    }

    @include mq($from: tablet) {
      .glogo {
        top: 7px;
      }
    }
  }
}