// This file contains variable and classes definition related to the layout of
// the project.

html, body {
  height: 100%;
}

// Spacing variables
// h stands for horizontal
// v stands for vertical
// =============================================================================
$gu-h-spacing: 20px;
$gu-v-spacing: 12px;


// Margin
// =============================================================================

// Standard sizes and margins for the content and headers.
.gu-content-margin, .gu-header-margin {
  box-sizing: border-box;

  @include mq($from: mobileLandscape) {
    width: gu-breakpoint(mobileLandscape);
    margin: 0 auto;
  }

  @include mq($from: phablet) {
    width: gu-breakpoint(phablet);
    margin: 0 auto;
  }

  @include mq($from: tablet) {
    width: gu-breakpoint(tablet);
  }

  @include mq($from: desktop) {
    width: gu-breakpoint(desktop);
  }

  @include mq($from: leftCol) {
    width: gu-breakpoint(leftCol);
  }

  @include mq($from: wide) {
    width: gu-breakpoint(wide);
  }
}

// The paddings at different breakpoints for the content.
.gu-content-margin {
  padding: 0 ($gu-h-spacing / 2);
  height: 100%;

  @include mq($from: mobileLandscape) {
    padding: 0 $gu-h-spacing;
  }

  @include mq($from: phablet) {
    padding: 0 auto;
  }

  @include mq($from: tablet) {
    padding: 0 $gu-h-spacing;
  }
}

// The element into which React content is injected.
.gu-content-wrapper {
  height: 100%;

  > div {
    display: flex;
    height: 100%;
    flex-direction: column;
  }

  header {
    flex: 0 0 auto;
  }

  section {
    flex: 1 0 auto;
  }
}
