// This file contains variable and classes definition related to the layout of
// the project.

// Spacing variables
// h stands for horizontal
// v stands for vertical
// =============================================================================
$gu-h-spacing: 20px;
$gu-v-spacing: 12px;


// Size of cta buttons
$cta-height: 44px;


// Margin
// =============================================================================

// Standard sizes and margins for the content and headers.
@mixin gu-content-margin {
  box-sizing: border-box;
  padding: 0 ($gu-h-spacing / 2);

  @include mq($from: mobileLandscape) {
    width: gu-breakpoint(mobileLandscape);
    margin: 0 auto;
    padding: 0 $gu-h-spacing;
  }

  @include mq($from: phablet) {
    width: gu-breakpoint(phablet);
    margin: 0 auto;
    padding: 0 auto;
  }

  @include mq($from: tablet) {
    width: gu-breakpoint(tablet);
    padding: 0 $gu-h-spacing;
  }

  @include mq($from: desktop) {
    width: gu-breakpoint(desktop);
  }

  @include mq($from: leftCol) {
    width: gu-breakpoint(leftCol);
  }

  @include mq($from: wide) {
    width: gu-breakpoint(wide);
  }
}

.gu-content {
  @supports (display: flex) {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }
}

@mixin gu-content-filler {
  @supports (display: flex) {
    flex: 1 0 auto;
  }
}
