// This file contains variable and classes definition related to the layout of
// the project.

// Spacing variables
// h stands for horizontal
// v stands for vertical
// =============================================================================
$gu-h-spacing: 20px;
$gu-v-spacing: 12px;
$gu-col-width: 60px;


// Size of cta buttons
$cta-height: 44px;

// Columns
// =============================================================================
@function gu-span($n-columns) {
  @return $n-columns * $gu-col-width + $gu-h-spacing * ($n-columns - 1);
}



// Margin
// =============================================================================

// Standard sizes and margins for the content and headers.
.gu-content-max-width {
  width: gu-breakpoint(mobileLandscape);
  box-sizing: border-box;

  width: 100%;

  @include mq($from: desktop) {
    width: gu-breakpoint(desktop);
  }

  @include mq($from: leftCol) {
    width: gu-breakpoint(leftCol);
  }

  @include mq($from: wide) {
    width: gu-breakpoint(wide);
  }
}
.gu-content-margin {
  padding: 0 ($gu-h-spacing / 2);
  @extend .gu-content-max-width;

  @include mq($from: phablet) {
    width: gu-breakpoint(phablet);
  }

  @include mq($from: tablet) {
    width: gu-breakpoint(tablet);
  }

  @include mq($from: mobileLandscape) {
    margin: 0 auto;
    padding: 0 $gu-h-spacing;
  }

  @include mq($from: phablet) {
    margin: 0 auto;
    padding: 0 auto;
  }

  @include mq($from: tablet) {
    padding: 0 $gu-h-spacing;
  }

}

.gu-content {
  @supports (display: flex) {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }
}

.gu-content__main {
  @supports (display: flex) {
    flex: 1 0 auto;
  }
}
