// This contains the Guardian font combinations as currently used on
// support-frontend (https://github.com/guardian/support-frontend).
//
// It specifies the standard Guardian fonts and their fallbacks.
//
// It also provides a helper mixin for retrieving font information.

// ----- Font Families ----- //

$gu-titlepiece: 'GT Guardian Titlepiece', Georgia, serif !default;
$gu-headline: 'Guardian Headline', Georgia, serif !default;
$gu-text-egyptian-web: 'Guardian Text Egyptian Web', Georgia, serif !default;
$gu-sans-web: 'Guardian Sans Web', 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif !default;
$gu-text-sans-web: 'Guardian Text Sans Web', 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif !default;


// ----- Font Properties ----- //

$gu-fonts: (
	copy: (
		family: $gu-text-egyptian-web,
		font-weight: normal,
		sizes: (
			14: 20px,
			16: 20px,
			18: 28px
		)
	)
);


// ----- Mixins ----- //

// Used to populate font information.
//
// Usage:
//
// gu-font(copy, 16);
// gu-font(copy, 14, $weight: bold)
// gu-font(copy, 18, $line-height: 22)
//
@mixin gu-font($name, $size, $weight: null, $line-height: null) {

	$font-data: map-get($gu-fonts, $name);

	font-size: $size + 0px;
	font-family: map-get($font-data, family);

	@if ($weight) {
		font-weight: $weight;
	} @else {
		font-weight: map-get($font-data, font-weight);
	}

	@if ($line-height) {
		line-height: $line-height + 0px;
	} @else {
		line-height: map-get(map-get($font-data, sizes), $size);
	}
}

// ----- Base fonts ----- //
@mixin gu-family-headline {
	font-family: $gu-headline;
	line-height: 1.15;
}

@mixin gu-family-egyptian {
	font-family: $gu-text-egyptian-web;
	line-height: 1.4;
}

@mixin gu-family-sans {
	font-family: $gu-text-sans-web;
	line-height: 1.375;
}


// ----- Headlines ----- //
@mixin gu-fontset-header($size-only: false) {
	@if $size-only == false {
		@include gu-family-headline;
	}
	font-size: 32px;
	line-height: 1.08;
  @include mq($from: desktop) {
    font-size: 42px;
  }
}
@mixin gu-fontset-headline($size-only: false) {
	@if $size-only == false {
		@include gu-family-headline;
	}
	font-size: 22px;
  @include mq($from: tablet) {
    font-size: 24px;
  }
}
@mixin gu-fontset-standfirst($size-only: false) {
	@if $size-only == false {
		@include gu-family-headline;
	}
	font-size: 20px;
  @include mq($from: tablet) {
    font-size: 22px;
  }
}


// ----- Body ----- //
@mixin gu-fontset-body($size-only: false) {
	@if $size-only == false {
		@include gu-family-egyptian;
	}
  font-size: 17px;
}


// ----- Sans ----- //
@mixin gu-fontset-sans($size-only: false) {
	@if $size-only == false {
		@include gu-family-sans;
	}
  font-size: 16px;
}

@mixin gu-fontset-sans-title($size-only: false) {
	@if $size-only == false {
		@include gu-family-sans;
	}
  font-size: 18px;
}



// ----- Defaults ----- //

html {
    font-family: "Guardian Text Egyptian Web", Georgia, serif;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
}

body {
    line-height: 1.5;
}
