.component-why-support {
  border-top: 1px solid gu-colour(garnett-neutral-4);
  padding-bottom: $gu-v-spacing * 3;
  overflow: hidden;

  .component-page-section__heading {
    font-family: $gu-egyptian-web;
    font-size: 24px;
    line-height: 1.17;
    font-weight: bold;
  }

  .component-page-section__header {
    position: relative;

    @include dropline;
  }

  .component-page-section__body {
    @include mq($from: desktop) {
      padding-left: $gu-h-spacing;
      width: 50%;
    }
  }

  .svg-advertising-graph-mobile {
    @include mq($from: tablet) {
      display: none;
    }
  }

  .svg-advertising-graph-desktop {
    @include mq($until: tablet) {
      display: none;
    }
  }

  .svg-paywall-mobile {
    width: 100vw;
    margin-left: -$gu-h-spacing / 2;

    @include mq($from: mobileLandscape) {
      display: none;
    }
  }
  
  .svg-paywall-desktop {
    margin-left: -42vw;
    width: 1000px;

    @include mq($until: mobileLandscape) {
      display: none;
    }

    @include mq($from: phablet) {
      margin-left: -50vw;
      width: 1400px;
    }

    @include mq($from: tablet) {
      margin-left: -37vw;
    }

    @include mq($from: desktop) {
      margin-left: -30vw;
      width: 110vw;
    }
    
    @include mq($from: leftCol) {
      margin-left: -27vw;
      width: 105vw;
    }

    @include mq($from: wide) {
      display: none;
    }
  }

  .svg-paywall-wide {
    margin-left: -25%;
    width: 150%;

    @include mq($until: wide) {
      display: none;
    }
  }
}

.component-why-support__heading {
  margin: $gu-v-spacing * 2 0;
}

.component-why-support__copy {
  border-top: 1px solid gu-colour(garnett-neutral-4);
  padding-top: 3px;
  font-size: 16px;
  line-height: 1.25;
}
