@import '~stylesheets/gu-sass/gu-sass';

.component-progress-message {
	z-index: 10000;
	display: block;
	border: 0 none transparent;
	overflow-x: hidden;
	overflow-y: auto;
	visibility: visible;
	margin: 0;
	padding: 0;
	-webkit-tap-highlight-color: transparent;
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	text-align: center;
	@include gu-fontset-body-sans;

	.component-progress-message__dialog {
		font-size: 20px;
		line-height: 28px;
		position: relative;
		display: inline-block;
		color: white;
		top: 50%;
		transform: translateY(-50%);

		.component-progress-message__message {
			text-align: center;
		}
	}

	.component-progress-message__background {
		z-index: -1;
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		background: rgba(0, 0, 0, 0.6);
	}
}
