@import '~stylesheets/gu-sass/gu-sass';

.stripe-card-element-container {
	margin-top: 20px;
	margin-bottom: 6px;
}

.stripe-card-element-container .form__error {
	margin-top: 10px;
}

.stripe-card-element-container .form__input {
	padding-left: 10px;
}

.stripe-card-element-container .form__input-enabled {
	box-shadow: 0 0 0 3px gu-colour(sport-bright);
	outline: none;
}

.form--with-labels .stripe-card-element-container .form__legend {
	margin-bottom: 18px;
}

.stripe-card-element-container__inline-fields {
	display: flex;

	.form__field {
		width: 30%;
		margin-right: 15px;
	}
}

/* Design system emulation styles */

.ds-stripe-card-form-field {
	font-size: 17px;
	font-weight: 700;
	line-height: 1.5;
	font-family: $gu-text-sans-web;
	margin-bottom: 4px;
	position: relative;
	display: flex;
	justify-content: space-between;
}

.ds-stripe-card-input {
	height: 34px;
	padding: 10px 8px 0px 8px;
	border: 2px solid gu-colour(neutral-60);
}

.ds-stripe-card-input__error {
	border: 4px solid gu-colour(news-main);
}

.ds-stripe-card-input__focus {
	outline: 0;
	border: 2px solid #007abc;
}

/* Expiry date and security code fields */

.ds-stripe-card-input__expiry-security-container {
	display: flex;
	margin-top: 10px;
}

/* Expiry date field */

.ds-stripe-card-input__expiry {
	width: 30%;
	margin-right: 8px;
}

.ds-stripe-card-input__expiry-hint {
	font-size: 15px;
	color: gu-colour(neutral-46);
	margin-bottom: 4px;
	font-weight: 400;
	height: 24px;
}

/* Security code field */

.ds-stripe-card-input__security-code {
	margin-left: 8px;
}

.ds-stripe-card-input__security-code-hint {
	position: relative;
	cursor: pointer;
	z-index: 1;
	width: 18px;
}

.ds-stripe-card-input__security-code-hint:focus div,
.ds-stripe-card-input__security-code-hint:active div,
.ds-stripe-card-input__security-code-hint:hover div {
	visibility: visible;
}

.ds-stripe-card-input__security-code-hint-icon {
	height: 24px;
	margin-bottom: 4px;
}

.ds-stripe-card-input__security-code-hint-tooltip {
	background: #ededed;
	box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
	visibility: hidden;
	position: absolute;
	padding: 10px;
	top: -105px;
	left: -110px;
	width: 320px;
	height: 80px;

	@include mq($from: tablet) {
		top: -115px;
		left: 25px;
		width: 224px;
		height: 111px;
	}
}

.ds-stripe-card-input__security-code-hint-tooltip-heading {
	font-weight: 900;
}

.ds-stripe-card-input__security-code-input {
	width: 30%;
}

/* Security check - recaptcha */

.ds-security-check {
	margin-top: 10px;
}

.ds-security-check__label {
	font-size: 17px;
	font-weight: 700;
	line-height: 1.5;
	font-family: $gu-text-sans-web;
	margin-bottom: 4px;
}
