@import '~stylesheets/gu-sass/gu-sass';

.stripe-card-element-container {
  margin-top: 20px;
  margin-bottom: 6px;
}

.stripe-card-element-container .form__error {
  margin-top: 10px;
}

.stripe-card-element-container .form__input {
  padding-left: 10px;
}

.stripe-card-element-container .form__input-enabled {
  box-shadow: 0 0 0 3px gu-colour(sport-bright);
  outline: none;
}

.form--with-labels  .stripe-card-element-container .form__legend {
  margin-bottom: 18px;
}

.stripe-card-element-container__inline-fields {
  display: flex;

  .form__field {
    width: 30%;
    margin-right: 15px;
  }
}

/* Design system emulation styles */

.ds-stripe-card-form-field {
  font-size: 17px;
  font-weight: 700;
  line-height: 1.5;
  font-family: $gu-text-sans-web;
  margin-bottom: 4px;
  position: relative;
  display: flex;
  justify-content: space-between;
}

.ds-stripe-card-input {
  height: 34px;
  padding: 10px 8px 0px 8px;
  border: 2px solid gu-colour(neutral-60)
}

.ds-stripe-card-input-error {
  border: 4px solid gu-colour(news-main);
}

.ds-stripe-card-input-small {
  width: 30%;
}
