.component-country-group-switcher {
  display: inline-flex;

  .component-select-input__select {
    @include gu-fontset-body-sans;
    cursor: pointer;
    background-color: transparent;
    background: none;
    padding: 0;
    margin: 0;
    height: auto;
    color: #fff;

    &:hover {
      text-decoration: underline;
    }

    option {
      color: gu-colour(garnett-neutral-1);
    }

    &::-ms-expand {
      background-color: transparent;
    }
  }

  .component-select-input__label {
    @include accessibility-hint;
  }
}
