.component-country-group-switcher {
  display: inline-flex;

  .svg-globe {
    height: 20px;
    width: 20px;
    border-radius: 600px;
    border: solid 1px;
    padding: 7px;
    margin-right: 5px;
  }
}

.component-country-group-switcher__selector {
  font-family: $gu-egyptian-web;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;

  cursor: pointer;
  color: gu-colour(neutral-1);
  border: none;
  appearance: none;
  background-color: transparent;

  // Fix for IE.
  &::-ms-expand {
    border: none;
    background-color: transparent;
  }

  &:hover {
    text-decoration: underline;
  }
}
