@import '~stylesheets/gu-sass/gu-sass';

$brand-main: gu-colour(brand-main);
$neutral-7: gu-colour(neutral-7);
$neutral-20: gu-colour(neutral-20);
$neutral-93: gu-colour(neutral-93);
$neutral-100: gu-colour(neutral-100);
$opinion-bright: gu-colour(opinion-bright);

body {
  margin: 0;
}

#header-wrapper {
  position: static;
  top: 0;
  left: 0;
  width: 100%;
  border: 0;
  background-color: $brand-main;
  height: 116px;
}

#header {
  position: absolute;
  left: 90px;
  top: 15px;
  font-family: "Guardian Headline", serif;
  font-weight: 900;
  font-size: 36px;
  color: $neutral-93;
}

.button {
  text-decoration: none;
  cursor: pointer;
  text-align: center;
  position: absolute;
  left: 90px;
  top: 65px;
  border: 1px solid $neutral-100;
  border-radius: 1.3125rem;
  color: $neutral-100;
  font-family: "Guardian Text Sans", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  padding: 5px 20px;
  line-height: 21px;
  background: transparent;
  box-sizing: border-box;
}

.button:hover {
  background-color: $neutral-100;
  color: $brand-main;
}

#logo {
  position: absolute;
  right: 92px;
  top: 11px;
}

.svg-wrapper {
  margin-top: 32px;
  margin-left: 80px;
  display: inline-block;
  position: relative;
  height: auto;
  width: 650px;
  vertical-align: middle;
}

.svg-content {
  display: inline-block;
  position: absolute;
  top: 0;
  left: 0;
}

.map {
  cursor: pointer;
  fill: $opinion-bright;
}

.label {
  cursor: pointer;
  fill: $neutral-7;
}

.label.light.hover, .label.light.selected {
  fill: $neutral-100;
}

.label.dark.hover, .label.dark.selected {
  fill: $neutral-7;
}

.map.hover, .map.selected {
  fill: $brand-main;
}
