@import '../formFields';

.component-form-error__error {
  @include gu-fontset-explainer;
  color: gu-colour(state-error);
  display: block;
  margin-top: $gu-v-spacing;
  width: 80%;
}

.component-form-error .component-input:not([type-radio]) {
  border-color: gu-colour(state-error);
}
