@import '../formFields';

.component-form-error__error,
.component-form-error__summary-error {
	@include gu-fontset-explainer;
	color: gu-colour(state-error);
	display: block;

	@include mq($from: mobileMedium) {
		width: 80%;
	}
}

.component-form-error__error {
	margin-top: $gu-v-spacing;
}

.component-form-error__summary-error {
	margin-top: $gu-v-spacing / 2;
	a,
	a:visited {
		color: inherit;
	}
	&:first-of-type {
		margin-top: $gu-v-spacing;
	}
}

.component-form-error .component-input:not([type-radio]) {
	border-color: gu-colour(state-error);
}

.component-form-error .component-input:not([type-radio]):focus {
	outline: 4px solid gu-colour(state-error);
}

.component-form-error {
	.StripeElement--invalid,
	.StripeElement--empty {
		border: 4px solid #c70000;
		margin-top: 0;
	}
}

.component-form-error__heading {
	font-size: 1rem;
	@include gu-fontset-heading;
	font-weight: bold;
}

.component-form-error__border {
	border: 4px gu-colour(state-error) solid;
	padding: $gu-v-spacing / 2 $gu-v-spacing $gu-h-spacing;
	// margin-top: $gu-v-spacing;
	background-color: rgba(199, 0, 0, 0.03);
}
