@import '../standardFields/formFields';

.component-radio-input {
  @include gu-fontset-body-sans;
  display: flex;
  align-items: center;
  justify-content: stretch;
  cursor: pointer;
  position: relative;
  &:hover {
    .component-radio-input__text::before {
      box-shadow: inset 0 0 0 3px #fff,
        0 0 0 2px lighten(gu-colour(neutral-86), 6%);
    }
  }
}

.component-radio-input__text {
  font-weight: bold;
  display: flex;
  align-items: center;
}

.component-radio-input__input {
  position: absolute;
  opacity: 0;
  height: 0;
  width: 0;
  top: 0;
  left: 0;
  &:focus + .component-radio-input__text::before {
    box-shadow: inset 0 0 0 3px #fff,
      0 0 0 2px lighten(gu-colour(highlight-main), 6%);
  }
}

.component-radio-input__text::before {
  display: inline-block;
  content: '';
  width: 18px;
  height: 18px;
  border: 1px solid gu-colour(neutral-86);
  box-shadow: inset 0 0 0 3px #fff;
  border-radius: 60px;
  margin-right: $gu-h-spacing/2;
  transition: 0.2s box-shadow;
}

.component-radio-input__input:checked + .component-radio-input__text::before {
  background-color: gu-colour(green-main);
  border-color: gu-colour(green-main);
}

.component-radio-input--group .component-radio-input__text {
  border: 1px solid gu-colour(neutral-86);
  min-height: $gu-cta-height;
  justify-content: stretch;
  padding: 0 $gu-h-spacing/2 + 2px;
  border-radius: 9999em;
  width: 100%;
  box-sizing: border-box;
}

.component-radio-input--group
  .component-radio-input__input:checked
  + .component-radio-input__text {
  border-color: gu-colour(green-main);
}
