.component-direct-debit-pop-up-button {
  background-color: gu-colour(neutral-1);
  border: none;
  border-radius: 600px;
  color: #fff;
  cursor: pointer;
  display: block;
  font-family: $gu-sans-web;
  font-size: 14px;
  height: $cta-height;
  padding-left: $gu-h-spacing;
  position: relative;
  text-align: left;
  width: 100%;

  @include mq($from: mobileMedium) {
    width: 304px;
  }

  &:hover {
    background-color: #000;
  }

  .svg-arrow-right-straight {
    height: 16px;
    position: absolute;
    left: calc(100% - 34px);
    fill: #fff;
  }
}

.component-direct-debit-pop-up-button--disable {
  background-color: gu-colour(garnett-neutral-4);
  color: gu-colour(garnett-neutral-2);
  cursor: auto;

  .svg-arrow-right-straight {
    fill: gu-colour(garnett-neutral-2);
  }

  &:hover {
    background-color: gu-colour(garnett-neutral-4);
  }

}
