.set-password {
  .form__input--email {
    pointer-events:none;
    background-color: #dcdcdc;

  }

  .form__field--contribution-password {
    margin-top: $gu-v-spacing;
  }

  .form__submit-button {
    width: 100%;
    position: relative;
  }

  .svg-arrow-right-straight {
    position: absolute;
    right: $gu-v-spacing;
  }

  .form__submit {
    padding-bottom: 0;
  }

  .form__submit--no-thanks {
    margin-top: $gu-v-spacing;
  }

  .form__submit-button--no-thanks {
    background: transparent;
    margin-bottom: $gu-v-spacing * 2;
    color: gu-colour(garnett-neutral-1);
    border: 1px solid gu-colour(neutral-1);

    &:enabled {
      &:hover,
      &:focus {
        background: #f6f6f6;
      }
    }

  }

}
