.component-payment-failure-message {
  position: relative;
  border: none;
  padding: 0 $gu-h-spacing;
  color: gu-colour(news-main);
  background-color: gu-colour(payment-failure-error);
  font-family: $gu-sans-web;
  text-align: left;
  margin-bottom: 20px;

  @include mq($from: mobileLandscape) {
    height: 32px;
  }

  @include mq($from: tablet) {
    width: 404px;
  }

}

.svg-exclamation-alternate {
  position: relative;
  display: inline-block;
  margin-right: 8px;
  top: 6px;
}

.svg-exclamation-alternate__circle {
  fill: gu-colour(news-main);
}

.svg-exclamation-alternate__exclamation-mark {
  fill: gu-colour(garnett-neutral-5)
}

.component-payment-failure-message__error-message {
  position: relative;
  display: inline-block;
  font-size: 14px;
  font-weight: 600;
}

.component-payment-failure-message__small-print {
  position: relative;
  display: block;
  line-height: 18px;
  font-size: 12px;
  font-weight: 400;
  margin-top: 10px;
}

