.component-payment-failure-message {
  padding: ($gu-v-spacing / 2) $gu-h-spacing $gu-v-spacing;
  color: gu-colour(news-main);
  background-color: gu-colour(payment-failure-error);
  font-family: $gu-sans-web;
  margin-bottom: 20px;

  @include mq($from: tablet) {
    width: 404px;
  }

}

.svg-exclamation-alternate {
  display: inline-block;
  margin-right: 8px;
  vertical-align: bottom;
}

.svg-exclamation-alternate__circle {
  fill: gu-colour(news-main);
}

.svg-exclamation-alternate__exclamation-mark {
  fill: gu-colour(garnett-neutral-5)
}

.component-payment-failure-message__error-message {
  vertical-align: bottom;
  display: inline-block;
  font-size: 14px;
  font-weight: 600;
}

.component-payment-failure-message__small-print {
  display: block;
  line-height: 18px;
  font-size: 12px;
  font-weight: 400;
  margin-top: $gu-v-spacing;
}

