// -----  gu-sass ----- //
@import '~stylesheets/skeleton/skeleton';
@import '~stylesheets/gu-sass/gu-sass';


// ----- Shared Components ----- //

@import '~components/ctaLink/ctaLink';
@import '~components/footer/footer';
@import '~components/headers/header/header';
@import '~components/pageSection/pageSection';
@import '~components/questionsContact/questionsContact';
@import '~components/spreadTheWord/spreadTheWord';
@import '~components/socialShare/socialShare';


// ----- Page-Specific Styles ----- //

#paypal-error-page {

  // ----- Headings

  .paypal-error__heading {
    font-family: $gu-headline;
    color: gu-colour(brightness-7);
    font-size: 28px;
    line-height: 32px;
    font-weight: bold;

    @include mq($from: desktop) {
      font-size: 36px;
      line-height: 40px;
    }
  }

  .paypal-error__copy {
    font-family: $gu-headline;
    font-size: 24px;
    line-height: 28px;
    font-weight: lighter;
    color: gu-colour(brightness-7);
    margin: $gu-v-spacing 0;

    @include mq($from: desktop) {
      font-size: 28px;
      line-height: 32px;
      width: 600px;
    }
  }

  .component-page-section__body {
    padding-top: $gu-v-spacing;

    @include mq($from: desktop) {
      padding-left: $gu-h-spacing;
    }
  }

  .component-cta-link {
    color: gu-colour(brightness-7);
    background-color: gu-colour(highlight-main);
    width: 230px;
    margin-bottom: $gu-v-spacing * 4;

    .svg-arrow-right-straight {
      fill: gu-colour(brightness-7);
    }

    &:hover {
      background-color: darken(gu-colour(highlight-main), 5%);
    }
  }
}
