.component-number-input {
	background-color: #fff;
	border-radius: 600px;
	border: none;
	padding: 6px 10px;
	margin: 3px 0;
	height: 24px;
	text-align: center;
	font-size: 14px;
	font-weight: bold;

	&:focus {
		outline: none;
	}

	// Hides the number spinners.
	-moz-appearance: textfield;
	&::-webkit-outer-spin-button,
	&::-webkit-inner-spin-button {
		-webkit-appearance: none;
		margin: 0;
	}
}
