.component-price-cta {
  padding-top: $gu-v-spacing;
  padding-bottom: $gu-v-spacing;
  position: relative;
  padding-left: $gu-h-spacing / 2;
}

.component-price-cta--with-secondary {
  padding-bottom: 0;

  .component-cta-link {
    margin-bottom: $gu-v-spacing;
  }
}

.component-price-cta__secondary {
  @include gu-fontset-body-sans;
  font-style: italic;
  padding-bottom: $gu-v-spacing * 2;
  padding-top: $gu-v-spacing * 2;
  width: 100%;
  box-sizing: border-box;
}
