.component-info-section {
	font-family: $gu-sans-web;
	line-height: 18px;
	border-top: 1px dotted rgba(0,0,0,0.2);
	padding-bottom: $gu-v-spacing * 3;
	padding-top: $gu-v-spacing / 2;

	@include mq($from: desktop) {
		padding-bottom: $gu-v-spacing * 4;

		> * {
			display: inline-block;
		}

	}

	.component-info-section__header {
		padding-bottom: $gu-v-spacing;

		@include mq($from: desktop) {
			width: 20%;
			vertical-align: top;
			font-size: 16px;
			line-height: 18px;
		}

	}

}
