#regular-contributions-page {

	// ----- General ----- //

	color: gu-colour(garnett-neutral-1);


	// ----- Sections ----- //

	h2 {
		margin-top: -2px;
	}

	.component-info-section {
		padding-top: 0;
	}

	.component-info-section__heading {
		font-family: $gu-egyptian-web;
		font-size: 24px;
		line-height: 1.17;
		padding-top: $gu-v-spacing / 2;

		@include dropline;
	}

	.component-info-section__content {
		padding-top: $gu-v-spacing;

		@include mq($from: desktop) {
			box-sizing: border-box;
			padding-left: $gu-h-spacing;
		}
	}


	// ----- Header

	.regular-contrib__header {
		border-top: none;

		.regular-contrib__heading {
			margin-top: -15px; /* custom size for header at mobile because of padding */
			font-size: 24px;
			line-height: 28px;
			font-weight: bold;
			font-family: $gu-egyptian-web;

			@include mq($from: desktop) {
				margin-top: $gu-v-spacing;
				font-size: 44px;
				line-height: 44px;
			}
		}

		.component-secure {
			&__text {
				margin-top: $gu-v-spacing / 2;
			}

			// Fix for IE.
			svg {
				width: 13px;
			}
		}

	}

	// ----- Your contrib

	.regular-contrib__amount {
		border-radius: 1000px;
		font-size: 24px;
		color: #fff;
		width: 60px;
		height: 60px;
		text-align: center;
		background-color: gu-colour(neutral-1);
		line-height: 60px;
	}

	.regular-contrib__amount--wide-value {
		padding-left: 1em;
		padding-right: 1em;
		width: unset;
	}

	// ----- Your details

	.regular-contrib__your-details {
		position: relative;

		@include mq($until: desktop) {
			.component-signout {
				position: absolute;
				top: 0;
				right: 0;
			}
		}

		#last-name {
			margin-bottom: 0px;
		}

		input {
			width: 100%;
			box-sizing: border-box;

			@include mq($from: desktop) {
				width: 304px;
			}
		}

		.component-select-input {
			width: 100%;
			margin-top: 20px;
			margin-bottom: 0;

			@include mq($from: desktop) {
				width: 304px;
			}
		}

	}

	.component-text-input {
		border: 2px solid gu-colour(news-garnett-highlight);
		font-family: $gu-text-sans-web;
		height: 44px;
		font-weight: bold;
		margin-bottom: $gu-v-spacing;
	}

	// ----- Payment methods

  .regular-contrib__payment-methods {

    .component-direct-debit-pop-up-button {
      margin-bottom: $gu-v-spacing * 2;
    }

    .component-stripe-pop-up-button {
      box-sizing: border-box;
      background-color: gu-colour(news-garnett-highlight);
      color: gu-colour(garnett-neutral-1);

      svg {
      	fill: gu-colour(garnett-neutral-1);
      }

      @include mq($from: desktop) {
        width: 304px;
      }

    }
  }

  .component-paypal-button-checkout {
  	margin-top: $gu-v-spacing;
  }

	// ----- Legal ----- //

	.terms-privacy {
		.component-info-section__content {
			@include mq($from: desktop) {
				width: 550px;
			}
		}
	}

	.terms-privacy__content {
		background-color: #fff;
		color: gu-colour(media-garnett-main-1);
	}

	.component-contrib-legal {
		padding-top: $gu-v-spacing;
		padding-bottom: $gu-v-spacing * 2;
		font-size: 14px;
	}

}
