<configuration>

<contextName>frontend</contextName>

<appender name="LOGFILE" class="ch.qos.logback.core.rolling.RollingFileAppender">

    <filter class="ch.qos.logback.core.filter.EvaluatorFilter">
        <evaluator class="ch.qos.logback.classic.boolex.OnMarkerEvaluator">
            <marker>SENTRY</marker>
        </evaluator>
        <onMatch>DENY</onMatch>
    </filter>

    <file>${application.home:-.}/logs/application.log</file>

    <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
        <fileNamePattern>logs/frontend.log.%d{yyyy-MM-dd}.gz</fileNamePattern>
        <maxHistory>30</maxHistory>
    </rollingPolicy>

    <encoder>
        <pattern>%date{"yyyy-MM-dd'T'HH:mm:ss,SSSZ", UTC} [%thread] %-5level %logger{36} - %msg%n%xException</pattern>
    </encoder>
</appender>

<root level="INFO">
    <appender-ref ref="LOGFILE"/>
</root>

</configuration>
