.component-dotcom-cta {

  .component-cta-link {
    background-color: gu-colour(garnett-neutral-1);
    border: 1px solid gu-colour(garnett-neutral-1);
    color: #fff;
    height: 54px;
    line-height: 54px;
    padding: 0 30px 0 25px;
    transition: background-color .3s;
    margin: 0;

    @include mq($from: mobileMedium) {
      width: 300px;
    }

    &:hover {
      background-color: darken(gu-colour(garnett-neutral-1), 10%);
    }
  }

  .component-page-section__body {
    padding-bottom: $gu-v-spacing * 3;
  }

  .svg-arrow-right-straight {
    height: 35%;
    top: 17px;
    right: 13px;

    // Fix for IE.
    @include mq($from: mobileMedium) {
      left: 321px;
    }
  }

}
