@import '~stylesheets/gu-sass/gu-sass';

.button {
	appearance: none;
	border: 0;
	padding: 0;
	color: inherit;
	cursor: pointer;
	color: gu-colour(neutral-100);
	@include gu-fontset-body-sans;

	:global(.svg-dropdown-arrow) {
		position: absolute;
		margin-top: $gu-h-spacing * 0.25;
		margin-left: $gu-h-spacing * 0.25;
		path {
			fill: currentColor;
		}
	}

	&:hover {
		color: gu-colour(highlight-main);
	}
}
