@import '~stylesheets/gu-sass/gu-sass';

@mixin narrow-content {
  max-width: gu-span(7);
  @include mq($from: desktop) {
    max-width: gu-span(8);
  }
}

$content-padding: 10px;

[class^="product-block"] {
  box-sizing: border-box;
}

.product-block {
  margin-top: 20px;
}

.product-block__header {
  display: inline-block;
  padding: 5px;
  background-color: gu-colour(neutral-7);
  font: 600 18px $gu-headline;
  color: gu-colour(neutral-100);
  
  @include mq($from: mobileLandscape) {
    font-size: 22px;
  }
}

.product-block__content {
  display: flex;
  flex-wrap: wrap;
  // @include mq($from: tablet) {
  //   border-left: 1px solid gu-colour(neutral-86);
  // }
}

.product-block__content:nth-of-type(3) {
  display: flex;
  // padding-top: 20px;
  
  @include mq($from: leftCol) {
    flex-direction: row-reverse;
  }
}

.product-block__content:nth-of-type(4) {
  border-top: 1px solid gu-colour(neutral-86);

  // @include mq($from: leftCol) {
  //   border-top: none;
  // }
}

.product-block__content--subtitle {
  display: none;
  @include mq($from: leftCol) {
    display: block;
  }
}

.product-block__sub-title:nth-child(1) {
  @include mq($from: tablet) {
    border: none;
  }
}

.product-block__subtitle--container {
  display: block;

  @include mq($from: leftCol) {
    display: none;
  }
}

.product-block__sub-title {
  width: 100%;
  padding: 0 $content-padding 10px;
  font: 600 22px $gu-headline;
  line-height: 40px;

  @include mq($from: tablet) {
    border-left: 1px solid gu-colour(neutral-86);
    border-left: none;
    font-size: 26px;
  }

  @include mq($from: desktop) {
    font-size: 32px;
  }
}

.product-block__sub-title-text-container {
  width: 100%;
  padding: 0 $content-padding 30px;

  // @include mq($from: tablet) {
  //   border-left: 1px solid gu-colour(neutral-86);
  // }
}

.product-block__sub-title-text-container:nth-of-type(1) {
  @include mq($from: tablet) {
    border-left: none;
  }
}

.product-block__sub-title-text {

  max-width: 32.5rem;
  font: 300 20px $gu-headline;
  line-height: 24px;

  @include mq($from: tablet) {
    font-size: 22px;
  }

  @include mq($from: desktop) {
    font-size: 24px;
  }
}

.product-block__feature-title {
  font-weight: 600;
}

.product-block__right-content {
  // width: 100%;
  padding:0 $content-padding 30px $content-padding;
  max-width: 32.5rem;

  @include mq($from: tablet) {
    margin-right: 150px;
  }
}

.product-block__left-content {
  display: flex;
  flex-wrap: wrap;
  width: 32.5rem;
  padding: 0 $content-padding 30px;

  @include mq($from: tablet) {
    .component-list-ul {
      margin-right: 140px;
    }
  }
}

.product-block__grey-line-container {
  width: 100%;
}

.product-block__grey-line {
  display: block;
  width: 100%;
  border-top: 1px solid gu-colour(neutral-86);
  margin-top: 2px;
}

// This is a override for "#digital-subscription-landing-page-int .product-block .component-grid-image"
#digital-subscription-landing-page-int
.product-block #product-block__right-content
img.component-grid-image {
  width: 100%;
}

.component-left-margin-section__content {
  width: 100px;
}

// this is a hack to override the left border on the .component-left-margin-section__content because the new design calls this to start at desktop instead of the leftCol breakpoint
#digital-subscription-landing-page-int,
#digital-subscription-landing-page-uk,
#digital-subscription-landing-page-us,
#digital-subscription-landing-page-au,
#digital-subscription-landing-page-eu,
#digital-subscription-landing-page-nz,
#digital-subscription-landing-page-ca {
  .product-block.product-block {
    .component-left-margin-section__content {
      
      @include mq($from: tablet) {
        border-left: 1px solid gu-colour(neutral-86);
      }
    } 
  } 
}
