// -----  gu-sass ----- //
@import '~stylesheets/gu-sass/gu-sass';

// ----- Shared Components ----- //
@import '~components/footer/footer';
@import '~components/svgs/svg';

:root {
	scroll-behavior: smooth;
}

#showcase-landing-page {
	.gu-content {
		overflow-x: hidden;
	}

	.component-product-page-hero {
		@include mq($from: tablet) {
			.component-heading-block {
				margin-top: 24em;
			}
			.component-grid-picture {
				position: absolute;
				top: 0;
				min-width: 100%;
				height: 100%;
				@include mq($from: wide) {
					left: gu-span(2) * -1;
				}
			}
			.component-grid-picture__image {
				height: 100%;
				display: block;
			}
		}
		@include mq($until: tablet) {
			.component-grid-picture {
				max-height: 20em;
				overflow: hidden;
				display: block;
			}
			.component-grid-picture__image {
				max-width: gu-span(8);
				margin: auto;
				float: none;
				display: block;
			}
		}
	}

	.anchor {
		color: gu-colour(brand-main);
		font-family: $gu-headline;
		font-size: 26px;
		font-weight: bold;
		line-height: 1.12;
		padding: ($gu-v-spacing / 2) 0 ($gu-v-spacing * 1.5);

		@include mq($from: tablet) {
			font-size: 30px;
			width: 75%;
		}

		@include mq($from: desktop) {
			font-size: 36px;
			width: 75%;
		}
	}

	.component-content {
		&--grey {
			@include mq($from: tablet) {
				.svg-breaking-the-headlines {
					margin-left: $gu-h-spacing * -4;
					margin-right: $gu-h-spacing * -4;
				}
				.svg-no-one {
					margin-left: $gu-h-spacing * -6;
					margin-right: $gu-h-spacing * -6;
				}
			}
		}

		&--subscribe {
			.component-content__image {
				max-width: gu-span(5);
				min-width: gu-span(4);
				bottom: 0;
				left: auto;
				right: 0;
				height: 100%;
				float: right;
				margin-right: -($gu-v-spacing * 1.5);
				@include mq($until: tablet) {
					display: none;
				}
			}

			@include mq($from: tablet) {
				.component-content__content {
					min-height: 290px;
				}

				.component-left-margin-section__content {
					position: relative;
					border-left: none;

					.component-grid-image {
						width: auto;
						height: 150%;
						display: block;
						position: absolute;
						right: 0;
						bottom: 0;
					}
				}
			}

			@include mq($from: tablet, $until: leftCol) {
				.component-text {
					max-width: 75%;
				}

				.component-content__image {
					right: -200px;
				}

				.component-left-margin-section__content .component-grid-image {
					height: 120%;
				}
			}

			@include mq($from: leftCol) {
				.component-text {
					max-width: 65%;
				}
			}
		}

		&--contribute {
			overflow: hidden;

			@include mq($until: tablet) {
				// height: 400px;
				padding-bottom: 75px;
			}

			.component-left-margin-section__content {
				border-left: none;
			}

			.wrapper {
				display: flex;
				position: relative;
				z-index: 10;

				.image {
					margin-right: $gu-h-spacing * 6;
					margin-bottom: $gu-v-spacing * 6;
					width: gu-span(5);

					@include mq($until: tablet) {
						display: none;
					}
				}
			}

			.one-million-circles {
				position: absolute;
				bottom: -40px;
				left: -220px;
				width: 300px;
				height: 300px;
				z-index: 9;

				@include mq($until: tablet) {
					transform: rotate(-70deg);
					left: 50vw;
					bottom: -190px;
				}
			}
		}

		&--other-products {
			.component-text {
				margin-bottom: 0;
			}

			.other-product {
				display: inline-block;
				padding-bottom: $gu-v-spacing * 2;
				margin-top: $gu-v-spacing * 2;

				@include mq($from: tablet) {
					width: 250px;
				}

				.product-title {
					font-family: $gu-headline;
					font-weight: 700;
					font-size: 1.25rem;
					margin-bottom: $gu-v-spacing;
				}

				.component-button {
					margin-top: $gu-v-spacing;
				}

				&--patrons {
					.product-title {
						color: gu-colour(culture-main);
					}

					@include mq($from: tablet) {
						padding-right: $gu-h-spacing / 2;
					}
				}

				&--masterclass {
					.product-title {
						color: gu-colour(lifestyle-main);
					}

					@include mq($from: tablet) {
						width: 250px + ($gu-h-spacing / 2);
						border-left: 1px solid gu-colour(neutral-86);
						padding-left: $gu-h-spacing / 2;
					}
				}
			}
		}
	}
}
