@import '~stylesheets/gu-sass/gu-sass';

// "Joy of Print Sale" specific styles below! 

.component-product-page-hero--custom.component-product-page-hero--paper-sale {
  background: #FFEDE0;
}

.sale-joy-of-print {
  display: flex;
  align-items: center;
  padding: $gu-v-spacing*2 0 $gu-v-spacing*4;
}

.sale-joy-of-print-copy {
  display: none;
  
  @include mq($from: phablet) {
    font-size: 40px;
    line-height: 1;
    display: block;
    max-width: gu-span(5);
    padding-left: $gu-v-spacing;
    
    h2 {
      font-family: $gu-titlepiece;
      max-width: gu-span(4);
      margin: 0 0 $gu-v-spacing/2 0;
      color: #AD227E;
    }
    p {
      @include gu-fontset-heading;
    }
    @include mq($from: tablet) {
      font-size: 60px;
    }
  }
}

.sale-joy-of-print-graphic-outer {
  position: relative;
  display: flex;
  flex-grow: 1;
  align-items: center;
  justify-content: center;
  max-width: gu-span(8);
  left: 3rem;
  padding-right: $gu-v-spacing*2;
  
  @include mq($from: tablet) {
    left: auto;
    justify-content: flex-end;
  }

}

.sale-joy-of-print-graphic-inner {
  position: relative;
  margin-top: $gu-v-spacing*2;
}

.sale-joy-of-print-graphic {
  position: relative;
  z-index: 1;

  img {
    max-height: 280px;
  }

  @include mq($from: phablet) {
    img {
      max-height: 350px;
    }
  }
  @include mq($from: tablet) {
    img {
      max-height: 400px;
    }
  }
}

.sale-joy-of-print-badge {
  left: -4.8rem;
  top: -0.1rem;
  position: absolute;
  flex-direction: column;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #ab8b62;
  color: gu-colour(garnett-neutral-5);
  text-align: center;
  border-radius: 50%;
  line-height: 1;
  font-family: $gu-headline;
  font-size: 0.813rem;
  font-weight: 700;
  width: 8.6rem;
  height: 8.6rem;
  
  span {
    display: block;
    line-height: 1; 
  }
  
  span:nth-child(2) {
    font-family: $gu-titlepiece;
    position: relative;
    top: -0.1rem;
    font-size: 3rem;
    font-variant-numeric: lining-nums;
    -moz-font-feature-settings: "lnum";
    -webkit-font-feature-settings: "lnum";
    font-feature-settings: "lnum";
  }

  @include mq($from: phablet) {
    left: -4.4rem;
    top: 2.2rem;
  }
  
  @include mq($from: tablet) {
    left: -4.4rem;
    top: 2.4rem;
    width: 9.5rem;
    height: 9.5rem;
    font-size: 0.875rem;

    span:nth-child(2) {
      font-size: 3.8rem;
      top: -0.1rem;
    }
  }
}
