// -----  gu-sass ----- //	
@import '~stylesheets/gu-sass/gu-sass';

.marketing-permissions {
  font-weight: 300;
  margin: 0 -10px;
  padding: 0 10px;
  .svg-newsletters {
    width: 100%;
  }
}

.confirmation__meta {
  font-family: $gu-text-sans-web;
  font-size: 12px;
}

.information__message {
  vertical-align: top;
  padding-left: 5px;
}
