@import '~stylesheets/gu-sass/gu-sass';

.component-product-page-text-block {
  @include gu-fontset-body;
  overflow-wrap: break-word;
  max-width: gu-span(7);
  @include mq($from: desktop) {
    max-width: gu-span(8);
  }
  > *:not(:last-child) {
    margin-bottom: $gu-v-spacing
  }
  > .component-product-page-text-block__heading {
    margin-bottom: ($gu-v-spacing/2);
  }
}

.component-product-page-text-block__heading {
  @include gu-fontset-heading;
  svg {
    margin-left: $gu-h-spacing/3;
    display: inline-block;
    vertical-align: middle;
  }
  .svg-information {
    circle {
      fill: gu-colour(header-border);
    }
  }
}

.component-product-page-text-block__callout {
  @include gu-fontset-heading;
  & > strong {
    padding: 0 ($gu-h-spacing / 4);
    background-color: gu-colour(news-garnett-highlight);
    color: gu-colour(garnett-neutral-1);
  }
}

.component-product-page-text-block a {
  color: inherit;
}

.component-product-page-text-block__large {
  @include gu-fontset-body-large;
}

.component-product-page-text-block__sans {
  @include gu-fontset-body-sans;
}
