.component-product-page-text-block__heading {
  @include gu-font-headline-responsive;
  font-weight: bold;
  margin-bottom: ($gu-v-spacing/2);
}

.component-product-page-text-block {
  @include gu-font-body-responsive;
  overflow-wrap: break-word;
  max-width: gu-span(8);
}

.component-product-page-text-block a {
  color: inherit;
}

.component-product-page-text-block__large {
  @include gu-font-standfirst-responsive;
  font-weight: 200;
}
