.component-product-page-text-block__heading {
  @include gu-font-headline-responsive;
  font-weight: bold;
  margin-bottom: ($gu-v-spacing/2);
}

.component-product-page-text-block {
  overflow-wrap: break-word;
  @include mq($from: tablet) {
    width: 75%;
  }
  @include mq($from: desktop) {
    width: 57.5%;
  }
}

.component-product-page-text-block a {
  color: inherit;
}

.component-product-page-text-block__large {
  @include gu-font-headline-responsive;
  font-weight: 200;
}

.component-product-page-text-block__ul li {
  position: relative;
  $bullet-size: 16px;
  padding-left: $gu-h-spacing/2 + $bullet-size;
  margin-bottom: $gu-v-spacing;
  &:before {
    content: '';
    width: $bullet-size;
    height: $bullet-size;
    background: gu-colour(news-garnett-highlight);
    border-radius: 100%;
    position: absolute;
    top: 3px;
    left: 0;
  }
}
