.component-product-page-text-block__heading {
  font-size: 24px;
  font-weight: bold;
  line-height: 1.16;
  font-family: $gu-headline;
  margin-bottom: ($gu-v-spacing/2);
}

.component-product-page-text-block {
  max-width: 480px;
}

.component-product-page-text-block a {
  color: inherit;
}

.component-product-page-text-block__large {
  font-size: 24px;
  font-weight: 200;
  line-height: 1.16;
  font-family: $gu-headline;
}
