.component-product-page-text-block__heading {
  @include gu-fontset-headline;
  font-weight: bold;
  margin-bottom: ($gu-v-spacing/2);
}

.component-product-page-text-block {
  @include gu-fontset-body;
  overflow-wrap: break-word;
  max-width: gu-span(7);
  @include mq($from: tablet) {
    max-width: gu-span(8);
  }
}

.component-product-page-text-block a {
  color: inherit;
}

.component-product-page-text-block__large {
  @include gu-fontset-standfirst;
  font-weight: 200;
}
