// -----  gu-sass ----- //

@import '~stylesheets/gu-sass/gu-sass';


// ----- Shared Components ----- //

@import '~components/footer/footer';
@import '~components/headers/simpleHeader/simpleHeader';
@import '~components/headingBlock/headingBlock';
@import '~components/leftMarginSection/leftMarginSection';

:root {
  scroll-behavior: smooth;
}

.component-product-page-hero--paper {
  @include mq($from: tablet) {
    .component-heading-block {
      margin-top: 24em;
    }
    .component-grid-picture {
      position: absolute;
      top: 0;
      min-width: 100%;
      height: 100%;
      @include mq($from: wide) {
        left: gu-span(2) * -1;
      }
    }
    .component-grid-picture__image {
      height: 100%;
      display: block;
    }
  }
  @include mq($until: tablet) {
    .component-grid-picture {
      max-height: 20em;
      overflow: hidden;
      display: block;
    }
    .component-grid-picture__image {
      max-width: gu-span(8);
      margin: auto;
      float: none;
      display: block;
    }
  }
}
