@import '~stylesheets/gu-sass/gu-sass';

.product-block__list-item__ul,
.product-block__list-item__ul--simple {
	margin-top: 15px;

	@include mq($from: desktop) {
		margin-top: 20px;
	}
}

.product-block__list-item__ul--simple {
	margin: 0 0 20px;

	@include mq($from: tablet) {
		margin: 0 0 30px;
	}
}

.product-block__list-item__li,
.product-block__list-item__li--simple {
	margin: 0 10px 15px 5px;
	font-size: 15px;

	@include mq($from: tablet) {
		margin-left: 18px;
		font-size: 17px;
	}

	.product-block__list-item--bold {
		font-weight: 600;
		margin-left: 8px;
	}

	.product-block__list-item__explainer {
		margin-left: 23px;
		font-size: 14px;

		@include mq($from: tablet) {
			font-size: 16px;
		}
	}
}

.product-block__list-item__li--simple {
	display: flex;
	flex-direction: row;
	align-items: flex-start;
	margin-left: 0;
	margin-bottom: 5px;
	@include gu-fontset-heading;
	font-weight: 300;

	.product-block__list-item__explainer--simple {
		display: inline-flex;
		max-width: 90%;
		margin-left: 8px;
		font-size: 18px;
		line-height: 24px;

		@include mq($from: tablet) {
			font-size: 22px;
			margin-left: 10px;
			line-height: 26px;
		}
	}

	.product-block__list-item__bullet {
		margin-top: 4px;
	}
}

.product-block__list-item__bullet {
	display: inline-block;
	width: 13px;
	height: 13px;
	border-radius: 50%;
	background-color: #ffe500;

	@include mq($from: tablet) {
		width: 15px;
		height: 15px;
	}
}
