@import '~stylesheets/gu-sass/gu-sass';

@mixin narrow-content {
  max-width: gu-span(7);
  @include mq($from: desktop) {
    max-width: gu-span(8);
  }
}

$content-padding: 10px;

[class^="product-block"] {
  box-sizing: border-box;
}

.product-block--margin {
	margin-top: 20px;

	@include mq($from: desktop) {
		margin-top: 40px;
  }
}

.product-block__header {
  display: inline-block;
  padding: 5px;
  background-color: gu-colour(neutral-7);
  font: 600 18px $gu-headline;
  color: gu-colour(neutral-100);
  
  @include mq($from: mobileLandscape) {
    font-size: 22px;
  }
}

.product-block__content {
  display: flex;
  flex-wrap: wrap;
}

.product-block__content:nth-of-type(3) {
  display: flex;
  
  @include mq($from: leftCol) {
    flex-direction: row-reverse;
  }
}

.product-block__content:nth-of-type(4) {
  border-top: 1px solid gu-colour(neutral-86);
  border-bottom: 1px solid gu-colour(neutral-86);
}

.product-block__content--subtitle {
  display: none;
  @include mq($from: leftCol) {
    display: block;
  }
}

.product-block__sub-title:nth-child(1) {
  @include mq($from: tablet) {
    border: none;
  }
}

.product-block__subtitle--container {
  display: block;

  @include mq($from: leftCol) {
    display: none;
  }
}

.product-block__sub-title {
  width: 100%;
  padding: 0 $content-padding 10px;
  font: 600 22px $gu-headline;
  line-height: 40px;

  @include mq($from: tablet) {
    border-left: 1px solid gu-colour(neutral-86);
    border-left: none;
    font-size: 26px;
  }

  @include mq($from: desktop) {
    font-size: 32px;
  }
}

.product-block__sub-title-text-container {
  width: 100%;
  padding: 0 $content-padding 30px;
}

.product-block__sub-title-text-container:nth-of-type(1) {
  @include mq($from: tablet) {
    border-left: none;
  }
}

.product-block__sub-title-text {

  max-width: 32.5rem;
  font: 300 20px $gu-headline;
  line-height: 28px;

  @include mq($from: tablet) {
    font-size: 22px;
  }

  @include mq($from: desktop) {
    font-size: 24px;
  }
}

.product-block__feature-title {
  font-weight: 600;
  display: block;
}

.product-block__right-content {
  position: relative;
  padding:0 $content-padding 30px $content-padding;

  @include mq($from: phablet) {
    max-width: 32.5rem;
  }
  @include mq($from: desktop) {
    padding-right: 50px;
    max-width: 50%;
  }
  @include mq($from: wide) {
    max-width: 32.5rem;
  }

}

.product-block__left-content {
  display: flex;
  flex-wrap: wrap;
  padding: 0 $content-padding 30px;

  @include mq($from: phablet) {
    max-width: 32.5rem;
  }
  @include mq($from: desktop) {
    max-width: 50%;
    .component-list-ul {
      padding-right: 50px;
    }
  }
  @include mq($from: wide) {
    max-width: 32.5rem;
  }
}

.product-block__grey-line-container {
  width: 100%;
}

.product-block__grey-line {
  display: block;
  width: 100%;
  border-top: 1px solid gu-colour(neutral-86);
  margin-top: 2px;
}

.product-block #product-block__right-content img.component-grid-image {
  width: 100%;
}

.component-left-margin-section__content {
  width: 100px;
}

.product-block__roundel {
  position: absolute;
  top: -1.5rem;
  right: -0.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 110px;
  height: 110px;
  background: gu-colour(highlight-main);
  border-radius: 50%;
  padding: 10px;
  
  @include mq($from: phablet) {
    top: -2.2rem;
    right: -1rem;
    width: 125px;
    height: 125px;
  }
  @include mq($from: desktop) {
    right: 2.2rem;
  }
}

.product-block__roundel p {
  font-family: $gu-headline;
  font-weight: bold;
  font-size: 16px;
  text-align: center;
  line-height: 1.2;

  @include mq($from: phablet) {
    font-size: 18px;
  }
} 

// this is a hack to override the left border on the .component-left-margin-section__content because the new design calls this to start at desktop instead of the leftCol breakpoint
#digital-subscription-landing-page-int,
#digital-subscription-landing-page-uk,
#digital-subscription-landing-page-us,
#digital-subscription-landing-page-au,
#digital-subscription-landing-page-eu,
#digital-subscription-landing-page-nz,
#digital-subscription-landing-page-ca {
  .product-block.product-block {
    .component-left-margin-section__content {
      
      @include mq($from: tablet) {
        border-left: 1px solid gu-colour(neutral-86);
      }
    } 
  } 
}