// -----  gu-sass ----- //
@import '~stylesheets/skeleton/skeleton';
@import '~stylesheets/gu-sass/gu-sass';

// ----- Shared Components ----- //

@import '~components/ctaLink/ctaLink';
@import '~components/footer/footer';
@import '~components/headers/header/header';
@import '~components/pageSection/pageSection';
@import '~components/questionsContact/questionsContact';

// ----- Page-Specific Styles ----- //

#paypal-error-page {
	// ----- Headings

	.paypal-error__heading {
		font-family: $gu-headline;
		color: gu-colour(neutral-7);
		font-size: 24px;
		font-weight: bold;

		@include mq($from: desktop) {
			font-size: 42px;
		}
	}

	.paypal-error__copy {
		font-family: $gu-headline;
		font-size: 20px;
		font-weight: lighter;
		color: gu-colour(neutral-7);
		margin: $gu-v-spacing 0;
		padding-bottom: 20px;

		@include mq($from: desktop) {
			font-size: 28px;
			width: 600px;
			padding-bottom: 36px;
		}
	}

	.component-page-section__content {
		padding-bottom: 48px;

		@include mq($from: desktop) {
			padding-bottom: 56px;
		}
	}

	.component-page-section__body {
		padding-top: $gu-v-spacing;

		@include mq($from: desktop) {
			padding-left: $gu-h-spacing;
		}
	}
}
