// -----  gu-sass ----- //
@import '~stylesheets/gu-sass/gu-sass';

.component-marketing-consent {
	font-weight: 300;
	margin: 0 -10px;
	padding: 0 10px ($gu-v-spacing * 2);

	.svg-newsletters {
		width: 100%;
	}
}

.component-marketing-consent-confirmation {
	@include gu-fontset-explainer;
	font-style: italic;
	margin-top: $gu-v-spacing/4;
	font-weight: 100;
}

.component-marketing-consent--with-checkbox .component-checkbox__text {
	@include gu-typeface(textSans, 14);
	line-height: 16px;
	margin-bottom: $gu-v-spacing;
}
