/*
Standard sizes and margins for the content and headers.
*/
.gu-content-margin {
  @include gu-content-margin;
}

.gu-content {
  @supports (display: flex) {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }
}

.gu-content__main {
  @supports (display: flex) {
    flex: 1 0 auto;
  }
}


/*
Type defaults
*/
html,
dialog {
    font-family: "Guardian Text Egyptian Web", Georgia, serif;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
}

body {
    line-height: 1.5;
}

strong {
  font-weight: bolder;
}


/*
Assistive technologies guidance (non-visible)
*/
.accessibility-hint {
  @include accessibility-hint;
}
