@use 'sass:math';

@import '~stylesheets/gu-sass/gu-sass';

$mobile-menu-gutter: ($gu-h-spacing * 2.5);

.component-header-links--mobile {
	display: block;
	clear: both;

	.component-header-links__ul {
		list-style: none;
	}

	.component-header-links__link {
		@include gu-fontset-nav-mobile;
		line-height: 0.9;
		color: gu-colour(neutral-100);
		text-decoration: none;
		display: block;
		padding: ($gu-v-spacing * 0.5) $gu-h-spacing ($gu-v-spacing * 1.5) 0;
		overflow: hidden;
		position: relative;
		box-shadow: inset 0 0 0 gu-colour(highlight-main);
		transition: 0.2s linear;

		&:hover,
		&:focus {
			text-decoration: underline;
		}
	}

	.component-header-links__li {
		margin-left: $mobile-menu-gutter;
		border-top: 1px solid gu-colour(brand-pastel);
		&:first-child {
			border-top: none;
		}
	}
}
