@import assets.AssetsResolver
@(title: String, description: Option[String], id: String, js: String, contributionsPayPalEndpoint: String)(implicit assets: AssetsResolver, request: RequestHeader)

@scripts = {
    <script type="text/javascript">
        window.guardian = window.guardian || {};
        window.guardian.contributionsPayPalEndpoint = "@contributionsPayPalEndpoint";
    </script>
    <script type="text/javascript" src="@assets(js)"></script>
}

@main(title = title, scripts = scripts, description = description, mainJs = Some(js)) {
    <main id="@id" class="gu-content-wrapper"></main>
}
