@import admin.Settings
@import assets.AssetsResolver
@import com.gu.i18n.Currency.AUD
@import com.gu.identity.play.IdUser
@import com.gu.support.config._
@import helper.CSRF
@(
  title: String,
  id: String,
  js: String,
  css: String,
  csrf: Option[String],
  user: IdUser,
  uatMode: Boolean,
  defaultStripeConfig: StripeConfig,
  uatStripeConfig: StripeConfig,
  payPalConfig: PayPalConfig
)(implicit assets: AssetsResolver, requestHeader: RequestHeader, settings: Settings)

@scripts = {
  <script type="text/javascript">
  window.guardian = window.guardian || {};

    window.guardian.user = {
        firstName: "@user.privateFields.map(_.firstName).getOrElse("")",
        lastName: "@user.privateFields.map(_.secondName).getOrElse("")",
        email: "@user.primaryEmailAddress",
        country: "@user.privateFields.map(_.country).getOrElse("")"
  };

  window.guardian.stripeKeyDefaultCurrencies = {
          default: "@defaultStripeConfig.forCurrency(None).publicKey",
          uat: "@uatStripeConfig.forCurrency(None).publicKey"
        };
        window.guardian.stripeKeyAustralia = {
          default: "@defaultStripeConfig.forCurrency(Some(AUD)).publicKey",
          uat: "@uatStripeConfig.forCurrency(Some(AUD)).publicKey"
        };
        window.guardian.payPalEnvironment = "@payPalConfig.payPalEnvironment";
        window.guardian.csrf = { token: "@CSRF.getToken.value" };

  </script>
}

@main(title = title, scripts = scripts, mainJsBundle = js, mainId = id, mainStyleBundle = css, csrf = csrf)
