@import assets.AssetsResolver
@import views.ViewHelpers._
@import switchboard.Switches
@(
	title: String,
	mainId: String,
	mainJsBundle: String,
	mainStyleBundle: String,
	description: Option[String] = None,
	styles: Html = Html(""),
	scripts: Html = Html("")
)(implicit assets: AssetsResolver, request: RequestHeader, switches: Switches)

<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="google-site-verification" content="nFrhJ3suC2OpKRasEkZyH1KZKpSZc-ofno_uunJgfvg" />

	@if(description.isDefined) {
		<meta name="description" content="@description" />
		<meta property="og:description" content="@description" />
	}

	@switchesScript(switches)

	<title>@title</title>
	<meta property="og:title" content="@title"/>

	@optimizeScript()

	<link rel="stylesheet" href="@assets(mainStyleBundle)">
	<link rel="shortcut icon" type="image/png" href="@assets("images/favicons/32x32.ico")">
	<link rel="apple-touch-icon" sizes="152x152" href="@assets("images/favicons/152x152.png")">
	<link rel="apple-touch-icon" sizes="144x144" href="@assets("images/favicons/144x144.png")">
	<link rel="apple-touch-icon" sizes="120x120" href="@assets("images/favicons/120x120.png")">
	<link rel="apple-touch-icon" sizes="114x114" href="@assets("images/favicons/114x114.png")">
	<link rel="apple-touch-icon" sizes="72x72" href="@assets("images/favicons/72x72.png")">
	<link rel="apple-touch-icon-precomposed" href="@assets("images/favicons/57x57.png")">

	<link rel="preload" href="@assets("fonts/GHGuardianHeadline-Bold.woff2")" as="font">
	<link rel="preload" href="@assets("fonts/GHGuardianHeadline-BoldItalic.woff2")" as="font">
	<link rel="preload" href="@assets("fonts/GHGuardianHeadline-Light.woff2")" as="font">
	<link rel="preload" href="@assets("fonts/GHGuardianHeadline-LightItalic.woff2")" as="font">
	<link rel="preload" href="@assets("fonts/GHGuardianHeadline-Regular.woff2")" as="font">
	<link rel="preload" href="@assets("fonts/GHGuardianHeadline-Semibold.woff2")" as="font">

	<script type="application/ld+json">
		{
			"@@context": "http://schema.org",
			"@@type": "Organization",
			"name": "Support the Guardian",
			"url": "https://support.theguardian.com",
			"logo": "https://support.theguardian.com@assets("images/favicons/152x152.png")"
		}
	</script>

	@if(!doNotTrack) {
		<script async type="text/javascript" src="@assets("googleTagManagerScript.js")"></script>
	}

	<link rel="preload"  as="script" href="@assets(mainJsBundle)">

	@styles
</head>
<body>
	<noscript>
    <div style="text-align: center;
                font-size: 30px;
                padding-left: 20px;
                padding-right: 20px;
                background-color: #e9e939;">
      Please enable JavaScript - we use it to provide the best experience for Guardian&nbsp;Supporters.<br/>
      <a href="https://www.enable-javascript.com/">Click here for instructions to do so in your browser.</a>
    </div>
  </noscript>

	<div id="@mainId"></div>

	<script src="https://polyfill.guim.co.uk/v2/polyfill.min.js?features=default,Array.prototype.find,fetch,Array.prototype.includes,Number.isInteger"></script>
	<script defer id="stripe-js" src="https://js.stripe.com/v3/"></script>
	<script type="text/javascript">
    window.guardian = window.guardian || {};
    window.guardian.gitCommitId = '@app.BuildInfo.gitCommitId';
	</script>

	@scripts

	 <!-- This script is intentionally at the bottom of the file. Please check
	      all the critical flows work correctly if you change its position -->
	<script type="text/javascript" src="@assets(mainJsBundle)"></script>
	<!-- build-commit-id: @app.BuildInfo.gitCommitId -->
</body>
</html>
