@import assets.AssetsResolver
@import com.gu.identity.play.IdUser
@import config.StripeConfig
@import config.PayPalConfig
@import helper.CSRF

@(
  title: String,
  id: String,
  js: String,
  user: IdUser,
  isTestUser: Boolean,
  payPalButton: Boolean,
  stripeConfig: StripeConfig,
  payPalConfig: PayPalConfig
)(implicit assets: AssetsResolver, requestHeader: RequestHeader)

@scripts = {
    <script type="text/javascript">
        window.guardian = window.guardian || {};
        window.guardian.user = {
            email: "@user.primaryEmailAddress",
            @user.publicFields.displayName.map { displayName =>
            displayName: "@displayName",
            }
            isTestUser: @isTestUser,
            @for(fields <- user.privateFields; firstName <- fields.firstName; lastName <- fields.secondName) {
                firstName: "@firstName",
                lastName: "@lastName",
            }
        };
        window.guardian.payPalButtonExists = @payPalButton;
        window.guardian.stripeKey = "@stripeConfig.publicKey";
        window.guardian.payPalEnvironment = "@payPalConfig.payPalEnvironment";
        window.guardian.csrf = { token: "@CSRF.getToken.value" };
    </script>
    <script type="text/javascript" src="@assets(js)"></script>
}

@main(title = title, scripts = scripts) {
    <main id="@id" class="gu-content-wrapper"></main>
}
