@import assets.AssetsResolver
@import com.gu.identity.play.IdUser
@import com.gu.support.config._
@import helper.CSRF

@import com.gu.i18n.Currency.AUD
@(
  title: String,
  id: String,
  js: String,
  maybeUser: Option[IdUser]
)(implicit assets: AssetsResolver, requestHeader: RequestHeader)

@scripts = {
    <script type="text/javascript">
        window.guardian = window.guardian || {};
        window.guardian.user = {
            email: @maybeUser.map(user => user.primaryEmailAddress).getOrElse("undefined")
       }
        window.guardian.csrf = { token: "@CSRF.getToken.value" };
    </script>
}

@main(title = title, scripts = scripts, mainBundleJs = js) {
    <main id="@id" class="gu-content-wrapper"></main>
}
