@import assets.AssetsResolver
@import com.gu.identity.play.IdUser
@import config.StripeConfig
@(
  title: String,
  id: String,
  js: String,
  user: IdUser,
  isTestUser: Boolean,
  stripeConfig: StripeConfig
)(implicit assets: AssetsResolver)

@scripts = {
    <script type="text/javascript">
        window.guardian = window.guardian || {};
        window.guardian.user = {
            email: "@user.primaryEmailAddress",
            @user.publicFields.displayName.map { displayName =>
            displayName: "@displayName",
            }
            isTestUser: @isTestUser,
            @for(fields <- user.privateFields; firstName <- fields.firstName; lastName <- fields.secondName) {
                firstName: "@firstName",
                lastName: "@lastName",
            }
        };
        window.guardian.stripeKey = "@stripeConfig.publicKey";
    </script>
    <script type="text/javascript" src="@assets(js)"></script>
}

@main(title = title, scripts = scripts) {
    <main id="@id" class="gu-content-wrapper"></main>
}
