@import assets.AssetsResolver
@import com.gu.identity.play.IdUser
@import com.gu.support.config._
@import helper.CSRF

@import com.gu.i18n.Currency.AUD
@(
  title: String,
  id: String,
  js: String,
  user: IdUser,
  uatMode: Boolean,
  payPalButton: Boolean,
  directDebitButtonEnable: Boolean,
  defaultStripeConfig: StripeConfig,
  uatStripeConfig: StripeConfig,
  payPalConfig: PayPalConfig
)(implicit assets: AssetsResolver, requestHeader: RequestHeader)

@scripts = {
    <script type="text/javascript">
        window.guardian = window.guardian || {};
        window.guardian.uatMode = @uatMode;
        window.guardian.user = {
            id: "@user.id",
            email: "@user.primaryEmailAddress",
            @user.publicFields.displayName.map { displayName =>
            displayName: "@displayName",
            }
            @for(fields <- user.privateFields; firstName <- fields.firstName; lastName <- fields.secondName) {
                firstName: "@firstName",
                lastName: "@lastName",
            }
        };
        window.guardian.payPalType = @payPalButton? 'ExpressCheckout' : 'NotSet';
        window.guardian.directDebitEnable = @directDebitButtonEnable;
        window.guardian.stripeKeyDefaultCurrencies = {
          default: "@defaultStripeConfig.forCurrency(None).publicKey",
          uat: "@uatStripeConfig.forCurrency(None).publicKey"
        };
        window.guardian.stripeKeyAustralia = {
          default: "@defaultStripeConfig.forCurrency(Some(AUD)).publicKey",
          uat: "@uatStripeConfig.forCurrency(Some(AUD)).publicKey"
        };
        window.guardian.payPalEnvironment = "@payPalConfig.payPalEnvironment";
        window.guardian.csrf = { token: "@CSRF.getToken.value" };
    </script>
}

@main(title = title, scripts = scripts, mainBundleJs = js) {
    <main id="@id" class="gu-content-wrapper"></main>
}
