@import assets.AssetsResolver
@import com.gu.identity.play.IdUser
@import com.gu.support.config._
@import helper.CSRF
@import com.gu.i18n.Currency.AUD
@import admin.Settings
@(
  title: String,
  id: String,
  js: String,
  css: String,
  defaultStripeConfig: StripeConfig,
  uatStripeConfig: StripeConfig,
  paymentApiStripeEndpoint: String,
  paymentApiPayPalEndpoint: String,
  idUser: Option[IdUser],
)(implicit assets: AssetsResolver, request: RequestHeader, settings: Settings)

@scripts = {
  <script type="text/javascript">
    window.guardian = window.guardian || {};
    @idUser.map { user =>
      window.guardian.user = {
        id: "@user.id",
        email: "@user.primaryEmailAddress",
        @user.publicFields.displayName.map { displayName =>
          displayName: "@displayName",
        }
        @for(fields <- user.privateFields; firstName <- fields.firstName; lastName <- fields.secondName) {
          firstName: "@firstName",
          lastName: "@lastName",
        }
      };
    };
    window.guardian.stripeKeyDefaultCurrencies = {
      default: "@defaultStripeConfig.forCurrency(None).publicKey",
      uat: "@uatStripeConfig.forCurrency(None).publicKey"
    };
    window.guardian.stripeKeyAustralia = {
      default: "@defaultStripeConfig.forCurrency(Some(AUD)).publicKey",
      uat: "@uatStripeConfig.forCurrency(Some(AUD)).publicKey"
    };
    window.guardian.paymentApiStripeEndpoint = "@paymentApiStripeEndpoint";
    window.guardian.paymentApiPayPalEndpoint = "@paymentApiPayPalEndpoint";
    window.guardian.csrf = { token: "@CSRF.getToken.value" };
  </script>
}

@main(title = title, scripts = scripts, mainJsBundle = js, mainId = id, mainStyleBundle = css)
