@import assets.AssetsResolver
@import views.ViewHelpers._
@import switchboard.{ Switches, Group }
@(
	title: String,
	description: Option[String] = None,
)(implicit assets: AssetsResolver, request: RequestHeader, switches: Switches)

<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="google-site-verification" content="nFrhJ3suC2OpKRasEkZyH1KZKpSZc-ofno_uunJgfvg" />

	@if(description.isDefined) {
		<meta name="description" content="@description" />
		<meta property="og:description" content="@description" />
	}

	<title>@title</title>
	<meta property="og:title" content="@title"/>

</head>
<body>

	@if(switches.experiments.get("newPaymentFlow").exists(_.isParticipating)) {

		<h1>Help us deliver the independent journalism the world needs</h1>
		<p>Make a monthly commitment to support The Guardian long term or a one-off contribution as and when you feel like it. Choose the option that suits you best.</p>
	
	}
  
</body>
</html>
