<header role="banner">
  <a class="glogo" href="#"><img src="/assets-payment/roundel.svg" alt="The Guardian"></a>
  <div class="countries">
    <span>United Kingdom (£)</span>
    <ul>
      <li><span>United Kingdom (£)</span></li>
      <li><a href="#">United States (US$)</a></li>
      <li><a href="#">Europe (€)</a></li>
      <li><a href="#">New Zealand (NZ$)</a></li>
      <li><a href="#">Canada (CA$)</a></li>
      <li><a href="#">International (US$)</a></li>
      <li><a href="#">Australia (AU$)</a></li>
    </ul>
  </div>
</header>

<div class="content">

  <h1>Help us deliver the independent journalism the world needs</h1>
  <p class="blurb">Make a monthly commitment to support The Guardian long term or a one-off contribution as and when you feel like it. Choose the option that suits you best.</p>

  <form action="#" method="post" class="form form--contribution">
    <fieldset class="form__radio-group form__radio-group--tabs form__radio-group--contribution-type">
      <legend class="form__legend form__legend--radio-group">Recurrence</legend>
      <ul class="form__radio-group__list">
        <li class="form__radio-group__item">
          <input id="contributionType-monthly" class="form__radio-group__input" type="radio" name="contributionType" value="monthly" checked>
          <label for="contributionType-monthly" class="form__radio-group__label">Monthly</label>
        </li>
        <li class="form__radio-group__item">
          <input id="contributionType-oneoff" class="form__radio-group__input" type="radio" name="contributionType" value="oneoff">
          <label for="contributionType-oneoff" class="form__radio-group__label">One off</label>
        </li>
      </ul>
    </fieldset>

    <fieldset class="form__radio-group form__radio-group--pills form__radio-group--contribution-amount">
      <legend class="form__legend form__legend--radio-group">Amount</legend>
      <ul class="form__radio-group__list">
        <li class="form__radio-group__item">
          <input id="contributionAmount-25" class="form__radio-group__input" type="radio" name="contributionAmount" value="25" checked>
          <label for="contributionAmount-25" class="form__radio-group__label" aria-label="25 US Dollars">$25</label>
        </li>
        <li class="form__radio-group__item">
          <input id="contributionAmount-50" class="form__radio-group__input" type="radio" name="contributionAmount" value="50">
          <label for="contributionAmount-50" class="form__radio-group__label" aria-label="50 US Dollars">$50</label>
        </li>
        <li class="form__radio-group__item">
          <input id="contributionAmount-100" class="form__radio-group__input" type="radio" name="contributionAmount" value="100">
          <label for="contributionAmount-100" class="form__radio-group__label" aria-label="100 US Dollars">$100</label>
        </li>
        <li class="form__radio-group__item">
          <input id="contributionAmount-250" class="form__radio-group__input" type="radio" name="contributionAmount" value="250">
          <label for="contributionAmount-250" class="form__radio-group__label" aria-label="250 US Dollars">$250</label>
        </li>
        <li class="form__radio-group__item">
          <input id="contributionAmount-other" type="radio" name="contributionAmount" value="other">
          <label for="contributionAmount-other" class="form__radio-group__label">Other</label>
        </li>
      </ul>
    
      <div class="form__field form__field--contribution-other-amount">
        <label class="form__label" for="contributionOther">Other Amount</label>
        <input id="contributionOther" class="form__input" type="number" min="1" max="2000" autocomplete="off">
      </div>
    </fieldset>

    <div class="form__field form__field--contribution-fname">
      <label class="form__label" for="contributionFirstName">First Name</label>
      <input id="contributionFirstName" class="form__input" type="text" autocapitalize="words" required>
    </div>

    <div class="form__field form__field--contribution-lname">
      <label class="form__label" for="contributionLastName">Last Name</label>
      <input id="contributionLastName" class="form__input form__input--primed" aria-describedby="error-contributionLastName" autocapitalize="words" type="text" required>
      <div id="error-contributionLastName" class="form__error">
          Lovely surname there fella
      </div>
    </div>

    <div class="form__field form__field--contribution-email">
      <label class="form__label" for="contributionEmail">Email address</label>
      <input id="contributionEmail" class="form__input" type="email" placeholder="example@@domain.com" required>
    </div>

    <div class="form__field form__field--contribution-state">
      <label class="form__label" for="contributionState">State</label>
      <select id="contributionState" class="form__input" placeholder="State" required>
        <option></option>
        <option value="al">AL (Alabama)</option>
        <option value="wy">WY (Wyoming)</option>
      </select>
    </div>

    <fieldset class="form__radio-group form__radio-group--buttons form__radio-group--contribution-pay">
      <legend class="form__legend form__legend--radio-group">Pay with</legend>

      <ul class="form__radio-group__list">
        <li class="form__radio-group__item">
          <input id="contributionPayment-paypal" class="form__radio-group__input" name="contributionPayment" type="radio" value="paypal" checked>
          <label for="contributionPayment-paypal" class="form__radio-group__label">Paypal</label>
        </li>
        <li class="form__radio-group__item">
          <input id="contributionPayment-card" class="form__radio-group__input" name="contributionPayment" type="radio" value="card">
          <label for="contributionPayment-card" class="form__radio-group__label">Credit/Debit Card</label>
        </li>
      </ul>
    </fieldset>

    <div class="form__submit">
      <button class="form__submit__button" type="submit">Contribute</button>
    </div>
  </form>

</div>

<footer role="contentinfo">
  <div class="license">
    <small class="license__txt">© 2018 Guardian News and Media Limited or its affiliated companies. All rights reserved.</small>
  </div>

  <nav class="support">
    <ul class="support__menu">
      <li class="support__item"><a class="support__link" href="#">Help</a></li>
      <li class="support__item"><a class="support__link" href="#">Terms &amp; Conditions</a></li>
      <li class="support__item"><a class="support__link" href="#">Contact us</a></li>
      <li class="support__item"><a class="support__link" href="#">Privacy Policy</a></li>
      <li class="support__item"><a class="support__link" href="#">Report technical issue</a></li>
      <li class="support__item"><a class="support__link" href="#">Cookie Policy</a></li>
    </ul>
  </nav>

</footer>