<header role="banner">
  <a href="#"><img src="#" alt="The Guardian"></a>
</header>

<h1>Help us deliver the independent journalism the world needs</h1>
<p>Make a monthly commitment to support The Guardian long term or a one-off contribution as and when you feel like it. Choose the option that suits you best.</p>

<form action="#">
  <ul>
    <li>
      <input id="contributionType-monthly" type="radio" name="contributionType" value="montly">
      <label for="contributionType-monthly">Monthly</label>
    </li>
    <li>
      <input id="contributionType-oneoff" type="radio" name="contributionType" value="oneoff">
      <label for="contributionType-oneoff">One off</label>
    </li>
  </ul>
  
  <ul>
    <li>
      <input id="contributionAmount-25" type="radio" name="contributionAmount" value="25">
      <label for="contributionAmount-25">$25</label>
    </li>
    <li>
      <input id="contributionAmount-50" type="radio" name="contributionAmount" value="50">
      <label for="contributionAmount-50">$50</label>
    </li>
    <li>
      <input id="contributionAmount-100" type="radio" name="contributionAmount" value="100">
      <label for="contributionAmount-100">$100</label>
    </li>
    <li>
      <input id="contributionAmount-250" type="radio" name="contributionAmount" value="250">
      <label for="contributionAmount-250">$250</label>
    </li>
    <li>
      <input id="contributionAmount-other" type="radio" name="contributionAmount" value="other">
      <label for="contributionAmount-other">Other</label>
    </li>
  </ul>

  <div>
    <label for="contributionOther">Other Amount</label>
    <input id="contributionOther" type="text" pattern="[0-9]">
  </div>

  <div>
    <label for="contributionFName">First Name</label>
    <input id="contributionFName" type="text" required>
  </div>

  <div>
    <label for="contributionLName">Last Name</label>
    <input id="contributionLName" type="text" required>
  </div>

  <div>
    <label for="contributionEmail">Email address</label>
    <input id="contributionEmail" type="email" required>
  </div>

  <div>
    <label for="contributionState">Select your state</label>
    <select id="contributionState" required>
      <option></option>
      <option value="al">AL (Alabama)</option>
      <option value="wy">WY (Wyoming)</option>
    </select>
  </div>

  <ul>
    <li>
      <input id="contributionPayment-paypal" name="contributionPayment" type="radio" value="paypal">
      <label for="contributionPayment-paypal">Paypal</label>
    </li>
    <li>
      <input id="contributionPayment-card" name="contributionPayment" type="radio" value="card">
      <label for="contributionPayment-card">Credit/Debit Card</label>
    </li>
  </ul>

  <div>
    <button type="submit">Contribute</button>
  </div>
</form>

<footer role="contentinfo">
  <div>
    <small>© 2018 Guardian News and Media Limited or its affiliated companies. All rights reserved.</small>
  </div>

  <nav>
    <ul>
      <li><a href="#">Help</a></li>
      <li><a href="#">Terms &amp; Conditions</a></li>
      <li><a href="#">Contact us</a></li>
      <li><a href="#">Privacy Policy</a></li>
      <li><a href="#">Report technical issue</a></li>
      <li><a href="#">Cookie Policy</a></li>
    </ul>
  </nav>

</footer>