@import assets.AssetsResolver
@import com.gu.identity.play.IdUser
@import com.gu.support.config.StripeConfig
@import helper.CSRF
@import com.gu.i18n.Country.Australia
@(
        title: String,
        id: String,
        js: String,
        payPalButton: Boolean,
        defaultStripeConfig: StripeConfig,
        uatStripeConfig: StripeConfig,
        contributionsStripeEndpoint: String,
        contributionsPayPalEndpoint: String
)(implicit assets: AssetsResolver, request: RequestHeader)

@scripts = {
    <script type="text/javascript">
        window.guardian = window.guardian || {};
        window.guardian.stripeKeyRestOfTheWorld = {
          default: "@defaultStripeConfig.forCountry(None).publicKey",
          uat: "@uatStripeConfig.forCountry(None).publicKey"
        };
        window.guardian.stripeKeyAustralia = {
          default: "@defaultStripeConfig.forCountry(Some(Australia)).publicKey",
          uat: "@uatStripeConfig.forCountry(Some(Australia)).publicKey"
        };
        window.guardian.contributionsStripeEndpoint = "@contributionsStripeEndpoint";
        window.guardian.contributionsPayPalEndpoint = "@contributionsPayPalEndpoint";
        window.guardian.payPalType = @payPalButton ? 'ContributionsCheckout' : 'NotSet';
    </script>
}

@main(title = title, scripts = scripts, mainBundleJs = js) {
    <main id="@id" class="gu-content-wrapper"></main>
}
