@import assets.AssetsResolver
@import com.gu.identity.play.IdUser
@import com.gu.support.config.StripeConfig
@import helper.CSRF
@(
        title: String,
        id: String,
        js: String,
        uatMode: Boolean,
        payPalButton: Boolean,
        stripeConfig: StripeConfig,
        contributionsStripeEndpoint: String,
        contributionsPayPalEndpoint: String
)(implicit assets: AssetsResolver)

@scripts = {
    <script type="text/javascript">
        window.guardian = window.guardian || {};
        window.guardian.stripeKey = "@stripeConfig.publicKey";
        window.guardian.contributionsStripeEndpoint = "@contributionsStripeEndpoint";
        window.guardian.contributionsPayPalEndpoint = "@contributionsPayPalEndpoint";
        window.guardian.payPalType = @payPalButton ? 'ContributionsCheckout' : 'NotSet';
        window.guardian.uatMode = @uatMode;
    </script>
    <script type="text/javascript" src="@assets(js)"></script>
}

@main(title = title, scripts = scripts) {
    <main id="@id" class="gu-content-wrapper"></main>
}
