@import assets.AssetsResolver
@(
    title: String,
    id: String,
    js: String,
    contributionsPayPalEndpoint: String,
    description: Option[String] = None
)(implicit assets: AssetsResolver, request: RequestHeader)

@scripts = {
    <script type="text/javascript">
        window.guardian = window.guardian || {};
        window.guardian.contributionsPayPalEndpoint = "@contributionsPayPalEndpoint";
    </script>
}

@main(title = title, description = description, scripts = scripts, mainBundleJs = js) {
    <main id="@id" class="gu-content-wrapper"></main>
}
