@import assets.AssetsResolver
@import helper.CSRF

@(
        title: String,
        id: String,
        js: String,
        email: Option[String],
        showSubCopy: Boolean = false
)(implicit assets: AssetsResolver, request: RequestHeader, flash: Flash)

    @scripts = {
        <script type="text/javascript">
        window.guardian = window.guardian || {};
        window.guardian.csrf = { token: "@CSRF.getToken.value" };
        window.guardian.email = "@email.getOrElse("undefined")";
        window.guardian.showSubCopy = @showSubCopy;
    </script>
    }


    @main(title = title, scripts = scripts, mainBundleJs = js) {
        <main id="@id" class="gu-content-wrapper"></main>
    }
