@import assets.AssetsResolver
@import helper.CSRF

@(
        title: String,
        id: String,
        js: String,
        email: Option[String],
        showConfirmationEmailCopy: Boolean = false
)(implicit assets: AssetsResolver, request: RequestHeader, flash: Flash)

@scripts = {
    <script type="text/javascript">
        window.guardian = window.guardian || {};
        window.guardian.csrf = { token: "@CSRF.getToken.value" };
        @email.map { e => {
            window.guardian.email = "@e";
        }}
        window.guardian.showConfirmationEmailCopy = @showConfirmationEmailCopy;
    </script>
}


@main(title = title, scripts = scripts, mainBundleJs = js) {
    <main id="@id" class="gu-content-wrapper"></main>
}
