@()(implicit request: RequestHeader)

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="google-site-verification" content="IU-vqTBscxkgU3J_f5i10_i624mvE3IjvYpeVPB2A98" />
    </head>
    <body>
        <div style="text-align: center;
            font-size: 30px;
            padding-left: 20px;
            padding-right: 20px;
            background-color: #e9e939;">
            Sorry, it looks like you're using a browser we can't currently support.<br/>
            If possible, update to the latest version or try using an alternative.<br/>
            We recommend Chrome for the best user experience on this site.
        </div>
    </body>
</html>
