.component-inline-payment-logos {
  height: 20px;

  svg {
    height: 100%;
    margin-left: 4px;
    width: 30px;
  }
}

// AB test paymentLogosTest
.component-inline-payment-logos--one_off-variant {
  @include mq($from: desktop) {
    position: relative;
    top: 222px;
    left: 36px;
    float: right;
    .svg-paypal-logo {
      position: relative;
      top: -56px;
      left: -48px;
    }

    svg {
      width: 42px;
      height: 27px;
    }
  }
}

.component-inline-payment-logos--monthly-variant {
  @include mq($from: desktop) {
    position: relative;
    top: 158px;
    left: -12px;
    float: right;
    svg {
      width: 42px;
      height: 27px;
    }
  }
}

// The US landing page has more text which affects the position
// of the payment icons
#contributions-landing-page-us {
  .component-inline-payment-logos--one_off-variant {
    @include mq($from: desktop) {
      position: relative;
      top: 260px;
      left: 36px;
      float: right;
      .svg-paypal-logo {
        position: relative;
        top: -56px;
        left: -48px;
      }

      svg {
        width: 42px;
        height: 27px;
      }
    }
  }

  .component-inline-payment-logos--monthly-variant {
    @include mq($from: desktop) {
      position: relative;
      top: 194px;
      left: -12px;
      float: right;
      svg {
        width: 42px;
        height: 27px;
      }
    }
  }

}

.component-page-section--monthly-variant {
  @include mq($from: desktop) {
    .component-page-section__heading {
      text-align: right;
      padding-right: 12px;
      padding-top: 2px;
    }
  }
}

.component-page-section--one_off-variant {
  @include mq($from: desktop) {
    .component-page-section__heading {
      text-align: right;
      padding-right: 12px;
      padding-top: 2px;
    }
  }
}
