.component-inline-payment-logos {
  height: 20px;

  svg {
    height: 100%;
    margin-left: 4px;
    width: 30px;
  }
}

// AB test paymentLogosTest
.component-inline-payment-logos--one_off-variant {
  @include mq($from: desktop) {
    position: relative;
    top: 222px;
    left: 45px;
    float: right;
    .svg-paypal-logo {
      position: relative;
      top: -56px;
      left: -48px;
    }

    svg {
      width: 42px;
      height: 27px;
    }
  }
}

.component-inline-payment-logos--monthly-variant {
  @include mq($from: desktop) {
    position: relative;
    top: 158px;
    float: right;
    svg {
      width: 42px;
      height: 27px;
    }
  }
}
