@import '~stylesheets/gu-sass/gu-sass';
@import '~stylesheets/gu-sass/gu-sass';

.component-mobile-header {
  background: gu-colour(header-dark);
  min-height: 100%;
  max-width: 95vw;
  position: relative;
  .component-header-veggie-button {
    position: absolute;
    top: $gu-input-height;
    right: $gu-input-height/-2;
  }  
}

.component-mobile-header-nav {
  display: block;
  clear: both;
}

.component-mobile-header-nav__ul {
  list-style: none;
}

.component-mobile-header-nav__link {
  @include gu-fontset-nav-desktop;
  color: gu-colour(news-garnett-highlight);
  text-decoration: none;
  display: block;
  padding: ($gu-v-spacing/2) $gu-h-spacing ($gu-v-spacing*1.5);
  overflow: hidden;
  position: relative;
  box-shadow: inset 0 0 0 gu-colour(news-garnett-highlight);
  transition: .2s linear;

  &:hover, &:focus {
    text-decoration: underline;
  }

  &:after {
    content: '';
    position: absolute;
    right: 0;
    bottom: 0;
    left: $gu-h-spacing;
    height: 1px;
    background-color: gu-colour(header-border);
  }
}
