// -----  gu-sass ----- //

@import '~stylesheets/gu-sass/gu-sass';


// ----- Shared Components ----- //

@import '~components/checkboxInput/checkboxInput';
@import '~components/ctaLink/ctaLink';
@import '~components/displayName/displayName';
@import '~components/dotcomCta/dotcomCta';
@import '~components/errorMessage/errorMessage';
@import '~components/footer/footer';
@import '~components/headers/simpleHeader/simpleHeader';
@import '~components/pageSection/pageSection';
@import '~components/introduction/introduction';
@import '~components/introduction/circlesIntroduction';
@import '~components/legal/contribLegal/contribLegal';
@import '~components/legal/termsPrivacy/termsPrivacy';
@import '~components/pageSection/pageSection';
@import '~components/paymentAmount/paymentAmount';
@import '~components/paymentButtons/stripePopUpButton/stripePopUpButton';
@import '~components/progressMessage/progressMessage';
@import '~components/questionsContact/questionsContact';
@import '~components/secure/secure';
@import '~components/signout/signout';
@import '~components/socialShare/socialShare';
@import '~components/spinners/animatedDots';
@import '~components/spreadTheWord/spreadTheWord';
@import '~components/svgs/svg';
@import '~components/testUserBanner/testUserBanner';
@import '~components/textInput/textInput';
@import '~components/contributionsThankYou/contributionsThankYouPage';
@import '~components/marketingConsent/marketingConsent';
@import '~components/payPalContributionButton/payPalContributionButton';
@import '~components/stripeInlineForm/stripeInlineForm';
@import '~components/yourContribution/yourContribution';
@import '~components/yourDetails/yourDetails';
@import '~components/legal/legalSection/legalSection';
@import '~components/contributionsCheckout/contributionsCheckout';
@import '~components/survey/survey';
@import '~components/survey/surveySection';


// ----- Page-Specific Styles ----- //

#oneoff-contributions-page {

  // ----- Your details

  .component-text-input__input {
    border: 2px solid gu-colour(news-garnett-highlight);
    font-family: $gu-text-sans-web;
    height: 44px;
    margin-bottom: 0;
    width: 100%;
    box-sizing: border-box;

    &:required {
      box-shadow: none;
    }

    @include mq($from: desktop) {
      width: 304px;
    }
  }

  .component-text-input--email {
    margin-top: $gu-v-spacing;
  }

  // ----- Payment methods

  .component-stripe-pop-up-button {
    margin-top: $gu-v-spacing;

    @include mq($from: phablet) {
      width: 304px;
    }
  }


  .component-paypal-contribution-button {
    height: $cta-height;
    width: 100%;

    @include mq($from: phablet) {
      width: 304px;
    }
  }

  .component-payment-error--paypal {
    margin-top: $gu-v-spacing;
  }

  .component-text-input__input--error {
    border: 2px solid gu-colour(error);
    margin-bottom: $gu-v-spacing / 2;
  }
}

.oneoff-contribution-payment__or-label {
  font-size: 12px;
  margin-bottom: 4px;
  font-family: $gu-sans-web;
}

.component-stripe-inline-form {
  margin-top: -5px;
  font-family: $gu-sans-web;
}
