#oneoff-contributions-page {

	// ----- General ----- //

	color: gu-colour(garnett-neutral-1);

	a {
		color: gu-colour(garnett-neutral-1);
	}


	// ----- Sections ----- //

	h2 {
		margin-top: -2px;
	}

	.component-info-section {
		padding-top: 0;
	}

	.component-info-section__heading {
		font-family: $gu-egyptian-web;
		font-size: 24px;
		line-height: 1.17;
		padding-top: $gu-v-spacing / 2;

		@include dropline;
	}

	.component-info-section__content {
		padding-top: $gu-v-spacing;

		@include mq($from: desktop) {
			box-sizing: border-box;
			padding-left: $gu-h-spacing;
		}
	}

	// ----- Header

	.oneoff-contrib__header {
		border-top: none;

		.oneoff-contrib__heading {
			margin-top: -15px; /* custom size for header at mobile because of padding */
			font-size: 24px;
			line-height: 28px;
			font-weight: bold;
			font-family: $gu-egyptian-web;

			@include mq($from: desktop) {
				margin-top: $gu-v-spacing;
				font-size: 44px;
				line-height: 44px;
			}
		}

		.component-secure {
			&__text {
				margin-top: $gu-v-spacing / 2;
			}

			// Fix for IE.
			svg {
				width: 13px;
			}
		}

	}

	// ----- Your details

	.oneoff-contrib__your-details {

		#last-name {
			margin-bottom: 0px;
		}

		#postcode {
			@include mq($from: desktop) {
				width: 174px;
			}
		}

		input[type='text'] {
			width: 100%;
			box-sizing: border-box;

			&:required {
				box-shadow: none;
			}

			@include mq($from: desktop) {
				width: 304px;
			}
		}
	}

	.component-text-input {
		border: 2px solid gu-colour(news-garnett-highlight);
		font-family: $gu-text-sans-web;
		height: 44px;
		font-weight: bold;
		margin-bottom: $gu-v-spacing;
	}

	// ----- Payment methods

	.oneoff-contrib__payment-methods {
		.component-stripe-pop-up-button {
			box-sizing: border-box;
			height: 54px;
			background-color: gu-colour(news-garnett-highlight);
      color: gu-colour(garnett-neutral-1);

      svg {
      	fill: gu-colour(garnett-neutral-1);
      }

			@include mq($from: desktop) {
				width: 304px;
			}

			&:hover {
				background-color: darken(gu-colour(news-garnett-highlight), 5%);
			}
		}
	}

	.component-paypal-contribution-button {
		height: 54px;
		margin-top: $gu-v-spacing;
	}

	// ----- Legal ----- //

	.terms-privacy {
		.component-info-section__content {
			@include mq($from: desktop) {
				width: 550px;
			}
		}
	}

	.terms-privacy__content {
		background-color: #fff;
		color: gu-colour(media-garnett-main-1);
	}

	.component-contrib-legal {
		padding-top: $gu-v-spacing;
		padding-bottom: $gu-v-spacing * 2;
		font-size: 14px;
	}

}
