.component-subscriptions-thank-you {
  .component-cta-link {
    background-color: transparent;
    border: 1px solid gu-colour(garnett-neutral-1);
    height: $cta-height;
    box-sizing: border-box;
    line-height: $cta-height - 2;
    color: gu-colour(garnett-neutral-1);
    margin-bottom: $gu-v-spacing;

    &:hover {
      background-color: gu-colour(garnett-neutral-1);
      color: #fff;

      .svg-arrow-right-straight {
        fill: #fff;
      }
    }

    .svg-arrow-right-straight {
      fill: gu-colour(garnett-neutral-1);
      height: 40%;
      top: 30%;
    }
  }
}

.component-subscriptions-thank-you__premium-ctas {
  margin-bottom: $gu-v-spacing * 2;
}

.component-subscriptions-thank-you__content {
  padding: 2px ($gu-h-spacing / 2) $gu-v-spacing;
}

.component-subscriptions-thank-you__heading {
  font-size: 22px;
  line-height: 1.18;
  font-weight: 300;
  font-family: $gu-egyptian-web;
}

.component-subscriptions-thank-you__congrats {
  font-weight: bold;
}

.component-subscriptions-thank-you__copy {
  font-size: 14px;
  line-height: 1.43;
  font-family: $gu-egyptian-web;
  color: gu-colour(media-garnett-main-1);
  margin: $gu-v-spacing 0 ($gu-v-spacing * 2);
}

.component-subscriptions-thank-you__strong {
  font-weight: bold;
}
