.component-heading-block {
  background-color: gu-colour(garnett-neutral-1);
  color: gu-colour(news-garnett-highlight);
}

.component-heading-block__heading {
  font-size: 26px;
  font-family: $gu-headline;
  font-weight: bold;
  line-height: 1.12;
  padding: 8px ($gu-h-spacing / 2) $gu-v-spacing;

  @include mq($from: mobileMedium) {
    width: 350px;
  }

  @include mq($from: tablet) {
    font-size: 32px;
    width: 400px;
  }

  @include mq($from: desktop) {
    font-size: 42px;
    width: 500px;
  }
}

.component-heading-block__banner {
  border-top: 1px solid gu-colour(news-garnett-highlight);
  padding: 8px ($gu-h-spacing / 2) $gu-v-spacing;
  font-size: 16px;
  line-height: 1;
  font-family: $gu-headline;
}
