name: Bundle Analyser
on:
  push:
    branches:
      - main

jobs:
  build_check:
    if: github.repository_owner == 'guardian'
    name: Bundle Analyser
    defaults:
      run:
        working-directory: support-frontend
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v5

      - name: Setup Node and Install Dependencies
        uses: ./.github/actions/setup-node-and-install

      - name: Generate production build for github action
        run: pnpm build-github-action

      - name: Run Bundle Analyser
        uses: actions/upload-artifact@v5
        with:
          name: bundle-analyser-report
          path: support-frontend/public/compiled-assets/webpack-stats.html
