name: Chromatic
on:
  push:
jobs:
  upload-storybook:
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: support-frontend
    steps:
      - name: Checkout code
        uses: actions/checkout@v5
        with:
          fetch-depth: 0

      - name: Setup Node and Install Dependencies
        uses: ./.github/actions/setup-node-and-install

      - uses: chromaui/action@v13.2.0
        with:
          workingDir: support-frontend
          projectToken: ${{ secrets.CHROMATIC_PROJECT_TOKEN }}
          token: ${{ secrets.GITHUB_TOKEN }}
          buildScriptName: "build-storybook"
          exitOnceUploaded: true
          onlyChanged: "!(main)" # only turbosnap on non-main branches
