name: Test Dependabot PRs

on:
  pull_request:

env:
  GU_SUPPORT_WORKERS_LOAD_S3_CONFIG: false

jobs:
  run_node_tests:
    if: github.actor == 'dependabot[bot]'
    name: test dependabot
    runs-on: ubuntu-latest
    steps:
      - name: Env
        run: env

      - name: Dump GitHub context
        id: github_context_step
        run: echo $JSON
        env:
          JSON: ${{ toJSON(github) }}

      - name: Checkout repo
        uses: actions/checkout@v5

      - name: Setup Node and Install Dependencies
        uses: ./.github/actions/setup-node-and-install

      - name: Test all workspaces
        run: pnpm test

      - name: Install & test - CDK
        run: ./script/ci
        working-directory: cdk

