name: Build it-test-runner-docker

on:
  pull_request:
  workflow_dispatch:
  push:
    branches:
      - main

jobs:
  it-test-runner-docker_build:
    if: >-
      (github.actor != 'dependabot[bot]') &&
        (github.repository_owner == 'guardian' ||
          github.event_name == 'push')

    # Required by actions-assume-aws-role
    permissions:
      id-token: write
      contents: read

    name: it-test-runner-docker build
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repo
        uses: actions/checkout@v5

      - name: Setup Node and Install Dependencies
        uses: ./.github/actions/setup-node-and-install

      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          role-to-assume: ${{ secrets.IT_TEST_RUNNER_ECR_ROLE_ARN }}
          aws-region: eu-west-1

      - run: pnpm --filter it-test-runner-docker build

      - name: Login to Amazon ECR
        id: login-ecr
        uses: aws-actions/amazon-ecr-login@v2

      - name: Build and Push Docker Image
        env:
          ECR_REGISTRY: ${{ steps.login-ecr.outputs.registry }}
          # You must create this repo in AWS ECR Console first, or manage it in a separate stack
          ECR_REPOSITORY: "support-workers-it-test-runner"
          IMAGE_TAG: ${{ github.sha }}
        run: |
          cd support-lambdas/it-test-runner-docker
          docker build -t $ECR_REGISTRY/$ECR_REPOSITORY:$IMAGE_TAG .
          docker push $ECR_REGISTRY/$ECR_REPOSITORY:$IMAGE_TAG

      # Build CDK *after* pushing, passing the tag
      - name: Build CFN from CDK
        run: ./script/ci
        working-directory: cdk
        env:
          IT_TEST_RUNNER_IMAGE_TAG: ${{ github.sha }}

      # UPLOAD ONLY CFN: Riff-Raff only needs the CloudFormation template
      - name: Upload to Riff-Raff
        uses: guardian/actions-riff-raff@v4
        with:
          githubToken: ${{ secrets.GITHUB_TOKEN }}
          roleArn: ${{ secrets.GU_RIFF_RAFF_ROLE_ARN }}
          projectName: "support:lambdas:it-test-runner-docker"
          buildNumberOffset: 15000
          configPath: "cdk/cdk.out/riff-raff.yaml"
          commentingEnabled: "false"
          contentDirectories: |
            it-test-runner-docker-cfn:
              - ./cdk/cdk.out
