name: Build stripe-patrons-data

on:
  pull_request:
  workflow_dispatch:
  push:
    branches:
      - main

jobs:
  support_frontend_build:
    if: >-
      (github.actor != 'dependabot[bot]') &&
        (github.repository_owner == 'guardian' ||
          github.event_name == 'push')

    # Required by actions-assume-aws-role
    permissions:
      id-token: write
      contents: read
      pull-requests: write

    name: stripe-patrons-data build
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repo
        uses: actions/checkout@v5

      - name: Setup Node and Install Dependencies
        uses: ./.github/actions/setup-node-and-install

      - name: Build CFN from CDK
        run: ./script/ci
        working-directory: cdk

      - uses: sbt/setup-sbt@v1

      - name: Setup Java
        uses: actions/setup-java@v4
        with:
          distribution: "corretto"
          java-version: "21"
          cache: sbt

      - name: Build
        run: |
          sbt "project stripe-patrons-data" "test; assembly"

      - name: Upload to RiffRaff
        uses: guardian/actions-riff-raff@v4
        with:
          githubToken: ${{ secrets.GITHUB_TOKEN }}
          roleArn: ${{ secrets.GU_RIFF_RAFF_ROLE_ARN }}
          app: stripe-patrons-data
          buildNumberOffset: 3000
          config: |
            stacks:
              - support
            regions:
              - eu-west-1
            allowedStages:
              - CODE
              - PROD
            deployments:
              cfn:
                type: cloud-formation
                app: stripe-patrons-data
                parameters:
                  templateStagePaths:
                    CODE: StripePatronsData-CODE.template.json
                    PROD: StripePatronsData-PROD.template.json
                dependencies:
                  - stripe-patrons-data

              stripe-patrons-data:
                type: aws-lambda
                actions:
                  - uploadLambda
                parameters:
                  bucket: membership-dist
                  functionNames:
                    - stripe-patrons-data-
                    - stripe-patrons-data-cancelled-
                    - stripe-patrons-data-sign-up-
                  fileName: stripe-patrons-data-${{ github.run_number }}.jar
                  prefixStack: false

          contentDirectories: |
            stripe-patrons-data:
              - stripe-patrons-data/target/scala-2.13/stripe-patrons-data-${{ github.run_number }}.jar
            cfn:
              - cdk/cdk.out/StripePatronsData-CODE.template.json
              - cdk/cdk.out/StripePatronsData-PROD.template.json
