name: Build support-workers

on:
  pull_request:
  workflow_dispatch:
  push:
    branches:
      - main

jobs:
  support_workers_build:
    if: >-
      (github.actor != 'dependabot[bot]') &&
        (github.repository_owner == 'guardian' ||
          github.event_name == 'push')

    permissions:
      id-token: write
      contents: read
      pull-requests: write

    name: support-workers build
    runs-on: ubuntu-latest
    steps:
      - name: Env
        run: env

      - name: Checkout repo
        uses: actions/checkout@v5

      - name: Setup Node and Install Dependencies
        uses: ./.github/actions/setup-node-and-install

      - name: Build CFN from CDK
        run: ./script/ci
        working-directory: cdk

      - name: Build TypeScript lambdas
        run: pnpm --filter support-workers package

      - name: Upload to riff-raff
        uses: guardian/actions-riff-raff@v4
        with:
          projectName: support:support-workers-mono
          roleArn: ${{ secrets.GU_RIFF_RAFF_ROLE_ARN }}
          githubToken: ${{ secrets.GITHUB_TOKEN }}
          buildNumberOffset: 12000
          config: |
            stacks: [support]
            regions: [eu-west-1]
            allowedStages:
              - CODE
              - PROD
            deployments:
              cfn:
                type: cloud-formation
                app: workers
                parameters:
                  templateStagePaths:
                    CODE: SupportWorkers-CODE.template.json
                    PROD: SupportWorkers-PROD.template.json
              support-workers-typescript:
                type: aws-lambda
                parameters:
                  functionNames:
                    - "-CreateSalesforceContactLambda-"
                    - "-CreatePaymentMethodLambda-"
                    - "-CreateZuoraSubscriptionTSLambda-"
                    - "-SendThankYouEmailLambda-"
                    - "-UpdateSupporterProductDataLambda-"
                    - "-SendAcquisitionEventLambda-"
                    - "-FailureHandlerLambda-"
                  fileName: support-workers.zip
                dependencies: [cfn]
          contentDirectories: |
              cfn:
                - cdk/cdk.out/SupportWorkers-CODE.template.json
                - cdk/cdk.out/SupportWorkers-PROD.template.json
              support-workers-typescript:
                - support-workers/target/typescript/support-workers.zip
