name: Build support-workers

on:
  pull_request:
    branches:
      - main
  push:
    branches:
      - main
env:
  GU_SUPPORT_WORKERS_LOAD_S3_CONFIG: false

jobs:
  support_workers_build:
    if: >-
      (github.actor != 'dependabot[bot]') &&
        (github.repository_owner == 'guardian' ||
          github.event_name == 'push')

    # Required by actions-assume-aws-role
    permissions:
      id-token: write
      contents: read

    name: support-workers build
    runs-on: ubuntu-latest
    steps:
      - name: Env
        run: env

      - name: Checkout repo
        uses: actions/checkout@v3

      # (Respects .nvmrc)
      - name: Setup Node
        uses: guardian/actions-setup-node@v2.4.1
        with:
          cache: "yarn"
          cache-dependency-path: support-workers/cloud-formation/src/yarn.lock

      - name: Install
        run: yarn
        working-directory: support-workers/cloud-formation/src

      - name: Build the cloudformation
        run: yarn run build-cfn
        working-directory: support-workers/cloud-formation/src

      # Required by sbt riffRaffUpload
      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v1
        with:
          role-to-assume: ${{ secrets.GU_RIFF_RAFF_ROLE_ARN }}
          aws-region: eu-west-1

      - name: Setup Java 11
        uses: actions/setup-java@v3
        with:
          java-version: "11"
          distribution: "corretto"
      - uses: actions/cache@v3
        with:
          path: |
            ~/.ivy2/cache
            ~/.sbt
            ~/.coursier
          key: sbt

      # There are three separate build in the support-workers project
      # - the integration tests build which is uploaded so it can be run in a lambda
      # - the support-workers build
      # = the support-redemptiondb build which deploys the dynamo db cfn for corporate digisub functionality
      - name: Build integration test assembly
        run: |
          export LAST_TEAMCITY_BUILD=12000
          export GITHUB_RUN_NUMBER=$(( $GITHUB_RUN_NUMBER + $LAST_TEAMCITY_BUILD ))
          sbt "project support-workers" it:assembly

      - name: Build and upload support-workers and it tests to RiffRaff
        run: |
          export LAST_TEAMCITY_BUILD=12000
          export GITHUB_RUN_NUMBER=$(( $GITHUB_RUN_NUMBER + $LAST_TEAMCITY_BUILD ))
          sbt "project support-workers" riffRaffUpload

      - name: Build and upload support-redemptiondb to RiffRaff
        run: |
          export LAST_TEAMCITY_BUILD=12000
          export GITHUB_RUN_NUMBER=$(( $GITHUB_RUN_NUMBER + $LAST_TEAMCITY_BUILD ))
          sbt "project support-redemptiondb" riffRaffUpload
