name: Build supporter-product-data

on:
  pull_request:
    branches:
      - main
  push:
    branches:
      - main

jobs:
  supporter_product_data_build:
    if: >-
      (github.actor != 'dependabot[bot]') &&
        (github.repository_owner == 'guardian' ||
          github.event_name == 'push')

    # Required by actions-assume-aws-role
    permissions:
      id-token: write
      contents: read

    name: supporter-product-data build
    runs-on: ubuntu-latest
    steps:
      - name: Env
        run: env
      - name: Checkout repo
        uses: actions/checkout@v3

      # Required by sbt riffRaffUpload
      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v2
        with:
          role-to-assume: ${{ secrets.GU_RIFF_RAFF_ROLE_ARN }}
          aws-region: eu-west-1

      - name: Setup Java 11
        uses: actions/setup-java@v3
        with:
          java-version: "11"
          distribution: "corretto"
      - uses: actions/cache@v2
        with:
          path: |
            ~/.ivy2/cache
            ~/.sbt
            ~/.coursier
          key: sbt

      - name: Build and upload supporter-product-data to RiffRaff
        run: |
          export LAST_TEAMCITY_BUILD=6000
          export GITHUB_RUN_NUMBER=$(( $GITHUB_RUN_NUMBER + $LAST_TEAMCITY_BUILD ))
          sbt "project supporter-product-data" riffRaffUpload

