name: Build support-lambdas

on:
  pull_request:
  workflow_dispatch:
  push:
    branches:
      - main

jobs:
  support_lambdas_build:
    if: >-
      (github.actor != 'dependabot[bot]') &&
        (github.repository_owner == 'guardian' ||
          github.event_name == 'push')

    # Required by actions-assume-aws-role
    permissions:
      id-token: write
      contents: read

    name: support-lambdas build
    runs-on: ubuntu-latest
    steps:
      - name: Env
        run: env

      - name: Checkout repo
        uses: actions/checkout@v5

      - name: Setup Node and Install Dependencies
        uses: ./.github/actions/setup-node-and-install

      - name: Build CFN from CDK
        run: ./script/ci
        working-directory: cdk

      # Required by sbt riffRaffUpload
      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v5
        with:
          role-to-assume: ${{ secrets.GU_RIFF_RAFF_ROLE_ARN }}
          aws-region: eu-west-1

      - uses: sbt/setup-sbt@v1

      - name: Setup Java
        uses: actions/setup-java@v4
        with:
          java-version: "21"
          distribution: "corretto"
          cache: sbt

      - name: Build and upload to RiffRaff
        run: |
          export LAST_TEAMCITY_BUILD=15000
          export GITHUB_RUN_NUMBER=$(( $GITHUB_RUN_NUMBER + $LAST_TEAMCITY_BUILD ))
          sbt "project support-lambdas" riffRaffUpload

  support_lambdas_typescripts_bigquery_acquisition_publisher:
    if: >-
      (github.actor != 'dependabot[bot]') &&
        (github.repository_owner == 'guardian' ||
          github.event_name == 'push')

    # Required by actions-assume-aws-role
    permissions:
      id-token: write
      contents: read

    name: support-lambdas-bigquery-acquisition-publisher build
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repo
        uses: actions/checkout@v5

      - name: Setup Node and Install Dependencies
        uses: ./.github/actions/setup-node-and-install

      - name: Build CFN from CDK
        run: ./script/ci
        working-directory: cdk

      - run: pnpm --filter bigquery-acquisitions-publisher tsc --noEmit

      - run: pnpm --filter bigquery-acquisitions-publisher prettier -c typescript/*.ts

      - run: pnpm --filter bigquery-acquisitions-publisher test

      - run: pnpm --filter bigquery-acquisitions-publisher build

      - run: zip -qr index.zip ./*.js
        working-directory: support-lambdas/bigquery-acquisitions-publisher/target/typescript

      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v5
        with:
          role-to-assume: ${{ secrets.GU_RIFF_RAFF_ROLE_ARN }}
          aws-region: eu-west-1

      - name: Upload to Riff-Raff
        uses: guardian/actions-riff-raff@v4
        with:
          githubToken: ${{ secrets.GITHUB_TOKEN }}
          roleArn: ${{ secrets.GU_RIFF_RAFF_ROLE_ARN }}
          projectName: "support:lambdas:bigquery-acquisitions-publisher"
          buildNumberOffset: 15000
          configPath: "support-lambdas/bigquery-acquisitions-publisher/riff-raff.yaml"
          commentingEnabled: "false"
          contentDirectories: |
            cfn:
              - ./cdk/cdk.out
            bigquery-acquisitions-publisher:
              - ./support-lambdas/bigquery-acquisitions-publisher/target/typescript/index.zip
