name: Build support-workers integration tests

on:
  pull_request:
  workflow_dispatch:
  push:
    branches:
      - main
env:
  GU_SUPPORT_WORKERS_LOAD_S3_CONFIG: false

jobs:
  support_workers_it_tests:
    if: >-
      (github.actor != 'dependabot[bot]') &&
        (github.repository_owner == 'guardian' ||
          github.event_name == 'push')

    permissions:
      id-token: write
      contents: read
      pull-requests: write

    name: support-workers integration tests
    runs-on: ubuntu-latest
    steps:
      - name: Env
        run: env

      - name: Checkout repo
        uses: actions/checkout@v5

      - name: Setup Node and Install Dependencies
        uses: ./.github/actions/setup-node-and-install

      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          role-to-assume: ${{ secrets.CREATE_ZUORA_SUBSCRIPTION_ROLE }}
          aws-region: eu-west-1

      - name: Run integration tests
        env:
          # The SDK prioritizes AWS_PROFILE over the static credentials from assume-role.
          # We unset it here to force the SDK to use the injected AWS_ACCESS_KEY_ID etc.
          AWS_PROFILE: ""
        run: pnpm --filter support-workers it-test:create-zuora

