name: support-frontend - prettier

on:
  push:
    paths:
      - support-frontend/**

jobs:
  support_frontend_build:
    name: support-frontend - prettier
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repo
        uses: actions/checkout@v5

      - name: Setup Node and Install Dependencies
        uses: ./.github/actions/setup-node-and-install

      - name: Prettier check
        run: pnpm --filter support-frontend prettier:check
