// -----  gu-sass ----- //

@import '~stylesheets/gu-sass/gu-sass';


// ----- Shared Components ----- //

@import '~components/headers/simpleHeader/simpleHeader';
@import '~components/footer/footer';
@import '~components/introduction/introduction';
@import '~components/introduction/squaresIntroduction';
@import '~components/highlights/highlights';
@import '~components/pageSection/pageSection';
@import '~components/ctaLink/ctaLink';


// ----- Page ----- //

#error-404-page, #error-500-page {
  .component-page-section--ctas {
    @include multiline-top-border;

    .component-page-section__header {
      @include dropline;
    }

    .component-page-section__body {
      padding-top: $gu-v-spacing / 2;
      padding-bottom: $gu-v-spacing * 2;

      @include mq($from: desktop) {
        padding-left: $gu-h-spacing;
      }
    }

    .svg-arrow-right-straight {
      fill: gu-colour(garnett-neutral-1);
    }
  }

  .error-copy {
    margin-bottom: $gu-v-spacing * 2;

    @include mq($from: phablet) {
      width: 500px;
    }
  }

  .error-copy__link {
    color: inherit;
  }

  .component-cta-link--support-the-guardian {
    background-color: gu-colour(news-garnett-highlight);
    color: gu-colour(garnett-neutral-1);

    &:hover {
      background-color: darken(gu-colour(news-garnett-highlight), 5%);
    }

    @include mq($from: phablet) {
      width: 252px;
    }
  }

  .component-cta-link--guardian-home-page {
    background-color: #fff;
    margin-top: $gu-v-spacing;
    color: gu-colour(garnett-neutral-1);
    border-color: gu-colour(garnett-neutral-1);

    &:hover {
      color: darken(gu-colour(garnett-neutral-1), 5%);
      border-color: darken(gu-colour(garnett-neutral-1), 5%);
    }

    @include mq($from: phablet) {
      width: 250px;
    }
  }
}
